@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.jp-connection__connect-screen-required-plan {
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
	border-radius: 4px;

	@include break-xlarge {
		position: relative;
		background: linear-gradient(to right, white 70%, #F9F9F6 30%);
	}

	&__loading {
		display: none;
	}

	&__content{
		padding: 25px;

		@include break-small {
			padding: 64px 96px;
		}

		@include break-xlarge {
			width: 70%;
		}

		.jetpack-logo {
			margin-bottom: 24px;
		}

		h2 {
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 40px;
			color: #000;
			margin-top: 32px;
			margin-bottom: 0;
		}

		h3 {
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			color: #000;
			margin-top: 32px;
			margin-bottom: 0;
		}

		p, li {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
		}

		p {
			color: #101517;
			margin: 16px 0;
		}

		a {
			font-size: var( --font-body );
			color: var( --jp-black );
			text-decoration: underline;
			height: auto;
			font: inherit;
			padding: 0;

			&:hover {
				color: var( --jp-black );
				text-decoration-thickness: var( --jp-underline-thickness );
			}

			&:focus {
				color: var( --jp-black );
				box-shadow: none !important;
			}
		}

		ul {
			list-style-type: none;
			margin-top: 18px;

			li {
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAANlBMVEVHcEwFnwUInggGnggGnggHnAcAnwUFnQcAnwcGnwkFnQgGnQgFnwcGnQYFnQcFnAcGnQkDnwdhiL0pAAAAEnRSTlMAMF//f2Aw7yBQ3+9gcIBgcED+HDbkAAAAZklEQVR4Ae3LNwICARDDQC0+cv7/Y8mwV9odSfWIcf/+VegnGkIvDaGXKvTTn/Gz+Uf5xTL0K1XotS7fs5H6GHvvaO8d7c3j7rdgHne/A/PYt/cO+R42oYdN6OEQetiFHo4A//6dAXqtBEkmtWutAAAAAElFTkSuQmCC) no-repeat;
				background-size: 24px;
				padding-left: 30px;
				margin-bottom: 9px;
				color: #000;
			}
		}
	}

	&__pricing-card {

		@include break-xlarge {
			position: absolute;
			top: 14%;
			left: 62%;
		}

		.components-button  {
			width: 100%;
			height: auto;
			font-size: 18px;
			font-weight: 500;
			background: var( --jp-black ) !important;
			color: var( --jp-white ) !important;
			border-radius: var( --jp-border-radius );
			padding: 14px 24px;
			margin: 24px 0px 32px;
			justify-content: center;
			align-items: center;
		}
	}

	&__with-subscription {
		margin-top: 38px;

		.jp-action-button {
			display: inline;
		}

		.jp-action-button--button {
			display: inline;
			font-size: var( --font-title-small );
			line-height: 20px;
			color: var( --jp-black ) !important;
			background: inherit !important;
			text-decoration: underline;

			width: auto;
			height: auto;
			font: inherit;
			padding: 0;

			&:hover {
			background: inherit;
				text-decoration-thickness: var( --jp-underline-thickness );
			}

			&:focus {
				background: inherit;
				box-shadow: none !important;
			}
		}

		.jp-components-spinner__inner, .jp-components-spinner__outer {
			border-top-color: var( --jp-black ); 
			border-right-color: var( --jp-black ); 
		}
	}
}
