.wrapper {
	display: grid;
	width: 28px;
	height: 28px;
	justify-content: start;
	align-items: center;
	overflow: hidden;

	&.disabled {
		opacity: 0.4;
	}

	&.has-picture {

		img {
			border-radius: 2px;
			width: 24px;
			height: 24px;
			grid-area: 1 / 1 / 2 / 2;
		}

		.social-icon {
			width: 14px;
			height: 14px;
			grid-area: 1 / 1 / 2 / 2;
			margin-top: 14px;
			margin-inline-start: 14px;
			border-radius: 2px;
			background-color: #fff;
		}
	}
}
