.jetpack-field-slider {

	&__input-row {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 12px;
		margin-top: 30px;
	}

	&__input-container {
		display: flex;
		flex: 1 1 auto;
		min-width: 0;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 4px;
			width: 100%;
			background: var(--jetpack--contact-form--button-primary--background-color);
			z-index: 0;
			border-radius: 2px;
		}
	}

	&__range.jetpack-field-slider__range,
	&__range.jetpack-field-slider__range:focus {
		-webkit-appearance: none;
		appearance: none;
		height: 100%;
		background: transparent;
		border: none;
		outline: none;
		width: 100%;
		box-sizing: border-box;
		z-index: 1;
		padding: 0;

		&:focus {
			outline: none;
			opacity: 1;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 16px;
			height: 16px;
			background: var(--jetpack--contact-form--button-primary--background-color);
			border-radius: 50%;
			cursor: pointer;
			transition: background 0.3s;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
		}

		&::-moz-range-thumb,
		&::-ms-thumb {
			width: 16px;
			height: 16px;
			background: var(--jetpack--contact-form--button-primary--background-color);
			border-radius: 50%;
			cursor: pointer;
			transition: background 0.3s;
		}

		&:focus::-webkit-slider-thumb,
		&:focus::-moz-range-thumb,
		&::-ms-fill-lower,
		&::-ms-fill-upper,
		&:focus::-ms-fill-lower,
		&:focus::-ms-fill-upper {
			background: var(--jetpack--contact-form--button-primary--background-color);
		}
	}

	&__value-indicator {
		position: absolute;
		left: 0;
		bottom: calc(100% + 0.7em);
		bottom: calc(100% + clamp(10px, 0.7em, 14px));
		transform: translateX(-50%);
		background: var(--jetpack--contact-form--button-primary--background-color);
		color: var(--jetpack--contact-form--button-primary--color);
		border-radius: 8px;
		padding: 2px 8px;
		font-size: 0.7em;
		z-index: 2;
	}

	&__min-label,
	&__max-label {
		font-size: 0.9em;
		text-align: center;
	}

	&__text-labels {
		display: flex;
		justify-content: space-between;
		margin-top: 6px;
		font-size: 0.9em;
	}

	&__min-text-label {
		text-align: left;
	}

	&__max-text-label {
		text-align: right;
	}
}
