/* For styling Label_Control */
#sub-accordion-section-jetpack_search .customize-control {
	margin-bottom: 14px;
}

#sub-accordion-section-jetpack_search .customize-label-control,
#sub-accordion-section-jetpack_search .customize-control-checkbox {
	margin-bottom: 0;
}

#sub-accordion-section-jetpack_search .customize-control-checkbox ~ .customize-label-control {
	margin-top: 12px;
}

#sub-accordion-section-jetpack_search .customize-control-radio {
	margin-bottom: 6px;
	padding-bottom: 0;
	padding-top: 0;
}
