@import '../_inc/client/scss/variables/_colors.scss';
@import '../_inc/client/scss/calypso-colors.scss';

#TB_window.jetpack-disconnect-modal {

	max-width: 635px;
	max-height: 600px;

	@media screen and (min-width: 661px) {
		max-height: 360px;
	}

	#TB_title {
		font-size: 28px;
		line-height: 24px;
		font-weight: 600;
		height: 24px;
		padding: 24px;
		color: $wpui-header-dark;
	}

	#TB_ajaxWindowTitle {
		padding-left: 0px;
		margin-top: -2px; // compensate line height and vertical align the title
	}

	#TB_ajaxContent {

		width: auto !important;
		padding: 0px;
		max-height: 435px;

		@media screen and (min-width: 661px) {
			max-height: 203px;
		}

		.jetpack_deactivation_dialog_content {
			padding: 24px;
			padding-bottom: 80px;
			margin-top: 0px;

			@media screen and (min-width: 661px) {
				padding-bottom: 24px;
			}

			p {
				font-size: 16px;
				line-height: 24px;
				margin-top: 0px;
			}

			ul {
				font-size: 16px;
				line-height: 24px;
				li {

					margin-bottom: 10px;

					span {

						vertical-align: middle;

						&.dashicons {
							color: $alert-hot-red;
						}

					}
				}

			}


		}
	}

	#TB_closeWindowButton {
		left: auto;
		right: 22px;
		color: $wpui-dark-medium-gray;
		top: 22px;

		&:after {
			content: '\f335';
			font: normal 32px/29px dashicons;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&:hover,
		&:focus {
			color: $gray;
			outline: none;
			box-shadow: none;
		}
	}

	.tb-close-icon {
		display: none;
	}

	.jetpack_deactivation_dialog_content__buttons-row-container {
		position: absolute;
		bottom: 0px;
		width: 100%;
		border-top: 1px solid $light-gray-700;
		background-color: $white;
	}

	.jetpack_deactivation_dialog_content__buttons-row {
		position: relative;
		margin: 24px;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: space-between;


		@media screen and (min-width: 661px) {
			flex-direction: row;
		}

		p {
			font-size: 13px;
			line-height: 1.5;
			margin-top: auto;
			margin-bottom: 0px;
			margin-top: 0px;
			padding-top: 0px;

			@media screen and (min-width: 661px) {
				padding-top: 5px;
			}

		}

		.jetpack_deactivation_dialog_content__buttons {

			button {
				background: $blue-grey-light;
				border-color: $blue-medium-dark;
				border-style: solid;
				border-width: 1px;
				color: $blue-medium-dark;
				cursor: pointer;
				display: inline-block;
				margin: 0;
				outline: 0;
				overflow: hidden;
				font-size: 14px;
				text-overflow: ellipsis;
				text-decoration: none;
				vertical-align: top;
				box-sizing: border-box;
				font-size: 13px;
				border-radius: 3px;
				padding: 7px 14px 9px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width:100%;
				margin-bottom: 18px;

				@media screen and (min-width: 661px) {
					margin-bottom: 0px;
					margin-left: 18px;
					width: auto;
				}

				&#jetpack_deactivation_dialog_content__button-deactivate {
					background: $alert-red;
					border-color: darken( $alert-red, 20% );
					color: $white;
					margin-bottom: 0px;

					&[disabled],
					&:disabled {
						background: lighten( $alert-red, 20% );
						border-color: tint( $alert-red, 30% );
					}
				}
			}

		}
	}
}

#jetpack_deactivation_dialog {
	display: none;
}
