@import '../_inc/client/scss/variables/_colors.scss';

.jp-idc-notice, 
.jp-idc-notice * {
	box-sizing: border-box;
}

.jp-idc-notice {
	padding-bottom: 16px;
	padding-top: 0;
}

.jp-idc-notice p {
	margin: 0;
	padding: 0;
}

.jp-idc-notice {
	h3, p {
		color: $gray-dark;
	}
}

.jp-idc-notice > div {
	padding: 0 16px;
}

.jp-idc-notice__first-step {
	display: inline-block;
}

.jp-idc-notice__second-step {
	display: none;
}

.jp-idc-notice.jp-idc-show-second-step {
	.jp-idc-notice__first-step {
		display: none;
	}

	.jp-idc-notice__second-step {
		display: inline-block;
	}
}

.jp-idc-notice .jp-idc-notice__header {
	padding: 8px 0;
}

.jp-idc-notice__header__emblem {
	fill: $green-primary;
	width: 25px;
	height: 25px;
	margin: 0 1em 0 auto;
	float: left;
}

.jp-idc-notice__header__text {
	font-size: 14px;
	font-weight: 600;
	line-height: 25px;
	margin: 0;
}

.jp-idc-notice__content-header {
	margin: 16px 0;
}

.jp-idc-notice__content-header__lead {
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	margin: 0;
}

.jp-idc-notice__content-header .jp-idc-notice__content-header__explanation {
	font-size: 14px;
	font-weight: 400;
	margin: 8px 0 0;
}

@media only screen and ( min-width: 960px ) {
	.jp-idc-notice__content-header .jp-idc-notice__content-header__explanation {
		margin: 4px 0 0;
	}
}

.jp-idc-notice__action {
	display: block;
	border: 1px solid lighten( $gray, 30% );
	border-radius: 4px;
	padding: 16px;
}

.jp-idc-notice__action:last-child {
	margin: 16px 0 0;
}

@media only screen and ( min-width: 960px ) {
	.jp-idc-notice__actions {
		display: flex;
	}

	.jp-idc-notice__action {
		flex: 1;
		margin: 0 8px 0 0;
	}

	.jp-idc-notice__action:last-child {
		margin: 0 0 0 8px;
	}

	.jp-idc-notice__action:first-child {
		padding-right: 24px;
	}

	.jp-idc-notice__action:last-child {
		padding-left: 24px;
	}
}

.jp-idc-notice .jp-idc-notice__action__explanation {
	margin: 0 0 16px 0;
}


.jp-idc-notice__separator {
	background-color: lighten( $gray, 30% );
	margin: 0 -10px 0 -10px;
	height: 1px;
}

@media only screen and ( min-width: 782px ) {
	.jp-idc-notice__separator {
		margin: 0 -12px 0 -12px;
	}
}

.jp-idc-notice .jp-idc-notice__unsure-prompt {
	margin: 16px 0 0;
}
