.root {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.controls {
	display: flex;
	justify-content: flex-end;
	margin-block-end: var(--wp-admin-theme-spacing, 12px);
}
