.block-editor-block-list__layout
	// Override core styles inherited from `.has-warning`:
	// we do want blocks with upgrade nudge warning to be interactive
	.block-editor-block-list__block.has-warning.is-interactive {
	> * {
		pointer-events: auto;
		user-select: auto;
	}

	&:after {
		content: none;
	}
}
