.dops-foldable-card.dops-card {

	.dops-foldable-card__header-text {

		@include breakpoint( "<480px" ) {
			font-size: rem( 14px );
		}
	}

	.dops-foldable-card__subheader {

		@include breakpoint( "<480px" ) {
			display: none;
		}
	}

	&.devmode-disabled {
		.dops-foldable-card__summary,
		.dops-foldable-card__summary_expanded {
			width: 100px;
		}
	}
}