.labelLink {
	display: block;

	padding-block: var( --wpds-dimension-padding-md );
	padding-inline-start: var( --wpds-dimension-padding-sm );
	overflow: hidden;
	color: inherit;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.labelLink:hover,
.labelLink:focus {
	text-decoration: underline;
}

.labelText {
	display: block;
	padding-block: var( --wpds-dimension-padding-md );
	padding-inline-start: var( --wpds-dimension-padding-sm );
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.root {
	composes: root from '../widget-layout.module.css';
}

.content {
	composes: content from '../widget-layout.module.css';
}
