# Files not needed to be distributed in the package.
.gitattributes    export-ignore
node_modules      export-ignore

# Files to exclude from the mirror repo
/**/test/**       production-exclude
/changelog/**     production-exclude
/jest.config.js   production-exclude
