.jetpack-form-progress-indicator {
	display: block;
	border-radius: 4px;
	filter: invert(15%);
	height: 8px;
	margin: 0 auto;
	content: '';
	width: 100%;

	&::before {
		content: '';
		display: block;
		height: 100%;
		background-color: #333;
		opacity: 75%;
		filter: invert( 85%);
		border-radius: 4px;
		width: var(--jp-form-progress-value, 1%);
	}
}

.wp-block-jetpack-form-progress-indicator {
	border-radius: 4px;
}
