.jp-module-settings__read-more {
	clear: both;
	margin-top: rem( 16px );

	.dops-button.is-compact.is-borderless,
	.jp-module-settings__more-sep,
	.jp-module-settings__more-text {
		vertical-align: middle;
	}

	.jp-module-settings__more-sep {
		background: #ddd;
		width: rem( 2px );
		height: rem( 14px );
		margin-left: rem( 10px );
		margin-right: rem( 10px );
		display: inline-block;
	}
}

/**
 * Related Posts Preview styles
 */
.related-posts-settings_preview_container {
	text-align: center;
}

.related-posts-settings_preview_container h3 {
	text-align: left;
}

.related-posts-settings_preview_image_container {
	display: inline-block;
	width: 29%;
}

.related-posts-settings_preview_image_container img {
	max-width: 100%;
}
