/**
 * Related Posts Preview styles
 */
.related-posts-settings_preview_container {
	text-align: center;
}

.related-posts-settings_preview_container h3 {
	text-align: left;
}

.related-posts-settings_preview_image_container {
	display: inline-block;
	width: 29%;
}

.related-posts-settings_preview_image_container img {
	max-width: 100%;
}
