.jp-module-settings__external-link {
	font-size: rem( 14px );
}

.jp-module-settings__read-more {
	clear: both;
	margin-top: rem( 16px );

	@include breakpoint( ">480px" ) {
		margin-top: rem( 32px );
	}

	.dops-button.is-compact.is-borderless,
	.jp-module-settings__more-text {
		vertical-align: middle;
	}
}

// Related Posts Preview styles
.jp-related-posts-preview {
	position: relative;
	margin-top: rem( 8px );
	padding: rem( 16px ) rem( 8px );
	width: 100%;
	background: #f6f6f6;
	box-sizing: border-box;
	box-shadow: none;
}
.jp-related-posts-settings__preview-label {
	margin-bottom: rem( 8px );
	margin-top: rem( 24px );
	font-size: rem( 14px );
	font-weight: 600;
}

.jp-related-posts-preview__title {
	margin: 0 0 rem( 11px ) rem( 8px );
	font-size: rem( 11px );
	font-weight: 600;
}

.jp-related-posts-preview__post-title {
	font-size: rem( 15px );
	font-weight: 400;
	margin: 0;
}

.jp-related-posts-preview__post-context {
	font-size: rem( 15px );
	opacity: .6;
	margin: 0;
}

.jp-related-posts-preview__item {
	box-sizing: border-box;
	display: inline-block;
	width: 33.33%;
	padding: rem( 8px );
	vertical-align: top;

	@include breakpoint( "<480px" ) {
		width: 100%;
	}

	img {
		max-width: 100%;
		margin-bottom: rem( 8px );
	}
}
