.jp-apps-card {
	margin-top: rem( 64px );
	margin-bottom: 0;
}

.jp-apps-card__content {
	margin-bottom: 0;

	&.dops-card {
		padding: 0;
	}

	a:not( .dops-button ) {
		font-style: italic;
	}
}

.jp-apps-card__top {
	padding: rem( 60px ) 0 0;
	background: #ffffff;
	text-align: center;

	img {
		max-width: 26%;
		padding-top: 10px;
	}
}

.jp-apps-card__description {
	max-width: 80%;
	margin: 0 auto;
	padding: rem( 10px ) rem( 24px ) rem( 24px );
	line-height: 1.65;
	color: $black;
	text-align: center;

	.dops-button {
		margin: 8px 0;
	}
}

.jp-apps-card__paragraph {
	font-size: rem( 15px );
}

.jp-apps-card__header {
	margin-top: 0;
	margin-bottom: rem( 5px );
	font-weight: 500;
}

.jp-apps-card__promo_subhead {
	margin-top: 0;
	font-style: italic;
}

.jp-themes-card {
	margin-bottom: rem( 20px );
}
