.content {
	width: 300px;

	> div {
		width: 100%;
		padding: 17px !important;
	}
}

.one-click-sharing-dropdown {
	width: 100%;
}

.description {
	color: #757575;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.divider {
	margin-top: 12px;
}

.icon:hover path {
	fill: #357AB5;
}

.icon-button {
	padding: 2px;
	height: auto;
}