.jp-search-bar-chart__container {
    max-height: 40px; 
  }

.jp-search-chart-legend__box {
  margin-right: 3px;
  margin-left: 6px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display:inline-block;
}

.jp-search-chart-legend {
  list-style:none;
  display:inline-block;

}

ul.jp-search-chart-legend {
  padding-left: 0;
}

.jp-search-chart-legend li {
  display:inherit;
  padding-bottom:15px;
}

.jp-search-chart-legend li .jp-search-chart-legend__label, .jp-search-chart-legend li .jp-search-chart-legend__count {
  max-width: 200px;
  padding-right:3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inherit;
}

.jp-search-notice-box {
  border: solid .5px lightgrey;
  margin-left: 5px;
  padding: 0 5px;

}

.jp-search-notice-box__important {
  border: solid .5px red;
  color: red;
  margin-left: 5px;
  padding: 0 5px;
}
