.jp-search-bar-chart__container {
	max-height: 40px;
}

.jp-search-chart-legend__box {
	margin-right: 3px;
	margin-left: 6px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	display: inline-block;
}

.jp-search-chart-legend {
	list-style: none;
	display: inline-block;
}

ul.jp-search-chart-legend {
	padding-left: 0;
}

.jp-search-chart-legend li {
	display: inherit;
	padding-bottom: 15px;
}

.jp-search-chart-legend li .jp-search-chart-legend__label,
.jp-search-chart-legend li .jp-search-chart-legend__count {
	max-width: 200px;
	padding-right: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inherit;
}

.jp-search-notice-box {
	border: solid 0.5px lightgrey;
	margin: 0 0 25px 5px;
	padding: 0 5px;
}

.jp-search-notice-box__important {
	border: solid 0.5px red;
	color: red;
	margin-left: 5px;
	padding: 0 5px;
}

.jp-search-chart-legend {
	font-size: 0.9em;
}

.jp-search-record-count p {
	font-size: 1em;
}

.jp-search-record-meter {
	border-bottom: 1px solid rgb( 225, 225, 225 );
}
