@import '../functions/colors.scss';

// ==========================================================================
// WordPress.com Colors
// ==========================================================================

// Primary Accent (Blues)
$blue-wordpress: #0087be;
$blue-light: #78dcfa;
$blue-medium: #3582c4;
$blue-dark: #005082;

// Grays
$gray-original: #87a6bc;
$gray: desaturate( $gray-original, 100% ); // Intermediary transform to match dotcom's colors

$gray-light: lighten( $gray, 33% ); //#f6f6f6
$gray-dark: darken( $gray, 38% ); //#404040

// Text blues
$blue-heading: #668eaa;
$blue-text: #537994;
$blue-dark-text: #2e4453;

// $gray-text: ideal for standard, non placeholder text
// $gray-text-min: minimum contrast needed for WCAG 2.0 AA on white background
$gray-text: $gray-dark;
$gray-text-min: darken( $gray, 18% ); //#537994

// $gray color functions:
// lighten( $gray, 10% )
// lighten( $gray, 20% )
// lighten( $gray, 30% )
// darken( $gray, 10% )
// darken( $gray, 20% )
// darken( $gray, 30% )
//
// See wordpress.com/design-handbook/colors/ for more info.

// Product types
$color-product: #3895ba; // $studio-wordpress-blue-30
$color-bundle: #984a9c; // $studio-purple-50
$color-plan: #069e08; // $studio-jetpack-green-40
$color-plan-dark: #007117; // $studio-jetpack-green-60

// Secondary Accent (Oranges)
$orange-jazzy: #f0821e;
$orange-fire: #d63638;

// Alerts
$alert-yellow: #f0b849;
$alert-red: #d94f4f;
$alert-green: #4ab866;
$alert-purple: #855da6;
$alert-hot-red: #eb0001; // 2019

// Link hovers
$link-highlight: tint( $blue-medium, 20% );

// Essentials
$black: #000000;
$white: rgba( 255, 255, 255, 1 );
$transparent: rgba( 255, 255, 255, 0 );

// Uncommon
$border-ultra-light-gray: #e8f0f5;

// Layout
$masterbar-color: $blue-wordpress;
$sidebar-bg-color: lighten( $gray, 30% );
$sidebar-text-color: $gray-dark;
$sidebar-selected-color: $gray;

// Dashboard
$dashboard-number-border: #cbd7e1;

//Social media colors
$color-facebook: #1877f2;
$color-twitter: #55acee;
$color-gplus: #df4a32;
$color-tumblr: #35465c;
$color-linkedin: #0976b4;
$color-path: #df3b2f;
$color-instagram: #e12f67;
$color-eventbrite: #ff8000;
$color-stumbleupon: #eb4924;
$color-reddit: #5f99cf;
$color-pinterest: #cc2127;
$color-pocket: #ee4256;
$color-email: #f8f8f8;
$color-print: #f8f8f8;
$color-skype: #00aff0;
$color-telegram: #0088cc;
$color-whatsapp: #43d854;
$color-google: #4285f4;

// ==========================================================================
// Jetpack Specific Colors
// ==========================================================================

$green-primary: #00be28;
$green-secondary: #00a523;
$green-dark: #008b1d;

// ==========================================================================
// WP-ADMIN Specific Colors
// full color list here: http://codepen.io/hugobaeta/full/RNOzoV/
// ==========================================================================

$wpui-gray-light: #f6f7f7;
$wpui-dark-medium-gray: #50575e;
$wpui-header-dark: #1d2327;
