.jp-at-a-glance__stats-views {
	margin-top: 0;
	margin-bottom: 0;
}

.jp-at-a-glance__stats-view {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: rem( 16px );
}

.jp-at-a-glance__stats-view-link,
.jp-at-a-glance__stats-view-link:visited {
	color: $gray;
	text-decoration: underline;

	&.is-current {
		font-weight: 600;
		text-decoration: none;
	}
}

.jp-at-a-glance__security,
.jp-at-a-glance__health,
.jp-at-a-glance__traffic {
	display: flex;

	@include breakpoint( "<660px" ) {
		display: block;
	}
}

.jp-at-a-glance__left,
.jp-at-a-glance__right {

	@include breakpoint( ">660px" ) {
		flex-basis: 50%;
	} 
}

.jp-at-a-glance__left {
	display: flex;
	flex-direction: row;
	margin-right: 0;

	@include breakpoint( ">660px" ) {
		margin: 0 rem( 16px ) rem( 16px ) 0;
	}
}

.jp-dash-item__protect-interior {
	flex: 1;
	display: flex;
	align-items: stretch;
	flex-direction: row;
}

.jp-dash-item__protect-interior .jp-dash-item {
	flex-direction: column;
	flex: 1;
	display: flex;
}

.jp-dash-item__protect-interior .dops-card:last-of-type {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 0;
}

/*
.jp-at-a-glance__security {
	.jp-dash-item:first-of-type {

	}
}
*/