.actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--spacing-base); // 8px

	.popover {
		padding: var(--spacing-base); // 8px
		text-align: center;
		white-space: nowrap;
	}
}

.trash {
	svg {
		fill: var(--jp-red-60);
	}
}

.dropdown-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-base); // 8px
}
