# Files not needed to be distributed in the package.
.gitattributes    export-ignore
.github/          export-ignore
package.json      export-ignore

# Files to include in mirror repo: Automattic/vaultpress
vendor/autoload.php                         production-include
vendor/autoload_packages.php                production-include
vendor/automattic/**                        production-include
vendor/composer/**                          production-include
vendor/jetpack-autoloader/**                production-include

# Files to exclude from the mirror repo, but included in the monorepo.
.gitattributes                              production-exclude
.gitignore                                  production-exclude
changelog/**                                production-exclude
composer.lock                               production-exclude
package.json                                production-exclude
phpunit.xml.dist                            production-exclude
tests/**                                    production-exclude
/vendor/automattic/jetpack-autoloader/**    production-exclude
/vendor/automattic/jetpack-changelogger/**  production-exclude
