# Files not needed to be distributed in the package.
.gitattributes    export-ignore
.github/          export-ignore
package.json      export-ignore

# Files to include in mirror repo: Automattic/vaultpress
jetpack_vendor/**                           production-include
vendor/autoload.php                         production-include
vendor/autoload_packages.php                production-include
vendor/automattic/**                        production-include
vendor/composer/**                          production-include
vendor/jetpack-autoloader/**                production-include

# Files to exclude from the mirror repo, but included in the monorepo.
.gitattributes                              production-exclude
.gitignore                                  production-exclude
changelog/**                                production-exclude
composer.lock                               production-exclude
package.json                                production-exclude
.phpcs.dir.xml                              production-exclude
tests/**                                    production-exclude
/jetpack_vendor/automattic/**/*.scss        production-exclude
/jetpack_vendor/automattic/**/*.ts          production-exclude
/jetpack_vendor/automattic/**/*.tsx         production-exclude
/jetpack_vendor/automattic/**/*.jsx         production-exclude
/jetpack_vendor/automattic/**/*.map         production-exclude
/jetpack_vendor/automattic/**/CHANGELOG.md  production-exclude
/jetpack_vendor/automattic/**/LICENSE.txt   production-exclude
/jetpack_vendor/automattic/**/SECURITY.md   production-exclude
/jetpack_vendor/automattic/**/TRACKING.md   production-exclude
/jetpack_vendor/automattic/**/docs/**       production-exclude
/jetpack_vendor/automattic/**/.babelrc      production-exclude
/jetpack_vendor/automattic/**/babel.config.* production-exclude
/jetpack_vendor/automattic/**/webpack.config.js production-exclude
/jetpack_vendor/automattic/**/jest.config.js production-exclude
/jetpack_vendor/automattic/**/.gitignore    production-exclude
/jetpack_vendor/automattic/**/package.json  production-exclude
/jetpack_vendor/automattic/**/test/**       production-exclude
/vendor/automattic/**/*.scss                production-exclude
/vendor/automattic/**/*.ts                  production-exclude
/vendor/automattic/**/*.tsx                 production-exclude
/vendor/automattic/**/*.jsx                 production-exclude
/vendor/automattic/**/*.map                 production-exclude
/vendor/automattic/**/CHANGELOG.md          production-exclude
/vendor/automattic/**/LICENSE.txt           production-exclude
/vendor/automattic/**/SECURITY.md           production-exclude
/vendor/automattic/**/TRACKING.md           production-exclude
/vendor/automattic/**/docs/**               production-exclude
/vendor/automattic/**/.babelrc              production-exclude
/vendor/automattic/**/babel.config.*        production-exclude
/vendor/automattic/**/webpack.config.js     production-exclude
/vendor/automattic/**/jest.config.js        production-exclude
/vendor/automattic/**/.gitignore            production-exclude
/vendor/automattic/**/package.json          production-exclude
/vendor/automattic/**/test/**               production-exclude
/vendor/automattic/jetpack-autoloader/**    production-exclude
/vendor/automattic/jetpack-changelogger/**  production-exclude
