@import '@automattic/jetpack-base-styles/style';

.jp-license-activation-screen-success-info {
	background: var( --jp-white );
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h1 {
		// typography-exception
		font-size: 44px;
		font-weight: 700;

		// This is inherited in the Jetpack plugin from the top level Jetpack page. Doesn't carry over to My Jetpack.
		line-height: 1.4;

		// Exception here due to being overridden by Text component styles when used in My Jetpack.
		margin: 0.67em 0;
	}

	p {
		font-size: var(--font-body);

		// Exception here due to being overridden by Text component styles when used in My Jetpack.
		margin: 1em 0;
	}

	label {
		font-weight: 600;
		font-size: var( --font-body );
	}

	@media screen and ( min-width: 780px ) {
		padding: 64px;
	}

	.jp-license-activation-screen-success-info--buttons {
		@media screen and (max-width: 480px) {
			text-align: center;
		}
	}
}
