.svg-item {
	width: 100%;
	font-size: 16px;
	margin: 0 auto;
	animation: donutfade 1s;
}

@media (min-width: 992px) {
	.svg-item {
		width: 80%;
	}
}

/* ---------- */
/* just for this presentation */
html {
	text-align: center;
}
.svg-item {
	max-width: 30%;
	display: inline-block;
}
