.svg-item {
	width: 100%;
	font-size: 16px;
	margin: 0 auto;
	animation: donutfade 1s;
}

@media (min-width: 992px) {
	.svg-item {
		width: 80%;
	}
}

.donut-ring {
	stroke: #ebebeb;
}

.donut-segment {
	transform-origin: center;
}

.donut-percent {
	font-size: 0.5em;
	line-height: 1;
	transform: translateY(0.5em);
	font-weight: bold;
}

.donut-data {
	font-size: 0.12em;
	line-height: 1;
	transform: translateY(0.5em);
	text-align: center;
	text-anchor: middle;
	color: #666;
	fill: #666;
	animation: donutfadelong 1s;
}

/* ---------- */
/* just for this presentation */
html {
	text-align: center;
}
.svg-item {
	max-width: 30%;
	display: inline-block;
}
