.jp-setup-wizard-intro {
	text-align: center;
}

.jp-setup-wizard-header {
	font-size: 24px;
}

.jp-setup-wizard-paragraph {
	font-size: 16px;
	margin: 0;
}

.jp-setup-wizard-intro-question {
	border: 1px solid #dddddd;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 36px;
	padding: 14px;

	h2 {
		margin-top: 0px;
	}
}

.jp-setup-wizard-button {
	margin: 0px 11px 11px 11px;
}

.jp-setup-wizard-skip-link {
	text-decoration: underline !important;
	color: #000000;
}
