.wpcom-daily-writing-prompt--prompt {
	background-color: #f0f0f1;
	padding: 1px 16px;
	border-radius: 4px;
	margin: 1em 0;
}

.wpcom-daily-writing-prompt--answered-users {

	img {
		vertical-align: middle;
		border-radius: 100%;
		border: 2px solid #fff;
		margin-inline-start: -10px;
	}

	img:first-child {
		margin-inline-start: 0;
	}
}
