//@import "@wordpress/base-styles/mixins";

.dot-pager {
	width: 100%;
	height: 100%;
	position: relative;
}

.dot-pager__page {
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	//@include reduce-motion( "transition" );
	opacity: 1;
	visibility: visible;

	&.is-prev,
	&.is-next {
		opacity: 0;
		visibility: hidden;
	}
}

.dot-pager__controls {
	position: absolute;
	bottom: 16px;
	left: 0;
	right: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	z-index: 1;

	li {
		display: inline-flex;
		margin: 0 4px;
		height: 18px;
		align-items: center;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	.dot-pager__control-gap {
		margin-left: auto;
	}
}

//.dot-pager__control-prev,
//.dot-pager__control-next,
.dot-pager__control-choose-page {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px #c3c4c7;
	}
}

/*
.dot-pager__control-prev,
.dot-pager__control-next {
	display: inline-flex;
	background-color: transparent;
	color: #2c3338;

	&[disabled] {
		color: #c3c4c7;
	}
}
*/

.dot-pager__control-choose-page {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	padding: 0px;
	background-color: #c3c4c7;

	&:hover {
		background-color: #a7aaad;
	}

	&.dot-pager__control-current {
		background-color: #2c3338;
	}
}

