.dops-notice {
	ul {
		@include breakpoint( "<480px" ) {
			font-size: rem( 12px );
		}
	}
}

.jetpack-search-notice__img {
	float: left;
	width: 25%;
	background: $white;
}

.jetpack-search-notice__title {
	font-weight: bold;
	font-size: 150%;
}
