############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Packages
/projects/packages/search @Automattic/jetpack-search
/projects/packages/search/src/wpes @Automattic/prometheus

# Plugins
/projects/plugins/search @Automattic/jetpack-search

# Other bits of the Codebase
/projects/plugins/jetpack/_inc/lib/debugger/ @kraftbj

# Functionality that is important to our partners
/projects/plugins/jetpack/class.jetpack-cli.php @automattic/jetpack-infinity
/tools/partner-provision.sh @automattic/jetpack-infinity
/tools/partner-cancel.sh @automattic/jetpack-infinity
