############################################
# Please fire off a PR to this file to own #
#  or disavow any section of the codebase. #
############################################

# Individual Modules:
/modules/contact-form/    @georgestephanis
/modules/custom-css/      @georgestephanis
/modules/search/          @Automattic/jetpack-search

# Other bits of the Codebase
/_inc/lib/debugger/ @kraftbj
/_inc/lib/jetpack-wpes-query-builder/ @gibrown

# Functionality that is important to our partners
/class.jetpack-cli.php @automattic/jetpack-infinity
/bin/partner-provision.sh @automattic/jetpack-infinity
/bin/partner-cancel.sh @automattic/jetpack-infinity
