// Emerald Typography/Headline Small;
.title-large {
	font-size: var(--font-title-large);
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0em;
}

.title-small {
	font-size: var(--font-title-small);
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
}

.body {
	font-size: var(--font-body);
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}

// Emerald Typography/Body Small;
.body-small {
	font-size: var(--font-body-small);
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.02em;
}

.label {
	font-size: var(--font-label);
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.02em;
}

// as soon start to use Text,
// we reset all text elements
:global {
	p, h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
	}
}

