@import '../lib/styles/_helper.scss';

.jetpack-instant-search__jetpack-colophon {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

.jetpack-instant-search__jetpack-colophon-link {
	align-items: center;
	color: inherit;
	display: flex;
	text-decoration: none;
}

.jetpack-instant-search__jetpack-colophon-logo {
	display: inline;
	width: 16px;
	height: 16px;
}

.jetpack-instant-search__jetpack-colophon-text {
	color: $studio-gray-80;
	font-size: 0.7em;
	font-weight: 500;
	padding-left: 12px;
	line-height: 16px;
}
