@import '../lib/styles/_helper.scss';

.jetpack-instant-search__notice {
	padding: 0.75em;
	margin: 1em 0;
	font-size: 14px;
	display: flex;

	&.jetpack-instant-search__notice--warning {
		background-color: $studio-yellow-5;
		color: $studio-yellow-80;
	}

	.gridicon {
		vertical-align: middle;
		margin-top: 1px;
		margin-right: 0.5em;
		flex-shrink: 0;
	}
}
