@import '../lib/styles/_helper.scss';

//
// Only add styles here that should be shared across different result types (minimal, expanded, product).
// NOTE: Due to Webpack import order, these styles will apply AFTER minimal/expanded/product styles.
//
.jetpack-instant-search__search-result {
	margin: 0 0 2em;
}

.jetpack-instant-search__search-result-title {
	font-size: 1.6em;
	font-weight: normal;
	line-height: 1.35;
	margin: 0;
	overflow-wrap: break-word;

	.jetpack-instant-search__search-result-title-link {
		display: flex;
		align-items: center;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.jetpack-instant-search__search-result-title-checkmark {
		position: relative;
		display: inline-block;
		background-color: $color-checkmark-background;
		border-radius: 50%;
		width: 1.2em;
		height: 1.2em;
		margin-left: 0.35em;

		&:after {
			content: "";
			position: absolute;
			top: 6px;
			left: 11px;
			height: 16px;
			width: 8px;
			border-bottom: 3px solid;
			border-right: 3px solid;
			border-color: $color-checkmark;
			transform: rotate(40deg);
		}
	}
}
