@import '../lib/styles/_helper.scss';

.jetpack-instant-search__search-filters {
	position: relative;

	> div {
		margin-top: 1em;
	}
}

.jetpack-instant-search__search-filters-title {
	color: $color-text;
	display: block;
	font-size: inherit;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

.jetpack-instant-search__clear-filters-link {
	@include inherit-parent-colors-important();
	@include inherit-parent-font-size-important();
	border: none;
	cursor: pointer;
	position: absolute;
	margin: 0;
	line-height: 1.3;
	padding: 0;
	right: 0;
	top: 0;
}

.jetpack-instant-search__search-filter-sub-heading {
	color: $color-text-lighter;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

.jetpack-instant-search__search-filter-list {
	text-align: left;

	> div {
		display: flex;
		align-items: baseline;
		margin-top: 8px;
	}

	.jetpack-instant-search__search-filter-list-input,
	// Extra specific to override in some themes
	.widget_search .jetpack-instant-search__search-filter-list-input {
		cursor: pointer;
		top: 1px; // Ensures align-items: baseline; works as expected.

		// Remove any custom checkbox styling
		appearance: checkbox;
		background: none;
		border: none;
		height: initial;
		margin: 0;
		width: initial;
		&::after,
		&::before {
			display: none !important; // always hide custom selected checkbox styling.
		}
	}

	.jetpack-instant-search__search-filter-list-label,
	// Extra specific to override in some themes
	.widget_search .jetpack-instant-search__search-filter-list-label {
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-weight: normal;
		margin: 0 0 0 8px;
		padding: 0;
		width: auto;
	}
}

.jetpack-instant-search__search-static-filter-list {
	font-size: 0.875rem;
	line-height: 1.8;
}
