@import '../lib/styles/_helper.scss';

.jetpack-instant-search__box {
	border-right: 1px solid $color-layout-borders;
	border-bottom: 1px solid $color-layout-borders;
}

.jetpack-instant-search__box-label {
	display: flex;
	align-items: center;
	flex: 0 0 100%;
	margin: 0;
}

input.jetpack-instant-search__box-input.search-field {
	appearance: none;
	background: $color-modal-background;
	border: 0;
	box-shadow: none;
	color: $color-text-light;
	font-size: 18px;
	height: 60px;
	max-width: none;
	line-height: 1;
	margin: 0;
	padding: 0 14px;
	text-indent: 32px;
	vertical-align: middle;

	&:hover,
	&:focus {
		background: $color-modal-background; // necessary to override theme styles
		color: $color-text;
	}

	&.search-field {
		text-indent: 0;
		padding-left: 0;
		letter-spacing: -0.02em;
	}
}

.jetpack-instant-search__box-gridicon {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	flex-shrink: 0;

	svg {
		fill: $color-text-lighter;
	}
}

.jetpack-instant-search__box input[type='button'] {
	@include remove-button-styling();
	color: $color-text-lighter;
	cursor: pointer;
	font-size: 1em;
	font-weight: normal;
	height: 60px;
	line-height: 1;
	margin: 0 0.25em 0 0;
	width: 60px;
	word-wrap: normal;

	&:hover,
	&:focus {
		color: $color-text-light;
	}

	&:focus {
		@include apply-overlay-focus-styling();
	}
}

.jetpack-instant-search__box input[type='search'].jetpack-instant-search__box-input {
	width: 100%;
	height: 52px;
	outline-style: none;
	border: none;
	box-shadow: none;
	padding: 0px 10px;

	&:hover,
	&:focus {
		border: none;
		box-shadow: none;
	}

	&:focus {
		outline: solid thin $color-layout-borders;
		border-radius: 5px;
	}

	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		appearance: none;
		display: initial;
		-webkit-appearance: none;
	}

	&::-webkit-search-cancel-button {
		display: none;
	}

	&::-ms-clear,
	&::-ms-reveal {
		display: none;
	}
}

// Only show animation to users who have not chosen reduced motion
@media ( prefers-reduced-motion: no-preference ) {
	.jetpack-instant-search__box input[type='button'] {
		transition: 0.1s linear all;
	}

	.jetpack-instant-search__box input[type='search'].jetpack-instant-search__box-input {
		transition: color 0.15s ease-in-out, border-color 0.25s ease-in-out;
	}
}
