.jetpack-instant-search__search-result-comments {
	margin-left: 8px;
	margin-top: 16px;
	padding-left: 16px;
	font-size: 0.9em;
	border-left: 2px solid #f0f0f1;
	word-break: break-word;

	.gridicon {
		margin-right: 8px;
		vertical-align: middle;
	}
}
