@use "../lib/styles/helper";

.jetpack-instant-search__search-form-controls {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	line-height: 1.3;
	z-index: 1;

	@include helper.multiple-breaks-for-customberg( "<l", "<xl" ) {
		flex-direction: row-reverse;
	}
}
