.wrapper {
	display: flex;
	flex-direction: row;
	height: calc( var( --spacing-base ) * 4 ); // 32px;
	border: 1px solid var( --jp-gray-30 );	
	border-radius: var( --jp-border-radius );
	padding: calc( var( --spacing-base ) / 4 );

	> input {
		width: 100%;
		border: 0;
		font-size: var( --font-body-small );
		color: var( --jp-black-10 );
		outline: none;
		text-overflow: ellipsis;
		cursor: default;
	}

	.button-wrapper {
		display: inline-flex;
	}
}
