:global {
	#my-jetpack-container {
		--wp-admin-theme-color: var(--jp-black);
		--wp-admin-theme-color-darker-10: var(--jp-black-80);
		--wp-admin-theme-color-darker-20: var(--jp-black-80);
		height: 100%;

		.jetpack-logo {
			height: 40px;
		}

		.jp-dashboard-footer__jetpack-symbol {
			height: 16px;
		}
	}

	#wpbody-content {
		& > .notice {
			display: none;
		}
	}
}
