.layout {
	display: flex;
	height: calc(100vh - 100px); // to neutralize wp-footer (Thank you for creating with WordPress)
	flex-direction: column;
	justify-content: space-between;
	margin-left: -20px; // to neutralize the padding of #wpcontent.

	@media (max-width: 782px) {
		margin-left: -10px; // to neutralize the padding of #wpcontent.
	}
}
