// core variables (core _variables.scss)
$base-color: #101517; // Calypso --color-masterbar-background
$icon-color: #646970; // Calypso --color-sidebar-gridicon-fill
$highlight-color: #2271b1; // Calypso --color-accent
$notification-color: #5198d9; // Calypso --color-masterbar-unread-dot-background

// global (core _variables.scss)
$body-background: #f6f7f7; // Calypso --color-surface-backdrop

// admin menu & admin-bar (core _variables.scss)
$menu-text: #2c3338; // Calypso --color-sidebar-text
$menu-background: #dcdcde; // Calypso --color-sidebar-background
$menu-highlight-text: #135e96; // Calypso --color-sidebar-menu-hover-text
$menu-highlight-icon: $menu-highlight-text;
$menu-highlight-background: #ffffff; // Calypso --color-sidebar-menu-hover-background
$menu-current-text: #ffffff; // Calypso --color-sidebar-menu-selected-text
$menu-current-icon: $menu-current-text;
$menu-current-background: #50575e; // Calypso --color-sidebar-menu-selected-background
$menu-submenu-text: #2c3338; // Calypso --color-sidebar-submenu-text
$menu-submenu-background: #c3c4c7; // Calypso --color-sidebar-submenu-background
$menu-submenu-focus-text: #135e96; // Calypso --color-sidebar-submenu-hover-text
$menu-submenu-current-text: #2c3338; // Calypso --color-sidebar-submenu-selected-text

// masterbar overrides
$masterbar-background: #101517; // Calypso --color-masterbar-background
$masterbar-highlight-background: #2c3338; // Calypso --color-masterbar-item-hover-background

@import "../admin";