{
	"presets": [
		"es2015",
		"stage-1",
		"react"
	],
	"plugins": [
		"transform-runtime",
		"add-module-exports",
		"transform-es3-member-expression-literals",
		"transform-es3-property-literals",
		"transform-export-extensions"
	]
}
