### Root
tools/docker/wordpress-develop/
tools/docker/wordpress/

/vendor/

*.min.js

# Ignored by default, but we should check it
!.github/

### Jetpack
projects/plugins/jetpack/.size-limit.js
projects/plugins/jetpack/3rd-party/debug-bar/debug-bar.js
projects/plugins/jetpack/_inc/blocks
projects/plugins/jetpack/_inc/build
projects/plugins/jetpack/_inc/client/**/test/*.js
projects/plugins/jetpack/_inc/jetpack-modules.models.js
projects/plugins/jetpack/_inc/postmessage.js

projects/plugins/jetpack/modules/custom-css/custom-css/js/core-customizer-css-preview.js
projects/plugins/jetpack/modules/custom-css/custom-css/js/core-customizer-css.core-4.9.js
projects/plugins/jetpack/modules/custom-css/custom-css/js/core-customizer-css.js
projects/plugins/jetpack/modules/widgets/search/js/search-widget-admin.js

projects/plugins/jetpack/tests/e2e/output/
projects/plugins/jetpack/vendor/

# Temporary ignore until Jest is set up
projects/plugins/jetpack/extensions/**/test/

### Other projects
projects/*/*/vendor
projects/github-actions/*/dist
projects/packages/*/wordpress
projects/packages/connection-ui/build
projects/packages/identity-crisis/build
projects/packages/jitm/src/js/jetpack-jitm.js
projects/packages/lazy-images/dist
projects/plugins/backup/build
