*.min.js
/3rd-party/debug-bar/debug-bar.js
/_inc/blocks
/_inc/build
/_inc/client/**/test/*.js
/_inc/jetpack-modules.models.js
/_inc/jquery.spin.js
/_inc/postmessage.js
/_inc/spin.js
/docker/wordpress-develop/
/docker/wordpress/
/languages/
/modules/custom-css/custom-css/js/core-customizer-css-preview.js
/modules/custom-css/custom-css/js/core-customizer-css.core-4.9.js
/modules/custom-css/custom-css/js/core-customizer-css.js
/modules/lazy-images/js/lazy-images.js
/modules/widgets/search/js/search-widget-admin.js
/vendor/

# Temporary ignore until Jest is set up
/extensions/**/test/

# Temporary ignore until Instant Search is moved into modules
/_inc/search
