save-exact = true
prefer-workspace-packages = true
strict-peer-dependencies = true
# Force node version
engine-strict = true

# No hoisting by default.
hoist-pattern=[]
public-hoist-pattern=[]

# Hoist eslint crap. Too many problems there to figure out right now.
# Probably we need to move more of the different eslint configs into tools/js-tools/eslintrc/.
hoist-pattern[]='@babel/eslint-parser'
hoist-pattern[]='@typescript-eslint/parser'
hoist-pattern[]='@typescript-eslint/eslint-plugin'
hoist-pattern[]='@wordpress/eslint-plugin'
hoist-pattern[]='eslint-config-prettier'
hoist-pattern[]='eslint-import-resolver-node'
hoist-pattern[]='eslint-plugin-playwright'
hoist-pattern[]='eslint-plugin-react'
# Works normally, but `pnpm lint-file tools/e2e-commons` breaks without this.
hoist-pattern[]='eslint-plugin-jsdoc'

# Hoist prettier crap too.
hoist-pattern[]='prettier-plugin-svelte'
