save-exact = true
prefer-workspace-packages = true
strict-peer-dependencies = true
use-lockfile-v6 = true
# Force node version
engine-strict = true

# No hoisting by default.
hoist-pattern=[]
public-hoist-pattern=[]

# Be strict about peer deps
auto-install-peers = false
dedupe-peer-dependents = false

# Opinion seems divided on whether the new default 'lowest-direct' is good or bad.
#  https://github.com/pnpm/pnpm/issues/6463
#  https://github.com/pnpm/pnpm/issues/6498
# Also it would need a renovate config change (`rangeStrategy` to "bump" or "pin" for JS packages).
# Let's stick with the historical behavior for now.
resolution-mode = highest

# @automattic/jetpack-webpack-config looks for this.
jetpack-webpack-config-resolve-conditions=jetpack:src
