save-exact = true
prefer-workspace-packages = true
strict-peer-dependencies = true
use-lockfile-v6 = true
# Force node version
engine-strict = true

# No hoisting by default.
hoist-pattern=[]
public-hoist-pattern=[]

# @automattic/jetpack-webpack-config looks for this.
jetpack-webpack-config-resolve-conditions=jetpack:src
