# ShellCheck configuration for the Jetpack monorepo.
# Docs: https://github.com/koalaman/shellcheck/wiki/Directive#shellcheckrc-file

# Read referenced files, which helps avoid SC1090 (can't follow non-constant source) and SC2154 (var referenced but not assigned).
external-sources=true
# Resolve from script dir, not cwd.
source-path=SCRIPTDIR

# SC1087: Use braces when expanding arrays. https://www.shellcheck.net/wiki/SC1087
disable=SC1087
# SC1090: ShellCheck can't follow non-constant source. https://www.shellcheck.net/wiki/SC1090
disable=SC1090
