# Travis CI Configuration File

# Tell Travis CI which distro to use
dist: trusty

# Tell Travis CI we're using PHP
language: php

# Run Matrix for these PHP versions
php:
- "5.6"
- "7.0"
- "7.2"
- "7.3"

env:
  # Global variable is re-defined in matrix-include -list
  global:
  - WP_TRAVISCI=phpunit
  # Run phpunit in Travis matrix for these combinations
  matrix:
  - WP_MODE=single WP_BRANCH=master
  - WP_MODE=single WP_BRANCH=latest
  - WP_MODE=single WP_BRANCH=previous
  - WP_MODE=multi  WP_BRANCH=master

# Define a matrix of additional build configurations
# The versions listed above will automatically create our first configuration,
# so it doesn't need to be re-defined below.
matrix:
  include:
  # The versions listed below run within Precise distro with PHP 5.2 due to Travis limitation
  # Hard-coding the versions since WP 5.2 has a PHP 5.6 minimum support.
  # When removing this, remove corresponding setup functions in setup-travis.sh.
  - php: "5.2"
    env: WP_MODE=single WP_BRANCH=5.1
    dist: precise
  - php: "5.2"
    env: WP_MODE=single WP_BRANCH=5.0
    dist: precise
  - if: branch !~ /(^branch-.*-built)/
    language: node_js
    env: WP_TRAVISCI="yarn lint"
  - if: branch !~ /(^branch-.*-built)/
    language: node_js
    env: WP_TRAVISCI="yarn test-dangerci-and-adminpage-and-extensions"
  - if: branch !~ /(^branch-.*-built)/
    language: node_js
    env: WP_TRAVISCI="yarn build"

cache:
  directories:
   - $HOME/.composer/cache/files
   - $HOME/.cache/yarn
   - $HOME/.phpbrew

# whitelist branches for the "push" build check
branches:
  only:
    - master
    - master-stable
    - /^branch-.*$/
    - /^feature\/.*$/

# Git clone depth
# By default Travis CI clones repositories to a depth of 50 commits
git:
  depth: 1

before_script:
  - export PLUGIN_SLUG=$(basename $(pwd))
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - ./tests/setup-travis.sh

script: ./tests/run-travis.sh

sudo: false

notifications:
   webhooks:
     urls:
       - https://betadownload.jetpack.me/travis.php
     on_success: always # Beta builder needs notifications for successful builds
   email:
     on_success: never # default: change
     recipients:
       - enej.bajgoric@automattic.com
       - georgestephanis@automattic.com
       - jeremy@automattic.com
       - miguel@automattic.com
       - rocco@automattic.com
       - smart@automattic.com
       - eric.binnion@automattic.com
       - allendav@automattic.com
       - beau@automattic.com
       - kraft@automattic.com
       - oscar@automattic.com
       # Encrypted Slack notification address
       - secure: "WQdTdmYuifSW0hiJGXpQGKystMASC50QvxHlyUL5SM3h5GP8aCgeSsHuXvKPe3dT3Pffhk0dSHBfDtdWFwSHW/upURhg0vs4dm7+nxxvGZiTPzKcuAIjgvCoqWM7teyda/XqFGNSnv+XsT34uoyPhhFgd45T3oS+QQ3aNCruFak="

addons:
  code_climate:
    repo_token: 683bd559e5214ca3b721092af177893f05765ba90d2589fcf35d7e85c6ea01e8
