# Travis CI Configuration File

# Tell Travis CI we're using PHP
language: php

# Setup a global environemnt and overide as needed
env:
  global:
    - WP_TRAVISCI=phpunit

# Next we define our matrix of additional build configurations to test against.
# The versions listed above will automatically create our first configuration,
# so it doesn't need to be re-defined below.

# Test WP trunk/master and two latest versions on minimum (5.2).
# Test WP latest two versions (4.5, 4.3) on most popular (5.5, 5.6).
# Test WP latest stable (4.5) on other supported PHP (5.3, 5.4).
# Test WP trunk/master on edge platforms (7.0, hhvm, PHP nightly).

# WP_VERSION specifies the tag to use. The way these tests are configured to run
# requires at least WordPress 3.8. Specify "master" to test against SVN trunk.

matrix:
  include:
  - php: hhvm
    env: WP_VERSION=master
    sudo: required
    dist: trusty
    group: edge
    addons:
      apt:
        packages:
        - mysql-server-5.6
        - mysql-client-core-5.6
        - mysql-client-5.6
  - php: "nightly"
    env: WP_VERSION=master
  - php: "5.6"
    env: WP_VERSION=4.5 WP_TRAVISCI="gulp travis:js"
  - php: "5.6"
    env: WP_VERSION=4.5 WP_TRAVISCI="npm run test-client"
  - php: "5.2"
    env: WP_VERSION=master
  - php: "5.2"
    env: WP_VERSION=master WP_TRAVIS="phpunit --group=uninstall --testsuite=uninstall"
  - php: "5.2"
    env: WP_VERSION=4.4
  - php: "5.2"
    env: WP_VERSION=4.5
  - php: "5.3"
    env: WP_VERSION=4.5
  - php: "5.4"
    env: WP_VERSION=4.5
  - php: "5.5"
    env: WP_VERSION=master
  - php: "5.5"
    env: WP_VERSION=4.4
  - php: "5.5"
    env: WP_VERSION=4.5
  - php: "5.6"
    env: WP_VERSION=master
  - php: "5.6"
    env: WP_VERSION=4.4
  - php: "5.6"
    env: WP_VERSION=4.5
  - php: "7.0"
    env: WP_VERSION=master
  - php: "5.2"
    env: WP_VERSION=4.4 WP_TRAVIS="phpunit -c tests/php.multisite.xml"
  - php: "5.2"
    env: WP_VERSION=4.5 WP_TRAVIS="phpunit -c tests/php.multisite.xml"
  - php: "5.2"
    env: WP_VERSION=master WP_TRAVIS="phpunit -c tests/php.multisite.xml"


  allow_failures:
  - php: "hhvm"
  - php: "nightly"

# whitelist branches for the "push" build check.
branches:
  only:
    - master
    - master-stable
    - /^branch-.*$/

# Clones WordPress and configures our testing environment.
before_script:
    - export PLUGIN_SLUG=$(basename $(pwd))
    - git clone --depth=1 --branch $WP_VERSION git://develop.git.wordpress.org/ /tmp/wordpress
# - git clone . "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
    - cd ..
    - mv $PLUGIN_SLUG "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
    - cd /tmp/wordpress
    - git checkout $WP_VERSION
    - mysql -u root -e "CREATE DATABASE wordpress_tests;"
    - cp wp-tests-config-sample.php wp-tests-config.php
    - sed -i "s/youremptytestdbnamehere/wordpress_tests/" wp-tests-config.php
    - sed -i "s/yourusernamehere/root/" wp-tests-config.php
    - sed -i "s/yourpasswordhere//" wp-tests-config.php
    - cd "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
    - ./tests/load-travis.sh

script:
    - $WP_TRAVISCI

sudo: false

notifications:
   email:
       - enej.bajgoric@automattic.com
       - georgestephanis@automattic.com
       - jeremy@automattic.com
       - miguel@automattic.com
       - rocco@automattic.com
       - smart@automattic.com
       - eric.binnion@automattic.com
       - allendav@automattic.com
       - beau@automattic.com
       - kraft@automattic.com
       # Encrypted Slack notification address.
       - secure: "WQdTdmYuifSW0hiJGXpQGKystMASC50QvxHlyUL5SM3h5GP8aCgeSsHuXvKPe3dT3Pffhk0dSHBfDtdWFwSHW/upURhg0vs4dm7+nxxvGZiTPzKcuAIjgvCoqWM7teyda/XqFGNSnv+XsT34uoyPhhFgd45T3oS+QQ3aNCruFak="
