# Travis CI Configuration File

# Tell Travis CI which distro to use
dist: trusty

# Tell Travis CI we're using PHP
language: php

# Run Matrix for these PHP versions
php:
- "7.2"

cache:
  directories:
   - $HOME/.composer/cache/files
   - $HOME/.cache/yarn
   - $HOME/.phpbrew

# whitelist branches for the "push" build check
branches:
  only:
    - master
    - master-stable
    - /^branch-.*$/
    - /^feature\/.*$/

# Git clone depth
# By default Travis CI clones repositories to a depth of 50 commits
git:
  depth: 1

before_script:

script: ./tests/run-travis.sh

sudo: false

notifications:
   webhooks:
     urls:
       - https://betadownload.jetpack.me/travis.php
     on_success: always # Beta builder needs notifications for successful builds
   email:
     on_success: never # default: change
     recipients:
       - enej.bajgoric@automattic.com
       - georgestephanis@automattic.com
       - jeremy@automattic.com
       - miguel@automattic.com
       - rocco@automattic.com
       - smart@automattic.com
       - eric.binnion@automattic.com
       - allendav@automattic.com
       - beau@automattic.com
       - kraft@automattic.com
       - oscar@automattic.com
       # Encrypted Slack notification address
       - secure: "WQdTdmYuifSW0hiJGXpQGKystMASC50QvxHlyUL5SM3h5GP8aCgeSsHuXvKPe3dT3Pffhk0dSHBfDtdWFwSHW/upURhg0vs4dm7+nxxvGZiTPzKcuAIjgvCoqWM7teyda/XqFGNSnv+XsT34uoyPhhFgd45T3oS+QQ3aNCruFak="

addons:
  code_climate:
    repo_token: 683bd559e5214ca3b721092af177893f05765ba90d2589fcf35d7e85c6ea01e8
