<phpunit bootstrap="tests/php/bootstrap.php" backupGlobals="false" colors="true">
	<php>
		<const name="PHPUNIT_JETPACK_TESTSUITE" value="true"/>
	</php>
	<testsuites>
		<testsuite name="general">
			<file>tests/php/test_class.jetpack.php</file>
			<file>tests/php/test_class.functions.compat.php</file>
			<file>tests/php/test_class.jetpack-network.php</file>
			<file>tests/php/test_class.jetpack-client-server.php</file>
			<file>tests/php/test_class.jetpack-xmlrpc-server.php</file>
			<file>tests/php/test_class.jetpack-heartbeat.php</file>
			<file>tests/php/test_class.jetpack-gutenberg.php</file>
			<file>tests/php/test_class.jetpack-constants.php</file>
			<file>tests/php/test_class.jetpack-connection-banner.php</file>
			<file>tests/php/test_class.jetpack-options.php</file>
			<file>tests/php/test_class.jetpack-plan.php</file>
		</testsuite>
		<testsuite name="php-lint">
			<file>tests/php/test_php-lint.php</file>
		</testsuite>
		<testsuite name="core-api">
			<directory phpVersion="5.6.0" phpVersionOperator=">=" prefix="test" suffix=".php">tests/php/core-api</directory>
		</testsuite>
		<testsuite name="media">
			<file>tests/php/_inc/lib/test_class.jetpack-media-extractor.php</file>
			<file>tests/php/_inc/lib/test_class.jetpack-media-summary.php</file>
			<file>tests/php/test_class.jetpack-post-images.php</file>
		</testsuite>
		<testsuite name="photon">
			<file>tests/php/test_class.jetpack_photon.php</file>
			<file>tests/php/test_functions.photon.php</file>
			<directory prefix="test_" suffix=".php">tests/php/modules/photon</directory>
			<file>tests/php/test_class.functions.opengraph.php</file>
		</testsuite>
		<testsuite name="json-api">
			<file>tests/php/test_class.json-api-jetpack-endpoints.php</file>
			<directory prefix="test_" suffix=".php">tests/php/sal</directory>
		</testsuite>
		<testsuite name="infinite-scroll">
			<directory prefix="test_" suffix=".php">tests/php/modules/infinite-scroll</directory>
		</testsuite>
		<testsuite name="likes">
			<directory prefix="test_" suffix=".php">tests/php/modules/likes</directory>
		</testsuite>
		<testsuite name="publicize">
			<directory prefix="test_" suffix=".php">tests/php/modules/publicize</directory>
		</testsuite>
		<testsuite name="related-posts">
			<directory prefix="test_" suffix=".php">tests/php/modules/related-posts</directory>
		</testsuite>
		<testsuite name="sharedaddy">
			<directory prefix="test_" suffix=".php">tests/php/modules/sharedaddy</directory>
		</testsuite>
		<testsuite name="shortcodes">
			<directory prefix="test_" suffix=".php">tests/php/modules/shortcodes</directory>
		</testsuite>
		<testsuite name="after-the-deadline">
			<file>tests/php/modules/test_class.after_the_deadline.php</file>
		</testsuite>
		<testsuite name="widgets">
			<directory prefix="test_" suffix=".php">tests/php/modules/widgets</directory>
		</testsuite>
		<testsuite name="sitemaps">
			<directory prefix="test_" suffix=".php">tests/php/modules/sitemaps</directory>
		</testsuite>
		<testsuite name="sso">
			<directory prefix="test_" suffix=".php">tests/php/modules/sso</directory>
		</testsuite>
		<testsuite name="subscriptions">
			<directory prefix="test_" suffix=".php">tests/php/modules/subscriptions</directory>
		</testsuite>
		<testsuite name="contact-form">
			<directory prefix="test_" suffix=".php">tests/php/modules/contact-form</directory>
		</testsuite>
		<testsuite name="verification-tools">
			<directory prefix="test_" suffix=".php">tests/php/modules/verification-tools</directory>
		</testsuite>
		<testsuite name="sync">
			<directory prefix="test_" suffix=".php">tests/php/sync</directory>
		</testsuite>
		<testsuite name="uninstall">
			<directory prefix="test_" suffix=".php">tests/php/uninstall</directory>
		</testsuite>
		<testsuite name="restapi">
			<directory prefix="test_class.rest-api" suffix=".php">tests/php/_inc/lib</directory>
		</testsuite>
		<testsuite name="idc">
			<file>tests/php/test_class.jetpack-idc.php</file>
		</testsuite>
		<testsuite name="jitm">
			<file>tests/php/test_class.jetpack-jitm.php</file>
		</testsuite>
		<testsuite name="affiliate">
			<file>tests/php/test_class.jetpack-affiliate.php</file>
		</testsuite>
		<testsuite name="3rd-party">
			<directory prefix="test_" suffix=".php">tests/php/3rd-party</directory>
		</testsuite>
		<testsuite name="pwa">
			<directory prefix="test_" suffix=".php">tests/php/pwa</directory>
		</testsuite>
		<testsuite name="lazy-images">
			<directory prefix="test_" suffix=".php">tests/php/modules/lazy-images</directory>
		</testsuite>
		<testsuite name="search">
			<directory prefix="test_" suffix=".php">tests/php/modules/search</directory>
		</testsuite>
		<testsuite name="geo-location">
			<directory phpVersion="5.6.0" phpVersionOperator=">=" prefix="test_" suffix=".php">tests/php/modules/geo-location</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>external-http</group>
			<group>uninstall</group>
		</exclude>
	</groups>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
