<phpunit bootstrap="tests/php/bootstrap.php" backupGlobals="false" colors="true">
	<testsuites>
		<testsuite name="general">
			<file>tests/php/test_class.jetpack.php</file>
			<file>tests/php/test_class.functions.compat.php</file>
			<file>tests/php/test_class.jetpack-network.php</file>
			<file>tests/php/test_class.jetpack-client-server.php</file>
			<file>tests/php/test_class.jetpack-heartbeat.php</file>
		</testsuite>
		<testsuite name="media">
			<file>tests/php/test_class.jetpack-media-extractor.php</file>
			<file>tests/php/test_class.jetpack-media-summary.php</file>
			<file>tests/php/test_class.jetpack-post-images.php</file>
		</testsuite>
		<testsuite name="photon">
			<file>tests/php/test_class.jetpack_photon.php</file>
			<file>tests/php/test_functions.photon.php</file>
			<directory prefix="test_" suffix=".php">tests/php/modules/photon</directory>
			<file>tests/php/test_class.functions.opengraph.php</file>
		</testsuite>
		<testsuite name="json-api">
			<file>tests/php/test_class.json-api-jetpack-endpoints.php</file>
		</testsuite>
		<testsuite name="contact-form">
			<directory prefix="test_" suffix=".php">tests/php/modules/contact-form</directory>
		</testsuite>
		<testsuite name="infinite-scroll">
			<directory prefix="test_" suffix=".php">tests/php/modules/infinite-scroll</directory>
		</testsuite>
		<testsuite name="sharedaddy">
			<directory prefix="test_" suffix=".php">tests/php/modules/sharedaddy</directory>
		</testsuite>
		<testsuite name="shortcodes">
			<directory prefix="test_" suffix=".php">tests/php/modules/shortcodes</directory>
		</testsuite>
		<testsuite name="after-the-deadline">
			<file>tests/php/modules/test_class.after_the_deadline.php</file>
		</testsuite>
		<testsuite name="widgets">
			<directory prefix="test_" suffix=".php">tests/php/modules/widgets</directory>
		</testsuite>
		<testsuite name="sso">
			<directory prefix="test_" suffix=".php">tests/php/modules/sso</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>external-http</group>
		</exclude>
	</groups>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">tests</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
