@import '@automattic/jetpack-base-styles/style';

@for $i from 1 through 4 {
	.sm-col-span-#{$i} {
		grid-column-end: span #{$i};
	}
}

@include for-phone-up {
	@for $i from 1 through 8 {
		.md-col-span-#{$i} {
			grid-column-end: span #{$i};
		}
	}
}

@include for-tablet-up {
	@for $i from 1 through 12 {
		.lg-col-span-#{$i} {
			grid-column-end: span #{$i};
		}
	}
}

@include for-tablet-down {
	.md-col-span-0 {
		display: none;
	}
}

@include for-phone-down {
	.sm-col-span-0 {
		display: none;
	}
}
