.integration-card {

	&__header.is-clickable {
		cursor: pointer;
	}

	&__header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 16px;

		@media (max-width: 782px) {
			gap: 10px;
			align-items: flex-start;
		}
	}

	&__header-main {
		display: flex;
		align-items: center;
		gap: 16px;

		@media (max-width: 782px) {
			width: 100%;
			align-items: flex-start;
			gap: 10px;
		}
	}

	&__header-actions button {

		@media (max-width: 782px) {
			padding: 10px 12px;
			height: auto;
		}
	}

	&__title-section {
		display: flex;
		flex-direction: row;
		gap: 4px 12px;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: 782px) {
			gap: 2px 12px;
		}
	}

	&__service-icon-container {
		background-color: var(--jp-gray-0);
		padding: 8px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 782px) {
			padding: 4px;
		}
	}

	&__service-icon {
		flex-shrink: 0;
		margin-top: 0;
	}

	&__title {
		margin: 0;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.4;
		order: 1;
	}

	&__plugin-badge,
	&__connected-badge,
	&__setup-badge {
		order: 2;
		min-width: 60px;

		@media (max-width: 782px) {
			order: 3;
		}
	}


	&__description {
		color: var(--jp-gray-50);
		font-size: 13px;
		line-height: 1.5;
		width: 100%;
		order: 3;

		&:first-of-type {
			margin-top: 0;
		}

		@media (max-width: 782px) {
			text-wrap: balance;
			order: 2;
			padding-bottom: 3px;
		}
	}

	&__section {
		margin: 12px 0;
	}

	&__links.components-h-stack {

		@media (max-width: 480px) {
			flex-direction: column;
			align-items: flex-start;

			span {
				display: none;
			}
		}
	}

	.components-button .components-spinner {
		margin: 0 8px;
		width: 16px;
		height: 16px;
	}

	.components-card__body {
		padding-top: 8px;
		padding-bottom: 24px;
		padding-left: 60px; // this is to align with the row above's icon + gap (44 + 16)
		padding-right: 40px;

		@media (max-width: 782px) {
			padding-left: 46px;
			padding-right: 20px;
		}
	}

	.components-card-header {
		padding-left: 0;
		padding-right: 0;
	}

	p {
		text-wrap: balance; // TODO: remove this fallback once `pretty` is globally supported.
		text-wrap: pretty;
	}

	&__service-icon--google-sheets,
	&__service-icon--mailpoet,
	&__service-icon--hostinger-reach {
		border-radius: 0 !important;
	}

	&:last-child {
		border-bottom: none;
	}
}
