.container {
	// @todo: ask for designer's feedback.
	--jp-yellow-60: #ff9800;
	--jp-yellow-80: #a97b35;
	--jp-blue-60: #03a9f4;
	--jp-blue-80: #0180bb;

	display: flex;
	font-size: var( --font-body );
	line-height: calc( var( --spacing-base ) * 3 );
	align-items: center;
	margin: calc( var( --spacing-base ) * 2 ) 0;

	.icon {
		margin-right: calc( var( --spacing-base ) / 2 );
	}
}

.is-error {
	color: var( --jp-red );
	.icon {
		fill: var( --jp-red );
	}
}

.is-warning {
	color: var( --jp-yellow-80 );
	.icon {
		fill: var( --jp-yellow-60 );
	}
}

.is-info {
	color: var( --jp-blue-60 );
	.icon {
		fill: var( --jp-blue-80 );
	}
}

.is-success {
	color: var( --jp-green );
	.icon {
		fill: var( --jp-green-50 );
	}
}