.wrapper {
	padding: 0;

	& > :global( .components-spinner ) {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -9px;
	}

	// Stack consecutive buttons.
	& > :global( .components-button + .components-button ) {
		display: block;
		margin-top: 1em;
	}

	// This keeps images at their intrinsic size (eg. a 50px
	// image will never be wider than 50px).
	& > :global( .components-responsive-wrapper__content ) {
		max-width: 100%;
		width: auto;
	}
}

.container {
	margin-bottom: 1em;
	position: relative;
}

.toggle,
.preview {
	display: block;
	width: 100%;
	padding: 0;
	transition: all 0.1s ease-out;
	box-shadow: 0 0 0 0 var( --wp-admin-theme-color );
}

.preview {
	height: auto;
}

.preview:not( :disabled ):not( [aria-disabled='true'] ):focus {
	box-shadow: 0 0 0 4px var( --wp-admin-theme-color );
}

.toggle {
	border-radius: 2px;
	background-color: #f0f0f0;
	min-height: 90px;
	line-height: 20px;
	padding: 8px 0;
	text-align: center;

	&:hover {
		background: #ddd;
		color: #1e1e1e;
	}
}
