.wrapper {
	padding: 0;

	// Stack consecutive buttons.
	& :global( .components-button + .components-button ) {
		display: block;
		margin-top: 1em;
	}

	// This keeps images at their intrinsic size (eg. a 50px
	// image will never be wider than 50px).
	& :global( .components-responsive-wrapper__content ) {
		width: auto;
	}
}

.container {
	margin-bottom: 1em;
	position: relative;
}

.notice {
	margin: 0 0 8px 0;
	padding-right: 8px !important;
	padding-bottom: 0;
}

.max_notice {
	padding: 0 0 0 8px;
	margin: 0;
}

.toggle,
.preview {
	display: block;
	width: 100%;
	padding: 0;
	transition: all 0.1s ease-out;
	box-shadow: 0 0 0 0 var( --wp-admin-theme-color );
}

.preview {
	height: auto;
}

.preview:not( :disabled ):not( [aria-disabled='true'] ):focus {
	box-shadow: 0 0 0 4px var( --wp-admin-theme-color );
}

.toggle {
	border-radius: 2px;
	background-color: #f0f0f0;
	min-height: 90px;
	line-height: 20px;
	padding: 8px 0;
	text-align: center;

	&:hover {
		background: #ddd;
		color: #1e1e1e;
	}
}