@import '@automattic/jetpack-base-styles/gutenberg-base-styles';

.wrapper {
	padding: 0;

	// Stack consecutive buttons.
	& :global( .components-button + .components-button ) {
		display: block;
		margin-top: 1em;
	}

	// This keeps images at their intrinsic size (eg. a 50px
	// image will never be wider than 50px).
	& :global( .components-responsive-wrapper__content ) {
		width: auto;
	}
}

.container {
	position: relative;
	display: grid;
	justify-content: center;
	grid-template-rows: 1fr auto 2fr;
	background-color: var( --jp-gray-0 );
	border: 1px dashed var( --jp-gray-20 );
	margin-bottom: 8px;
	padding: 24px;
	width: 100%;
	min-height: 130px;
	border-radius: calc( var( --jp-border-radius ) * 0.5 );
	overflow: hidden;

	> * {
		justify-self: center;
	}

	> button {
		grid-row: 2;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	> span {
		grid-row: 3;
		margin-top: 16px;
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		color: var( --jp-gray-60 );
	}

	> svg {
		position: absolute;
		align-self: center;
		margin: 0;
	}
}

.subtitle {
	color: $gray-700;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 8px;
}

.preview-wrapper {
	position: relative;
}

.preview {
	width: 100%;
	appearance: none;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.remove {
	position: absolute;
	top: -3px;
	right: -3px;
	appearance: none;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	z-index: 2;
	line-height: 0;
	background-color: var( --jp-black );
	border: 1.5px solid var( --jp-white );

	svg {
		fill: var( --jp-white );
	}
}

.notice.notice {
	margin: 16px 0 8px 0;
	padding-right: 8px;

	p {
		margin: 0 0 4px;
	}
}
