#wpadminbar #wp-toolbar .ab-top-menu li.launch-site {
	background: var(--wp-admin-theme-color);
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site .ab-item {
	display: flex;
	padding-inline: 8px;
	color: #fff;
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site span.ab-label {
	color: currentColor;
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site span.ab-icon {
	color: currentColor;
}


#wpadminbar #wp-toolbar .ab-top-menu li.launch-site svg {
	width: 15px;
	height: 15px;
	fill: currentColor;
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site:hover {
	background: var(--wp-admin-theme-color-darker-10);
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site:hover .ab-item {
	color: #fff;
	background: transparent;
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site:hover span.ab-label {
	color: currentColor;
}

#wpadminbar #wp-toolbar .ab-top-menu li.launch-site:hover span.ab-icon {
	color: currentColor;
}
