/**
 * Editor styles for the form-step block
 */
@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;

.jetpack-form-step__break {
	display: flex;
	align-items: center;
	color: currentColor;
	margin: var(--wp--style--block-gap, 1.5rem) 0;

	// Horizontal lines on both sides, similar to paywall block.
	&::before,
	&::after {
		content: "";
		flex: 1;
		height: 1px;
		background: currentColor;
		opacity: 0.5;
	}

	.jetpack-form-step__label {
		background-color: var(--wp-components-color-background, gb.$white);
		color: var(--wp-components-color-foreground, gb.$gray-900);
		font-size: var(--wp--preset--font-size--normal, 16px);
		padding: 0 calc(var(--wp--style--block-gap, 1.5rem) * 0.5);
		border-radius: var(--wp--preset--spacing--20, gb.$radius-medium);
		font-weight: gb.$font-weight-medium;
		white-space: nowrap;
		margin: 0 8px;
		font-family: gb.$default-font;
	}
}

.wp-block-jetpack-form-step {
	box-sizing: border-box;
}

.wp-block-jetpack-form-step .jetpack-form-step__container {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: var(--wp--style--block-gap, 1.5rem);
}
