.jp-connection__container {
	text-align: center;
}

.jp-connection__container-title,
.jp-connection__container-subtitle {
	font-weight: 400;
}

.jp-connection__container-subtitle {
	&:first-of-type {
		margin: 0;
		padding: rem( 16px );
	}
}

.jp-connection__description {
	font-size: rem( 16px );
}

.jp-connection__link {
	font-style: italic;
}

.jp-connection__button {
	margin: rem( 12px ) 0;
}

.jp-connection__traffic {
	padding: 0;
}

.jp-connection__header {
	position: relative;
	&:first-of-type {
		@include breakpoint( ">960px" ) {
			background:
				url('../../images/jp-4/stars-right.svg') no-repeat,
				url('../../images/jp-4/stars-left.svg') no-repeat,
				$white;
			background-position: 95% 40%, 5% 40%;
			background-size: 100px, 125px;
		}
		@include breakpoint( "<960px" ) {
			border-bottom: 1px lighten( $gray, 30% ) solid;
			background-image: none;
		}
	}
	@include breakpoint( ">960px" ) { padding-top: rem( 16px ); }
}

.jp-connection__header-img-container {
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: 0;

	@include breakpoint( "<960px" ) {
		display: none;
	}
}

.jp-connection__header-img {
	margin: 0 auto;
	max-width: 100%;
	z-index: 1001;
	position: absolute;
	left: 0; right: 0; bottom: 0;
	&:first-of-type {
		@include breakpoint( ">960px" ) { bottom: -15px; }
		@include breakpoint( ">1040px" ) { bottom: -12px; }
	}
	&:last-of-type {
		z-index: 999;
	}
}

// Adjust the padding for each specific header img
.jp-connection__traffic .jp-connection__header {
	&:first-of-type {
		@include breakpoint( ">960px" ) { padding-bottom: 200px; }
	}
}

.jp-connection__interior-container {
	padding: rem( 16px );
	background: lighten( $gray, 33% );
}