.jp-connection__container {
	text-align: center;
}

.jp-connection__container-title {
	font-weight: 400;
}

.jp-connection__description {
	font-size: rem( 16px );
}

.jp-connection__link {
	font-style: italic;
}

.jp-connection__button {
	margin: rem( 12px ) 0;
}