.jp-form-fieldset {
	clear: both;

	+ .jp-form-fieldset {
		margin-top: rem( 24px );
	}
}

.jp-form-legend, .jp-form-label-wide {
	padding: 0;
	margin-bottom: rem( 5px );
	font-size: rem( 14px );
	font-weight: 600;
}

.jp-form-label {
	display: block;
	font-size: rem( 14px );
	line-height: 1.5;
	margin-bottom: rem( 5px );
}

.jp-form-label-wide {
	display: block;
}

.jp-form-label input[type="radio"] + span {
	font-weight: normal;
}

.jp-form-button {
	margin-top: rem( 16px );

	@include breakpoint( ">480px" ) {
		position: absolute;
			right: rem( 16px );
			bottom: rem( 16px );
	}
}

.jp-form-setting-explanation {
	color: darken( $gray, 20% );
	display: block;
	margin: rem( 5px ) rem( 14px ) 0 0;
	font-size: rem( 13px );
	font-style: italic;
	font-weight: 400;
	word-break: break-word;

	+ .dops-card {
		margin-top: rem( 16px );
	}
}

.jp-form-toggle-explanation {
	margin-left: rem( 10px );
	font-size: rem( 14px );
	line-height: 2;
	word-break: break-word;
	vertical-align: middle;
}

.jp-form-fieldset {

	margin-bottom: rem( 24px );
	position: relative;

	.jp-form-legend + .jp-form-setting-explanation {
		margin-top: rem( 8px );
	}

	.jp-form-setting-explanation + .jp-form-label {
		margin-top: rem( 16px );
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.jp-form-input-with-prefix {

	display: inline-flex;
	width: 100%;
	margin-bottom: rem( 24px );

	span:first-child {
		min-width: rem( 60px );
		text-align: center;
		background: #f3f6f8;
		border: 1px solid #c8d7e1;
		color: #4f748e;
		padding: rem( 8px ) rem( 14px );
		white-space: nowrap;
	}

	input[type="text"] {
		width: 100%;
		border-left: 0;
	}
}

.jp-form-settings-card {
	margin-bottom: rem( 24px );

	& > .jp-form-settings-group {
		margin: 0;
	}
}

.jp-form-has-child {
	margin-bottom: rem( 24px );

	&:last-child {
		margin-bottom: 0;
	}

	& > .jp-form-fieldset,
	& > .jp-form-setting-explanation {
		margin-left: rem( 36px );
	}
}