.jp-form-fieldset {
	clear: both;

	+ .jp-form-fieldset {
		margin-top: rem( 24px );
	}
}

.jp-form-legend {
	padding: 0;
	margin-bottom: rem( 5px );
	font-size: rem( 14px );
	font-weight: 600;
}

.jp-form-label {
	display: block;
	font-size: rem( 14px );
	line-height: 1.5;
	margin-bottom: rem( 5px );
}

.jp-form-label input[type="radio"] + span {
	font-weight: normal;
}

.jp-form-button {
	float: right;
	margin-top: rem( 16px );
	margin-left: rem( 8px );
}

.jp-form-setting-explanation {
	color: $gray;
	display: block;
	font-size: rem( 13px );
	font-style: italic;
	font-weight: 400;
	margin: rem( 5px ) 0 0 0;

	+ .dops-card {
		margin-top: rem( 16px );
	}
}

.jp-form-fieldset {

	.jp-form-legend + .jp-form-setting-explanation {
		margin-top: rem( 8px );
	}

	.jp-form-setting-explanation + .jp-form-label {
		margin-top: rem( 16px );
	}
}
