.jp-form-legend,
.jp-form-label-wide {
	padding: rem( 16px ) 0 rem( 5px );
	font-size: rem( 14px );
	font-weight: 600;
}

.jp-form-label {
	display: block;
	font-size: rem( 14px );
	line-height: 1.5;
	margin-bottom: rem( 5px );
}

.jp-form-label-wide {
	display: block;
}

.jp-form-label input[type="radio"] + span {
	font-weight: normal;
}

.jp-form-button {
	margin-top: rem( 16px );

	@include breakpoint( ">480px" ) {
		position: absolute;
			right: rem( 16px );
			bottom: rem( 16px );
	}
}

.jp-form-settings-group {
	p {
		font-size: rem( 14px );
		margin-top: 0;
		margin-bottom: rem( 24px );
	}
	.form-toggle__label {
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.form-toggle__switch {
		float: left;
		margin-top: 2px;
	}
	.jp-form-setting-explanation {
		color: $gray-text-min;
		display: block;
		margin: rem( 5px ) rem( 14px ) 0 0;
		font-size: rem( 13px );
		font-style: italic;
		font-weight: 400;
		word-break: break-word;

		+ .dops-card {
			margin-top: rem( 16px );
		}
	}
	.dops-foldable-card & {
		padding-bottom: 16px;
	}
}

.jp-form-toggle-explanation {
	font-size: rem( 14px );
	word-break: break-word;
	vertical-align: middle;
}

.jp-form-fieldset {
	clear: both;
	position: relative;

	.jp-form-legend + .jp-form-setting-explanation {
		margin-top: 0;
		margin-bottom: rem( 8px );
	}
}

.jp-form-input-with-prefix {
	display: inline-flex;
	width: 100%;
	margin-top: rem( 24px );

	&:first-of-type {
		margin-top: 0;
	}

	span:first-child {
		min-width: rem( 60px );
		text-align: center;
		background: #f3f6f8;
		border: 1px solid #c8d7e1;
		color: #4f748e;
		padding: rem( 8px ) rem( 14px );
		white-space: nowrap;
	}

	input[type="text"] {
		width: 100%;
		border-left: 0;
	}
}

.jp-form-settings-card {
	margin-bottom: rem( 24px );

	.jp-form-settings-group {
		position: relative;
		margin-bottom: 0;

		.dops-card  {
			padding-right: rem( 40px );
		}

		.form-toggle__switch {
			float: left;
			margin-top: 2px;
		}

		& > .dops-card:first-child {
			margin-bottom: 0;
		}
	}
}

.jp-form-has-child {
	margin-bottom: rem( 24px );

	&:last-child {
		margin-bottom: 0;
	}

	& > .jp-form-fieldset,
	& > .jp-form-setting-explanation {
		margin-left: rem( 36px );
	}

	.dops-foldable-card & > .jp-form-fieldset,
	.dops-foldable-card & > .jp-form-setting-explanation {
		margin-left: rem( 44px );
	}
}

.jp-form-block-fade {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba( 255,255,255,.8 );
	width: 100%;
	height: 100%;
}

.jp-form-devmode-message.is-compact {
	width: 100%;
	padding: 0 1rem;
	position: absolute;
	top: -24px;
	z-index: 1;
}
