@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;

.star-icon {
	fill: #000;
}

.jetpack,
.checkmark-icon {
	fill: var(--jp-green-primary);
}

.socialIcon {
	fill: gb.$gray-700;

	&.bluesky {
		fill: var(--jetpack-social-logo-color-bluesky);
	}

	&.facebook {
		fill: var(--jetpack-social-logo-color-facebook);
		// Add some specificity to override the border-radius on Jetpack settings page
		&:global(.social-logo) {
			border-radius: 50%;
		}
	}

	&.twitter {
		fill: var(--jetpack-social-logo-color-twitter);
	}

	&.linkedin {
		fill: var(--jetpack-social-logo-color-linkedin);
	}

	&.tumblr {
		fill: var(--jetpack-social-logo-color-tumblr);
	}

	&.google {
		fill: var(--jetpack-social-logo-color-google-plus);
	}

	&.mastodon {
		fill: var(--jetpack-social-logo-color-mastodon);
	}

	&.nextdoor {
		fill: var(--jetpack-social-logo-color-nextdoor);
		// Add some specificity to override the border-radius on Jetpack settings page
		&:global(.social-logo) {
			border-radius: 50%;
		}
	}

	&.instagram {
		fill: var(--jetpack-social-logo-color-instagram);
	}

	&.whatsapp {
		fill: var(--jetpack-social-logo-color-whatsapp);
	}

	&.threads {
		fill: var(--jetpack-social-logo-color-threads);

		&:global(.social-logo) {
			border-radius: 40%;
		}
	}

	&.x {
		fill: var(--jetpack-social-logo-color-x);
	}
}

