.jp-form-settings-group {
	position: relative;
	margin-bottom: 0;

	p {
		font-size: rem( 14px );
		margin-top: 0;
		margin-bottom: rem( 24px );
	}
	.form-toggle__label {
		margin-top: rem( 4px );
		margin-bottom: rem( 4px );
	}
	.form-toggle__switch {
		float: left;
		margin-top: 2px;
	}
	.jp-form-setting-explanation {
		color: $gray-text-min;
		display: block;
		margin: rem( 5px ) rem( 14px ) rem( 5px ) 0;
		font-size: rem( 13px );
		font-style: italic;
		font-weight: 400;
		word-break: break-word;

		+ .dops-card {
			margin-top: rem( 16px );
		}
	}
	.dops-foldable-card & {
		padding-bottom: 16px;
	}
	.dops-card  {
		padding-right: rem( 48px );
	}

	@include breakpoint( "<480px" ) {
		.jp-module-settings__learn-more {
			right: rem( 16px );
		}
	}

	.form-toggle__switch {
		float: left;
		margin-top: 2px;
	}

	& > .dops-card:first-child {
		margin-bottom: 0;
	}

	.dops-foldable-card & .dops-card {
		padding: 0;
		box-shadow: none;
	}
}
