/* Style overrides for WP.com */

body.toplevel_page_jetpack-forms.toplevel_page_jetpack-forms {
	--jp-forms-input-wrapper-height: 48px;

	background-color: #fdfdfd;

	#screen-meta-links {
		background-color: #fff;
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

	&.wp-core-ui .button {
		background-color: #fff;
		border-color: #c3c4c7;
		color: #101517;
		font-size: 14px;
		height: 48px;
		padding: 0 calc( var( --jp-forms-spacing-base ) * 2 );

		&.button-primary {
			background-color: #3057DC;
			border: 0;
			color: #fff;
		}
	}

	.jp-forms__logo {
		display: none;
	}

	.jp-forms__layout-header,
	.jp-forms__inbox-tabs .components-tab-panel__tabs {
		background-color: #fff;
		color: #101517;
		padding-left: 32px;
		padding-right: 32px;
	}

	.jp-forms__inbox-tabs .components-tab-panel__tab-content {
		border-top: 1px solid #0000000d;
		padding-top: 32px;
	}

	.jp-forms__layout-title {
		flex-direction: column;

		.title {
			color: #101517;
			font-family: 'Recoleta';
			font-weight: 400;
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 4px;
		}
	}

	.jp-forms__inbox-tab-item {
		color: #50575E;
		font-size: 14px;

		&.active-tab {
			border-color: #101517;
			color: #101517;
			font-weight: normal;
		}
	}

	.jp-forms__actions-search .input-wrapper,
	.jp-forms__actions-search .input-wrapper .input {
		font-size: 14px;

		svg {
			fill: #8c8f94;
		}
	}

	.jp-forms__inbox-actions {
		--jp-forms-border-color: #c3c4c7;

		background: #fdfdfd;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 0;

		.components-button {
			font-size: 14px;
			padding: var(--jp-forms-spacing-base ) calc( var( --jp-forms-spacing-base ) * 2 );

			svg {
				fill: #8c8f94;
			}
		}
	}

	.jp-forms__inbox-content {
		@media (min-width: 1025px) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}

	.jp-forms__inbox-content-column {
		padding-left: 32px;
		padding-right: 32px;

		@media (min-width: 1025px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.jp-forms__inbox-list {
		background-color: #fff;
	}

	.jp-forms__table-header {
		background-color: #fdfdfd;
		color: #50575E;
		font-weight: 600;
	}

	.jp-forms__table-item {
		background-color: #fff;
		color: #2C3338;

		&.is-active {
			background-color: #f6f7f7;
		}
	}

	.jp-forms__inbox-response{
		background-color: #fff;

		&::before {
			background: #3057dc;
			padding-top: 16px;
		}
	}

	.jp-forms__inbox-response-title {
		color: #000;
		font-family: 'Recoleta';
		font-weight: 400;
		font-size: 32px;
		line-height: 40px;
	}

	.jp-forms__inbox-response-subtitle {
		color: #2C3338;
	}

	.jp-forms__inbox-response-meta {
		font-size: 12px;
		line-height: 20px;
	}

	.jp-forms__inbox-response-meta-value {
		font-weight: bold;
	}

	.jp-forms__inbox-response-data {
		color: #2c3338;
	}

	.jp-forms__export-modal-header-title {
		color: #101517;
		font-family: 'Recoleta';
		font-size: 32px;
		font-weight: 400;
		line-height: 48px;
	}

	.jp-forms__export-modal-header-subtitle {
		color: #2c3338;
	}

	.jp-forms__export-modal-card-header-title {
		color: #2C3338;
		font-size: 16px;
		font-weight: 600;
	}

	.jp-forms__export-modal-card:first-child .jp-forms__export-modal-card-header svg path {
		fill: #3057dc;
	}

	.jp-forms__export-modal-card:last-child .jp-forms__export-modal-card-header svg path {
		stroke: #3057dc;
	}

	.jp-forms__export-modal-card-beta-badge {
		background-color: #3057dc;
	}

	.jp-forms__export-modal-card-body-description {
		color: #3C434A;
	}
}
