:root {
	--jp-forms-border-color: #dcdcde;
	--jp-forms-border-radius: var( --jp-border-radius, 4px );
	--jp-forms-white: var( --jp-white, #fff );
	--jp-forms-input-wrapper-height: var( --jp-input-wrapper-height, 40px );
	--jp-forms-spacing-base: var( --spacing-base, 8px );
	--jp-forms-black: var( --jp-black, #000 );

	--jp-forms-color-darker-10: var( --jp-black-80, #2c3338 );
	--jp-forms-color-darker-20: var( --jp-black-80, #2c3338 );

	// finally, re-write
	--wp-admin-theme-color: var( --jp-forms-black );
	--wp-admin-theme-color--rgb: 0, 0, 0;
	--wp-admin-theme-color-darker-10: var( --jp-forms-color-darker-10 );
	--wp-admin-theme-color-darker-10--rgb: 44, 51, 56;
	--wp-admin-theme-color-darker-20: var( --jp-forms-color-darker-10 );
	--wp-admin-theme-color-darker-20--rgb: 44, 51, 56;
}
