.heading {
	margin-bottom: 0;
}

.notice {
	& > div {
		position: relative;
		margin: 0;
		font-size: 16px;
		line-height: 22px;
		background-color: var( --jp-white );

		// notice content
		& :global(.components-notice__content) {
			display: flex;
			margin: 0;
			padding: 12px 4px;
			flex-direction: column;
			align-items: flex-start;

			@media screen and ( min-width: 960px ) {
				gap: 6rem;
			}
		}

		// action button
		& :global(.is-link) {
			color: var( --jp-black );
			font-size: 16px;
			font-weight: 600;
		}

		// X close button
		& :global(.components-notice__dismiss) {
			align-self: center;
		}

		& :global(.components-notice__action) {
			color: var( --jp-white );
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.01em;
			text-decoration: none;
			cursor: pointer;
			justify-content: center;
			align-items: center;
			padding: 8px 24px;
			margin-left: 0;
			margin-top: 24px;
			background: #000000;
			border-radius: var( --jp-border-radius );
			height: auto;

			@media screen and ( min-width: 960px ) {
				margin-left: calc( var( --spacing-base ) * 2 + 24px ); // 40px
			}
		}

		&.bigger-than-medium {
			& :global(.components-notice__action) {
				margin-left: 0;
				margin-top: 0;
				white-space: nowrap;
			}

			& :global(.components-notice__content) {
				flex-direction: row;
				align-items: center;
			}
		}
	}

	.cta {
		min-width: auto;
	}
}

.message {
    margin-right: var( --spacing-base ); // 8px
	flex-grow: 1;
	display: flex;

	& :global(.terms-of-service) {
		font-size: var(--font-body-small);
		color: var( --jp-gray-70 );
	}

	// left icon
	& > svg {
		fill: var( --jp-red-60 );
		flex-shrink: 0;
		align-self: flex-start;
		margin-right: calc( var( --spacing-base ) * 2 ); // 16px

		&.nofill {
			fill: none;
		}
	}
}
