.jetpack-search-filters-widget__sub-heading {
	font-size: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	padding: 0;
}

/* The first heading after the form */
.jetpack-search-form + .jetpack-search-filters-widget__sub-heading {
	margin-top: 1.5em;
}

.jetpack-search-sort-wrapper {
	margin-bottom: 1.5em;
}

ul.jetpack-search-filters-widget__filter-list li {
	border: none;
	padding: 0;
}

ul.jetpack-search-filters-widget__filter-list li a {
	text-decoration: none;
}

ul.jetpack-search-filters-widget__filter-list li a:hover {
	box-shadow: none;
}

ul.jetpack-search-filters-widget__filter-list li label {
	font-weight: inherit;
}

ul.jetpack-search-filters-widget__filter-list li input[type="checkbox"] {
	cursor: inherit;
}

.jetpack-search-filters-widget__filter-list {
	list-style: none;
}

ul.jetpack-search-filters-widget__filter-list {
	margin-bottom: 1.5em;
}
