.jb-graph-annotations {
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

	.annotation {
		position: absolute;
		width: 10px;
		height: 100%;
		transform: translateX(-50%);
		pointer-events: all;
		width: 10px;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 10px;
			height: 100%;
		}

		&::after {
			position: absolute;
			content: '';
			display: block;
			width: 2px;
			height: 100%;
			background: rgba(146, 175, 215, 0.5);
			left: calc(50% - 1px);
		}

		&:hover {
			&::after {
				background: rgba(146, 175, 215, 1);
			}
		}
	}
}