@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;

.jetpack-gutenberg-social-icon {
	fill: gb.$gray-700;

	&.is-facebook {
		fill: var(--jetpack-social-color-facebook);
	}

	&.is-twitter {
		fill: var(--jetpack-social-color-twitter);
	}

	&.is-linkedin {
		fill: var(--jetpack-social-color-linkedin);
	}

	&.is-tumblr {
		fill: var(--jetpack-social-color-tumblr);
	}

	&.is-google {
		fill: var(--jetpack-social-color-google-plus);
	}
}
