@use "sass:math";

// Loading @wordpress/base-styles as they have mixins and other dependencies
// used within @wordpress/*/src/*.scss
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/z-index";
@import "~@wordpress/base-styles/default-custom-properties";

// @wordpress package styles
@import "~@wordpress/components/src/style.scss";
@import "~@wordpress/block-editor/src/style.scss";
@import "~@wordpress/block-library/src/style.scss";
@import "~@wordpress/block-library/src/theme.scss";
@import "~@wordpress/block-library/src/editor.scss";
@import "~@wordpress/format-library/src/style.scss";

// @automattic/jetpack-* package styles
@import '~@automattic/jetpack-base-styles/colors';
@import '~@automattic/jetpack-base-styles/variables';
@import '~@automattic/jetpack-base-styles/mixins';
@import '~@automattic/jetpack-base-styles/breakpoints';
@import '~@automattic/jetpack-base-styles/animations';
@import '~@automattic/jetpack-base-styles/z-index';
@import '~@automattic/jetpack-base-styles/default-custom-properties';

// example of direct package import
// @import '~@automattic/jetpack-components/components/style.scss';

// @automattic/jetpack button styles
@import '~@automattic/jetpack-base-styles/buttons';