.jp-landing__apps.dops-card {
	padding: 0;

	.dops-button {
		margin-right: 10px;
	}
}

.jp-landing-apps__header,
.jp-landing-apps__footer {
	background: $gray-dark url( '../../images/jp-4/particles_bg-white.png' );
}

.jp-landing-apps__header {

	@include breakpoint( ">660px" ) {
		padding: rem( 32px ) 0 0;
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 32px );
	}
}

.jp-landing-apps__header-img-container {
	margin: rem( 32px ) 0 0;
	overflow: hidden;

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		background: transparent url('../../images/jp-4/white-clouds.svg') 50% 100% no-repeat;
		background-size: 110%; // safari bug
		padding-bottom: rem( 80px );
	}

	@include breakpoint( "<660px" ) {
		margin-bottom: 0;
	}
}

.jp-landing-apps__header-img {
	max-width: 100%; // needs proper srcsets

	@include breakpoint( ">660px" ) {
		margin: 0 rem( -64px ) 0 rem( 64px ); // off-canvas effect
	}
}

.jp-landing-apps__header-col-left {
	flex-basis: 45%;

	@include breakpoint( ">660px" ) {
		padding-left: rem( 32px );
	}
}

.jp-landing-apps__header-col-right {
	flex-basis: 55%;
}

.jp-landing-apps__title, 
.jp-landing-apps__description {
	line-height: 1.5;

	@include breakpoint( ">660px" ) {
		text-align: center;
	}
}

.jp-landing-apps__title,
.jp-landing-apps__subtitle {
	color: $white;
	font-weight: 400;
	margin: 0;
}

.jp-landing-apps__title {
	font-size: rem( 20px );
}

.jp-landing-apps__description {
	font-size: rem( 14px );
	margin: 0;
	padding-bottom: rem( 16px );
}

.jp-landing-apps__subtitle,
.jp-landing__apps-feature-title {
	font-size: rem( 16px );
	line-height: 1.25;
}

.jp-landing-apps__description,
.jp-landing-apps__sub-description {
	color: lighten($gray, 10%);
}

.jp-landing-apps__sub-description,
.jp-landing__apps-feature-text {
	font-size: rem( 14px );
	padding: rem( 24px ) 0;
	margin: 0;
}

.jp-landing-apps__feature-container {
	padding: rem( 16px ) 0;
}

.jp-landing-apps__feature {
	padding: rem( 32px );

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: top;
		padding: rem( 32px ) 0;
	}
}

.jp-landing-apps__feature-col {

	@include breakpoint( ">660px" ) {
		flex-basis: 50%;
	}

	&.jp-landing-apps__feature-img {
		@include breakpoint( "<660px" ) {
			display: none;
		}
	}
}

.jp-landing-apps__feature-desc {

	@include breakpoint( ">660px" ) {

		&:nth-child(odd) {
			padding: 0 rem( 32px );
		}

		&:nth-child(even) {
			padding: 0 rem( 48px ) 0 rem( 32px );
		}
	}
}

.jp-landing__apps-feature-title {
	margin: 0;
}

.jp-landing-apps__feature-img img {
	max-width: 100%;
}

.jp-landing-apps__footer-top {

	@include breakpoint( ">660px" ) {
		padding: rem( 80px ) rem( 32px ) rem( 32px );
		background: transparent url('../../images/jp-4/white-clouds-reverse.svg') 50% 0 no-repeat;
		background-size: 110%; // safari bug
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 32px );
	}
}

.jp-landing-apps__downloads {
	padding: rem( 32px );
}

.jp-landing-apps__devices {
	width: 100%;
	margin-top: rem( 32px );
}

.jp-landing-apps__btn-container {
	margin: 0 0 rem( 32px );
	display: flex;
	flex-direction: row;
	align-items: center;

	&:last-of-type {
		margin: 0;
	}

	@include breakpoint( ">480px" ) {
		flex-wrap: nowrap;
	}

	@include breakpoint( "<480px" ) {
		flex-wrap: wrap;
	}
}

.jp-app-button {
	display: flex;
	align-items: center;
	height: rem( 42px );
	padding-left: rem( 6px );
	color: $gray-dark;

	@include breakpoint( "<480px" ) {
		flex-basis: 100%;
		justify-content: center;
		margin-bottom: rem( 10px );
	}

	svg {
		margin-right: rem( 8px );
		fill: $gray-dark;
	}
}
