.jp-landing__apps.dops-card {
	padding: 0;
}

.jp-landing__apps {

	.dops-button {
		margin-right: 10px;
	}
}

.jp-landing-apps__header,
.jp-landing-apps__footer {
	background: $gray-dark;
}

.jp-landing-apps__header {

	@include breakpoint( ">660px" ) {
		padding: rem( 32px ) 0 0;
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 32px );
	}
}

.jp-landing-apps__header-img-container {
	margin: rem( 32px ) 0 0;
	overflow: hidden;

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
	}

	@include breakpoint( "<660px" ) {
		margin-bottom: 0;
	}
}

// clouds are a little hacky, but works for IE11+ -jg
.jp-landing-apps__clouds {
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		left: -5%;
		right: -5%;
		height: auto;
		width: 110%;
	}

	@include breakpoint( "<660px" ) {
		display: none;
	}
}

.jp-clouds-top {
	padding-top: rem( 80px );

	img {
		bottom: -2px;
	}
}

.jp-clouds-bottom {
	padding-bottom: rem( 80px );

	img {
		top: -2px;
	}
}
// end IE11 cloud hack

.jp-landing-apps__header-img {
	max-width: 100%;
}

.jp-landing-apps__header-col-left {
	flex-basis: 45%;

	@include breakpoint( ">660px" ) {
		padding-left: rem( 32px );
	}
}

.jp-landing-apps__header-col-right {
	flex-basis: 55%;

	@include breakpoint( ">660px" ) {
		padding: 0 rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		text-align: center;
	}
}

.jp-landing-apps__title,
.jp-landing-apps__description {
	line-height: 1.5;

	@include breakpoint( ">660px" ) {
		text-align: center;
	}
}

.jp-landing-apps__title,
.jp-landing-apps__subtitle {
	color: $white;
	font-weight: 400;
	margin: 0;
}

.jp-landing-apps__title {
	font-size: rem( 20px );
}

.jp-landing-apps__description {
	font-size: rem( 14px );
	margin: 0;
	padding-bottom: rem( 16px );
}

.jp-landing-apps__subtitle,
.jp-landing__apps-feature-title {
	font-size: rem( 16px );
	line-height: 1.25;
}

.jp-landing-apps__description,
.jp-landing-apps__sub-description {
	color: lighten($gray, 10%);
}

.jp-landing-apps__sub-description,
.jp-landing__apps-feature-text {
	font-size: rem( 14px );
	padding: rem( 24px ) 0;
	margin: 0;
}

.jp-landing-apps__feature-container {
	padding: rem( 16px ) 0 rem( 64px );
}

.jp-landing-apps__feature {
	padding: rem( 32px );

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: top;
		padding: rem( 32px ) 0;
	}
}

.jp-landing-apps__feature {

	@include breakpoint( ">660px" ) {

		&:nth-child(odd) {

			.jp-landing-apps__feature-desc {
				padding: 0 rem( 32px );
			}

			.jp-landing-apps__feature-img {
				padding: 0 rem( 16px ) 0 rem( 32px );
			}
		}

		&:nth-child(even) {

			.jp-landing-apps__feature-desc {
				padding: 0 rem( 32px );
			}

			.jp-landing-apps__feature-img {
				padding: 0 rem( 32px ) 0 rem( 16px );
			}
		}
	}
}

.jp-landing-apps__feature-col {

	@include breakpoint( ">660px" ) {
		flex-basis: 50%;
	}
}

.jp-landing-apps__feature-col.jp-landing-apps__feature-img {

	@include breakpoint( "<660px" ) {
		display: none;
	}
}

.jp-landing__apps-feature-title {
	margin: 0;
}

.jp-landing-apps__feature-img svg {
	width: rem( 300px );
	height: rem( 200px );
}

.jp-landing-apps__footer-top {

	@include breakpoint( ">660px" ) {
		padding: 0 rem( 32px ) rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 32px );
	}
}

.jp-landing-apps__downloads {
	padding: rem( 32px );
}

.jp-landing-apps__devices {
	width: 100%;
	margin-top: rem( 32px );
}

.jp-landing-apps__btn-container {
	margin: 0 0 rem( 32px );
	display: flex;
	flex-direction: row;
	align-items: center;

	&:last-of-type {
		margin: 0;
	}

	@include breakpoint( ">480px" ) {
		flex-wrap: nowrap;
	}

	@include breakpoint( "<480px" ) {
		flex-wrap: wrap;

		.dops-button {
			margin-right: 0;
		}
	}
}

.jp-app-button {
	display: flex;
	align-items: center;
	height: rem( 42px );
	padding-left: rem( 6px );
	color: $gray-dark;

	@include breakpoint( "<480px" ) {
		flex-basis: 100%;
		justify-content: center;
		margin-bottom: rem( 10px );
	}

	svg {
		margin-right: rem( 8px );
		fill: $gray-dark;
	}

	&.button-ios svg {
		margin-top: rem( -3px ); // to visually, vertically center apple icon
	}
}
