# Files not needed to be distributed in the package.
.gitattributes    export-ignore
node_modules      export-ignore

# Files to exclude from the mirror repo
/changelog/**     production-exclude
/.eslintrc.cjs    production-exclude
/.gitignore       production-exclude
/jest.config.cjs  production-exclude
