.contact-form__select-element-wrapper.has-autocomplete {
	display: inline-block;
	position: relative;

	> ul {
		position: absolute;
		// Border size x 2, padding x 2, and font size = space we want to move the dropdown
		top: calc( ( 2 * var( --jetpack--contact-form--border-size, 1px ) ) + ( 2 * var( --jetpack--contact-form--input-padding, 16px ) ) + var( --jetpack--contact-form--font-size, 16px ) );
		max-height: 420px;
		overflow-y: scroll;
		box-sizing: border-box;
		left: 0;
		right: 0;
		margin: 0.5rem 0 0 0;
		padding: 0;
		z-index: 2;
		list-style: none;
		outline: none;
		transition: opacity 0.15s ease-in-out;
		background-color: var(--jetpack--contact-form--input-background);
		border: var(--jetpack--contact-form--border);
		border-color: var(--jetpack--contact-form--border-color);
		border-radius: var(--jetpack--contact-form--border-radius);
		border-style: var(--jetpack--contact-form--border-style);
		border-width:  var(--jetpack--contact-form--border-left-size, var(--jetpack--contact-form--border-size));

		&,
		li {
			color: var(--jetpack--contact-form--text-color);
			font-family: var(--jetpack--contact-form--font-family);
			font-size: var(--jetpack--contact-form--font-size);
		}

		&[hidden],
		&:empty {
			display: block;
			opacity: 0;
			transform: scale(0);
		}

		> li {
			margin: 0 0.3rem;
			padding: 0.3rem 0.5rem;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all 0.2s ease;

			mark {
				background-color: var(--jetpack--contact-form--input-background);
				color: var(--jetpack--contact-form--text-color);
				filter: invert(100%);
				font-weight: 700;
			}

			&:hover {
				cursor: pointer;
				background-color: var(--jetpack--contact-form--input-background);
				color: var(--jetpack--contact-form--text-color);
				filter: invert(100%);
			}

			&[aria-selected="true"] {
				background-color: var(--jetpack--contact-form--input-background);
				color: var(--jetpack--contact-form--text-color);
				filter: invert(100%);
			}
		}
	}
}
