.components-notice.is-red-bubble {
    border-left: 1px solid var(--jp-gray);

    ::before {
        content: '';
        position: absolute;
        top: -11px;
        left: -11px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var( --jp-red-50 );
        border: 2px solid var(--jp-white-off);
    }
}
