/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
.jetpack-social-navigation ul {
	display: block;
	margin: 0 0 1.5em;
	padding: 0;
}

.jetpack-social-navigation li {
	display: inline-block;
	margin: 0;
	line-height: 1;
}

.jetpack-social-navigation a {
	border: 0;
	height: 1em;
	text-decoration: none;
	width: 1em;
}

/*--------------------------------------------------------------
SVG
--------------------------------------------------------------*/
.jetpack-social-navigation-svg .icon {
	color: inherit;
	fill: currentColor;
	height: 1em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
Genericons
--------------------------------------------------------------*/
.jetpack-social-navigation-genericons a:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-family: Genericons;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	height: 1em;
	line-height: 1;
	speak: none;
	text-decoration: inherit;
	vertical-align: top;
	width: 1em;
}

/* Default */
.jetpack-social-navigation-genericons a:before {
	content: "\f415";
}

/* CodePen */
.jetpack-social-navigation-genericons a[href*="codepen.io"]:before {
	content: "\f216";
}

/* Digg */
.jetpack-social-navigation-genericons a[href*="digg.com"]:before {
	content: "\f221";
}

/* Dribbble */
.jetpack-social-navigation-genericons a[href*="dribbble.com"]:before {
	content: "\f201";
}

/* Dropbox */
.jetpack-social-navigation-genericons a[href*="dropbox.com"]:before {
	content: "\f225";
}

/* Email */
.jetpack-social-navigation-genericons a[href*="mailto:"]:before {
	content: "\f410";
}

/* Facebook */
.jetpack-social-navigation-genericons a[href*="facebook.com"]:before {
	content: "\f203";
}

/* Flickr */
.jetpack-social-navigation-genericons a[href*="flickr.com"]:before {
	content: "\f211";
}

/* Foursquare */
.jetpack-social-navigation-genericons a[href*="foursquare.com"]:before {
	content: "\f226";
}

/* GitHub */
.jetpack-social-navigation-genericons a[href*="github.com"]:before {
	content: "\f200";
}

/* Google Plus */
.jetpack-social-navigation-genericons a[href*="plus.google.com"]:before {
	content: "\f206";
}

/* Instagram */
.jetpack-social-navigation-genericons a[href*="instagram.com"]:before {
	content: "\f215";
}

/* LinkedIn */
.jetpack-social-navigation-genericons a[href*="linkedin.com"]:before {
	content: "\f208";
}

/* Path */
.jetpack-social-navigation-genericons a[href*="path.com"]:before {
	content: "\f219";
}

/* Pinterest */
.jetpack-social-navigation-genericons a[href*="pinterest."]:before {
	content: "\f210";
}

/* Pocket */
.jetpack-social-navigation-genericons a[href*="getpocket.com"]:before {
	content: "\f224";
}

/* Polldaddy */
.jetpack-social-navigation-genericons a[href*="polldaddy.com"]:before {
	content: "\f217";
}

/* Reddit */
.jetpack-social-navigation-genericons a[href*="reddit.com"]:before {
	content: "\f222";
}

/* RSS Feed */
.jetpack-social-navigation-genericons a[href$="/feed/"]:before {
	content: "\f413";
}

/* Skype */
.jetpack-social-navigation-genericons a[href*="skype:"]:before {
	content: "\f220";
}

/* Spotify */
.jetpack-social-navigation-genericons a[href*="spotify.com"]:before {
	content: "\f515";
}

/* StumbleUpon */
.jetpack-social-navigation-genericons a[href*="stumbleupon.com"]:before {
	content: "\f223";
}

/* Tumblr */
.jetpack-social-navigation-genericons a[href*="tumblr.com"]:before {
	content: "\f214";
}

/* Twitch */
.jetpack-social-navigation-genericons a[href*="twitch.tv"]:before {
	content: "\f516";
}

/* Twitter */
.jetpack-social-navigation-genericons a[href*="twitter.com"]:before {
	content: "\f202";
}

/* Vimeo */
.jetpack-social-navigation-genericons a[href*="vimeo.com"]:before {
	content: "\f212";
}

/* Vine */
.jetpack-social-navigation-genericons a[href*="vine.co"]:before {
	content: "\f517";
}

/* WordPress */
.jetpack-social-navigation-genericons a[href*="wordpress.com"]:before,
.jetpack-social-navigation-genericons a[href*="wordpress.org"]:before {
	content: "\f205";
}

/* YouTube */
.jetpack-social-navigation-genericons a[href*="youtube.com"]:before {
	content: "\f213";
}
