// ==========================================================================
// Components
//
// This is an import of all component CSS that is bundled with each component.
// Please keep these imports sorted and use specificity to ensure that
// stylesheet order does not matter.

// example: @import '../../';
// ==========================================================================

// Functions
@import '../../_inc/client/scss/functions/global';

// Variables
@import '../../_inc/client/scss/variables/colors';
@import '../../_inc/client/scss/variables/layout';

// General
@import '../../_inc/client/scss/shared/main';

// Components
@import '../../_inc/client/components/card/style';

// Page Templates
@import '../../_inc/client/at-a-glance/style';