

.jp-jumpstart {
	text-align: left;
	margin: 0 auto rem( 16px );
}

.jp-jumpstart-card__content {
	display: flex;
	margin-bottom: 0;

	.jp-jumpstart-card__img {
		@include breakpoint( ">480px" ) {
			flex: 1 0 rem( 100px );
		}

		@include breakpoint( ">660px" ) {
			flex: 1 0 rem( 200px );
		}
	}

	.jp-jumpstart-card__img img {
		display: none;

		@include breakpoint( ">480px" ) {
			display: block;
			width: rem( 100px );
		}

		@include breakpoint( ">660px" ) {
			width: rem( 200px );
		}
	}


	.jp-jumpstart-card__description {
		margin-left: 0;

		@include breakpoint( ">480px" ) {
			margin-left: 2rem;
		}

		.jp-jumpstart-card__description-title {
			margin-top: 0;
		}
	}
}
