// core variables (core _variables.scss)
$base-color: #101517; // Calypso --color-masterbar-background
$icon-color: #a2aab2; // Calypso --color-sidebar-gridicon-fill
$highlight-color: #c9356e;// Calypso --color-accent
$notification-color: $highlight-color;

// global (core _variables.scss)
$body-background: #f6f7f7; // Calypso --color-surface-backdrop

// admin menu & admin-bar (core _variables.scss)
$menu-text: #eeeeee; // Calypso --color-sidebar-text
$menu-background: #23282d; // Calypso --color-sidebar-background
$menu-highlight-text: #00b9eb; // Calypso --color-sidebar-menu-hover-text
$menu-highlight-icon: $menu-highlight-text;
$menu-highlight-background: #1a1e23; // Calypso --color-sidebar-menu-hover-background
$menu-current-text: #ffffff; // Calypso --color-sidebar-menu-selected-text
$menu-current-icon: $menu-current-text;
$menu-current-background: #0073aa; // Calypso --color-sidebar-menu-selected-background
$menu-submenu-text: #b4b9be; // Calypso --color-sidebar-submenu-text
$menu-submenu-background: #32373c; // Calypso --color-sidebar-submenu-background
$menu-submenu-focus-text: #00b9eb; // Calypso --color-sidebar-submenu-hover-text
$menu-submenu-current-text: #ffffff; // Calypso --color-sidebar-submenu-selected-text

// masterbar overrides
$masterbar-background: $base-color; // Calypso --color-masterbar-background
$masterbar-highlight-background: #333; // Calypso --color-masterbar-item-hover-background

@import "../admin";