@use "../../variables" as vars;

.bluesky-preview__card {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;

	border: solid 1px #d4dbe2;
	border-radius: 8px;
	overflow: hidden;
	color: vars.$bluesky-body-text-color;
}

.bluesky-preview__card-image {
	aspect-ratio: 1.91 / 1;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.bluesky-preview__card .bluesky-preview__card-text {
	padding: 14px;
}

.bluesky-preview__card-title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(11, 15, 20);
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.25px;
	line-height: 1.3;
}

.bluesky-preview__card-description {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: rgb(66, 87, 108);
	display: -webkit-box;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.25px;
	margin-top: 4px;
	overflow: hidden;
	line-height: 1.4;
}

.bluesky-preview__card-domain {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 10px 14px;
	border-top: 1px solid #d4dbe2;
	font-size: 14px;
	color: rgb(66, 87, 108);

	svg {
		flex-shrink: 0;
		color: rgb(66, 87, 108);
	}

	span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
