#comment-form__verbum .verbum-subscriptions .verbum-form
{
	.verbum-form__content {
		// protect the button from style leaks from the site; reset all.
		all: unset;
		background-color: var(--verbum-content-background-color);
		display: flex;
		flex-direction: column;
		border: solid 1px var(--verbum-border-color);
		border-radius: 4px;

		.verbum__label {
			all: unset;
			position: relative;
			height: 45px;
			border-bottom: 1px solid var(--verbum-border-color);

			&:last-of-type {
				border-bottom: none;
			}

			svg {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 22px;
				margin: auto 0;
			}

			input {
				color: var(--verbum-font-color);
				background-color: transparent;
				width: 100%;
				height: 100%;
				padding-left: 48px;
				border: none;
				font-size: 14px;
				box-sizing: border-box;

				&::placeholder {
					color: var(--verbum-font-color);
					opacity: .7;
				}

				&.invalid-form-data {
					border: solid 1px #e65054;
				}

			}
		}

		.verbum-subscriptions__options {
			border-top: 1px solid var(--verbum-border-color);
			padding: 16px 21px;
		}
	}

	.verbum-mail-form-cookie-consent {
		margin-bottom: 16px;

		.verbum-toggle-control {
			padding: 0 21px;
		}

		.verbum-toggle-control__text {
			font-size: 0.875rem;
			font-weight: 500;
			display: block;
		}
	}
}
