// ==========================================================================
//  Base styles: opinionated defaults
// ==========================================================================

// Sets box-sizing default to border-box on all elements
*,
*:before,
*:after {
	@include box-sizing();
}

html,
button,
input,
select,
textarea {
	color: #222;
	font-family: $sans;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 1em;
	font-size: $root-font-size * 1px;
	line-height: 1.4;
}

// (highlight color, text color)
@include selection(#91bd51);

// ==========================================================================
// Headings
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-weight: $bold;
}

// ==========================================================================
// Links
// ==========================================================================

a {
	color: #0d72b2;
	@include transition(color .2s);
	text-decoration: none;

	&:visited {
		color: #0d72b2;
	}
	&:hover {
		color: #0f92e5;
	}
	&:focus {
		outline: thin dotted;
	}
}

// ==========================================================================
// Basic block-level elements
// ==========================================================================

address {
	margin: 0 0 1.5em;
}

// ==========================================================================
// Text-level markup
// ==========================================================================

abbr[title],
acronym {
	cursor: help;
}

ins {
	background: #eee;
	text-decoration: none;
}

// ==========================================================================
// Media elements
// ==========================================================================

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
	vertical-align: middle;
}

// ==========================================================================
// Lists
// ==========================================================================

dt {
	font-weight: $bold;
}

// ==========================================================================
// Forms
// ==========================================================================

// Remove default fieldset styles.
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
	resize: vertical;
}

// A better looking default horizontal rule
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}