# Files to exclude from the mirror repo
# (see also entries in the monorepo root .gitattributes)
/.*               production-exclude
/package.json     production-exclude
/src/**           production-exclude
/storybook/**     production-exclude

# Files to include in the mirror repo
/docs/**          production-include
