# Files not needed to be distributed in the package.
.gitattributes    export-ignore
node_modules      export-ignore

# Files to exclude from the mirror repo
/.*               production-exclude
/changelog/**     production-exclude
/package.json     production-exclude
/src/**           production-exclude
/storybook/**     production-exclude
/tests/**         production-exclude

# Files to include in the mirror repo
/docs/**          production-include
