$masterbar-background: #52accc;
$menu-submenu-background: #4796b3;
$text-color: #fff;
$highlight-color: #096484;
$base-color-rgb: rgb(82, 172, 204);
$nav-unification-sidebar-text-alternative: #e2ecf1;
$menu-highlight-text: #fff;

@import "../_core-overrides";
