.line-chart {
	display: flex;
	flex-direction: column;

	svg {
		overflow: visible;
	}

	&__tooltip {
		background: #fff;
		padding: 0.5rem;
	}

	&__tooltip-date {
		font-weight: 700;
		padding-bottom: 10px;
	}

	&__tooltip-row {
		display: flex;
		align-items: center;
		padding: 4px 0;
		justify-content: space-between;
	}

	&__tooltip-label {
		font-weight: 500;
		padding-right: 1rem;
	}
}

:global(.visx-tooltip-glyph) {

	svg {
		width: 10px;
		height: 10px;
	}
}
