.wrapper {
	--jp-video-details-wrapper-max-width: 360px;

	max-width: var(--jp-video-details-wrapper-max-width);
	border-radius: var( --jp-border-radius );
	background-color: var( --jp-gray-0 );

	&.small {
		height: 200px;

		.button {
			margin-bottom: calc( var( --spacing-base ) * 3 ); // 24px;
		}
	}
}

.thumbnail {
	position: relative;
	> img {
		width: 100%;
	}

	button.thumbnail__edit-button:global(.components-button) {
		padding: var( --spacing-base );

		> svg {
			margin: 0;
		}
	}
	
	&:not( .is-small ) {
		> img {
			border-radius: var( --jp-border-radius );
		}
	}
}

.video-details-card__edit-button-container {
	position: absolute;
	top: var( --spacing-base );
	right: var( --spacing-base );
}

.details {
	color: var( --jp-black-80 );
	padding: calc( var( --spacing-base ) * 3 ); // 24px;
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 2 );;
}
