@import "variables";
@import "../admin";
@import "sidebar-notice";

// Specific overrides for this color scheme.
.admin-color-classic-bright {

	#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
	#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
	#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
	#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
	#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,
	#wpadminbar:not(.mobile) li:hover .ab-icon::before,
	#wpadminbar:not(.mobile) li:hover .ab-item::before,
	#wpadminbar:not(.mobile) li:hover .ab-item::after,
	#wpadminbar:not(.mobile) li:hover #adminbarsearch::before,
	#wpadminbar .quicklinks .menupop ul li a:hover,
	#wpadminbar .quicklinks .menupop ul li a:focus,
	#wpadminbar .quicklinks .menupop ul li a:hover strong,
	#wpadminbar .quicklinks .menupop ul li a:focus strong,
	#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
	#wpadminbar .quicklinks .menupop.hover ul li a:hover,
	#wpadminbar .quicklinks .menupop.hover ul li a:focus,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
	#wpadminbar li:hover .ab-icon::before,
	#wpadminbar li:hover .ab-item::before,
	#wpadminbar li a:focus .ab-icon::before,
	#wpadminbar li .ab-item:focus::before,
	#wpadminbar li .ab-item:focus .ab-icon::before,
	#wpadminbar li.hover .ab-icon::before,
	#wpadminbar li.hover .ab-item::before,
	#wpadminbar li:hover #adminbarsearch::before,
	#wpadminbar li #adminbarsearch.adminbar-focused::before {
		color: $studio-pink-20;
	}

	#wpadminbar .ab-submenu .ab-item,
	#wpadminbar .quicklinks .menupop ul li a,
	#wpadminbar .quicklinks .menupop.hover ul li a,
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a,
	#wpadminbar #wp-admin-bar-user-info .display-name,
	#wpadminbar #wp-admin-bar-user-info .username {
		color: $studio-gray-10;
	}

	#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
		color: $studio-pink-20;
	}
}
