.timestamp-input-wrapper {
	display: flex;
	align-items: center;
	border-color: #949494;
    border-style: solid;
	justify-content: space-around;
    border-width: 1px;
	max-width: 58px;
	padding: 0px;

	&.has-hours {
		max-width: 83px;
	}

	.timestamp-control-input {
		width: 24px;
	}

	:global {
		.components-input-control__input {
			padding-left: 0 !important;
			padding-right: 0 !important;
			text-align: center;
		}
		.components-input-control__backdrop {
			border-style: none !important;
		}
	}
}

.timestamp-control {
	display: flex;
	align-items: center;
	gap: 8px;

	.timestamp-control-range {
		flex-grow: 2;

		:global .components-base-control__field {
			margin-bottom: 0;
		}
	} 
}
