@import '@automattic/jetpack-base-styles/style';

.jp-search-dashboard-connection-screen {
	background: var(--jp-white-off);
	align-items: center;
	display: flex;
	width: 100%;

	// WARNING: Brittle! Targets AdminSectionHero component, which uses obfuscated class names.
	> div {
		width: 100%;
	}

	.jp-components__pricing-card .components-spinner {
		margin: 0;
	}

	.jp-search-dashboard-connection-footer__text {
		color: #3C434A;
		font-size: 10.5px;
		font-weight: 400;
		margin: 0;
		text-align: center;
		letter-spacing: -0.02em;
	}
	.jp-search-dashboard-connection-footer__link {
		color: #3C434A;
	}

}
