@import 'scss/_variables';
@import 'scss/rna-styles.scss';

* {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu',
		'Cantarell', 'Helvetica Neue', sans-serif;
}

#wpcontent {
	padding-left: 0 !important;
}

#screen-meta,
#screen-meta-links {
	display: none;
}

#jp-search-dashboard {
	background-color: $white;
	color: $black;
	font-size: 16px;
	// 32px = wpadminbar height
	// 65px = wpfooter height
	min-height: calc( 100vh - 65px - 32px );

	.jp-search-dashboard-page {
		width: 100%;
	}

	.jp-masthead__logo-link {
		pointer-events: none;
	}

	.jp-search-dashboard-top {
		background-color: #f9f9f6;

		overflow: hidden;
	}

	.jp-search-dashboard-top__title {
		padding: 2.5em 0;
		h1 {
			line-height: 1.111;
			font-size: 2.25em;
			margin: 0;
		}
	}

	.jp-search-dashboard-top__mocked-search-interface {
		height: 15.625em;

		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}

	.jp-search-dashboard-bottom {
		background-color: $white;
	}

	.jp-search-dashboard-header,
	.jp-search-dashboard-footer {
		padding: 2.5em 0;

		background-color: $white;
	}

	@include for-phone-down {
		font-size: 14px;
	}
}

.usage-meter-group {
	display: flex;
	align-items: center;
	height: 64px;

	& > *:not( :first-child ) {
		margin-left: 183px;
	}
}

.upgrade-trigger {
	position: relative;
	margin-top: 24px;
	padding: 16px 43px 16px 24px;
	border: 2px solid $studio-jetpack-green-40;
	border-radius: 4px;
	line-height: 24px;
	cursor: pointer;

	& svg {
		position: absolute;
		right: 24px;
		bottom: 32px;
	}
}

.usage-meter-about {
	margin-top: 24px;
	line-height: 24px;

	& u {
		cursor: pointer;
	}
}
