@import 'scss/_variables.scss';

.jp-search-dashboard-upsell-page {
	line-height: 1.5;
	width: 100%;
	h1 {
		line-height: 1.2;
	}

	// Targets AdminPage component, which uses obfuscated CSS names.
	> div {
		margin-left: 0;
	}
}

.price-tip {
	display: flex;
	height: 20px;
	margin-bottom: 24px;
}

.price-tip-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: $studio-gray-40;
	margin-right: 7px;
}

.price-tip-icon {
	fill: $studio-gray-10 !important;
}
