@use "@wordpress/base-styles/variables";

.jp-forms__image-select-field-button.components-button {
	height: auto;
	text-align: left;
	text-wrap: auto;

	&.has-icon.has-text {
		gap: variables.$grid-unit-10;
	}
}
