@import '../../scss/_variables.scss';
@import '../../scss/mixin_breakpoint.scss';

$sidebar-width: 220px;
$close-button-size: 60px;
$close-button-size-mobile: 45px;
$color-modal-background: $studio-white;
$color-layout-borders: $studio-wordpress-blue-0;
$color-text-lighter: $studio-gray-50;

/* Mocked Search Container */
.jp-mocked-instant-search {
	background: $color-modal-background;
	border-radius: 3px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	box-shadow: rgba( 0, 0, 0, 0.35 ) 0px 5px 25px;
	user-select: none;
	overflow: hidden;

	font-size: 0.75em;
}

/* Search Controls */
.jp-mocked-instant-search__search-controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $color-layout-borders;
}
.jp-mocked-instant-search__search-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $close-button-size;
	height: $close-button-size;
	@include breakpoint( '<660px' ) {
		width: $close-button-size-mobile;
		height: $close-button-size-mobile;
	}
}
.jp-mocked-instant-search__search-mock-input {
	width: calc( 100% - #{$close-button-size} - #{$close-button-size} );
}
.jp-mocked-instant-search__close-button {
	display: flex;
	align-items: center;
	width: $close-button-size;
	height: $close-button-size;
	justify-content: center;
	line-height: 1;
	border-left: 1px solid $color-layout-borders;
	background-color: transparent !important;

	svg.gridicon {
		fill: $color-text-lighter;
	}
	@include breakpoint( '<660px' ) {
		width: $close-button-size-mobile;
		height: $close-button-size-mobile;
	}
}

/* Search Result */
.jp-mocked-instant-search__search-results {
	display: flex;
	position: relative;
	height: 100%;
}
.jp-mocked-instant-search__search-results-primary {
	width: 100%;
	padding: 1em 4em;

	@include breakpoint( '>660px' ) {
		max-width: calc( 100% - #{$sidebar-width} );
	}
	@include breakpoint( '<660px' ) {
		padding: 2em;
	}
}
.jp-mocked-instant-search__search-results-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	.jp-mocked-instant-search__result-statistics {
		font-size: 1em;
		font-weight: bold;
		@include breakpoint( '<480px' ) {
			width: 100%;
		}
	}
	.jp-mocked-instant-search__result-sort-list {
		span {
			font-size: 1em;
			margin-left: 0.5em;
			&:first-child {
				margin-left: 0;
			}
		}
		.jp-mocked-instant-search__result-sort-selected {
			color: $color-plan;
		}
		@include breakpoint( '<480px' ) {
			width: 100%;
		}
	}
}
.jp-mocked-instant-search__search-result {
	margin-top: 1em;
}

/**
* Sidebar
*/
.jp-mocked-instant-search__search-results-secondary {
	padding-left: 2em;
	padding-top: 1em;
	background: none;
	border-left: 1px solid $color-layout-borders;
	border-radius: 0;
	bottom: 0;
	box-shadow: none;
	display: block;
	flex: none;
	position: static;
	width: $sidebar-width;

	@include breakpoint( '<660px' ) {
		display: none;
	}
}
.jp-mocked-instant-search__search-filter-header {
	font-weight: bold;
}
.jp-mocked-instant-search__search-filter {
	label {
		cursor: default;
		input[type='checkbox'] {
			border: 1px solid lavender;
			border-radius: 5px;
			cursor: default;
		}
	}
	span {
		display: inline-block;
		margin-left: 1em;
		line-height: 1.35;
		background-color: lavender;
		width: 50em;
	}
	input[type='checkbox'] {
		height: 1em;
		width: 1em;
	}
}
.jp-mocked-instant-search__search-filter-list {
	margin-top: 1em;
}
