@keyframes pulse {
  0% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}

.loadingPlaceholder {
  background-color: #dcdcde;
  animation: pulse 1.5s infinite;
  height: 100%;
  width: 100%;
}
