.dops-card {
	background: $white;
	padding: $gutter;
	border: 1px #ddd solid;
	//dops overwrites
	box-shadow: none;

	@include clear-fix;

	h2 {
		margin: 0; 
	}

	&:last-of-type {
		margin-bottom: $gutter*5;
	}
		
}