.dops-card {
	background: $white;
	padding: rem( 20px );
	border: 1px #ddd solid;
	//dops overwrites
	box-shadow: none;

	@include clear-fix;

	h2 {
		margin: 0;
	}

	&:last-of-type {
		margin-bottom: rem( 100px );
	}

}
