.checklist__header {
	display: flex;
	flex-direction: row;

	&-main {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		align-items: stretch;
	}

	&-secondary {
		display: flex;
		flex: 2 1;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	&-progress {
		display: flex;
		flex-direction: row;
		font-size: 14px;
		white-space: nowrap;
		margin-bottom: 5px;
	}

	&-progress-text {
		display: flex;
		flex: 1 1;
		margin: 0;
		color: $muriel-gray-500;
	}

	&-progress-number {
		display: flex;
		color: $muriel-gray-500;
		padding-left: 1em;
	}

	&-summary {
		font-size: 12px;
		line-height: 24px;
		color: $muriel-gray-500;
		cursor: pointer;
	}

	&-action {
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 100%;
		border-left: 1px solid $muriel-gray-0;
		cursor: pointer;

		.gridicon {
			fill: $muriel-gray-300;
			vertical-align: middle;
			align-items: center;
			transition: transform 0.15s cubic-bezier( 0.175, 0.885, 0.32, 1.275 ), color 0.2s ease-in;
		}

		.checklist.is-expanded & {
			.gridicon {
				transform: rotate( 180deg );
			}
		}

		.accessible-focus &:focus {
			box-shadow: inset 0 0 0 2px $muriel-blue-300;
		}
	}

	.checklist.is-expanded &-action {
		.gridicon {
			transform: rotate( 180deg );
		}
	}

	.dops-button.is-primary {
		margin-right: 0;
		background: $green-primary;
		border-color: $green-secondary;

		&:focus {
			box-shadow: 0 0 0 2px lighten( $green-secondary, 20% );
		}
	}
}

@media ( max-width: 600px ) {
	.checklist__header {
		display: block;

		&-secondary {
			display: block;
			text-align: left;
			padding-top: 15px;
		}
	}
}

.checklist-header-progress-bar {
	width: 100%;
	display: inline-block;
	position: relative;
	background-color: $muriel-gray-100;
	border-radius: 4.5px;
	height: 4px;
}

.checklist-header-progress-bar__progress {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: $muriel-hot-green-400;
	border-radius: 4.5px;
	transition: width 200ms;
}
