// ==========================================================================
// Horizontal menu!
// ==========================================================================

.nav-horizontal {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	a {
		display: inline-block;
	}
	li {
		position: relative;
		float: left;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}