# Files not needed to be distributed in the package.
.gitattributes    export-ignore
node_modules      export-ignore

# Files to exclude from the mirror repo
/babel.config.cjs    production-exclude
/changelog/**        production-exclude
/.eslintrc.cjs       production-exclude
/tests/**            production-exclude
/webpack.config.cjs  production-exclude
