.simple-payments-image {
	text-align: center;
}

.widget-content .simple-payments {
	clear: both;
}

.widget-content .simple-payments .cost label {
	display: block;
}

.widget-content .simple-payments-image img {
	max-width: 100%;
	height: auto;
}

.widget-content .simple-payments .currency {
	display: inline-block;
	vertical-align: top;
	width: 28%;
}

.widget-content .simple-payments .price {
	display: inline-block;
	line-height: 20px;
	width: 70%;
}

.widget-content .simple-payments-products {
	border-bottom: 1px solid #ccc;
}

.widget-content .simple-payments-products li {
	border-top: 1px solid #ccc;
	margin-bottom: 0;
	padding: 8px 0;
}

.widget-content .simple-payments-products li:after {
	content: "";
	display: table;
	clear: both;
}

.widget-content .simple-payments-products input[type=radio] {
	float: left;
	margin: 8px 0;
}

.widget-content .simple-payments-products .product-info {
	float: left;
	margin-left: 8px;
}

.widget-content .simple-payments-products .image img {
	float: right;
	height: auto;
	width: 80px;
}
