#loginform {
	overflow: hidden;
	padding-bottom: 26px;
}

.jetpack-sso.button {
	position: relative;
	padding-left: 37px;
}
.jetpack-sso.button:before {
	display: block;
	box-sizing: border-box;
	padding: 7px 0 0;
	text-align: center;
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius: 2px 0 0 2px;
	content: '\f205';
	background: #0074a2;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	width: 30px;
	height: 107%;
	height: calc( 100% + 2px );
	font: normal 22px/1 Genericons !important;
	text-shadow: none;
}

@media screen and (min-width: 783px) {
	.jetpack-sso.button:before {
		padding-top: 3px;
	}
}

.jetpack-sso.button:hover {
	border: 1px solid #aaa;
}

.jetpack-sso-wrap {
	text-align: center;
	float: right;
	margin: 1em 0 0;
	clear: right;
	display: block;
}

.jetpack-sso-wrap.forced-sso {
	float: none;
	text-align: center;
}

.forced-sso .jetpack-sso.button {
	font-size: 16px;
	line-height: 27px;
	height: 37px;
	padding: 5px 12px 6px 47px;
}

.forced-sso .jetpack-sso.button:before {
	font-size: 28px !important;
	height: 37px;
	padding: 5px 5px 4px;
	width: 37px;
}
