.jp-forms-forms-title-button {
	font-size: var(--jp-forms-font-size-regular);
}

.jp-forms-forms-actions {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.jp-forms-forms-actions__link {
	text-decoration: none;
}

