/* Additional styling to thickbox that displays modal */
/* stylelint-disable selector-max-id */

.jetpack-memberships-modal #TB_title {
	display: none;
}
#TB_window.jetpack-memberships-modal {
	background-color: transparent;
	background-image: url( 'https://s0.wp.com/i/loading/loading-64.gif' );
	background-repeat: no-repeat;
	background-position: 150px center;
	bottom: 0;
	margin-top: 0 !important;
	top: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.jetpack-memberships-modal #TB_iframeContent {
	height: 100% !important;
}
@media only screen and ( max-width: 480px ) {
	#TB_window.jetpack-memberships-modal {
		bottom: 0;
		left: 0;
		margin-left: 0 !important;
		right: 0;
		top: 0;
		width: 100% !important;
	}
	.jetpack-memberships-modal #TB_iframeContent {
		width: 100% !important;
	}
}
