/* Additional styling to thickbox that displays modal */
/* stylelint-disable selector-max-id */

.jetpack-memberships-modal #TB_title {
	display: none;
}
#TB_window.jetpack-memberships-modal {
	background-color: transparent;
	background-image: url( 'https://s0.wp.com/i/loading/transparent-16.gif' );
	background-repeat: no-repeat;
	background-position: center 150px;
	margin: 0 !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100% !important;
	height: 100%;
}

.jetpack-memberships-modal #TB_iframeContent {
	margin: 0 !important;
	height: 100% !important;
	width: 100% !important;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* This is a class added by Thickbox on open modals. */
BODY.modal-open {
	overflow: hidden;
}
