@import '../../scss/mixin_breakpoint';
@import '../../scss/calypso-colors';
@import '../recommended-features/variables';

.jp-setup-wizard-feature-toggle {
	border: 1px solid #ccd0d4;

	display: grid;
	grid-template-rows: 100px;
	grid-template-columns: 100px auto auto;

	@include breakpoint( $greater-than-vertical-break ) {
		border-radius: 4px;

		&.jp-setup-wizard-fixed-right-column {
			grid-template-columns: 100px auto 240px;
		}
	}

	@include breakpoint( $less-than-vertical-break ) {
		grid-template-rows: 65px auto auto;
		grid-template-columns: 90px auto;

		border-width: 1px 0;
	}

	.dops-button {
		width: 150px;

		@include breakpoint( $less-than-vertical-break ) {
			width: 100%;
			margin-bottom: 1rem;
		}

		.gridicon {
			margin-left: 0.25rem;
		}
	}
}

.jp-setup-wizard-form-toggle-container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 2rem;
	@include breakpoint( $less-than-vertical-break ) {
		padding: 0 1rem;
	}

	position: relative;

	.gridicons-star {
		display: none;
	}

	&.is-paid-feature {
		&::before {
			content: '';
			width: 0px;
			height: 0px;
			border-top: 35px solid #4ab866;
			border-right: 35px solid transparent;
			position: absolute;
			top: 0;
			left: 0;
		}

		.gridicons-star {
			display: block;
			color: white;
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
		}
	}
}

.jp-setup-wizard-feature-toggle-content-container {
	display: flex;
	align-items: center;
	justify-content: left;
	padding-right: 1rem;

	@include breakpoint( $less-than-vertical-break ) {
		grid-row: 2;
		grid-column-start: 1;
		grid-column-end: 3;

		padding-left: 30px;
		padding-right: 30px;
	}
}

.jp-setup-wizard-feature-toggle-content {
	text-align: left;

	@include breakpoint( $greater-than-vertical-break ) {
		font-size: 15px;

		span {
			font-weight: bold;
			margin-right: 0.5rem;
		}
	}

	@include breakpoint( $less-than-vertical-break ) {
		margin: 0 0 1rem 0;
	}
}

.jp-setup-wizard-feature-toggle-button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

	p {
		font-style: italic;
		color: lighten( $gray, 10% );

		@include breakpoint( $greater-than-vertical-break ) {
			text-align: right;
		}
	}
	@include breakpoint( $less-than-vertical-break ) {
		padding: 0 30px;

		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

.jp-setup-wizard-form-toggle-title-small {
	@include breakpoint( $less-than-vertical-break ) {
		grid-row: 1;
		grid-column: 2;

		display: flex;
		justify-content: left;
		align-items: center;

		p {
			font-weight: bold;
		}
	}
}

.jp-setup-wizard-feature-toggle-info {
	margin: 0.5rem 0;

	@include breakpoint( $less-than-vertical-break ) {
		align-self: flex-start;
		margin: 0 0 1rem 0;
	}
}

.jp-setup-wizard-view-options-link {
	margin-left: 0.5rem;
	color: black;
	font-weight: bold;
	text-decoration: underline !important;
}
