.wp-block-jetpack-eventbrite .components-placeholder__learn-more {
	margin-top: 1em;
}

// Styles needed to display block style options correctly when using Button & Modal embed type.
// Adapted from core/button block.

.wp-block-jetpack-eventbrite.is-modal-button {
	display: inline-block;
	.wp-block-button__link {
		display: block;
	}
}

.block-editor-block-preview__content div[data-block] {
	display: table;
}

.jetpack-eventbrite-block__embed-type-controls .block-editor-block-styles__item-preview {
	align-items: center;
	height: auto;
	justify-content: center;
}
