@import '@automattic/jetpack-base-styles/gutenberg-base-styles';

$tour-footer-spacing: 16px;

.components-guide {

    &.myjetpack-onboarding-welcome-tour {
        width: 400px;
        border-radius: 8px; // maintain the same border radius for all breakpoints

        .myjetpack-onboarding-welcome-tour__image {
            background: var( --jp-green-60);
            margin: 0 0 10px;

            > img {
                display: block;
                max-width: 100%;
                object-fit: cover;
            }
        }

        .myjetpack-onboarding-welcome-tour__heading {
            margin: $grid-unit-20 0 8px 0;
            padding: 0 $grid-unit-20;

            @include heading-x-large;
        }

        .myjetpack-onboarding-welcome-tour__text {
            line-height: 1.4;
            margin: 0 0 $grid-unit-30 0;
            padding: 0 $grid-unit-20;
            min-height: 74px; // avoid layout shift when the text is short
        }

        .components-modal__header {
            // close button - overwrite the size to make the X 10px
            .components-button {

                svg {
                    width: 14px;
                    height: 14px;
                }
            }

            button {
                color: var(--jp-gray-0);
            }
        }

        .components-guide__footer {
            height: 40px;
            justify-content: flex-end;
            gap: 8px;
            padding: 0 $tour-footer-spacing;
            margin-bottom: $tour-footer-spacing;

            & > button {
                position: relative;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }
        }

        .components-button.is-small.has-icon:not(.has-text) {
            min-width: 8px;
            padding: 0 9px 0 0;
        }

        /* Applying Jetpack colors to the tour */
        li[aria-current="step"] {
            // carousel button color
            svg {
                fill: var(--jp-green-60);
            }
        }

        button {

            &:focus,
            &:active {

                &:not(:disabled) {
                    box-shadow: inset 0 0 0 1px var(--jp-gray-0), 0 0 0 1px var(--jp-green-70);
                }
            }

            &.is-primary {
                background-color: var( --jp-green-60);

                &:hover,
                &:active {
                    background-color: var( --jp-green-70);
                }
            }

            &.is-tertiary {
                color: var(--jp-gray-100);

                &:hover,
                &:active {
                    color: var(--jp-gray-100);
                }
            }
        }
    }
}
