@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.jp-connection__connect-screen {
	&__loading {
		display: none;
	}

	&__tos {
		margin-top: 28px;
		max-width: 360px;
	}

	.jp-action-button {
		margin-top: 40px;

		button {
			max-width: 100%;

			&:disabled {
				color: hsla( 0, 0%, 100%, 0.4 );
			}

			@media ( max-width: $break-medium ) {
				max-width: none;
				width: 100%;
			}
		}
	}
}
