.donut-meter {
  .donut-meter-segment {
    stroke: var(--jp-green);
  }
  &.is-info .donut-meter-segment {
    stroke: var(--jp-green);
  }
  &.is-warning .donut-meter-segment {
    stroke: var(--jp-yellow-10);
  }
  &.is-danger .donut-meter-segment {
    stroke: var(--jp-red);
  }
}
