
@import '@automattic/jetpack-base-styles/gutenberg-base-styles';

body[class*="_page_jetpack-forms"],
body.jetpack_page_jetpack-forms-admin {
	background-color: $white;

	#wpcontent {
		padding-left: 0;
	}
}

.jp-forms__layout {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.jp-forms__layout-header {
	padding: $grid-unit-20 $grid-unit-60;
	top: 0;

	@media not (prefers-reduced-motion) {
		transition: padding ease-out 0.1s;
	}

	.components-heading {
		color: $gray-900;
	}

	.jp-forms__layout__page-title {
		min-height: $grid-unit-50;

		.components-heading {
			flex-grow: 1;
			flex-basis: 0;
			white-space: nowrap;
		}
	}
}

.jp-forms__layout-title {
	display: inline-flex;
	font-size: 36px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	margin: 0;
}

@media (max-width: 430px) {

	.jp-forms__layout-header {
		padding: $grid-unit-20 $grid-unit-30;
	}
}

.jp-forms__dashboard-tabs {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	> .components-tab-panel__tabs {
		margin: 0;
		padding: 0 48px;
		border-bottom: 1px solid $gray-100;

		.components-tab-panel__tabs-item {
			border-bottom: 2px solid transparent;
			font-size: var(--jp-forms-font-size-regular);
			font-weight: 400;
			height: 40px;
			padding: 8px 16px;

			&.is-active {
				border-color: var(--jp-green-50);
				font-weight: 500;

				&::after {
					display: none;
				}
			}
		}

		@media not (prefers-reduced-motion) {
			transition: padding ease-out 0.1s;
		}

		@media (max-width: 600px) {
			top: 0;
		}

		@media (max-width: 430px) {
			padding: 0 24px;
		}
	}

	.components-tab-panel__tab-content {
		height: 100%;
	}
}
