@mixin mobile {

	@media (max-width: 599px) {
		@content;
	}
}

body[class*="_page_jetpack-forms"],
body.jetpack_page_jetpack-forms-admin {
	background-color: #fff;

	#wpcontent {
		padding-left: 0;
	}
}

.jp-forms__layout {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: calc(100vh - var(--wp-admin--admin-bar--height));

	.jp-forms__layout-header-actions {
		display: flex;
		gap: 8px;
	}

	.jp-forms__layout-header-title {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.jp-forms__logo {
		margin: 0 0 4px;
		width: 200px;
		vertical-align: middle;

		@media (max-width: 660px) {
			margin: 0;
		}
	}
}

#jp-forms-dashboard .jp-forms__layout {
	background: var(--wpds-color-bg-surface-neutral-strong, #f9f9f6);

	.admin-ui-page__header {
		box-sizing: border-box;
		margin: 0;
		padding: 16px 48px 0;
		width: 100%;

		@media (max-width: 782px) {
			padding: 8px 24px 0;
		}
	}

	.jp-forms__dashboard-tabs {
		display: flex;
		flex-direction: column;
		flex: 1;

		> .components-tab-panel__tabs {
			margin: 0;
			padding-inline: 32px;
			border-bottom: 1px solid var(--jp-gray-5);

			.components-tab-panel__tabs-item {
				border-bottom: 2px solid transparent;
				font-size: var(--jp-forms-font-size-regular);
				font-weight: 400;
				height: 40px;
				padding: 8px 16px;

				&.is-active {
					border-color: var(--jp-green-50);
					font-weight: 500;

					&::after {
						display: none;
					}
				}
			}

			@media (max-width: 600px) {
				top: 0;
			}

			@media (max-width: 660px) {
				padding: 0 8px;
			}
		}

		.jp-forms__inbox__dataviews__container {
			justify-content: unset;
			align-items: unset;
		}

		.components-tab-panel__tab-content {
			display: flex;
			flex: 1;
			background: var(--jp-white);
		}
	}

}
