.jetpack-form-file-field__dropzone {
	display: flex;
	flex-direction: column;
	border:var( --jetpack--contact-form--border-size, 1px) var( --jetpack--contact-form--border-style, solid ) var( --jetpack--contact-form--border-color );
	border-radius: var( --jetpack--contact-form--border-radius, 0);
	padding: calc( var( --jetpack--contact-form--input-padding, 16px) * 2) var( --jetpack--contact-form--input-padding, 16px) var( --jetpack--contact-form--input-padding, 16px);
	text-align: center;
	gap: var( --jetpack--contact-form--input-padding, 16px);
	background-color: var( --jetpack--contact-form--input-background, white );
	position: relative;
}

.jetpack-form-file-field__dropzone.is_dropping {
	border: 1px solid darkgray;
	cursor: pointer;
	transition: .2s;
}
.jetpack-form-file-field__dropzone:hover {
	outline: var(--b) solid var(--c);
	outline-offset: var(--g);
}

.jetpack-form-file-field__dropzone.is_dropping::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px dotted gray;
	border-radius: var( --jetpack--contact-form--border-radius, 0);
    border-radius: inherit; /* Match the border-radius of the parent */
    pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
}

.jetpack-form-file-field__dropzone .jetpack-form-file-field {
	display: none;
}

.jetpack-form-file-field__dropzone .wp-block-button__link {
	width: fit-content;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
}

.jetpack-form-file-field__preview-wrap {
	visibility: hidden;
	padding: 0;
}

.jetpack-form-file-field__preview-wrap.is-active {
	visibility: visible;
}

.jetpack-form-file-field__image {
	width: 60px;
	background-position: center;
	background-size: cover;
	aspect-ratio: 1 / 1;
	outline: 1px solid lightgray;
	outline-offset: 2px;
	border-radius: var( --jetpack--contact-form--border-radius, 0);
}
.jetpack-form-file-field__preview {
	opacity: 0;
	animation: show 200ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
	display: flex;
	gap: 1em;
	align-items: center;
	margin-top: 1em;
}

@keyframes show {
	100% {
	  opacity: 1;
	  transform: none;
	}
  }

.jetpack-form-file-field__file-wrap {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: baseline;
	font-size: 0.9em;
}
.jetpack-form-file-field__file-size {
	font-weight: bold;
}
