// Gutenberg versions will use different classname strategies
// for layout flex support, make it backwards compatible using both.
.wp-block-jetpack-contact-form.is-layout-flex,
.wp-block-jetpack-contact-form-is-layout-flex {


	&.is-horizontal {

		&.is-nowrap {
			align-items: flex-end;
		}

		.wp-block-jetpack-button {
			align-self: flex-end;
			// this is so button has the same style on editor and frontend.
			flex: 0 0 auto;

			.wp-block-button__link {
				word-break: normal;
			}
		}
	}

	&.is-vertical {
		align-items: stretch;
	}

	// multistep forms must remain vertical and pass down layout rules.
	.is-multistep & {
		flex-direction: column;
		align-items: flex-end;

		.wp-block-jetpack-form-step {
			flex-wrap: wrap;
		}


		.jetpack-form-steps-wrapper {
			width: 100%;
		}

		.wp-block-jetpack-form-progress-indicator {
			align-self: normal;
		}

		&.is-vertical {

			.wp-block-jetpack-form-step {
				flex-direction: column;
			}
		}

		&.is-nowrap {

			.wp-block-jetpack-form-step {
				flex-wrap: nowrap;
			}
		}
	}

	&.is-style-outlined,
	&.is-style-animated {

		.contact-form__inset-label-wrap {
			box-sizing: border-box;
			position: relative;
			flex: 1 1 100%;
			width: 100%;

			&.grunion-field-width-25-wrap {
				flex: 1 1 calc(25% - var(--wp--style--block-gap, 1.5rem) * 1);
			}

			&.grunion-field-width-33-wrap {
				flex: 1 1 calc(33.33% - var(--wp--style--block-gap, 1.5rem) * 1);
			}

			&.grunion-field-width-50-wrap {
				flex: 1 1 calc(50% - var(--wp--style--block-gap, 1.5rem) * 1);
			}

			&.grunion-field-width-75-wrap {
				flex: 1 1 calc(75% - var(--wp--style--block-gap, 1.5rem) * 1);
			}

			&.grunion-field-width-100-wrap {
				flex: 1 1 100%;
			}

			&.grunion-field-width-auto-wrap {
				flex: 1 1 auto;
			}
		}
	}
}
