.jetpack-field-slider__input-row {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 12px;
	margin-top: 30px;
}

.jetpack-field-slider__min-label,
.jetpack-field-slider__max-label {
	font-size: 0.9em;
	text-align: center;
}

.jetpack-field-slider__input-container {
	display: flex;
	flex: 1 1 auto;
	min-width: 0;
	position: relative;
}

.jetpack-field-slider__input-container input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	height: 4px;
	background: var(--jetpack--contact-form--button-primary--background-color);
	outline: none;
	border-radius: 2px;
	transition: background 0.3s;
	margin: 0 8px;
	width: 100%;
	box-sizing: border-box;
}

.jetpack-field-slider__input-container input[type="range"]:focus {
	outline: none;
	opacity: 1;
}

.jetpack-field-slider__input-container input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	background: var(--jetpack--contact-form--button-primary--background-color);
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.jetpack-field-slider__input-container input[type="range"]::-moz-range-thumb,
.jetpack-field-slider__input-container input[type="range"]::-ms-thumb {
	width: 16px;
	height: 16px;
	background: var(--jetpack--contact-form--button-primary--background-color);
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s;
}

.jetpack-field-slider__input-container input[type="range"]:focus::-webkit-slider-thumb,
.jetpack-field-slider__input-container input[type="range"]:focus::-moz-range-thumb,
.jetpack-field-slider__input-container input[type="range"]::-ms-fill-lower,
.jetpack-field-slider__input-container input[type="range"]::-ms-fill-upper,
.jetpack-field-slider__input-container input[type="range"]:focus::-ms-fill-lower,
.jetpack-field-slider__input-container input[type="range"]:focus::-ms-fill-upper {
	background: var(--jetpack--contact-form--button-primary--background-color);
}

.jetpack-field-slider__value-indicator {
	position: absolute;
	top: -36px;
	left: 0;
	transform: translateX(-50%);
	background: var(--jetpack--contact-form--button-primary--background-color);
	color: var(--jetpack--contact-form--button-primary--color);
	border-radius: 8px;
	padding: 2px 8px;
	font-size: 0.7em;
	z-index: 2;
}
