@use 'sass:list';

$sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;

.banner {
	position: relative;

	> .banner-card {
		padding: 0;
		overflow: hidden;

		&.is-mandatory {

			&::before {
				content: '';
				position: absolute;
				top: -11px;
				left: -11px;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background-color: var( --jp-red-50 );
				border: 2px solid var(--jp-white-off);
			}
		}
	}

	> .dismiss {
		position: absolute;
		top: 16px;
		right: 16px;
		padding: 8px;
		background-color: var(--jp-white);
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		transform: scale(0.75);

		&:hover, &:focus {
			background-color: var(--jp-white);
		}

		&:disabled {
			pointer-events: none;
		}
	}
}

.banner-content {
	padding: 0;
}

.banner-description {
	padding: 24px 16px;

	@media screen and (min-width: 600) {
		padding: 32px 24px;
	}

	@media screen and (min-width: 960px) {
		padding: 48px 12px 48px 48px;
	}
}

.banner-image-evaluation {
    background-image: url(./assets/images/evaluation-blank.png),
    radial-gradient(circle at 40% 70%, rgba(206, 217, 242, 0.75) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 80% 80%, rgba(6, 158, 8, 0.15) 5%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(circle at 80% 20%, rgba(245, 230, 179, 0.75) 0%, rgba(255, 255, 255, 0) 50%);
    background-repeat: no-repeat;
    background-position: 75% center;
	background-size: 393px, cover, cover, cover;

	&.is-selected {
		background-image: url(./assets/images/evaluation-selected.png),
		radial-gradient(circle at 40% 70%, rgba(206, 217, 242, 0.75) 0%, rgba(255, 255, 255, 0) 40%),
		radial-gradient(circle at 80% 80%, rgba(6, 158, 8, 0.15) 5%, rgba(255, 255, 255, 0) 50%),
		radial-gradient(circle at 80% 20%, rgba(245, 230, 179, 0.75) 0%, rgba(255, 255, 255, 0) 50%);
	}
}

.banner-image {
	background-image: url(./assets/images/site-cards.png),
				radial-gradient(circle at 90% 30%, rgba(6, 158, 8, 0.15) 0%, rgba(255, 255, 255, 0) 35%),
				radial-gradient(circle at 75% 65%, rgba(206, 217, 242, 0.5) 5%, rgba(255, 255, 255, 0) 15%),
				radial-gradient(circle at 90% 90%, rgba(245, 230, 179, 0.5) 0%, rgba(255, 255, 255, 0) 25%);
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (max-width: 960px) {
		background-image: url(./assets/images/site-cards.png),
				radial-gradient(circle at 55% 30%, rgba(6, 158, 8, 0.15) 0%, rgba(255, 255, 255, 0) 100%),
				radial-gradient(circle at 25% 40%, rgba(206, 217, 242, 0.5) 5%, rgba(255, 255, 255, 0) 50%),
				radial-gradient(circle at 50% 85%, rgba(245, 230, 179, 0.3) 0%, rgba(255, 255, 255, 0) 35%);
		order: -1;
		min-height: 160px;
	}
}

.form {
    margin-top: 24px;
}

.form-checkbox {
    margin-top: 16px;
    font-size: 16px !important;
}

.form-actions {
    margin-top: 64px;

    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.form-link-action {
    text-decoration: none !important;
    padding-right: calc( var( --spacing-base ) * 3 );
    padding-left: calc( var( --spacing-base ) * 3 );
}

.loading-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 144px 32px;
	background-image: radial-gradient(circle at 80% 80%, rgba(6, 158, 8, 0.15) 5%, rgba(255, 255, 255, 0) 50%);
    background-repeat: no-repeat;
    background-position: 100% 80%;
	background-size: cover;
}

.loader-container {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;

	.logo {
		width: 88px;
		height: 88px;
		color: var( --jp-green-40 );
		transform: scale(1.3);
		transition: transform 0.3s ease-out;

		.circle-outline, .circle-fill, .triangles-outline, .triangles-fill {
			opacity: 0;
		}

		.circle-outline {
			stroke-dasharray: 276;
			stroke-dashoffset: 276;
			animation: drawCircle 2s ease-out forwards;
		}

		.triangles-outline {
			animation: fadeIn 0.5s ease-in-out 1.5s forwards;
		}
	}

	&.connection-ready {

		.logo {
			transform: scale(1.4);
			animation: popIn 1s ease-out 0.3s forwards;

			.circle-fill, .triangles-fill {
				animation: fadeIn 0.85s ease-out 0.3s forwards;
			}
		}
	}

	&.recommendations {

		.logo {
			transform: scale(1.4);
			animation: none;

			.circle-fill, .triangles-fill {
				opacity: 1;
			}
		}

		.products-icons {
			$durations: 0.6s, 0.8s, 1s, 0.7s, 0.9s, 1.1s, 0.75s, 1.1s;

			position: absolute;
			top: 0;

			transform: translateX(10px);

			> g {
				opacity: 0;
				transform: translateY(-200px);
			}

			@for $i from 1 through 8 {
				> g:nth-child(#{$i}) {
					--duration: #{list.nth($durations, $i)};
					animation: fadeIn 0.6s ease-in-out 0.2s forwards, slideDown var(--duration) linear forwards;
				}
			}
		}
	}
}

@keyframes drawCircle {

	0% {
		opacity: 1;
		stroke-dashoffset: 276;
	}

	100% {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}

@keyframes fadeIn {

	to {
		opacity: 1;
	}
}

@keyframes popIn {

	25% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1.4);
	}
}

@keyframes slideDown {

	0% {
		transform: translateY(-300px);
	}

	100% {
		transform: translateY(0);
	}
}
