.label {
	cursor: auto; // removing effect from wordpress admin
	display: inline-block;
	color: var(--jp-gray-80);
}

.input-wrapper {
	--jp-input-wrapper-height: 40px;

	min-height: var( --jp-input-wrapper-height );
	padding: var( --spacing-base );
	border: 1px solid var( --jp-black );
	border-radius: var( --jp-border-radius );
	background-color: var( --jp-white );
	display: flex;
	align-items: center;
	font-size: var( --font-body-small );
	box-sizing: border-box;

	&:focus-within {
		box-shadow: 0 0 0 1px var( --jp-black ) inset;
	}

	&.disabled {
		border-color: var( --jp-gray-10 );
		background-color: var( --jp-gray );
		color: var( --jp-gray-20 );
	}

	&.large {
		padding: calc( var( --spacing-base ) * 2 ); // 16px;
		font-size: var( --font-body );
	}

	&:not(.is-textarea) {
		height: var( --jp-input-wrapper-height );

		&.large {
			height: calc( var( --jp-input-wrapper-height ) + calc( var( --spacing-base ) * 2 ) ); // 56px;
		}
	}

	.input {
		font-size: unset;
		font-family: unset;
		width: 100%;
		border: 0;
		outline: none;
		background-color: transparent;
		box-shadow: none;

		&:focus {
			box-shadow: none;
			outline: none;
		}

		&.with-icon {
			margin-left: var( --spacing-base );
		}
	}

	.icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		width: 24px;
		flex-shrink: 0;
	}

	.clear-icon {
		cursor: pointer;
	}
	
	.loader svg {
		margin: 0;
	}
}
