.jp-recommendations-woocommerce__install-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		margin-top: auto;
		margin-bottom: 16px;
		min-width: 172px;
	}

	a {
		margin-bottom: 32px;
	}
}

.jp-recommendations-woocommerce__install-section-spacer {
	height: 100%;
}

.jp-recommendations-woocommerce__illustration {
	height: 200px;
	padding: 65px;
}
