@import '../../shared/styles/gutenberg-base-styles.scss';
@import '../../shared/styles/jetpack-variables.scss';

@keyframes progress-bar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.wp-story-container {
	overflow: hidden;
	opacity: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;

	&.wp-story-initialized {
		opacity: 1;
	}

	// High specifity to override theme styles
	.wp-story-wrapper,
	.wp-story-slide {
		padding: 0;
		margin: 0;
		line-height: normal;
		list-style-type: none;
	}

	.wp-story-slide {
		display: flex;
		height: 100%;
		width: 100%;
		figure {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			margin: 0;
			position: relative;
			width: 100%;
		}
	}

	.wp-story-image {
		display: block;
		height: auto;
		max-height: 100%;
		max-width: 100%;
		width: auto;
		object-fit: contain;
	}

	.wp-story-button-prev,
	.wp-story-button-next,
	.wp-story-button-pause,
	.wp-story-button-play {
		background-color: rgba( 0, 0, 0, 0.5 );
		background-position: center;
		background-repeat: no-repeat;
		background-size: 24px;
		border: 0;
		border-radius: 4px;
		box-shadow: none;
		height: 48px;
		margin: -24px 0 0;
		padding: 0;
		transition: background-color 250ms;
		width: 48px;

		&:focus,
		&:hover {
			background-color: rgba( 0, 0, 0, 0.75 );
		}

		&:focus {
			outline: thin dotted $white;
			outline-offset: -4px;
		}
	}

	.amp-carousel-button {
		margin: 0;
	}

	.wp-story-button-prev,
	.wp-story-button-next {
		display: none;
	}

	&.player-container-rtl .player-button-prev.player-button-white,
	&.player-container-rtl .wp-block-jetpack-story_button-prev,
	.player-button-next.player-button-white,
	.wp-block-jetpack-story_button-next {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M5.88%204.12L13.76%2012l-7.88%207.88L8%2022l10-10L8%202z'%20fill='white'/%3E%3Cpath%20fill='none'%20d='M0 0h24v24H0z'/%3E%3C/svg%3E" );
	}

	&.player-container-rtl .player-button-next.player-button-white,
	&.player-container-rtl .wp-block-jetpack-story_button-next,
	.player-button-prev.player-button-white,
	.wp-block-jetpack-story_button-prev {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M18%204.12L10.12%2012%2018%2019.88%2015.88%2022l-10-10%2010-10z'%20fill='white'/%3E%3Cpath%20fill='none'%20d='M0 0h24v24H0z'/%3E%3C/svg%3E" );
	}

	.wp-story-button-pause,
	.wp-story-button-play {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M6%2019h4V5H6v14zm8-14v14h4V5h-4z'%20fill='white'/%3E%3Cpath%20d='M0%200h24v24H0z'%20fill='none'/%3E%3C/svg%3E" );
		display: none;
		margin-top: 0;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1;
	}

	.wp-story-pagination {
		position: absolute;
		text-align: center;
		z-index: 10;
	}

	.wp-story-pagination-bullets {
		padding: 6px 10px 0;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;

		.wp-story-pagination-bullet {
			flex: 1;
			background-color: transparent;
			opacity: 1;
			margin: 0 4px;
			padding: 6px 0;
			width: 15px;
			vertical-align: top;

			&:focus {
				outline: none;
				outline-offset: 0;
			}

			.wp-story-pagination-bullet-bar {
				width: 100%;
				height: 3px;
				border-radius: 1.5px;
				background: rgba(170, 170, 170, 0.8);
			}

			.wp-story-pagination-bullet-bar-progress {
				width: 0;
				opacity: 1;
				height: 3px;
				background-color: #fff;
			}
		}

		.wp-story-pagination-bullet[selected],
		.wp-story-pagination-bullet-active {
			background-color: transparent;

			.wp-story-pagination-bullet-bar-progress {
				animation: progress-bar 5s linear;
				animation-fill-mode: both;
			}
		}
	}
}
