@import '@automattic/jetpack-base-styles/style';

.jp-connect__disconnect-survey-card {
	border: 2px solid transparent;
	width: 800px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	text-align: left;
	padding: 0;
	position: relative;
	box-shadow: 0 0 15px var( --jp-gray-off );
	overflow: hidden; // used to hide the radio controls, the labels are used to capture related clicks

	&.card {
		padding: 0;
	}

	&--selected {
		border-color: var( --jp-black );
	}

	&:hover,
	&:focus-within {
		cursor: pointer;
		background: var( --jp-gray-off );
	}

	&::after {
		content: '';
		display: block;
		width: 5px;
		height: 5px;
		position: absolute;
		top: 50%;
		right: 1.5rem;
		border-top: 2px solid var( --jp-black );
		border-right: 2px solid var( --jp-black );
		transform: translateY( -50% ) rotate( 45deg );
	}

	&__radio,
	input.jp-connect__disconnect-survey-card__radio {
		position: absolute;
		opacity: 0; // can't see me :)
		transform: translateX( -100px ); // out of the card
	}

	&__label {
		font-size: 16px;
		font-weight: bold;
		display: block;
		padding: 1rem;
	}

	// Custom response
	&__custom-response {
		flex-grow: 1;
		margin: 0;
	}

	&__custom-response-label {
		position: absolute;
		text-indent: -9999px;
	}

	&--custom {
		display: flex;
		align-items: center;
	}
}

input.jp-connect__disconnect-survey-card__input {
	-webkit-appearance: none;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: var( --jp-black-80 );
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 40px;
	max-width: calc( 100% - 40px );
	font-weight: bold;
}
