$whatsapp: #2ab318;

.share-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	a {
		color: #fff;
		border-radius: 4px;

		&:hover {
			color: #fff;
		}

		&>span {
			display: flex;
			align-items: center;

			&>svg {
				border-radius: var(--jp-border-radius);
				color: #fff;
			}
		}
	}

	:global a.components-button svg {
		fill: currentColor;
	}

	:global :is(a, button).has-text.components-button.is-primary {
		padding: 0;
		background: transparent;
		justify-content: start;
		color: var(--jp-black);

		&:hover {
			background: transparent;
			color: var(--jp-gray-50);
		}
		svg {
			padding: var(--spacing-base);
			width: calc(var(--spacing-base) * 5);
			height: calc(var(--spacing-base) * 5);
		}
	}

	.twitter {
		background-color: var(--color-twitter);
	}

	.whatsapp {
		background-color: $whatsapp;
	}

	.clipboard {
		background-color: #fff;
		outline: 1px solid var(--jp-gray);
		color: var(--jp-black);
	}
}

.container {
	display: flex;
}

.label.label {
	font-size: 15px;
	font-weight: 400;
	line-height: 36px;
	margin-inline-start: 8px;
}
