@import '../../../scss/variables/_colors.scss';

.plan-price {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: $gray-text;

	&.is-inline {
		display: inline-block;
	}
}

.plan-price.is-original {
	color: $gray-text-min;
}

.plan-price.is-discounted {
	color: $gray-text;
}

.plan-price.is-discounted,
.plan-price.is-original {
	position: relative;
	align-items: stretch;
	margin-right: 0.25em;
}

.plan-price.is-original + .plan-price.is-discounted {
	margin-left: 0.25em;
}

.plan-price.is-original::before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	right: 0;
	border-top: 2px solid $blue-medium;
	transform: rotate( -16deg );
	opacity: 0.9;
}

.plan-price__currency-symbol,
.plan-price__fraction {
	font-size: 14px;
	vertical-align: baseline;
}

.plan-price.is-discounted .plan-price__currency-symbol {
	color: $gray-text;
}

.plan-price__currency-symbol {
	color: $gray-text-min;
}

.plan-price__integer {
	margin: 0 1px;
}
