.date-comparison-dropdown {

	&__button {
		background-color: var(--wpds-color-background-surface-neutral-strong);
	}
}

.date-filters-panel-button {
	background-color: var(--wpds-color-background-surface-neutral-strong);
}

.date-comparison-dropdown__popover {
	width: 235px;
}

/* disable animation for the date range popover */
@media not ( prefers-reduced-motion: reduce ) {

	.date-comparison-dropdown__popover {
		view-transition-name: jp-premium-analytics--date-comparison-dropdown;
		transition: none !important;
	}
}

/* ensure it's above the canvas/stage during the transition */
::view-transition-group(jp-premium-analytics--date-comparison-dropdown) {
	z-index: 3000;
}

/* no animation for the snapshot (avoid "flashing") */
::view-transition-new(jp-premium-analytics--date-comparison-dropdown),
::view-transition-old(jp-premium-analytics--date-comparison-dropdown) {
	animation: none;
}
