.jetpack-external-media-header__openverse {
	display: flex;
	margin-bottom: 48px;

	.components-base-control {
		flex: 1;
		margin-right: 12px;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-base-control__field,
	.components-text-control__input {
		height: 100%;
	}
}
