# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
# /src/js/example.min.js  production-include
# Files to include in Automattic/wpcom-site-helper
/vendor/autoload.php                          production-include
/vendor/autoload_packages.php                 production-include
/vendor/automattic/**                         production-include
/vendor/composer/**                           production-include
/vendor/jetpack-autoloader/**                 production-include
/vendor/league/uri-interfaces/**              production-include
/vendor/league/uri/**                         production-include
/vendor/psr/http-factory/**                   production-include
/vendor/psr/http-message/**                   production-include
/vendor/scssphp/scssphp/**                    production-include
/vendor/scssphp/source-span/**                production-include
/vendor/symfony/filesystem/**                 production-include
/vendor/symfony/polyfill-ctype/**             production-include
/vendor/symfony/polyfill-mbstring/**          production-include
/vendor/tubalmartin/**                        production-include
/vendor/wordpress/classic-editor-plugin/**    production-include
/vendor/wp-php-toolkit/bytestream/**             production-include
/vendor/wp-php-toolkit/data-liberation/**         production-include
/vendor/wp-php-toolkit/encoding/**                production-include
/vendor/wp-php-toolkit/filesystem/**              production-include
/vendor/wp-php-toolkit/html/**                    production-include
/vendor/wp-php-toolkit/http-client/**             production-include
/vendor/wp-php-toolkit/reprint-exporter/**        production-include
/vendor/wp-php-toolkit/reprint-importer/**        production-include
/vendor/wp-php-toolkit/xml/**                     production-include
/jetpack_vendor/**                            production-include

# Files to exclude from the mirror repo, but included in the monorepo.
# (see also entries in the monorepo root .gitattributes)
# Remember to end all directories with `/**` to properly tag every file.
.dockerignore                                 production-exclude
/README.md                                    production-exclude
/bin/**                                       production-exclude
/build/**                                     production-exclude
/Makefile                                     production-exclude
/*/README.md                                  production-exclude

# Cruft from git repos imported as packages
# @todo Fix these upstream.
/vendor/automattic/custom-fonts-typekit/.*               production-exclude
/vendor/automattic/custom-fonts-typekit/google.json      production-exclude
/vendor/automattic/custom-fonts-typekit/package.json     production-exclude
/vendor/automattic/custom-fonts-typekit/CONTRIBUTING.md  production-exclude
/vendor/automattic/custom-fonts-typekit/tests/**         production-exclude
/vendor/automattic/custom-fonts/Providers.md             production-exclude
/vendor/automattic/custom-fonts/.*                       production-exclude
/vendor/automattic/custom-fonts/dummy.json               production-exclude
/vendor/automattic/custom-fonts/package-lock.json        production-exclude
/vendor/automattic/custom-fonts/package.json             production-exclude
/vendor/automattic/custom-fonts/annotations.md           production-exclude
/vendor/automattic/custom-fonts/tests/**                 production-exclude
/vendor/automattic/wc-calypso-bridge/.*                  production-exclude
/vendor/automattic/wc-calypso-bridge/.*/**               production-exclude
/vendor/automattic/wc-calypso-bridge/bin/**              production-exclude
/vendor/automattic/wc-calypso-bridge/**/*.ts             production-exclude
/vendor/automattic/wc-calypso-bridge/**/*.tsx            production-exclude
/vendor/automattic/wc-calypso-bridge/**/*.jsx            production-exclude
/vendor/automattic/wc-calypso-bridge/**/*.scss           production-exclude
/vendor/automattic/wc-calypso-bridge/phpcs.xml.dist      production-exclude
/vendor/automattic/wc-calypso-bridge/package-lock.json   production-exclude
/vendor/automattic/wc-calypso-bridge/**/package.json     production-exclude
/vendor/automattic/wc-calypso-bridge/**/phpunit.xml      production-exclude
/vendor/automattic/wc-calypso-bridge/**/test/**          production-exclude
/vendor/automattic/wc-calypso-bridge/**/tests/**         production-exclude

# Cruft from poorly-cleaned vendor packages.
# @todo File bugs for these upstream.
/vendor/wp-php-toolkit/*/Tests/**                        production-exclude
/vendor/wp-php-toolkit/*/*.sh                            production-exclude
/vendor/wp-php-toolkit/*/bin/**                          production-exclude
/vendor/wp-php-toolkit/*/**/phpstan.neon                 production-exclude
/vendor/wp-php-toolkit/*/**/phpunit.xml                  production-exclude
/vendor/wp-php-toolkit/*/**/tests/**                     production-exclude
/vendor/tubalmartin/cssmin/tests/**                      production-exclude
