<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheResultFile=".phpunit.cache/test-results"
	colors="true"
	executionOrder="depends"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="wpcloud">
			<directory suffix="Test.php">tests/</directory>
			<exclude>tests/feature-manager/FeatureHookTest.php</exclude>
			<exclude>tests/BlogTokenResilienceTest.php</exclude>
			<exclude>tests/FrontendNoticesTest.php</exclude>
			<exclude>tests/FunctionsTest.php</exclude>
			<exclude>tests/PlanNoticesTest.php</exclude>
			<exclude>tests/WpcomFeaturesTest.php</exclude>
		</testsuite>
		<testsuite name="other">
			<file>tests/feature-manager/FeatureHookTest.php</file>
			<file>tests/BlogTokenResilienceTest.php</file>
			<file>tests/FrontendNoticesTest.php</file>
			<file>tests/FunctionsTest.php</file>
			<file>tests/PlanNoticesTest.php</file>
			<file>tests/WpcomFeaturesTest.php</file>
		</testsuite>
	</testsuites>

	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>
</phpunit>
