@import '../../../shared/styles/gutenberg-base-styles.scss';
@import '../../../shared/styles/jetpack-variables.scss';


.wp-story-container {
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	padding: 0;
	z-index: 1;
	background-color: #0e1112;

	&.wp-story-initialized {
		opacity: 1;
	}

	.wp-story-clickable {
		cursor: pointer;
	}

	// High specifity to override theme styles
	.wp-story-wrapper,
	.wp-story-slide {
		padding: 0;
		margin: 0;
		line-height: normal;
		list-style-type: none;
	}

	.wp-story-wrapper {
		display: block;
		position: absolute;
		height: auto;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}

	.wp-story-slide {
		display: flex;
		height: 100%;
		width: 100%;
		figure {
			align-items: center;
			display: flex;
			height: 100%;
			width: 100%;
			justify-content: center;
			margin: 0;
			position: relative;

			video {
				width: 100%;
			}
		}
	}

	.wp-story-image, .wp-story-video {
		display: block;
		height: auto;
		width: auto;
		max-height: 100%;
		max-width: 100%;
		margin: 0;
		border: 0;
	}

	.wp-story-meta, .wp-story-controls {
		display: none;
	}

	.wp-story-button-fullscreen-prev,
	.wp-story-button-fullscreen-next,
	.wp-story-button-fullscreen-pause,
	.wp-story-button-fullscreen-play {
		background-color: rgba( 0, 0, 0, 0.5 );
		background-position: center;
		background-repeat: no-repeat;
		background-size: 24px;
		border: 0;
		border-radius: 4px;
		box-shadow: none;
		height: 48px;
		margin: -24px 0 0;
		padding: 0;
		transition: background-color 250ms;
		width: 48px;

		&:focus,
		&:hover {
			background-color: rgba( 0, 0, 0, 0.75 );
		}

		&:focus {
			outline: thin dotted $white;
			outline-offset: -4px;
		}
	}

	.amp-carousel-button {
		margin: 0;
	}

	&.player-container-rtl .player-button-prev.player-button-white,
	&.player-container-rtl .wp-block-jetpack-story_button-prev,
	.player-button-next.player-button-white,
	.wp-block-jetpack-story_button-next {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M5.88%204.12L13.76%2012l-7.88%207.88L8%2022l10-10L8%202z'%20fill='white'/%3E%3Cpath%20fill='none'%20d='M0 0h24v24H0z'/%3E%3C/svg%3E" );
	}

	&.player-container-rtl .player-button-next.player-button-white,
	&.player-container-rtl .wp-block-jetpack-story_button-next,
	.player-button-prev.player-button-white,
	.wp-block-jetpack-story_button-prev {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M18%204.12L10.12%2012%2018%2019.88%2015.88%2022l-10-10%2010-10z'%20fill='white'/%3E%3Cpath%20fill='none'%20d='M0 0h24v24H0z'/%3E%3C/svg%3E" );
	}

	.wp-story-overlay {
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		.wp-story-button-play,
		.wp-story-button-replay {
			cursor: pointer;
		}

		&.wp-story-ended {
			background-color: rgba(0,0,0,0.4);
		}
	}

	.wp-story-prev-slide,
	.wp-story-next-slide {
		display: none;
		position: absolute;

		button {
			border-width: 0;
			&:hover {
				border-width: 2px;
			}
		}
	}

	.wp-story-prev-slide {
		margin: auto;
		left: -84px;
	}

	.wp-story-next-slide {
		margin: auto;
		right: -84px;
	}

	.wp-story-pagination {
		position: absolute;
		text-align: center;
		z-index: 10;
	}

	.wp-story-pagination-bullets {
		display: flex;
		padding: 6px 10px 0;
		top: 0;
		right: 0;
		left: 0;

		.wp-story-pagination-bullet {
			flex: 1;
			background-color: transparent;
			opacity: 1;
			margin: 0 2px;
			padding: 6px 0;
			vertical-align: top;
			border: 0;

			&:focus {
				outline: none;
				outline-offset: 0;
			}

			.wp-story-pagination-bullet-bar {
				min-width: 12px;
				width: 100%;
				height: 4px;
				//border-radius: 1.5px;
				background: rgba(170, 170, 170, 0.8);
			}

			.wp-story-pagination-bullet-bar-progress {
				width: 0;
				opacity: 1;
				height: 4px;
				background-color: #fff;
				transition: width 50ms;
			}
		}
	}
}

.wp-block-jetpack-story.wp-story-fullscreen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 99999;
	width: 100% !important;
	max-width: 100% !important;
	height: 100%;
	background-color: #0e1112;
}

.wp-story-container.wp-story-fullscreen {
	margin: auto;
	height: 100%;
	max-width:100%;
	max-height:100%;

	.wp-story-wrapper {
		margin-top: 84px;
		margin-bottom: 84px;
	}

	.wp-story-slide {
		height:100%;
		width:auto;
	}

	.wp-story-meta {
		padding: 20px 0;
		display: flex;
		flex-direction: row;
		color: #fff;
		font-family: sans-serif;
		line-height: 20px;
		align-items: center;

		.wp-story-icon {
			background-color: #fff;
			width: 40px;
			height: 40px;
			margin: 0 16px 0 0;
			border: 2px solid #fff;
			border-radius: 4px;

			img {
				text-align: center;
				width: 40px;
				height: 40px;
			}
		}

		.wp-story-site-name {
			font-size: 14px;
			font-weight: 600;
		}

		.wp-story-site-description {
			font-size: 11px;
			font-weight: 400;
		}

		.wp-story-exit-fullscreen {
			margin-left: auto;
			order: 3;
		}
	}

	.wp-story-overlay {
		margin-top: 84px;
		margin-bottom: 84px;
	}

	.wp-story-prev-slide,
	.wp-story-next-slide {
		display: block;
	}

	.wp-story-controls {
		width: 88px;
		order: 3;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: auto;
		position: absolute;
		bottom: 20px;
		top: auto;
	}

	.wp-story-pagination-bullets {
		display: flex;
		position: absolute;
		bottom: 42px;
		top: auto;
		padding: 14px 0;

		.wp-story-pagination-bullet {
			justify-content: space-between;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

	}
}

@media (max-width: 768px) {
	.wp-story-container.wp-story-fullscreen {

		.wp-story-wrapper,
		.wp-story-overlay {
			margin-top: 0;
			margin-bottom: 0;
		}

		.wp-story-overlay {
			top: 76px;
			bottom: 76px;
		}

		.wp-story-meta {
			padding: 16px;
			background: rgb(0,0,0);
			background: linear-gradient(180deg, rgba(0,0,0,0.6320903361344538) 0%, rgba(0,0,0,0) 100%);
		}

		.wp-story-prev-slide,
		.wp-story-next-slide {
			display: none;
		}

		.wp-story-controls {
			bottom: 50px;
			margin: 0 16px;
		}

		.wp-story-pagination-bullets {
			bottom: 16px;
			padding: 10px 16px;
		}
	}
}

html.wp-story-in-fullscreen {
	overflow: hidden;
}

body.wp-story-in-fullscreen {
	overflow: hidden;
	padding-right: 15px; /* Avoid width reflow */
	position: fixed;
	width: 100%;
	height: 100%;
}
