@import '../../../shared/styles/gutenberg-base-styles.scss';
@import '../../../shared/styles/jetpack-variables.scss';
@import './variables.scss';
@import '~@wordpress/components/src/spinner/style';

.wp-story-container {
	height: 496px;
	width: 279px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	padding: 0;
	z-index: 1;

	&.wp-story-initialized {
		opacity: 1;
	}

	.wp-story-clickable {
		cursor: pointer;
	}

	.wp-story-wrapper,
	.wp-story-slide {
		padding: 0;
		margin: 0;
		line-height: normal;
		list-style-type: none;
	}

	.wp-story-wrapper {
		display: block;
		position: absolute;
		height: auto;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		border-radius: 8px;
		overflow: hidden;
		background-color: $wp-story-background-color;
	}

	.wp-story-slide {
		display: flex;
		height: 100%;
		width: 100%;
		figure {
			align-items: center;
			display: flex;
			height: 100%;
			width: 100%;
			justify-content: center;
			margin: 0;
			position: relative;

			video {
				width: 100%;
			}
		}
	}

	.wp-story-image, .wp-story-video {
		display: block;
		height: auto;
		width: auto;
		max-height: 100%;
		max-width: 100%;
		margin: 0;
		border: 0;
	}

	.wp-story-meta, .wp-story-controls {
		display: none;
	}

	.wp-story-overlay {
		width: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		border-radius: 8px;

		.wp-story-button-play,
		.wp-story-button-replay {
			cursor: pointer;
		}
	}

	&.wp-story-ended,
	&.wp-story-disabled {
		.wp-story-overlay {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	.wp-story-prev-slide,
	.wp-story-next-slide {
		display: none;
		position: absolute;

		button {
			border-width: 0;
			&:hover {
				border-width: 2px;
			}
		}
	}

	.wp-story-prev-slide {
		margin: auto;
		left: -84px;
	}

	.wp-story-next-slide {
		margin: auto;
		right: -84px;
	}

	.wp-story-pagination {
		position: absolute;
		text-align: center;
		z-index: 2;
	}

	.wp-story-pagination-bullets {
		display: flex;
		position: absolute;
		padding: 7px 10px;
		top: auto;
		right: 0;
		left: 0;
		bottom: 0;

		.wp-story-pagination-bullet {
			flex: 1;
			justify-content: space-between;
			background-color: transparent;
			opacity: 1;
			margin: 0 2px;
			padding: 6px 0;
			vertical-align: top;
			border: 0;

			&:focus {
				outline: none;
				outline-offset: 0;
			}

			.wp-story-pagination-bullet-bar {
				min-width: 12px;
				width: 100%;
				height: 4px;
				background: $wp-story-pagination-bullet-color;
			}

			.wp-story-pagination-bullet-bar-progress {
				width: 0;
				opacity: 1;
				height: 4px;
				background-color: $wp-story-pagination-bullet-progress-color;
				transition: width 50ms;
			}
		}
	}

	.wp-story-controls {
		display: none;
		width: 64px;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 10px;
		position: absolute;
		bottom: 30px;
		z-index: 3;

		@media ( max-width: $break-medium ) {
			bottom: 50px;
			margin: 0 16px;
		}
	}
}

.wp-story-with-controls {
	overflow: visible;

	.wp-story-prev-slide,
	.wp-story-next-slide {
		display: block;
	}

	.wp-story-prev-slide {
		margin: auto;
		left: -48px;
	}

	.wp-story-next-slide {
		margin: auto;
		right: -48px;
	}

	.wp-story-controls {
		display: flex;
	}
}

.wp-story-fullscreen {
	&.wp-story-app {
		position: fixed;
		// can force redraw on mobile safari
		transform: translate3d(0,0,0);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		z-index: 99999;
		width: 100% !important;
		max-width: 100% !important;
		height: 100%;
	}

	&.wp-story-container {
		margin: auto;
		height: 100%;
		max-width: 100%;
		max-height: 100%;

		.wp-story-wrapper {
			margin-top: 84px;
			margin-bottom: 84px;
			border-radius: 0;

			@media ( max-width: $break-medium ) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.wp-story-slide {
			height: 100%;
			width: auto;

			&.is-loading {
				background-color: #484542;
				align-items: center;
				justify-content: center;

				@keyframes rotate-spinner {
					100% {
						transform: rotate( 360deg );
					}
				}

				.spinner {
					display: flex;
					align-items: center;
				}

				.spinner__outer, .spinner__inner {
					margin: auto;
					box-sizing: border-box;
					border: 0.1em solid transparent;
					border-radius: 50%;
					animation: 3s linear infinite;
					animation-name: rotate-spinner;
				}

				.spinner__outer {
					width: 40px;
					height: 40px;
					font-size: 40px;
					border-top-color: #FFF;
				}

				.spinner__inner {
					width: 100%;
					height: 100%;
					border-top-color: #C4C4C4;
					border-right-color: #C4C4C4;
					opacity: 0.4;
				}
			}
		}

		.wp-story-meta {
			padding: 20px 0;
			display: flex;
			flex-direction: row;
			color: #fff;
			font-family: sans-serif;
			line-height: 20px;
			align-items: center;

			@media ( max-width: $break-medium ) {
				padding: 16px;
				background: rgb(0,0,0);
				background: linear-gradient(180deg, rgba(0,0,0,0.63) 0%, rgba(0,0,0,0) 100%);
			}

			.wp-story-icon {
				background-color: #fff;
				width: 40px;
				height: 40px;
				margin: 0 16px 0 0;
				border: 2px solid #fff;
				border-radius: 4px;

				img {
					text-align: center;
					width: 100%;
					height: 100%;
				}

				@media ( max-width: $break-medium ) {
					width: 24px;
					height: 24px;
					margin: 0px 12px 0 0;
				}
			}

			.wp-story-title {
				font-size: 14px;
				font-weight: 600;

				@media ( max-width: $break-medium ) {
					font-size: 12px;
				}
			}

			.wp-story-exit-fullscreen {
				margin-left: auto;
				order: 3;
			}
		}

		.wp-story-overlay {
			margin-top: 84px;
			margin-bottom: 84px;
			border-radius: 0;

			@media ( max-width: $break-medium ) {
				margin-top: 0;
				margin-bottom: 0;
				top: 76px;
				bottom: 76px;
			}
		}

		.wp-story-prev-slide,
		.wp-story-next-slide {
			display: block;

			@media ( max-width: $break-medium ) {
				display:block;
				position: absolute;
				top: 0;
				bottom: 0;
				height: 100%;

				button {
					display: none;
				}
			}
		}

		.wp-story-prev-slide {
			@media ( max-width: $break-medium ) {
				left: 0;
				width: 33.33%;
			}
		}

		.wp-story-next-slide {
			@media ( max-width: $break-medium ) {
				right: 0;
				width: 66.66%;
			}
		}

		.wp-story-controls {
			width: 88px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: absolute;
			bottom: 20px;
			margin: 0;

			@media ( max-width: $break-medium ) {
				bottom: 36px;
				margin: 0 16px;
			}
		}

		.wp-story-pagination-bullets {
			display: flex;
			position: absolute;
			bottom: 42px;
			top: auto;
			padding: 14px 0;

			.wp-story-pagination-bullet {
				justify-content: space-between;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			@media ( max-width: $break-medium ) {
				bottom: 0;
				padding: 10px 16px;
			}
		}
	}
}

.wp-story-background {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
	background-color: $wp-story-background-color;

	svg {
		width: 0;
		height: 0;
	}

	img {
		width: 100%;
		height: 100%;

	}

	.wp-story-background-dark {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.12;

		@supports (backdrop-filter: none) {
			backdrop-filter: blur(18px);
		}
	}

	.wp-story-background-image {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 100% auto;

		@supports not (backdrop-filter: none) {
			filter: blur(18px);
			filter: url(#gaussian-blur-18);
			filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
		}
	}

	.wp-story-background-blur {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0.88;
		background-color: $wp-story-background-color;

		@supports (backdrop-filter: none) {
			backdrop-filter: blur(18px);
		}
	}
}

html.wp-story-in-fullscreen {
	overflow: hidden;
}

body.wp-story-in-fullscreen {
	overflow: hidden;
	padding-right: 15px; /* Avoid width reflow */
	position: fixed;
	width: 100%;
	height: 100%;
}

