.relative-col {
	position: relative;
}

.close-link {
	position: absolute;
	right: 32px;
	top: 32px;
	z-index: 1;
}

.account-description {
	color: var(--jp-gray-50);
	font-size: 13px;
	margin-bottom: 8px;
	width: 60%;
}

.account-images {
	display: flex;
	align-items: center;
	gap: 8px;
	
	li {
		background: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}

.wordpress {
	max-width: 110px;
}

.google {
	width: 16px;
}

.apple {
	height: 18px;
}

.github {
	width: 16px;
}

.all-features {
	display: inline-flex;
	align-items: center;
}
