#protect_dashboard_widget .inside {
	margin: 0;
	padding: 0;
	text-align: center;
}

.jetpack-security * {
	box-sizing: border-box;
}

.blocked-attacks,
.file-scanning {
	position: relative;
}

.blocked-attacks {
	background: #fafafa;
	border-bottom: 1px #eee solid;
	padding-bottom: 35px;
}

.blocked-attacks h2, 
.blocked-attacks h3 {
	color: #7BAC48;
	font-family: "proxima-nova", "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.blocked-attacks h2 {
	font-size: 4em;
	line-height: 110%;
	margin: 0;
	padding: 10px 12px 10px 12px;
}

.blocked-attacks h3 {
	font-size: 1.1em;
	line-height: 110%;
	padding: 0 12px 10px 12px;
	margin: 0;
}

.jetpack-protect-logo {
	width: 50px;
	/* height: 55px;  just for testing. remove once image is actually added */
	position: relative;
}

.file-scanning {
	margin-top: -30px;
	padding: 0 12px;
}