/* Need to move into modular css */

#non-editable-whitelist {
    width: 30%;
    float: right;
}

#editable-whitelist {
    width: 65%;
    float: left;
}


.configure-module p {
    font-size: 14px;
}

.protect-status p {
    font-size: 16px;
}

.protect-whitelist {
    margin-top: 25px;
}

.protect-whitelist h3 {
    margin: 0;
}

#editable-whitelist .whitelist-table {
    width: 100%;
}


/* btns + inputs */

.configure-module input[disabled] {
    opacity: .5;
}

.configure-module input.button-primary {
    font-weight: bold;
}


/* whitelist table */

.whitelist-table {
    border-top: 1px solid #555;
    border-right: 1px solid #555;
}

.whitelist-table td, .whitelist-table th {
    padding: 2px 5px;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    font-size: 12px;
    margin: 0;
}

.whitelist-table th.heading {
    font-weight: bold;
    background-color: #555;
    color: white;
}

.ip-row {
    width: 100%;
}

.ip-address {
    width: 90%;
    text-align: left;
    vertical-align: middle;
}

.delete-ip-address {
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
    box-shadow: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.whitelist-table td.item-actions {
    border-left: none !important;
}

.whitelist-table .toolbar td {
    background-color: #CCC;
    text-align: right;
}