// Common styles for both views (editor and frontend).
@import '../../shared/styles/gutenberg-base-styles.scss';

.wp-block-jetpack-donations {
	.donations__container {
		border: 1px solid $light-gray-700;
	}

	.donations__nav {
		display: flex;
		border-bottom: 1px solid $light-gray-700;
	}

	.donations__nav-item {
		font-weight: bold;
		display: inline-block;
		flex: 1;
		text-align: center;
		font-size: 16px;
		padding: 12px;
		border: none;
		border-left: 1px solid $light-gray-700;
		background: $white;
		color: $gray-900;
		cursor: pointer;
		border-radius: 0;
		text-transform: none;
		text-decoration: none;
		outline: none;

		@include break-small() {
			padding: 16px 24px;
		}

		&:first-child {
			border-left: none;
		}

		&.is-active {
			background: var(--wp-admin-theme-color);
			color: $white;
			cursor: default;
		}

		&:not( .is-active ) {
			// Decrease brightness on inactive tab so the active tab looks different when a custom background color is set.
			filter: brightness( 85% );
		}
	}

	.donations__content {
		padding: 0 24px;
	}

	.donations__amounts {
		margin-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.donations__amount {
		display: inline-block;
		padding: 16px 24px;
		background-color: $white;
		color: $gray-900;
		border: 1px solid $light-gray-700;
		margin-right: 8px;
		margin-bottom: 8px;
		font-weight: 600;
		font-size: 16px;
		white-space: nowrap;

		&.has-error {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px $alert-red;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}
	}

	.donations__custom-amount .donations__amount-value {
		display: inline-block;
		text-align: left;
		margin-left: 4px;
		min-width: 60px;
	}

	.donations__separator {
		line-height: 8px;
		height: 8px;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.donations__donate-button {
		margin: 0;
	}
}
