// Common styles for both views (editor and frontend).

.wp-block-jetpack-donations {
	.donations__container {
		border: 1px solid $light-gray-700;
	}

	.donations__nav {
		display: flex;
		border-bottom: 1px solid $light-gray-700;
	}

	.donations__nav-item {
		font-weight: bold;
		display: inline-block;
		flex-grow: 1;
		text-align: center;
		font-size: 16px;
		padding: 16px 24px;
		border: none;
		border-left: 1px solid $light-gray-700;
		background: $white;
		color: $dark-gray-800;
		cursor: pointer;
		border-radius: 0;
		text-transform: none;
		text-decoration: none;
		outline: none;

		&:first-child {
			border-left: none;
		}

		&:hover {
			background: $light-gray-100;
			color: $dark-gray-800;
		}

		&.is-active {
			background: $blue-wordpress-700;
			color: $white;
			cursor: default;
		}
	}

	.donations__content {
		padding: 0 24px;
	}

	.donations__amounts {
		margin-top: 30px;
		margin-bottom: 30px;
		display: flex;
	}

	.donations__amount {
		display: inline-block;
		padding: 16px 24px;
		background-color: $white;
		color: $dark-gray-800;
		border: 1px solid $light-gray-700;
		margin-right: 8px;
		font-weight: 600;
		font-size: 16px;

		&.has-focus {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px $blue-wordpress-700;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}

		&.has-error {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px $alert-red;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}
	}

	.donations__custom-amount .donations__amount-value {
		display: inline-block;
		text-align: left;
		margin-left: 4px;
		min-width: 60px;
	}

	.donations__separator {
		line-height: 8px;
		height: 8px;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.donations__donate-button {
		margin-bottom: 30px;
	}
}
