@import '../../shared/styles/gutenberg-base-styles.scss';
@import './common';

.wp-block-jetpack-donations {
	.donations__amount .block-editor-rich-text__editable {
		display: inline-block;
		text-align: left;

		&:focus {
			box-shadow: none;
			outline: none;
			outline-offset: 0;
		}
	}

	.donations__amount.wp-block-button:not(.has-text-color):not(.is-style-outline) [data-rich-text-placeholder]:after {
		color: $light-gray-700;
	}

	.donations__custom-amount .wp-block-button__link {
		cursor: default;
	}

	.donations__custom-amount .donations__amount-value {
		color: $light-gray-700;
	}

	.jetpack-block-nudge {
		max-width: none;
	}
}

.jetpack-donations__currency-toggle {
	font-weight: bold;
	line-height: 100%;
	width: max-content;
}

.jetpack-donations__currency-popover .components-popover__content {
	min-width: 120px;
}
