/**
 * External dependencies
 */
import { __ } from '@wordpress/i18n';
import { BlockIcon } from '@wordpress/block-editor';
import { Notice, Placeholder } from '@wordpress/components';
import { useState } from '@wordpress/element';

/**
 * Internal dependencies
 */
import './editor.scss';
import icon from './icon';

export default function {{ className }}Edit( { attributes, className, setAttributes } ) {
	/**
	 * Write the block editor UI.
	 *
	 * @returns {object} The UI displayed when user edits this block.
	 */
	const [ notice, setNotice ] = useState();

	/* Call this function when you want to show an error in the placeholder. */
	const setErrorNotice = () => setNotice( __( 'Put error message here.', 'jetpack' ) );

	return (
		<div className={ className }>
			<Placeholder
				label={ __( '{{ title }}', 'jetpack' ) }
				instructions={ __( 'Instructions go here.', 'jetpack' ) }
				icon={ <BlockIcon icon={ icon } /> }
				notices={
					notice && (
						<Notice status="error" isDismissible={ false }>
							{ notice }
						</Notice>
					)
				}
			>
				{ __( 'User input goes here?', 'jetpack' ) }
			</Placeholder>
		</div>
	);
}
