/**
* External dependencies
*/
import { __ } from '@wordpress/i18n';
import { Component, Fragment } from '@wordpress/element';

/**
* Internal dependencies
*/
/* @TODO add any needed dependency */

import './editor.scss';

class {{ className }}Edit extends Component {

    render() {
        const { attributes, setAttributes } = this.props;

        return (
            <Fragment>

            </Fragment>
        );
    }
}

export default {{ className }}Edit;
