<?php
/**
 * {{ title }} Block.
 *
 * @since 7.x
 *
 * @package Jetpack
 */

jetpack_register_block(
	'jetpack/{{ slug }}',
	array( 'render_callback' => 'jetpack_{{ underscoredSlug }}_block_load_assets' )
);

/**
 * {{ title }} block registration/dependency declaration.
 *
 * @param array  $attr    Array containing the {{ title }} block attributes.
 * @param string $content String containing the {{ title }} block content.
 *
 * @return string
 */
function jetpack_{{ underscoredSlug }}_block_load_assets( $attr, $content ) {
	Jetpack_Gutenberg::load_assets_as_required( '{{ slug }}' );
	return $content;
}
