@import '@wordpress/dataviews/build-style/style.css';

.session__media {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&.valid {
		background-color: #EDFFEE;
		border-color: #EDFFEE;

        svg {
            fill: var( --jp-green-40 );
        }
	}

	&.suspicious {
		background-color: #FFF8DC;
		border-color: #FFF8DC;

		svg {
			fill: var( --jp-yellow-40 );
		}
	}
}

.session__tooltip {
	max-width: 240px;
	border-radius: 4px;
	text-align: left;
}

.session__icon {
	min-width: 32px;
	display: flex;
	justify-content: center;
}

.sessions-modal__content {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 3 ); // 24px
	min-width: 420px;
	max-width: 680px;
	background-color: var( --jp-white-off );
	margin-left: -32px;
	margin-right: -32px;
	padding: calc( var( --spacing-base ) * 4 ); // 32px
	border-top: 1px solid var( --jp-gray-5 );
	border-bottom: 1px solid var( --jp-gray-5 );
	color: var( --jp-black );
}

.sessions-modal__section {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 2 ); // 16px
	padding-right: var( --spacing-base ); // 8px
}

.sessions-modal__session-title {
	font-weight: 600;
	color: var( --jp-black );
}

.sessions-modal__footer {
	padding-top: calc( var( --spacing-base ) * 4 ); // 32px
}

.sessions-modal__footer__actions {
	display: flex;
	justify-content: flex-end;
	gap: calc( var( --spacing-base ) * 2 ); // 16px
}

.sessions__toggles {
	display: flex;
	flex-direction: column;
	gap: var( --spacing-base ); // 8px

	.sessions__toggle + .sessions__toggle {
		border-top: 1px solid var( --jp-gray-5 );
		padding-top: var( --spacing-base );
	}

	:global {
		.components-toggle-control {
			--spacing-base: 16px;

			.components-toggle-control__label {
				font-size: var( --font-body );
				font-weight: 500;
			}

			.components-h-stack {
				gap: var( --spacing-base );
			}
			
			.components-toggle-control__help {
				font-size: var( --font-body-small );
				color: inherit;
			}
		}
	}
}
