.jp-dialogue-full__container {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100; // to sit over other elements
	background: rgba($gray-light, .95);
	text-align: center;
	padding: rem( 32px );
	height: 100%;
}

.jp-dialogue {
	text-align: center;
	max-width: rem( 600px );
	margin: 0 auto rem( 32px );
	overflow: hidden;

	@include breakpoint( "<660px" ) {
		text-align: left;
	}

	p {
		font-size: rem( 14px );
		color: $gray-text-min;
	}

	img {
		max-width: 100%;
	}

	p + img {
		margin: rem( 32px ) 0 rem( 16px );
	}

	.dops-card {
		margin-bottom: 0;
	}

	.jp-dialogue-card__below {
		text-align: left;
	}
}

.jp-dialogue-full__dismiss {
	cursor: pointer;
	position: absolute;
	right: -10px;
	top: -10px;
	fill: $gray;
	padding: rem( 16px );
	height: rem( 24px );
	width: rem( 24px );
}

.jp-dialogue__title {
	font-weight: 300;
	text-align: center;
	font-size: rem( 24px );
	margin-bottom: rem( 32px );
}

.jp-dialogue__note, a.jp-dialogue__note {
	margin: 0;
	padding: rem( 16px ) 0 0;
	font-size: rem( 14px );
	clear: both;
	font-style: italic;
}

// Planet + star svgs for decoration only
.jp-dialogue-full__svg-jupiter {
	position: absolute;
	right: 0;
	top: rem( 80px );
	opacity: .90;
}

.jp-dialogue-full__svg-stars {
	position: absolute;
	left: rem( 100px );
	top: rem( 100px );
	opacity: .90;
}

.jp-dialogue__cta-container {
	padding: rem( 8px ) 0 0;

	.dops-button {
		margin: 0 rem( 8px );
	}
}

.jp-upgrade-notice__content {
	.jp-upgrade-notice__enable-module {
		.jp-form-has-child {
			padding-left: 30px;

			.jp-form-fieldset {
				margin-bottom: 0.4rem;
			}
		}
	}
}

.jp-upgrade-notice__enable-module {
	margin-bottom: calc(1em + 8px);

	.jp-form-settings-group {
		margin: 0px auto;
		max-width: 400px;
		text-align: left;
	}

	.jp-form-has-child {
		padding: 10px;
		padding-right: 30px;
	}

	.jp-support-info {
		top: rem( 15px );
		right: rem( 15px );
	}
}
