# Not loaded by default eslint, but we use tools/js-tools/load-eslint-ignore.js in .eslintrc to pull it in.

/.size-limit.js
/3rd-party/debug-bar/debug-bar.js
/_inc/client/**/test/*.js
/_inc/jetpack-modules.models.js
/_inc/postmessage.js

/modules/custom-css/custom-css/js/core-customizer-css-preview.js
/modules/custom-css/custom-css/js/core-customizer-css.core-4.9.js
/modules/custom-css/custom-css/js/core-customizer-css.js
/modules/widgets/search/js/search-widget-admin.js

# Temporary ignore until Jest is set up
/extensions/**/test/
