## FOLDERS
/.sass-cache/
/.vscode/
/allure-results/
/_inc/blocks
/_inc/build
/css
/logs
/node_modules
/vendor/
/wpcom-test-backup/
/.cache/

## FILES
/modules/**/*/block.js
/modules/**/*.css.map
/modules/**/*.min.css
/modules/**/*-rtl.css
/modules/module-headings.php
/modules/photon-cdn/jetpack-manifest.php
/tests/php/files/jetpack-150x150.jpg
