# Files to include in Automattic/jetpack-production.
# Remember to end all directories with `/**` to properly tag every file.
/_inc/blocks/**                                          production-include
/_inc/build/**                                           production-include
/css/**                                                  production-include
/jetpack_vendor/**                                       production-include
/modules/**/*-rtl.css                                    production-include
/modules/**/*.min.css                                    production-include
/modules/**/*/block.js                                   production-include
/modules/module-headings.php                             production-include
/modules/photon-cdn/jetpack-manifest.php                 production-include
/vendor/autoload.php                                     production-include
/vendor/autoload_functions.php                           production-include
/vendor/autoload_packages.php                            production-include
/vendor/automattic/**                                    production-include
/vendor/composer/**                                      production-include
/vendor/jetpack-autoloader/**                            production-include
/vendor/nojimage/**                                      production-include
/vendor/scssphp/**                                       production-include
/vendor/wikimedia/aho-corasick/**                        production-include

# Files to exclude from Automattic/jetpack-production.
# (see also entries in the monorepo root .gitattributes)
# Remember to end all directories with `/**` to properly tag every file.
/global.d.ts                                             production-exclude
/.sass-cache/**                                          production-exclude
/.wp-env.json                                            production-exclude
/LICENSE.txt                                             production-exclude
/_inc/build/*.css.map                                    production-exclude
/_inc/build/*.js.map                                     production-exclude
/_inc/build/maps/**                                      production-exclude
/_inc/client/**                                          production-exclude
/css/*.css.map                                           production-exclude
/css/*.css.min.map                                       production-exclude
/extensions/**/*.jpg                                     production-exclude
/extensions/**/*.js                                      production-exclude
/extensions/**/*.ts                                      production-exclude
/extensions/**/*.tsx                                     production-exclude
/extensions/**/*.json                                    production-exclude
/extensions/**/*.jsx                                     production-exclude
/extensions/**/*.md                                      production-exclude
/extensions/**/*.mock                                    production-exclude
/extensions/**/*.png                                     production-exclude
/extensions/**/*.scss                                    production-exclude
/extensions/**/*.svg                                     production-exclude
/extensions/**/test/**                                   production-exclude
/modules/**/readme.md                                    production-exclude
/modules/**/test/**                                      production-exclude
/modules/subscriptions/newsletter-widget/src/**          production-exclude
/modules/widgets/follow-button.php                       production-exclude
/modules/widget-visibility/editor/**                     production-exclude
/readme.md                                               production-exclude
/scss/**                                                 production-exclude
/to-test.md                                              production-exclude
/tools/**                                                production-exclude
/wp-cli-templates/**                                     production-exclude
