<phpunit bootstrap="tests/php/bootstrap.php" backupGlobals="false" colors="true"  convertDeprecationsToExceptions="true">
	<php>
		<const name="PHPUNIT_JETPACK_TESTSUITE" value="true"/>
	</php>
	<testsuites>
		<testsuite name="general">
			<directory prefix="test" suffix=".php">tests/php/general</directory>
		</testsuite>
		<testsuite name="core-api">
			<directory prefix="test" suffix=".php">tests/php/core-api</directory>
		</testsuite>
		<testsuite name="media">
			<directory prefix="test" suffix=".php">tests/php/media</directory>
		</testsuite>
		<testsuite name="json-api">
			<directory prefix="test" suffix=".php">tests/php/json-api</directory>
		</testsuite>
		<testsuite name="infinite-scroll">
			<directory prefix="test_" suffix=".php">tests/php/modules/infinite-scroll</directory>
		</testsuite>
		<testsuite name="comment-likes">
			<directory prefix="test" suffix=".php">tests/php/modules/comment-likes</directory>
		</testsuite>
		<testsuite name="likes">
			<directory prefix="test_" suffix=".php">tests/php/modules/likes</directory>
		</testsuite>
		<testsuite name="markdown">
			<directory prefix="test_" suffix=".php">tests/php/modules/markdown</directory>
		</testsuite>
		<testsuite name="publicize">
			<directory prefix="test_" suffix=".php">tests/php/modules/publicize</directory>
		</testsuite>
		<testsuite name="post-by-email">
			<directory prefix="test" suffix=".php">tests/php/modules/post-by-email</directory>
		</testsuite>
		<testsuite name="related-posts">
			<directory prefix="test_" suffix=".php">tests/php/modules/related-posts</directory>
		</testsuite>
		<testsuite name="sharedaddy">
			<directory prefix="test" suffix=".php">tests/php/modules/sharedaddy</directory>
		</testsuite>
		<testsuite name="shortcodes">
			<directory prefix="test" suffix=".php">tests/php/modules/shortcodes</directory>
		</testsuite>
		<testsuite name="widgets">
			<directory prefix="test_" suffix=".php">tests/php/modules/widgets</directory>
		</testsuite>
		<testsuite name="widget-visibility">
			<directory prefix="test_" suffix=".php">tests/php/modules/widget-visibility</directory>
		</testsuite>
		<testsuite name="sitemaps">
			<directory prefix="test" suffix=".php">tests/php/modules/sitemaps</directory>
		</testsuite>
		<testsuite name="subscriptions">
			<directory prefix="test_" suffix=".php">tests/php/modules/subscriptions</directory>
		</testsuite>
		<testsuite name="verification-tools">
			<directory prefix="test_" suffix=".php">tests/php/modules/verification-tools</directory>
		</testsuite>
		<testsuite name="videopress">
			<directory prefix="test_" suffix=".php">tests/php/modules/videopress</directory>
		</testsuite>
		<testsuite name="sync">
			<directory prefix="test_" suffix=".php">tests/php/sync</directory>
			<directory prefix="class-test-" suffix=".php">tests/php/sync</directory>
			<exclude>tests/php/sync/test_class.jetpack-sync-full.php</exclude>
		</testsuite>
		<testsuite name="legacy-full-sync">
			<file>tests/php/sync/test_class.jetpack-sync-base.php</file>
			<file>tests/php/sync/test_class.jetpack-sync-full.php</file>
		</testsuite>
		<testsuite name="uninstall">
			<directory prefix="test_" suffix=".php">tests/php/uninstall</directory>
		</testsuite>
		<testsuite name="lib">
			<directory prefix="test" suffix=".php">tests/php/_inc/lib</directory>
		</testsuite>
		<testsuite name="restapi">
			<directory prefix="test_class.rest-api" suffix=".php">tests/php/_inc/lib</directory>
		</testsuite>
		<testsuite name="get_modules">
			<file>tests/php/test-get-modules.php</file>
		</testsuite>
		<testsuite name="3rd-party">
			<directory prefix="test_" suffix=".php">tests/php/3rd-party</directory>
		</testsuite>
		<testsuite name="carousel">
			<directory prefix="test-" suffix=".php">tests/php/modules/carousel</directory>
		</testsuite>
		<testsuite name="geo-location">
			<directory prefix="test_" suffix=".php">tests/php/modules/geo-location</directory>
		</testsuite>
		<testsuite name="masterbar">
			<directory prefix="test" suffix=".php">tests/php/modules/masterbar</directory>
		</testsuite>
		<testsuite name="deprecation">
			<file>tests/php/test_deprecation.php</file>
		</testsuite>
		<testsuite name="extensions">
			<directory prefix="test" suffix=".php">tests/php/extensions</directory>
		</testsuite>
		<testsuite name="seo-tools">
			<directory prefix="test" suffix=".php">tests/php/modules/seo-tools</directory>
		</testsuite>
		<testsuite name="csstidy">
			<directory prefix="test" suffix=".php">tests/php/modules/csstidy</directory>
		</testsuite>
		<testsuite name="compatfunctions">
			<file>tests/php/test_functions.compat.php</file>
		</testsuite>
		<testsuite name="autoloaded">
			<directory prefix="test" suffix=".php">tests/php/src</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>external-http</group>
			<group>uninstall</group>
			<group>legacy-full-sync</group>
		</exclude>
	</groups>
	<filter>
		<whitelist>
			<file>./*.php</file>
			<directory suffix=".php">3rd-party</directory>
			<directory suffix=".php">extensions</directory>
			<directory suffix=".php">_inc</directory>
			<directory suffix=".php">json-endpoints</directory>
			<directory suffix=".php">modules</directory>
			<directory suffix=".php">sal</directory>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<listeners>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
