<phpunit bootstrap="tests/php/bootstrap.php" backupGlobals="false" colors="true">
	<php>
		<const name="PHPUNIT_JETPACK_TESTSUITE" value="true"/>
	</php>
	<testsuites>
		<testsuite name="general">
			<directory prefix="test" suffix=".php">tests/php/general</directory>
		</testsuite>
		<testsuite name="core-api">
			<directory prefix="test" suffix=".php">tests/php/core-api</directory>
		</testsuite>
		<testsuite name="media">
			<directory prefix="test" suffix=".php">tests/php/media</directory>
		</testsuite>
		<testsuite name="photon">
			<file>tests/php/test_class.jetpack_photon.php</file>
			<file>tests/php/test_functions.photon.php</file>
			<directory prefix="test_" suffix=".php">tests/php/modules/photon</directory>
			<file>tests/php/test_class.functions.opengraph.php</file>
		</testsuite>
		<testsuite name="json-api">
			<directory prefix="test" suffix=".php">tests/php/json-api</directory>
		</testsuite>
		<testsuite name="infinite-scroll">
			<directory prefix="test_" suffix=".php">tests/php/modules/infinite-scroll</directory>
		</testsuite>
		<testsuite name="comment-likes">
			<directory prefix="test" suffix=".php">tests/php/modules/comment-likes</directory>
		</testsuite>
		<testsuite name="calypsoify">
			<directory prefix="test" suffix=".php">tests/php/modules/calypsoify</directory>
		</testsuite>
		<testsuite name="likes">
			<directory prefix="test_" suffix=".php">tests/php/modules/likes</directory>
		</testsuite>
		<testsuite name="publicize">
			<directory prefix="test_" suffix=".php">tests/php/modules/publicize</directory>
		</testsuite>
		<testsuite name="post-by-email">
			<directory prefix="test" suffix=".php">tests/php/modules/post-by-email</directory>
		</testsuite>
		<testsuite name="protect">
			<directory prefix="test" suffix=".php">tests/php/modules/protect</directory>
		</testsuite>
		<testsuite name="related-posts">
			<directory prefix="test_" suffix=".php">tests/php/modules/related-posts</directory>
		</testsuite>
		<testsuite name="sharedaddy">
			<directory prefix="test" suffix=".php">tests/php/modules/sharedaddy</directory>
		</testsuite>
		<testsuite name="shortcodes">
			<directory prefix="test" suffix=".php">tests/php/modules/shortcodes</directory>
		</testsuite>
		<testsuite name="widgets">
			<directory prefix="test_" suffix=".php">tests/php/modules/widgets</directory>
		</testsuite>
		<testsuite name="sitemaps">
			<directory prefix="test" suffix=".php">tests/php/modules/sitemaps</directory>
		</testsuite>
		<testsuite name="sso">
			<directory prefix="test_" suffix=".php">tests/php/modules/sso</directory>
		</testsuite>
		<testsuite name="subscriptions">
			<directory prefix="test_" suffix=".php">tests/php/modules/subscriptions</directory>
		</testsuite>
		<testsuite name="contact-form">
			<directory prefix="test" suffix=".php">tests/php/modules/contact-form</directory>
		</testsuite>
		<testsuite name="verification-tools">
			<directory prefix="test_" suffix=".php">tests/php/modules/verification-tools</directory>
		</testsuite>
		<testsuite name="videopress">
			<directory prefix="test_" suffix=".php">tests/php/modules/videopress</directory>
		</testsuite>
		<testsuite name="wpcom-block-editor">
			<directory prefix="test_" suffix=".php">tests/php/modules/wpcom-block-editor</directory>
		</testsuite>
		<testsuite name="sync">
			<directory prefix="test_" suffix=".php">tests/php/sync</directory>
			<exclude>tests/php/sync/test_class.jetpack-sync-full.php</exclude>
		</testsuite>
		<testsuite name="legacy-full-sync">
			<file>tests/php/sync/test_class.jetpack-sync-base.php</file>
			<file>tests/php/sync/test_class.jetpack-sync-full.php</file>
		</testsuite>
		<testsuite name="theme-tools">
			<directory prefix="test_" suffix=".php">php/modules/theme-tools</directory>
		</testsuite>
		<testsuite name="uninstall">
			<directory prefix="test_" suffix=".php">tests/php/uninstall</directory>
		</testsuite>
		<testsuite name="lib">
			<directory prefix="test" suffix=".php">tests/php/_inc/lib</directory>
		</testsuite>
		<testsuite name="restapi">
			<directory prefix="test_class.rest-api" suffix=".php">tests/php/_inc/lib</directory>
		</testsuite>
		<testsuite name="idc">
			<file>tests/php/test_class.jetpack-idc.php</file>
		</testsuite>
		<testsuite name="get_modules">
			<file>tests/php/test-get-modules.php</file>
		</testsuite>
		<testsuite name="3rd-party">
			<directory prefix="test_" suffix=".php">tests/php/3rd-party</directory>
		</testsuite>
		<testsuite name="carousel">
			<directory prefix="test-" suffix=".php">tests/php/modules/carousel</directory>
		</testsuite>
		<testsuite name="search">
			<directory prefix="test" suffix=".php">tests/php/modules/search</directory>
		</testsuite>
		<testsuite name="geo-location">
			<directory prefix="test_" suffix=".php">tests/php/modules/geo-location</directory>
		</testsuite>
		<testsuite name="google-analytics">
			<directory prefix="test" suffix=".php">tests/php/modules/google-analytics</directory>
		</testsuite>
		<testsuite name="masterbar">
			<directory prefix="test" suffix=".php">tests/php/modules/masterbar</directory>
		</testsuite>
		<testsuite name="deprecation">
			<file>tests/php/test_deprecation.php</file>
		</testsuite>
		<testsuite name="extensions">
			<directory prefix="test" suffix=".php">tests/php/extensions</directory>
		</testsuite>
		<testsuite name="seo-tools">
			<directory prefix="test" suffix=".php">tests/php/modules/seo-tools</directory>
		</testsuite>
		<testsuite name="csstidy">
			<directory prefix="test" suffix=".php">tests/php/modules/csstidy</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>external-http</group>
			<group>uninstall</group>
			<group>legacy-full-sync</group>
		</exclude>
	</groups>
	<filter>
		<whitelist>
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">views</directory>
				<directory suffix=".php">tools</directory>
				<directory suffix=".php">node_modules</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
