<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/php/bootstrap.php"
	cacheResultFile=".phpunit.cache/test-results"
	colors="true"
	executionOrder="depends"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<php>
		<const name="PHPUNIT_JETPACK_TESTSUITE" value="true"/>
	</php>

	<testsuites>
		<testsuite name="general">
			<directory suffix="Test.php">tests/php/general</directory>
			<exclude>tests/php/general/Jetpack_Network_Test.php</exclude>
		</testsuite>
		<testsuite name="core-api">
			<directory suffix="Test.php">tests/php/core-api</directory>
		</testsuite>
		<testsuite name="media">
			<directory suffix="Test.php">tests/php/media</directory>
		</testsuite>
		<testsuite name="json-api">
			<directory suffix="Test.php">tests/php/json-api</directory>
		</testsuite>
		<testsuite name="infinite-scroll">
			<directory suffix="Test.php">tests/php/modules/infinite-scroll</directory>
		</testsuite>
		<testsuite name="comment-likes">
			<directory suffix="Test.php">tests/php/modules/comment-likes</directory>
		</testsuite>
		<testsuite name="likes">
			<directory suffix="Test.php">tests/php/modules/likes</directory>
		</testsuite>
		<testsuite name="markdown">
			<directory suffix="Test.php">tests/php/modules/markdown</directory>
		</testsuite>
		<testsuite name="publicize">
			<directory suffix="Test.php">tests/php/modules/publicize</directory>
		</testsuite>
		<testsuite name="post-by-email">
			<directory suffix="Test.php">tests/php/modules/post-by-email</directory>
		</testsuite>
		<testsuite name="related-posts">
			<directory suffix="Test.php">tests/php/modules/related-posts</directory>
		</testsuite>
		<testsuite name="sharedaddy">
			<directory suffix="Test.php">tests/php/modules/sharedaddy</directory>
		</testsuite>
		<testsuite name="shortcodes">
			<directory suffix="Test.php">tests/php/modules/shortcodes</directory>
		</testsuite>
		<testsuite name="widgets">
			<directory suffix="Test.php">tests/php/modules/widgets</directory>
		</testsuite>
		<testsuite name="widget-visibility">
			<directory suffix="Test.php">tests/php/modules/widget-visibility</directory>
		</testsuite>
		<testsuite name="sitemaps">
			<directory suffix="Test.php">tests/php/modules/sitemaps</directory>
		</testsuite>
		<testsuite name="subscriptions">
			<directory suffix="Test.php">tests/php/modules/subscriptions</directory>
		</testsuite>
		<testsuite name="verification-tools">
			<directory suffix="Test.php">tests/php/modules/verification-tools</directory>
		</testsuite>
		<testsuite name="videopress">
			<directory suffix="Test.php">tests/php/modules/videopress</directory>
		</testsuite>
		<testsuite name="sync">
			<directory suffix="Test.php">tests/php/sync</directory>
			<exclude>tests/php/sync/Jetpack_Sync_Full_Test.php</exclude>
		</testsuite>
		<testsuite name="legacy-full-sync">
			<file>tests/php/sync/Jetpack_Sync_Full_Test.php</file>
		</testsuite>
		<testsuite name="uninstall">
			<directory suffix="Test.php">tests/php/uninstall</directory>
		</testsuite>
		<testsuite name="lib">
			<directory suffix="Test.php">tests/php/_inc/lib</directory>
			<exclude>tests/php/_inc/lib/Jetpack_REST_API_Authentication_Test.php</exclude>
			<exclude>tests/php/_inc/lib/Jetpack_REST_API_endpoints_Test.php</exclude>
		</testsuite>
		<testsuite name="restapi">
			<directory prefix="Jetpack_REST_API" suffix="Test.php">tests/php/_inc/lib</directory>
		</testsuite>
		<testsuite name="get_modules">
			<file>tests/php/Get_Modules_Test.php</file>
		</testsuite>
		<testsuite name="3rd-party">
			<directory suffix="Test.php">tests/php/3rd-party</directory>
		</testsuite>
		<testsuite name="carousel">
			<directory suffix="Test.php">tests/php/modules/carousel</directory>
		</testsuite>
		<testsuite name="deprecation">
			<file>tests/php/Jetpack_Deprecation_Test.php</file>
		</testsuite>
		<testsuite name="extensions">
			<directory suffix="Test.php">tests/php/extensions</directory>
		</testsuite>
		<testsuite name="seo-tools">
			<directory suffix="Test.php">tests/php/modules/seo-tools</directory>
		</testsuite>
		<testsuite name="compatfunctions">
			<file>tests/php/Jetpack_Compat_Functions_Test.php</file>
		</testsuite>
		<testsuite name="autoloaded">
			<directory suffix="Test.php">tests/php/src</directory>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>external-http</group>
			<group>uninstall</group>
			<group>legacy-full-sync</group>
		</exclude>
	</groups>
</phpunit>
