$banner-height: 48px;

// Stretch Cover MediaPlaceholder element.
.jetpack-cover-media-placeholder {
	width: 100%;
}

// core/cover set padding 0 with !important.
// https://github.com/WordPress/gutenberg/blob/d348f55a33124426897448d560b46cede6ebb089/packages/block-library/src/cover/editor.scss#L6-L9
.block-editor-block-list__block.is-upgradable.is-selected.is-placeholder {
	padding-top: 0;
	background-color: transparent;

	.jetpack-cover-media-placeholder {
		margin-top: $banner-height;
	}
}

.wp-block-cover .components-notice {
	color: #191e23;
}
