# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
# /src/js/example.min.js  production-include
build/**                                        production-include
jetpack_vendor/**                               production-include
vendor/autoload.php                             production-include
vendor/autoload_packages.php                    production-include
vendor/automattic/**                            production-include
vendor/composer/**                              production-include
vendor/jetpack-autoloader/**                    production-include

# Files to exclude from the mirror repo, but included in the monorepo.
# (see also entries in the monorepo root .gitattributes)
# Remember to end all directories with `/**` to properly tag every file.
build/**/*.js.map                               production-exclude
jest.setup.js                                   production-exclude
/README.md                                      production-exclude
src/js/**                                       production-exclude
