@import 'scss/_variables.scss';

.donut-meter-container {
	display: flex;
	height: fit-content; // or 64px?
	width: fit-content;

	.donut-meter-wrapper {
		height: fit-content;
		position: relative;
	}

	.donut-info-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: auto;
		margin: 0 8px;
		padding: 8px 0;
		white-space: nowrap;
	}

	.donut-info-primary {
		margin: 0 0 8px 0;
		font-size: 1em;
		line-height: 1em;
		font-weight: bold;
	}

	.donut-info-secondary {
		color: $studio-gray-60;
		margin: 0;
		font-size: 0.7em;
		line-height: 0.7em;

		.info-link {
			color: $studio-black;
			text-decoration: underline;

			&:not( a ) {
				cursor: default;
			}
		}
	}

	.info-icon-wrapper {
		color: black;
		vertical-align: middle;
	}
}

.upgrade-tooltip-shadow-anchor {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;

	.icon-tooltip-wrapper {
		width: 100%;
		height: 100%;

		// To overwrite `margin-bottom`
		.icon-tooltip-title {
			font-size: var( --font-title-small );
			font-weight: 500;
			margin-bottom: 16px;
		}
	}

	.icon-tooltip-helper {
		width: 100%;
		height: 100%;
	}

	.icon-tooltip-content {
		font-size: var( --font-body );
	}

	.upgrade-tooltip-actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: var( --jp-gray-60 );
		margin-top: 24px;
	}
}
