.trigger-wrapper {
	margin-top: 1rem;
	padding-block: 1rem;
}

.wrapper {
	margin-top: 1rem;
	padding-block: 1rem;
}

.spinner{
	margin: 0 1rem 1rem 1rem;
}

.modal {
	width: 60rem;
	min-height: 20rem;
}

.share-log-list {
	outline: 1px solid var(--jp-gray-5);
	border-radius: 4px;
	margin: 0;
	width: 100%;

	.share-log-list-item {
		margin-bottom: 0px;
		padding: 0.8rem 1rem;

		&:not(:last-child) {
			border-bottom: 1px solid var(--jp-gray-5);
		}
	}

	.share-item {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
}

.share-item-name-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex: 1;
	overflow: auto;
}

.share-item-name {
	display: flex;
	align-items: center;
}

.share-status-wrapper {
	display: flex;
	align-items: center;
	width: 5rem;

	&.share-status-success {
		color: var(--jp-green-50);
	}

	&.share-status-failure {
		color: var(--jp-red-50);
		height: 29px;
	}
}

.share-status-label {
	flex: 1;
}

.share-status-icon-tooltip {
	width: 24px;
	top: 2px;
	margin-inline-start: 2px;

	> button {
		color: var(--jp-red-50) !important;
	}
}

.share-status-icon {
	fill: var(--jp-green-50);
}

.share-status-action-wrapper {
	width: 3rem;
}

.disconnected-icon{
	display: block;
}
