.jp-checklist-answer-container {
	display: grid;
	grid-template-rows: auto 75%;
	grid-template-columns: auto auto;

	box-sizing: border-box;
	border: 1px solid #dddddd;
	border-radius: 4px;
	cursor: pointer;
}

.jp-checklist-answer-container:focus {
	border: 2px solid #00a0d2;
}

.jp-checklist-answer-checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jp-checklist-answer-container input {
	grid-row: 1;
	grid-column: 1;

	margin-left: 2rem;
	margin-right: 1.5rem;
}

.jp-checklist-answer-title {
	grid-row: 1;
	grid-column: 2;
	margin: 1rem 1rem 1rem 0;

	font-weight: 600;
	text-align: left;
}

.jp-checklist-answer-details {
	grid-row: 2;
	grid-column: 2;
	margin: 0 1rem 1rem 0;

	text-align: left;
}
