:root {
	--jp-color-black:     #000000;
	--jp-color-white:     #FFFFFF;

	--jp-color-gray-0:    #F6F7F7;
	--jp-color-gray-80:   #2C3338;

	--jp-color-red-0:     #F7EBEC;
	--jp-color-red-50:    #D63638;
	--jp-color-red-60:    #B32D2E;
	--jp-color-red-80:    #8A2424;
}
