@use "@wordpress/base-styles/variables" as vars;
@use "@wordpress/base-styles/colors" as colors;

.date-range-presets {
	max-width: 240px;
}

.date-range-presets,
.date-range-presets__custom-group {

	.date-range-presets__item {
		min-height: var(--wpds-typography-line-height-2xl);
	}
}

.date-range-presets__custom-group {
	// Custom button acts as a label, not an interactive element.
	// Override disabled styles to show selection state visually.
	.date-range-presets__custom {

		&[aria-disabled="true"] {
			color: var(--wpds-color-foreground-content-neutral-weak);
		}

		&[aria-checked="true"] {
			color: var(--wpds-color-foreground-content-neutral);
		}
	}
}
