.jp-connect-screen {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
	background: #FFFFFF;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
	border-radius: 4px;

	&.jp-connect-screen--loading {
		display: none;
	}

	.jp-connect-screen--left, .jp-connect-screen--right {
		box-sizing: border-box;
	}

	.jp-connect-screen--left {
		padding: 64px 96px;

		.jetpack-logo {
			margin-bottom: 24px;
		}

		h2 {
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 40px;
			color: #000;
		}

		p, li {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
		}

		p {
			color: #101517;
		}

		ul {
			list-style-type: none;

			li {
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADuSURBVHgB7ZS9DYJAFIDfHT93JSMwAiPoAmhpR22lTqBbmJggbqCyAJZ0xg1YwQ4MeB5GjPIT8KCTL6Hhke9LHgcAPT2NcahOHDLL35agC7hcZeABoIlsStfETfxshKEtbzno/ArQDR0+xwjakJPjCIbhNAy6CTSQp4ityNE0FdC+Tl4eWFMdauWRB4wZdfJiYKMYCmFnZUutLuSFAJHkAQKk8RezK0QE5Clf30Hixr5kyrwBPARjPJKD+zG+iMpTSk+RatMVnyyfDzC2YBhbIvLKQD7y4md5SuWvgq/rlK1LVN4IYpM5rTu6Pf/NA02TfHxOAFa6AAAAAElFTkSuQmCC) no-repeat;
				padding-left: 30px;
				color: #000;
				margin-bottom: 9px;
			}
		}

		.jp-connect-button {
			margin-top: 40px;
		}

		.jp-connnect-screen--tos {
			margin-top: 28px;
			max-width: 360px;
		}
	}

	.jp-connect-screen--right {
		padding: 64px 0;

		img {
			max-width: 100%;
		}
	}

	&.jp-connect-screen--two-columns {
		.jp-connect-screen--left {
			float: left;
			width: 50%;
		}

		.jp-connect-screen--right {
			float: right;
			width: 49%;
			background: #F9F9F6;
		}
	}

	.jp-connect-screen--clearfix {
		clear: both;
	}
}
