#wpadminbar #wp-toolbar > ul > li#wp-admin-bar-wpcom-global-styles {

	@media (max-width: 782px) {
		display: block;
		position: static;
	}

	> .ab-item {

		@media (max-width: 782px) {
			width: 52px;
			overflow: hidden;
			white-space: nowrap;
		}

		&::before {
			color: #e68b28;
			content: "\f534";
			top: 2px;

			@media (max-width: 782px) {
				text-indent: 0;
				font: 400 32px / 1 dashicons;
				speak: never;
				top: 7px;
				width: 52px;
				text-align: center;
			}
		}
	}

	.ab-sub-wrapper > ul > li {
		padding: 4px 0;
	}

	#wp-admin-bar-wpcom-global-styles-description .ab-item {
		height: auto;
		white-space: normal;
		min-width: 300px;
		line-height: 22px;
		padding: 2px 12px;

		@media (max-width: 782px) {
			padding-top: 12px;
		}

		a {
			display: inline;
			padding: 0;
			text-decoration: underline;
			line-height: normal;

			@media (max-width: 782px) {
				font-size: 16px;
			}
		}
	}

	#wp-admin-bar-wpcom-global-styles-upgrade {
		padding: 8px 10px;

		@media (max-width: 782px) {
			padding-bottom: 0;
		}

		.ab-item {
			height: unset;
			display: inline-block;
			color: #fff;
			background-color: #3858e9;
			border-color: #3858e9;
			border-radius: 2px;
			padding: 2px;
			box-sizing: border-box;
			width: 100%;
			text-align: center;

			@media (max-width: 782px) {
				height: 40px;
				line-height: 38px;
				font-size: 16px;
			}

			&:hover {
				background-color: #4664eb;
				border-color: #4664eb;
			}
		}
	}

	#wp-admin-bar-wpcom-global-styles-reset .ab-item {
		text-align: center;
		height: unset;
		display: flex;
		gap: 4px;
		justify-content: center;
	}

	#wp-admin-bar-wpcom-global-styles-preview {

		.ab-item {
			display: flex;
			align-items: center;
		}

		label {
			position: relative;
			display: inline-block;
			width: 36px;
			height: 18px;
			margin-right: 8px;

			span {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				transition: 0.4s;
				border-radius: 18px;

				&::before {
					position: absolute;
					content: "";
					height: 12px;
					width: 12px;
					left: 3px;
					bottom: 3px;
					background-color: #fff;
					transition: 0.4s;
					border-radius: 50%;
				}
			}

			input {
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + span {
					background-color: #3858e9;

					&::before {
						transform: translateX(18px);
					}
				}

				&:focus + span {
					box-shadow: 0 0 1px #546ff3;
				}
			}
		}
	}

	.wpcom-global-styles-close {
		position: absolute;
		top: -8px;
		right: -1px;
		width: 24px;
		height: 24px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		background: none;
		border: none;
		outline: none;
		display: flex;
		visibility: hidden;

		@media (max-width: 782px) {
			top: -2px;
		}

		svg {
			fill: #c3c4c7;
			width: 18px;
			height: 18px;
		}

		&:hover {

			svg {
				fill: #f6f7f7;
			}
		}
	}
}

/**
 * Hides certain icons on smaller viewports to ensure the GS notice is visible.
 */
@media (min-width: 782px) {

	@media (max-width: 940px) {

		#wpadminbar #wp-admin-bar-comments {
			display: none !important;
		}
	}

	@media (max-width: 900px) {

		#wpadminbar #wp-admin-bar-new-content {
			display: none !important;
		}
	}

	@media (max-width: 830px) {

		#wpadminbar .wp-admin-bar-reader {
			display: none !important;
		}
	}
}

@media (max-width: 600px) {

	#wpadminbar #wp-admin-bar-comments {
		display: none !important;
	}
}

@media (max-width: 520px) {

	#wpadminbar #wp-admin-bar-new-content {
		display: none !important;
	}
}

@media (max-width: 480px) {

	#wpadminbar .wp-admin-bar-reader {
		display: none !important;
	}
}

@media (max-width: 380px) {

	#wpadminbar #wp-admin-bar-edit {
		display: none !important;
	}
}
