:global(.visx-tooltip) {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;

	.stats-line-chart-tooltip {
		color: var(--color-text-inverted, #fff);
		background: var(--color-neutral-100, #101517);
		border-radius: 4px;
		font-size: var(--font-body-small, 14px);
		padding: 28px 24px 16px;

		// Default tooltip is 230px wide. We need a bit more room
		// to account for longer date labels and post titles.
		width: fit-content;
		min-width: 230px;
		max-width: 300px;

		ul {
			list-style: none;
			margin: 10px 0 0;
			padding: 0;

			li {
				font-size: var(--font-body-small, 14px);
				font-weight: 500;
				line-height: 20px;
				letter-spacing: -0.24px;
				text-transform: none;
				margin: 0;

				.wrapper {
					display: flex;
					align-items: center;
					justify-content: space-between;
					line-height: 24px;
				}

				.value {
					color: inherit;
					text-align: right;
					min-width: 22px;
				}

				.label {
					display: flex;
					align-items: center;
					gap: 12px;
					// overflow: hidden;
					// word-break: break-all;
					// vertical-align: baseline;
				}

				.gridicon {
					// margin-right: 12px;
					// align-self: center;
					// vertical-align: middle;
					width: 24px;
					height: 24px;
					fill: var(--color-text-inverted, #fff);
				}

				// &:last-child {
				// 	margin-bottom: 0;
				// }
			}
		}

		.module-content-list-item {

			&.is-date-label {
				font-weight: 600;
				border-bottom: 0;
			}

			&.is-published {
				margin-bottom: 4px;
			}

			&.is-published-item {
				height: auto;
				font-size: var(--font-body-extra-small, 12px);
				margin-bottom: 0;
				padding-left: 30px;

				.label {
					height: auto;
					line-height: 20px;
					color: inherit;
					letter-spacing: inherit;
					word-break: break-word;
				}

				// Override the default gradient.
				.value::before {
					background: none;
				}
			}
		}
	}
}
