@use '@automattic/jetpack-base-styles/gutenberg-base-styles' as gb;

$sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;

$actions-size: 28px;
$spacing-vertical: calc( var(--spacing-base) * 3 );
$spacing-horizontal: calc( var(--spacing-base) * 3 );
$break-medium: 782px;
$min-card-width: 155px;

// create a partial for green border for focus, hover and selected
@mixin active-card {
	border: 1px solid var(--card-active-border-color);
	background-color: var(--card-active-bg-color);
}

.section-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $spacing-vertical $spacing-horizontal;
	border-bottom: 1px solid var(--jp-gray-5);
	cursor: pointer;
	margin-bottom: $spacing-vertical;

	// &:hover,
	// &:focus {

}

.section-title {
	display: flex;
	align-items: center;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 0;
	font-size: var(--font-title-small);
	line-height: 1.5;
}

.section-description {
	margin-left: 0.75rem;
	font-family:  $sans-font;
	font-weight: 400;
	font-size: var(--font-body-small);
	color: var(--jp-gray-60);
	line-height: 20px;
	letter-spacing: -0.15px;
}

.my-jetpack-stats-cards.cards-list {
	--card-bg-color: var(--jp-gray-0);
	--card-border-color: var(--jp-gray-0);
	--card-active-border-color: var(--jp-green-50);
	--card-active-bg-color: var(--jp-white);

	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
	max-width: 100%;
	padding: 1px; // Ensures scrollable content box doesn't cover the card.
	padding-left: $spacing-horizontal;
	padding-right: $spacing-horizontal;
	margin-top: $spacing-vertical;
	margin-bottom: $spacing-vertical;

	// Add horizontal scrolling, but without the scrollbar.
	overflow-x: scroll;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	@media (max-width: gb.$break-medium) {
		flex-direction: column;
		gap: 8px;
	}

	.stats-card {
		border: 1.5px solid var(--card-border-color);
		background-color: var(--card-bg-color);
		box-shadow: none;
		border-radius: 4px;
		width: 100%;
		min-width: $min-card-width; // Minimum mobile width
		padding: var(--spacing-base) calc( var(--spacing-base) * 2 ) calc( var(--spacing-base) + 6px );
		margin-bottom: 0;
		transition: all 0.15s ease-in-out;

		@media (max-width: gb.$break-medium) {
			width: 100%;
			flex: 1 1 100%;
			max-width: initial;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: var(--spacing-base) calc( var(--spacing-base) * 2 );
		}

		@media (min-width: gb.$break-medium) {
			flex: 1 1 45%;
			width: 45%;
		}

		@media (min-width: gb.$break-xlarge) {
			flex: 1 1 $min-card-width;
			max-width: 25%;
		}

		// Clickable state styling
		&.stats-card--clickable {
			cursor: pointer;

			&:hover,
			&:focus {

				@include active-card;
			}
		}

		// Selected state styling - simple green border to match design
		&.stats-card--selected {

			@include active-card;
		}
	}
}

.stats-card-header {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 8px;

	@media (max-width: gb.$break-medium) {
		margin-bottom: 0;
	}
}

.stats-card-icon {
	width: 24px;
	height: 24px;
}

.stats-card-heading {
	font-size: 14px;
    letter-spacing: -.15px;
    line-height: 20px;
}

.stats-card-count {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	font-weight: 500;
	line-height: 40px;

	&.is-pointer {
		cursor: pointer;
	}
}

.stats-card-content {

	@media (max-width: gb.$break-medium) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.stats-card-count-value {
	font-family: $sans-font;
	line-height: 1;
	margin-right: 0.5rem;
}

.stats-card-difference {
	font-size: var(--font-body-small);
	font-weight: 600;
    letter-spacing: -.24px;
    line-height: 25px;
	color: var(--jp-gray-20);
	fill: var(--jp-gray-20);

	@media (max-width: gb.$break-medium) {
		display: flex;
		align-items: center;
	}

	@media screen and (min-width: 960px) {
		display: flex;
		align-items: center;
	}

	&.stats-card-difference--positive {
		color: var(--jp-red-50);
		fill: var(--jp-red-50);
	}

	&.stats-card-difference--negative {
		color: var(--jp-green-50);
		fill: var(--jp-green-50);
	}
}

.stats-card-difference-icon {
	display: flex;
	align-content: flex-end;
}

.stats-card-difference-absolute-value {
	margin-right: 2px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: calc( var(--spacing-base) * 2.5 );
	min-height: $actions-size;
	flex-wrap: wrap;
}

