.contact-form .clear-form {
	clear: both;
}

.contact-form input::placeholder {
	transition: opacity .3s ease-out;
}
.contact-form input:hover::placeholder {
	opacity: 0.5;
}
.contact-form input:focus::placeholder {
	opacity: 0.3;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'],
.contact-form input[type='url'] {
	box-sizing: border-box;
	margin-bottom: 1.5em;
	width: 100%;
}

.contact-form select {
	margin-bottom: 1.5em;
}

.contact-form textarea {
	box-sizing: border-box;
	float: none;
	height: 200px;
	margin-bottom: 1.5em;
	width: 100%;
}

.contact-form input[type='radio'],
.contact-form input[type='checkbox'] {
	float: none;
	margin-bottom: 1em;
	vertical-align: middle;
}

.contact-form label {
	margin-bottom: 0.25em;
	float: none;
	font-weight: bold;
	display: block;
}

.contact-form label.checkbox,
.contact-form label.checkbox-multiple,
.contact-form label.radio {
	margin-bottom: 0.25em;
	float: none;
	font-weight: normal;
	display: inline-block;
}

.contact-form .grunion-field-checkbox-wrap,
.contact-form .grunion-field-checkbox-multiple-wrap,
.contact-form .grunion-field-radio-wrap {
	margin-bottom: 1em;
}

.contact-form label span {
	color: #AAA;
	margin-left: 0.25em;
	font-weight: normal;
}

.contact-form-submission {
	margin-bottom: 4em;
	padding: 1.5em 1em;
}

.contact-form-submission p {
	margin: 0 auto;
	word-wrap: break-word;
}

.form-errors .form-error-message {
	color: red;
}

.textwidget .contact-form input[type='text'],
.textwidget .contact-form input[type='email'],
.textwidget .contact-form input[type='tel'],
.textwidget .contact-form input[type='url'],
.textwidget .contact-form textarea,
.wp-block-column .contact-form input[type='text'],
.wp-block-column .contact-form input[type='email'],
.wp-block-column .contact-form input[type='tel'],
.wp-block-column .contact-form input[type='url'],
.wp-block-column .contact-form textarea {
	width: 100%;
}

#jetpack-check-feedback-spam {
	margin: 1px 8px 0px 0px;
}

.jetpack-check-feedback-spam-spinner {
	display: inline-block;
	margin-top: 7px;
}

.wp-block-jetpack-contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
}

.wp-block-jetpack-contact-form .grunion-field-wrap, .wp-block-jetpack-button {
	flex: 0 0 100%;
}

.wp-block-jetpack-button.alignright button {
	float: right;
}

.wp-block-jetpack-contact-form .grunion-field-wrap {
	/* Use transparent border to maintain consistent
	 * space between elements with flexbox */
	border-right: 15px solid transparent;
}

.wp-block-jetpack-contact-form .grunion-field-width-25-wrap {
	flex: 0 0 25%;
}

.wp-block-jetpack-contact-form .grunion-field-width-50-wrap {
	flex: 0 0 50%;
}

.wp-block-jetpack-contact-form .grunion-field-width-75-wrap {
	flex: 0 0 75%;
}

.grunion-field-checkbox-wrap {
	align-self: center;
}

@media only screen and (min-width: 600px) {
	.contact-form input[type='text'],
	.contact-form input[type='email'],
	.contact-form input[type='tel'],
	.contact-form input[type='url'] {
		width: 50%;
	}

	/****
	 * Older users keep the 50% width to avoid breaking
	 * designs, but newer users using the contact
	 * form block get 100% width.
	 */
	.wp-block-jetpack-contact-form input[type='text'],
	.wp-block-jetpack-contact-form input[type='email'],
	.wp-block-jetpack-contact-form input[type='tel'],
	.wp-block-jetpack-contact-form input[type='url'] {
		width: 100%;
	}
}
