#menu-posts-feedback .wp-menu-image img {
	display: none;
}

#adminmenu .menu-icon-feedback:hover div.wp-menu-image,
#adminmenu .menu-icon-feedback.wp-has-current-submenu div.wp-menu-image,
#adminmenu .menu-icon-feedback.current div.wp-menu-image {
	background: url(../images/grunion-menu-hover.png) no-repeat 7px 7px !important;
}

#adminmenu .menu-icon-feedback div.wp-menu-image {
	background: url(../images/grunion-menu.png) no-repeat 7px 7px !important;
}

body.admin-color-mp6 #adminmenu .menu-icon-feedback div.wp-menu-image {
	background: none !important;
}

body.admin-color-mp6 #adminmenu .menu-icon-feedback div.wp-menu-image:before {
	content: '\f175';
	margin-left: -1px;
}

.jetpack-contact-form-icon {
	background: url(../images/grunion-form.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {

	#adminmenu .menu-icon-feedback:hover div.wp-menu-image,
	#adminmenu .menu-icon-feedback.wp-has-current-submenu div.wp-menu-image,
	#adminmenu .menu-icon-feedback.current div.wp-menu-image {
		background: url(../images/grunion-menu-hover-2x.png) no-repeat 7px 7px !important;
		background-size: 15px 16px !important;
	}

	#adminmenu .menu-icon-feedback div.wp-menu-image {
		background: url(../images/grunion-menu-2x.png) no-repeat 7px 7px !important;
		background-size: 15px 16px !important;
	}

	.jetpack-contact-form-icon {
		background-image: url(../images/grunion-form-2x.png);
		background-size: 13px 12px !important;
		vertical-align: bottom;
	}

}

