.example-wrapper {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	font-size: 15px;
	margin-top: 0.4rem;
	min-height: 300px;

	&.small {
		grid-auto-flow: row;
		grid-gap: 2rem;
		height: auto;
		min-height: unset;
	}

	img {
		max-height: 520px;
		max-width: 100%;
	}

	> div {
		padding: 0.4rem;
		
		&:has(img) {
			margin-inline-start: auto;
			margin-inline-end: auto;
		}
	}
}

.actions-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.chevron-back {
	display: block;
}

.connect-form {
	display: grid;
	gap: 0.5rem;

	& > input {
		height: 100%;
		width: 18rem;
	}

	&:not(.small) {
		grid-auto-flow: column;
	}
}