# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
/dist/**         production-include

# Files to exclude from the mirror repo.
# (see also entries in the monorepo root .gitattributes)
**/stories/**       production-exclude
**/tests/**         production-exclude
**/docs/**          production-exclude
agents.md           production-exclude
/bin/**             production-exclude
/tools/**           production-exclude
/tsdown.config.ts   production-exclude
