/**
 * Hide Fullscreen option from post-editor
 *
 * The entire menu group is not rendered on smaller screens so we need a media query.
 * Hide the last item of the first group when the screen is big enough.
 */
@media (min-width: 782px) {
  .interface-more-menu-dropdown__content .components-dropdown-menu__menu:first-child .components-menu-group:first-child .components-button:last-of-type,
  .more-menu-dropdown__content .components-dropdown-menu__menu:first-child .components-menu-group:first-child .components-button:last-of-type {
	display: none;
  }
}

/* REVISIONS */

.revision-php {
  background: #f3f6f8;
}

.wp-toolbar .revision-php {
  margin-top: -32px;
}

.revision-php #wpadminbar,
.revision-php #adminmenumain,
.revision-php #wp-admin-bar-menu-toggle {
  display: none;
}

.revision-php #wpcontent {
  margin-left: 50px !important;
}

.revision-php #wpbody {
  padding-top: 0;
}

.revision-php #screen-meta-links {
  display: none !important;
}

.revision-php #wpfooter {
  display: none !important;
}

.revision-tickmarks {
  margin-top: 8px;
}

.revisions-controls {
  height: 118px;
}
.comparing-two-revisions .revisions-controls {
  height: 176px;
}

.revisions-meta {
  margin-top: 28px;
}

.diff-meta {
  min-height: 46px;
}
.revisions-controls .author-card .avatar {
  border-radius: 50%;
  height: 38px;
  margin-top: 4px;
  width: 38px;
}
.revisions-controls .author-card .author-info {
  line-height: 20px;
  margin-top: 4px;
}

.revision-toggle-compare-mode label {
  vertical-align: top;
}

.revisions-tooltip {
  transform: translateY(-36px);
}
