// ==========================================================================
// Animations
// ==========================================================================

@keyframes jetpack-candy {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.15);
	}
	60% {
		transform: scale(.95);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes jetpack-loading-fade {
	0% {
		opacity: .5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: .5;
	}
}

@keyframes jetpack-rotate {
	to {
		transform: rotate(1turn);
	}
}
