// ==========================================================================
// Animation for miles!
// ==========================================================================

@keyframes "candy" {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.15);
	}
	60% {
		transform: scale(.95);
	}
	100% {
		transform: scale(1);
	}
}
