/**
 * Editor styles for Calendly
 */

.wp-block-jetpack-calendly {
	position: relative;

	&-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&-link-editable {
		cursor: text;
	}

	&-embed-form-sidebar {
		display: flex;
		margin-bottom: 1em;
	}

	&-learn-more {
		margin-top: 1em;
	}

	&-color-notice {
		margin: 0;
	}
}
