version: '3.3'


volumes:
  ## Kludge for not having the ./docker directory bound recursively
  dockerdirectory:

services:
  ## A default mysql image
  ## We map a local directory (data/mysql) so we can have the mysql data locally
  ## and reuse it if we need to remove containers and images for rebuilding from scratch.
  db:
    container_name: jetpack_mysql
    image: mysql:5.7
    volumes:
      - ./data/mysql:/var/lib/mysql
    restart: always
    ports:
      - "${PORT_MYSQL:-3306}:3306"
    env_file:
      - default.env
      - .env

  ## SMTP Server + Web Interface for viewing and testing emails during development.
  ## http://danfarrelly.nyc/MailDev/
  maildev:
    image: djfarrelly/maildev
    container_name: maildev
    restart: always
    ports:
      - "${PORT_MAILDEV:-1080}:80"
      - "${PORT_SMTP:-25}:25"

  ## SFTP server running at localhost:1022
  sftp:
    container_name: jetpack_sftp
    image: atmoz/sftp
    volumes:
      - ..:/home/wordpress/var/www/html/wp-content/plugins/jetpack
      - dockerdirectory:/home/wordpress/var/www/html/wp-content/plugins/jetpack/docker
      - ./mu-plugins:/home/wordpress/var/www/html/wp-content/mu-plugins
      - ./wordpress:/home/wordpress/var/www/html
    ports:
      - "${PORT_SFTP:-1022}:22"
    env_file:
      - ./default.env
      - ./.env

  ## - The container wordpress is a very basic but custom container with WordPress and all of the tools we need
  ##   for development.
  ## - The container will be named jetpack_wordpress for easy reference when running docker/docker-compose commands
  ##
  ## Here we map the following:
  ##  - The local root directory (with Jetpack source code) into the container's directory for WordPress plugins
  ##  - The docker/mu-plugins directory you can put custom code that gets loaded with WordPress
  ##  - The docker/wordpress-develop directory where we'll get WordPress source code with unit tests
  ##  - The docker/wordpress directory so we can have Wordpress source code modifiable from the host file system
  ##  - The docker/logs/apache2 directory so we can access Apache log files directly from the host file system
  ##  - The docker/logs/php directory so we can access PHP log files directly from the host file system
  ##  - The docker/bin directory for provisioning scripts
  wordpress:
    container_name: jetpack_wordpress
    depends_on:
      - db
      - maildev
    build: .
    image: jetpack_wordpress:localbuild
    volumes:
      - ..:/var/www/html/wp-content/plugins/jetpack
      ## Kludge for not having docker contain recursive stuff
      ## You will see on your filesystem that this dir gets created
      - dockerdirectory:/var/www/html/wp-content/plugins/jetpack/docker
      - ./mu-plugins:/var/www/html/wp-content/mu-plugins
      - ./wordpress-develop:/tmp/wordpress-develop
      - ./wordpress:/var/www/html
      - ./logs/apache2/:/var/log/apache2
      - ./logs/php:/var/log/php
      - ./bin:/var/scripts
    ports:
      - "${PORT_WORDPRESS:-80}:80"
    restart: always
    env_file:
      - default.env
      - .env
    environment:
      - HOST_PORT=${PORT_WORDPRESS}
