.card {
	// Card main wrapper
	--product-card-bg-color: white;
	--product-card-border-color: #d5d5d5;
	--product-card-shadow: rgb(0 0 0 / 3%);
	--product-card-border-radius: 4px;
	
	background-color: var(--product-card-bg-color);
	border: 1px solid var(--product-card-border-color);
	border-radius: var(--product-card-border-radius);
	box-shadow: 0 2px 6px var(--product-card-shadow), 0 1px 2px var(--product-card-shadow);
	max-width: 384px;
}

.container {
	// @todo find a better way to change link color
	// since this could affect more places
	--wp-admin-theme-color: var(--jp-black);

	// all css variables used down in product-detail-card

	// Colors
	--jp-green-primary: #069e08;
	--jp-green-secondary: #2fb41f;
	--jp-text-color: ###;

	// Text
	--product-card-description-line-height: 1.5;
	--product-card-description-font-size: 16px;
	--product-card-price-font-size: 4rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 600px;
	padding: 60px 40px;

	h3 {
		font-size: var(--font-title-large);
		font-weight: 700;
		margin-top: 48px;
		line-height: 1.1;
		color: var( --jp-black );
		margin: 10px 0;
	}

	.checkout-button {
		margin-top: 20px;
		white-space: pre-line;
		height: auto;
		line-height: 26px;
	}

	// Product Icon
	& > svg {
		height: 30px;
		line-height: 30px;
	}
}

.name {
	line-height: var(--product-card-description-line-height);
	font-size: var(--product-card-description-font-size);
	margin: 0 0 22px;
}

.features {
	margin: 0 0 30px;
	padding: 0;
	li {
		list-style: none;
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		font-size: 14px;
		line-height: 1.4;
	}

	svg {
		fill: var(--jp-green-primary);
	}
}

.price-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-end;
	margin-top: auto;
	color: var(--jp-text-color);
}

.price {
	font-size: var(--product-card-price-font-size);
    display: flex;
	margin: 0;
	position: relative;

	&:first-child {
		margin-right: 10px;
	}

	.price-symbol {
		padding-right: 1px;
		font-size: 0.5em;
		line-height: 1.4;
	}

	.price-number {
		font-size: inherit;
		font-weight: 700;
		line-height: 1;
	}

	.price-fraction {
		padding-left: 1px;
		font-size: 0.35em;
		font-weight: 700;
		line-height: 1.7;
	}

	&.is-old {
    	color: #a7aaad;
		&:after {
			content: " ";
			display: block;
			width: 100%;
			height: 3px;
			background: #c9356e;
			border-radius: 5px;
			position: absolute;
			top: 50%;
			margin-top: -2px;
			pointer-events: none;
		}
	}
}

.price-description {
	color: #787c82;
	letter-spacing: 0.2px;
	flex-grow: 2;
}

.checkout-button {
	align-self: flex-start;
	font-size: 16px;
	padding: 8px 60px;
    text-align: center;;
	width: 100%;
	display: inline-block;
}
