.card {
	background-color: var(--jp-white);
	height: 100%;
}

.card-header {
	display: flex;
	align-items: center;
	background: var(--jp-black);
	color:var(--jp-white);
	border-radius: var(--jp-border-radius) var(--jp-border-radius) 0 0;
	padding: 0 var(--spacing-base); // 8px
	height: 32px;
}

.product-bundle-icon {
	fill: var(--jp-white);
	margin-right: var(--spacing-base);
}

.container {
	height: 100%;
	padding: 0 calc( var(--spacing-base) * 5); // 40px
}

.plus-icon {
	fill: rgb(140, 143, 148);
	height: 24px;
	line-height: 24px;
}

.product-has-required-plan {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		margin-right: var(--spacing-base);
	}
}

.checkout-button {
	display: inline-block;
	padding: 8px 60px;
	text-align: center;
	width: 100%;
	min-height: 42px;

	.components-spinner {
		margin: 0;
	}

	&:global(.is-secondary):hover:not(:disabled) {
		background: var(--jp-black);
		color: var(--jp-white);
	}

}

.features {
	margin: 0;

	li {
		list-style: none;
		display: flex;
		align-items: center;
		margin-bottom: var(--spacing-base);
	}

	svg {
		fill: var(--jp-green-primary);
	}
}

.price-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	color: var(--jp-text-color);
}

.price {
	position: relative;

	&:first-child {
		margin-right: var(--spacing-base);
	}

	&.is-old {
		color: var(--jp-gray-20);

		&:after {
			content: " ";
			display: block;
			width: 100%;
			height: 3px;
			background: var(--jp-red);
			border-radius: var(--jp-border-radius);
			position: absolute;
			top: 50%;
			margin-top: -2px;
			pointer-events: none;
		}
	}
}

.price-description {
	flex-grow: 2;
	color: var(--jp-gray-40);
}
