/**
 * Holiday Snow
 * Credits: https://codepen.io/keithclark/pen/DjXzBw
 *
 * @package automattic/jetpack-mu-wpcom
 */

@use 'sass:list';
@use 'sass:math';

$grid_width: 600;
$snow_density: 10;
$snow_speed: 9s;
$snow_selector: '#jetpack-holiday-snow';

// Random numbers, to replace the `random` function so we can have reproducable builds.
// Needs $snow_density entries. Intergers 3-6.
$snow_sizes: 6, 6, 3, 5, 3, 4, 6, 5, 4, 6;
// Needs $snow_density entries. Floats 0.6-1.0.
$snow_alphas: 0.8, 1, 0.9, 1, 0.6, 1, 1, 1, 0.8, 1;
// Needs $snow_density * 2 entries. Floats 0-1.
$snow_positions: 0.17857, 0.30782, 0.65476, 0.04422, 0.31145, 0.02525, 0.72542, 0.19153, 0.26094, 0.12121, 0.47466, 0.76351, 0.46259, 0.92007, 0.24915, 0.44915, 0.19088, 0.86993, 0.62925, 0.68707;

html {
	$grad: (
	);

	@for $i from 0 to $snow_density {
		$v: list.nth($snow_sizes, $i + 1);
		$alpha: list.nth($snow_alphas, $i + 1);
		$grad: $grad, radial-gradient($v + px $v + px at (round(list.nth($snow_positions, $i * 2 + 1) * ($grid_width - $v * 2)) + $v) + px (round(list.nth($snow_positions, $i * 2 + 2) * ($grid_width - $v * 2)) + $v) + px,
				rgba(255, 255, 255, $alpha) 50%,
				rgba(0, 0, 0, 0));
	}

	#{$snow_selector} {
		display: inline !important;
		background-color: rgba(0, 0, 0, 0.05);
		z-index: 9999999999 !important;
	}

	#{$snow_selector},
	#{$snow_selector}:before,
	#{$snow_selector}:after {
		pointer-events: none;
		position: fixed;
		top: -600px;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: $grad;
		background-size: 600px 600px;
		animation: snowstorm $snow_speed linear infinite;
		content: "";
	}

	#{$snow_selector}:after {
		margin-left: math.div( -$grid_width, 3 ) + px;
		opacity: .4;
		animation-duration: $snow_speed * 2;
		animation-direction: reverse;
		filter: blur(3px);
	}

	#{$snow_selector}:before {
		animation-duration: $snow_speed * 3;
		animation-direction: reverse;
		margin-left: math.div( -$grid_width, 2 ) + px;
		opacity: .65;
		filter: blur(1.5px);
	}

	@keyframes snowstorm {

		to {
			transform: translateY($grid_width + px);
		}
	}
}
