.bar-chart {
	display: flex;
	flex-direction: column;

	svg {
		overflow: visible;
	}

	&__legend {
		margin-top: 1rem;
	}

	&__keyboard-highlight {
		stroke: #1e40af !important;
		stroke-width: 3px !important;
		stroke-dasharray: none !important;
	}
}
