// ==========================================================================
// Global Shared Jetpack Styles
// ==========================================================================

// Utilities
// TODO Extract into other files

.jp-hidden-on-mobile {
	@include breakpoint( "<660px" ) {
		display: none;
	}
}

// General Elements

#wpbody-content {
	padding-bottom: 0;
}

#wpcontent {
	margin-left: 160px;
	padding: 0;
}

.folded #wpcontent {
	margin-left: 36px;
}

#wpcontent,
.auto-fold #wpcontent,
.auto-fold #wpfooter,
.modal,
.configure .frame.top.fixed {
	@media ( max-width: 900px ) {
		margin-left: 36px;
		padding-left: 0;
	};

	@media ( max-width: 782px ) {
		margin-left: 0;
	};
}

.jetpack-pagestyles #wpbody-content {
	background-color: $gray-light;
}

.jp-lower {
	margin: 0 auto;
	text-align: left;
	max-width: rem( 1200px );
	padding: rem( 20px );
}

#contextual-help-link-wrap {
	display: none;
}
