// Global layout styles

#contextual-help-link-wrap {
	display: none;
}

#jp-plugin-container {
	font-family: "open sans", sans-serif; // included in wp-admin

	h2 {
		font-weight: 600;
		font-size: em(22px);
	}

	p {
		font-size: em(16px);
		line-height: 165%;
	}

} // jp-plugin-contaimer

.jp-lower {
	padding: $gutter;
}