// ==========================================================================
// Global Shared Jetpack Styles
// ==========================================================================

// Utilities
// TODO Extract into other files

.jp-hidden-on-mobile {
	@include breakpoint( "<660px" ) {
		display: none;
	}
}

// General Elements

.jetpack-pagestyles #wpbody-content {
	background-color: $gray-light;
}

#jp-plugin-container {
	text-align: center;

	a {
		&:hover {
			text-decoration: underline;
		}
		&:active,
		&:visited {
			text-decoration: none;
		}
	}
} // jp-plugin-contaimer


.jp-lower {
	margin: 0 auto;
	text-align: left;
	max-width: rem( 1200px );
	padding: rem( 20px );
}

#contextual-help-link-wrap {
	display: none;
}
