// ==========================================================================
// Global Shared Jetpack Styles
// ==========================================================================

// General Elements

#jp-plugin-container {

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
		&:active, 
		&:visited {
			text-decoration: none;
		}
	}
} // jp-plugin-container

#contextual-help-link-wrap {
	display: none;
}

#jp-plugin-container {
	font-family: "open sans", sans-serif; // included in wp-admin

	h2 {
		font-weight: 600;
		font-size: rem( 22px );
	}

	p {
		font-size: rem( 16px );
		line-height: 165%;
	}

} // jp-plugin-contaimer

.jp-lower {
	padding: rem( 20px );
}
