// ==========================================================================
// Global Shared Jetpack Styles
// ==========================================================================

// Utilities
// TODO Extract into other files

.jp-hidden-on-mobile {
	@include breakpoint( "<660px" ) {
		display: none;
	}
}

// General Elements

#jp-plugin-container {
	text-align: center;
	font-family: "open sans", sans-serif; // included in wp-admin
	background-color: $gray-light; 

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	h2 {
		font-weight: 600;
		font-size: rem( 22px );
	}

	a {
		&:hover {
			text-decoration: underline;
		}
		&:active,
		&:visited {
			text-decoration: none;
		}
	}
} // jp-plugin-contaimer


.jp-lower {
	margin: 0 auto;
	text-align: left;
	max-width: rem( 1200px );
	padding: rem( 20px );
}

#contextual-help-link-wrap {
	display: none;
}
