// ==========================================================================
// Global Shared Jetpack Styles
// ==========================================================================

// Utilities
// TODO Extract into other files

.jp-hidden-on-mobile {
	@include breakpoint( "<660px" ) {
		display: none;
	}
}

// General Elements

.jetpack-pagestyles #wpcontent {
	padding-left: 0;
}

.wp-admin.toplevel_page_jetpack {
	background-color: $gray-light;
	line-height: 1.4; // fixes core bug that sets an em unit on body
	height: auto;
}

.jetpack-pagestyles a {
	text-decoration: none;
}

.dops-notice__text a {
	text-decoration: underline;
}

// Hello Dolly positioning overwrite
.jetpack-pagestyles #dolly {
	float: none;
	position: relative;
	right: 0;
	left: 0;
	top: 0;
	padding: rem( 10px );
	text-align: right;
	background: $white;
	font-size: rem( 12px );
	font-style: italic;
	color: $gray;
	border-bottom: 1px lighten( $gray, 30% ) solid;

	@include breakpoint( "<660px" ) {
		display: none;
	}
}

// restyled the arrow to match our gray
.toplevel_page_jetpack ul#adminmenu a.wp-has-current-submenu:after {
	border-right-color: $gray-light;
}

.jp-lower {
	margin: 0 auto;
	text-align: left;
	max-width: rem( 720px );
	padding: rem( 24px );
}

#contextual-help-link-wrap {
	display: none;
}
.is-placeholder {
	animation: pulse-light 0.8s ease-in-out infinite;
	background: lighten( $gray, 20% );
}

@keyframes pulse-light {
	50% { background-color: lighten( $gray, 30% ); }
}