@use "../../scss/z-index";
@use "scss/calypso-mixins";

.global-notices {
	text-align: right;
	pointer-events: none;

	z-index: z-index.z-index("root", ".global-notices");
	position: fixed;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;

	@include calypso-mixins.breakpoint( ">660px" ) {
		top: 47px + 16px;
		right: 16px;
		bottom: auto;
		left: auto;

		/* `36px` being the width of the collapsed WP-admin sidebar */
		max-width: calc(100% - 32px - 36px);
	}

	@include calypso-mixins.breakpoint( ">960px" ) {
		top: 47px + 24px;
		right: 24px;

		/* `160px` being the width of the WP-admin sidebar */
		max-width: calc(100% - 48px - 160px);
	}

	@include calypso-mixins.breakpoint( ">1040px" ) {
		right: 32px;

		/* `160px` being the width of the WP-admin sidebar */
		max-width: calc(100% - 64px - 160px);
	}
}
