.jetpack-contact-form .jetpack-field {

	.jetpack-field__input,
	.jetpack-field__textarea {
		box-sizing: border-box;

		input,
		textarea {
			border: 0;
			font: inherit;
			flex: 1;
			outline: none;
			color: inherit;
			background: inherit;
			width: inherit;
			box-sizing: border-box;
			resize: none;

			&::before,
			&::after {
				box-sizing: inherit;
			}
		}
	}

	.jetpack-field__input {

		.jetpack-field__input-prefix {
			font: inherit;
			border: 0;
			color: inherit;

			select {
				font: inherit;
				border: 0;
				color: inherit;
				outline: none;
				background: inherit;
			}
		}
	}
}
