#wpcom-site-visibility {

	ul {

		ul {
			margin: 14px 18px;
		}
	}

	.components-toggle-control__label {
		display: inline-flex;
		align-items: center;
		gap: 4px;
	}

	.copy-to-clipboard-container {

		span.success {
			font-size: 12px;
		}
	}
}
