.jetpack-premium-analytics-syncing {
	max-width: 450px;
	text-align: center;
}

.jetpack-premium-analytics-syncing__title {
	font-size: var( --wpds-typography-font-size-xl );
	font-weight: var( --wpds-typography-font-weight-medium );
	line-height: var( --wpds-typography-line-height-lg );
}

.jetpack-premium-analytics-syncing__description {
	color: var( --wpds-color-fg-content-neutral-weak );
	font-size: var( --wpds-typography-font-size-md );
	line-height: var( --wpds-typography-line-height-sm );
}

.jetpack-premium-analytics-syncing__progress {
	width: 100%;
}

.jetpack-premium-analytics-syncing__percentage {
	color: var( --wpds-color-fg-content-neutral-weak );
	font-size: var( --wpds-typography-font-size-sm );
	line-height: var( --wpds-typography-line-height-xs );
}
