/*
 * Add base monospace styling.
 *
 * In the frontend this is be handled by the user agent styles
 * because a PRE element is used.
 * The editor does not use PRE, so a base style is provided.
 */
:root :where(.wp-block-code) {
	font-family: monospace;
}

.wp-block-code {

	/* A notice is used to warn of experimental status. */
	.components-notice {
		margin-top: -10px;

		a {

			&:not(:hover, :active, :focus) {
				color: var(--wp-admin-theme-color, #3858e9);
			}
		}
	}

	.components-base-control__field {
		margin: 0;
	}

	.components-base-control,
	.components-base-control__field,
	.components-input-control__container > button,
	.components-text-control__input {
		font-size: inherit;
	}

	.components-text-control__input {
		margin-left: -12px;
		background-color: transparent;
		color: inherit;
		font-family: inherit;

		&::placeholder {
			color: hsl(from currentColor h s l / 0.6);
		}
	}

	/* Override CodeMirror's font family to respect theme and editor settings. */
	.cm-scroller {
		font-family: inherit;
	}

	.cm-gutters {
		color: oklch(from currentColor l c h / 0.6);
		background-color: transparent;
		border: none;
	}

	.cm-gutterElement {
		backdrop-filter: blur(1em);
	}

	/* Disable active line highlight on inactive blocks. */
	&:not(.is-selected) .cm-activeLine {
		background-color: transparent !important;
	}
}

.a8c\/code__header {
	padding: 0 12px;
}

.a8c\/code__btn-copy {
	text-transform: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
}

.a8c\/code__filename.components-base-control {
	margin: -1px;
}

.a8c\/code__language-select {

	button,
	.components-input-control__container {
		background-color: transparent;
		color: inherit;
	}
}
