.jp-dashboard-footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1128px;

	color: #000;
}
.jp-dashboard-footer__module-name,
.jp-dashboard-footer__jetpack-symbol {
	vertical-align: middle;
	display: inline-block;
}
.jp-dashboard-footer__module-name {
	margin-left: 5px;
	font-size: 12px;
	font-weight: 600;
}
