.jetpack-footer {
	align-items: center;
	border-top: var(--wpds-border-width-xs, 1px) solid var(--wpds-color-stroke-surface-neutral-weak, #e0e0e0);
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-body-extra-small);
	padding: var(--wpds-dimension-padding-2xl, 24px);
	width: 100%;
	line-height: 1.333;

	a {
		text-decoration: none;

		&:any-link,
		&[role="button"] {
			color: inherit;
		}

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 1.5px;
		}

		&:focus {
			box-shadow: none;
			outline-width: 0;
		}

		&:focus-visible {
			border-radius: 2px;
			box-shadow: none;
			outline: 1.5px solid currentColor;
			outline-offset: 3px;
		}
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			margin-bottom: 0;

			> a {
				display: flex;
				align-items: center;
				gap: 0.25rem;

				min-height: 44px; // Minimum target area size
			}
		}
	}
}

a.jetpack-footer__a8c {
	text-decoration: none;
	margin-inline-start: auto;
}

.jetpack-footer__accessible-external-link {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	overflow-wrap: normal;
}
