@import "@wordpress/base-styles/breakpoints";
@import "@wordpress/base-styles/mixins";

.wpcom-block-editor-post-published-recommended-tags-modal {

	.components-modal__content {
		margin-top: 0;
		padding: 96px 24px;

		@include break-small {
			padding: 52px;
		}

		.wpcom-block-editor-post-published-recommended-tags-modal__inner {
			display: flex;
			flex-direction: column;

			p a {
				color: var(--color-text);
				text-decoration: underline;
				white-space: nowrap;

				&:hover {
					color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
					text-decoration: none;
				}
			}
		}

		h1 {
			margin-top: 0;
			/* stylelint-disable-next-line declaration-property-unit-allowed-list */
			font-size: 2.25rem;

			@include break-small {
				font-size: 26px;
				font-weight: 500;
				line-height: 1;
			}
		}

		.wpcom-block-editor-post-published-recommended-tags-modal__actions {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-top: 24px;

			.wpcom-block-editor-post-published-recommended-tags-modal__actions-checkbox {
				color: var(--studio-gray-60);

				label {
					display: flex;
				}
			}
		}

		.form-checkbox {
			margin-top: 1px;
			height: 1rem;
			width: 1rem;

			&::before {
				width: 1.3125rem;
				height: 1.3125rem;
			}
		}

		.wpcom-block-editor-post-published-recommended-tags-modal__suggest-tags {
			flex: fit-content;
			width: 100%;

			@include break-small {
				width: 385px;
			}

			> p {
				/* stylelint-disable-next-line declaration-property-unit-allowed-list */
				font-size: 1rem;
			}
		}
	}
}
