@import '@automattic/jetpack-base-styles/style';

.jp-connection__manage-dialog {
	--spacing-base: 8px;
	margin: auto;
	width: 1200px;
	border-radius: 3px;

	h1 {
		margin: 0;
		font-size: var( --font-title-large );
		font-weight: 600;
		line-height: 1.2;
	}

	&__large-text {
		margin-bottom: calc( var( --spacing-base ) * 4 );
		max-width: 60%;
		font-weight: 600;
		font-size: 1.25rem;
	}

	.components-modal__header{
		border: none;
	}

	.components-modal__content{
		margin: 0;
		padding:0;
	}

	.jp-connection__action-card {
		background-color: var( --jp-white );
		width: 750px;
		max-width: 100%;
		padding: 1rem 2rem;
		border-radius: 3px;
		box-shadow: 0 0 15px var( --jp-gray-off );
		margin: var( --spacing-base ) auto;
		text-align: left;
		border: none;

		&__card-headline {
			font-size: var( --font-body );
			font-weight: 600;
			text-decoration: none;
		}

		.transfer {
			color:var( --jp-black );
			fill: var( --jp-black );
		}

		.disconnect {
			color: var( --jp-red );
			fill: var( --jp-red );
		}

		&__icon {
			float:right;
		}
	}

	&__content{
		background: var( --jp-white-off );
		padding: 80px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__actions{
		background: var( --jp-white );
		margin:0px !important;
		border-top: 1px solid var( --jp-gray );
		max-width: 1200px !important;
		padding: calc( var( --spacing-base ) * 3 ) calc( var( --spacing-base ) * 5 );
		align-items:center;
		position: sticky;
		bottom: 0;
		p {
			font-size: var( --font-body );
		}
	}

	&__link {
		color: var( --jp-black );
		//font: inherit;

		&:hover {
			color: var( --jp-black );
			text-decoration-thickness: var( --jp-underline-thickness );
		}

		&:focus {
			color: var( --jp-black );
		}
	}

	&__button-wrap button{
		float:right;
	}
}
