.jetpack-instant-search__jetpack-colophon {
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

.jetpack-instant-search__jetpack-colophon-link {
	align-items: center;
	color: inherit;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.jetpack-instant-search__jetpack-colophon-logo {
	display: inline;
}

.jetpack-instant-search__jetpack-colophon-text {
	font-size: 0.7em;
	font-weight: 600;
	padding-left: 6px;
}
