@import 'modules/calypsoify/_studio-wpcom.scss';

.jetpack-instant-search__notice {
	padding: 0.75em;
	margin-bottom: 1em;
	font-size: 14px;

	&.jetpack-instant-search__notice--warning {
		background-color: $studio-yellow-5;
		color: $studio-yellow-80;
	}

	.gridicon {
		vertical-align: middle;
		margin-top: -5px;
		margin-right: 0.5em;
	}
}
