.jetpack-instant-search__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999999;
	width: 100vw;
	height: 100vh;
	padding: 3em 1em;
	opacity: 0.975;
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity 0.5s linear, 0.25s transform ease-in-out;

	&.is-hidden {
		transform: translateX( 100vw );
	}
}

.jetpack-instant-search__overlay-close {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
}
