.jetpack-instant-search__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999999;
	width: 100vw;
	height: 100vh;
	padding: 3em 1em;
	background: rgba(255, 255, 255, 0.975);
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity 0.5s linear, 0.25s transform ease-in-out;

	&.is-hidden {
		transform: translateX( 100vw );
	}

	&.jetpack-instant-search__overlay--light {
		background: #fff;
	}

	&.jetpack-instant-search__overlay--dark {
		background: #131313;
	}
}

.jetpack-instant-search__overlay-close {
	position: fixed;
	top: 4px;
	right: 4px;
	z-index: 20;
	width: 44px;
	height: 44px;
	margin: 0;
	padding: 10px;
	line-height: 1;
	cursor: pointer;

	@include break-medium() {
		position: absolute;
		top: -32px;
		width: 64px;
		height: 64px;
		padding: 20px;
	}
}
