.jetpack-instant-search__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999999;
	width: 100vw;
	height: 100vh;
	padding: 3em 1em;
	background: rgba(255, 255, 255, 0.975);
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity 0.15s ease-in-out;
	box-sizing: border-box;

	&.is-hidden {
		transform: translateX( 100vw );
	}

	&.jetpack-instant-search__overlay--light {
		background: #fff;
	}

	&.jetpack-instant-search__overlay--dark {
		background: #131313;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}
}

.jetpack-instant-search__overlay-close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 1;
	cursor: pointer;

	@include break-medium() {
		position: absolute;
		top: -22px;
		right: 8px;
		width: 64px;
		height: 64px;
		padding: 20px;
	}
}
