button.jetpack-instant-search__more-button {
	margin-top: 40px;
	width: 75%;
	height: auto;
	padding: 3px;
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	border: 2px solid #222;
	background-color: #eee;
	color: #000;
}

button.jetpack-instant-search__more-button :hover{
	border-color: #000;
	background-color: #999;
}
