@import '../../../../_inc/client/scss/variables/colors';

.jetpack-instant-search__result {
	padding: 0.125em 0;
	margin: 1em 0;
	a {
		box-shadow: inset 0 0 0 rgba( black, 0 ), 0 1px 0 rgba( black, 1 );
		transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	}
	a:hover,
	a:focus {
		box-shadow: inset 0 0 0 rgba( black, 0 ), 0 3px 0 rgba( black, 1 );
	}
}

.jetpack-instant-search__result-author-and-date {
	margin: 0.5em 0;
	display: flex;
	justify-content: space-between;
}

.jetpack-instant-search__result-date {
	color: $gray;
}

.jetpack-instant-search__result-excerpt {
	color: $gray;
}
