.jetpack-instant-search__box {
	display: flex;
	align-items: center;
	flex: 0 0 100%;
}

.jetpack-instant-search__box-filter-icon {
	margin-left: 4px;
	cursor: pointer;
}

/* apply to all the inputs to try and pick up any theme styling */
.jetpack-instant-search__box input {
	width: 100%;
}
