.jetpack-instant-search__box {
	position: relative;
}

.jetpack-instant-search__box-label {
	display: flex;
	align-items: center;
	flex: 0 0 100%;
}

input.jetpack-instant-search__box-input.search-field {
	margin: 0;
	padding: 4px 14px;
	font-size: 18px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	line-height: 1;
	text-indent: 32px;
	vertical-align: middle;
	-webkit-appearance: none;

	.jetpack-instant-search__overlay--light & {
		color: #666666;
		background: #ffffff;
		border-color: #b8b8b8;

		&:hover {
			color: #000000;
			border-color: #8e8e8e;
		}

		&:focus {
			color: #000000;
			border-color: #5A5A5A;
		}
	}

	.jetpack-instant-search__overlay--dark & {
		color: #b0b0b0;
		background: #000000;
		border-color: #5a5a5a;

		&:hover {
			color: #ffffff;
			border-color: #8e8e8e;
		}

		&:focus {
			color: #ffffff;
			border-color: #c8c8c8;
		}
	}
}

.jetpack-instant-search__box-gridicon {
	position: absolute;
	top: 0;
	left: 14px;
	z-index: 1;
	display: flex;
	align-items: center;
	height: 100%;

	svg {
		fill: #666666;
	}
}

.jetpack-instant-search__box-filter-area {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.jetpack-instant-search__box-filter-button,
.jetpack-instant-search__box-filter-option {
	padding: 8px;
	font-size: 12px;
	border: 1px solid #8e8e8e;
	text-decoration: none;
	transition: background-color 0.25s ease-in-out;

	@include break-small() {
		padding: 10px 14px;
		font-size: 13px;
	}

	.jetpack-instant-search__overlay--light & {
		color: #000;
	}

	.jetpack-instant-search__overlay--dark & {
		color: #fff;
	}
}

.jetpack-instant-search__box-filter-button {
	display: flex;
	align-items: center;
	margin-right: 6px;
	border-radius: 5px;
	cursor: pointer;

	@include break-small() {
		margin-right: 16px;
	}

	@include break-medium() {
		display: none;
	}

	&:hover,
	&:focus {
		.jetpack-instant-search__overlay--light & {
			background-color: #d2d2d2;
		}

		.jetpack-instant-search__overlay--dark & {
			background-color: #4f4f4f;
		}
	}

	.gridicon {
		margin-left: 4px;
	}
}

.jetpack-instant-search__box-filter-order {
	display: flex;
}

.jetpack-instant-search__box-filter-option {
	border: 1px solid #8e8e8e;
	border-right-width: 0;
	cursor: pointer;

	&:first-of-type {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	&:last-of-type {
		border-right-width: 1px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&.is-selected,
	&:hover,
	&:focus {
		.jetpack-instant-search__overlay--light & {
			background-color: #d2d2d2;
		}

		.jetpack-instant-search__overlay--dark & {
			background-color: #4f4f4f;
		}
	}

	&.is-selected {
		text-decoration: none;

		.jetpack-instant-search__overlay--light & {
			border-color: #000;
		}

		.jetpack-instant-search__overlay--dark & {
			border-color: #d4d4d4;
		}

		& + .jetpack-instant-search__box-filter-option {
			.jetpack-instant-search__overlay--light & {
				border-left: 1px solid #000;
			}

			.jetpack-instant-search__overlay--dark & {
				border-left: 1px solid #d4d4d4;
			}
		}
	}
}

/* apply to all the inputs to try and pick up any theme styling */
.jetpack-instant-search__box input,
.jetpack-instant-search__box input[type='search'].jetpack-instant-search__box-input {
	width: 100%;
	height: 52px;
	transition: color 0.15s ease-in-out, border-color 0.25s ease-in-out;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: initial;
		-webkit-appearance: searchfield;
	}
}
