$arrow-height: 10px;

.jetpack-instant-search__search-form-filters {
	position: absolute;
	top: 52px;
	right: 0;
	z-index: 10;
	width: 100%;
	margin: 12px 0 32px;
	padding: 16px 24px;
	border-radius: 6px;

	.jetpack-instant-search__jetpack-colophon {
		margin-bottom: 1em;
	}

	.jetpack-instant-search__jetpack-colophon-text {
		font-size: 0.8em;
	}

	.jetpack-instant-search__overlay--light & {
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	}

	.jetpack-instant-search__overlay--dark & {
		background: #222;
		border: 1px solid rgba(140, 140, 140, 0.1);
		box-shadow: 0 2px 3px rgba(140, 140, 140, 0.1);
	}

	@include break-small() {
		width: auto;
		min-width: 360px;
	}

	@include break-medium() {
		display: none;
	}
}

.jetpack-instant-search__search-form-filters-arrow {
	position: absolute;
	top: ( $arrow-height + 1px ) * -1;
	right: 16px;
	width: $arrow-height * 2;
	height: $arrow-height;

	&:before,
	&:after {
		content: '';
		position: absolute;
		border-color: transparent;
		border-style: solid;
		border-width: 0 $arrow-height $arrow-height $arrow-height;
	}

	&:before {
		top: 0;

		.jetpack-instant-search__overlay--light & {
			border-bottom-color: rgba(0, 0, 0, 0.1 );
		}

		.jetpack-instant-search__overlay--dark & {
			border-bottom-color: rgba(140, 140, 140, 0.25 );
		}
	}

	&:after {
		top: 1px;

		.jetpack-instant-search__overlay--light & {
			border-bottom-color: #fff;
		}

		.jetpack-instant-search__overlay--dark & {
			border-bottom-color: #222;
		}
	}
	
	@include break-medium() {
		display: none;
	}
}