.jetpack-instant-search__filter-list {
	margin-bottom: 10px;
	text-align: left;
}

.jetpack-instant-search__filter-list-input,
// Extra specific to override width in some themes, e.g. Zerif Lite
.widget_search .jetpack-instant-search__filter-list-input {
	width: inherit;
	cursor: pointer;
}

.jetpack-instant-search__filter-list-label,
// Extra specific to override width in some themes, e.g. Zerif Lite
.widget_search .jetpack-instant-search__filter-list-label {
	display: inline-block;
	width: auto;
	margin-left: 5px;
	cursor: pointer;
}

.jetpack-instant-search__clear-filters-button {
	margin-bottom: 1em;
}
