.jetpack-instant-search__search-results {
	padding: 0.125em 2em;
	margin: 0 auto;
	position: relative;
	max-width: 1080px;
	min-height: 400px;
	text-align: left;

	mark {
		background-color: #ffc;
		font-weight: bold;
		color: inherit;
		padding: 0;
	}
}

.jetpack-instant-search__search-results-real-query {
	font-size: 1.5em;
	text-decoration: bold;
}

.jetpack-instant-search__search-results-unused-query,
.jetpack-instant-search__search-results-real-query {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.jetpack-instant-search__result-comments {
	padding-left: 10px;
	margin-left: 1px;
	margin-top: 10px;
	border-left: 2px solid #eee;
	font-size: 0.9em;
}

.jetpack-instant-search__search-results-list {
	list-style: none;
	margin: 0;
	padding: 0;

	// Accessibility improvement for VoiceOVer
	// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#Accessibility_concerns
	li:before {
		content: '\200B';
		height: 1px;
		position: absolute;
		width: 1px;
	}
}

.jetpack-instant-search__search-results-search-form {
	// Only display the search form in the main column at the smallest breakpoint
	@include break-small {
		display: none;
	}

	font-size: 0.8em;

	.jetpack-instant-search__sort-select {
		font-size: 0.9em;
	}
}
