.jetpack-instant-search__search-result-minimal {
	padding: 0.125em 0;
	margin: 1em 0;
	position: relative;
}

.jetpack-instant-search__search-result-title {
	clear: none;
	overflow: hidden;

	.gridicon {
		margin-right: 8px;
	}
}

.jetpack-instant-search__search-result-date {
	font-size: 0.85em;
	margin: 0.5em 0;
}

.jetpack-instant-search__search-result-minimal-tag,
.jetpack-instant-search__search-result-minimal-cat {
	margin-right: 0.5em;
}

.jetpack-instant-search__search-result-minimal-tags,
.jetpack-instant-search__search-result-minimal-cats {
	padding-left: 10px;
}
