.jetpack-instant-search__box {
	position: relative;
	display: flex;
	align-items: center;
	flex: 0 0 100%;
}

input.jetpack-instant-search__box-input.search-field {
	background: #fff;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #b8b8b8;
	color: black;
	font-size: 18px;
	line-height: 1;
	margin: 0;
	padding: 4px 14px;
	text-indent: 32px;
	vertical-align: middle;

	&:hover {
		border-color: #8E8E8E;
	}

	&:focus {
		border-color: #5A5A5A;
	}
}

.jetpack-instant-search__box-gridicon {
	position: absolute;
	top: 15px;
	left: 14px;

	svg {
		fill: #666666;
	}
}

.jetpack-instant-search__box-filter-icon {
	margin: 0 16px;
	cursor: pointer;

	@include break-medium() {
		display: none;
	}
}

/* apply to all the inputs to try and pick up any theme styling */
.jetpack-instant-search__box input,
.jetpack-instant-search__box input[type='search'].jetpack-instant-search__box-input {
	width: 100%;
  height: 52px;
	transition: color, border-color 0.25s ease-in-out;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: initial;
		-webkit-appearance: searchfield;
	}
}
