.jetpack-search-filters-widget__filter-list {
	list-style-type: none;
}

// Hide the search modal in the TwentyTwenty theme
.theme-twentytwenty .cover-modal.show-modal.search-modal {
	display: none;
}

// Text meant only for screen readers
// https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
