label.jp-instant-search__box input:focus {
}

/* apply to all the inputs to try and pick up any theme styling */
.jp-instant-search__box input {
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 26px;
	width: 100%;
	line-height: 1.2em;
}
