$min-height: 190px;

.jetpack-instant-search__search-results-list.is-format-product {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.jetpack-instant-search__result-expanded {
	display: flex;
	flex-direction: row;
	margin: 2em 0;

	&:last-child {
		margin-right: 0;
	}

	.jetpack-instant-search__result-expanded__title {
		line-height: 1.1;
		margin: 0;
		width: 100%;
	}
}
.jetpack-instant-search__result-expanded__path {
	font-size: 0.9em;
	margin: 0.5em 0;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 40em;
	.jetpack-instant-search__result-expanded--no-image & {
		max-width: 46em;
	}
}

.jetpack-instant-search__result-expanded__path-link {
	text-decoration: none;
}

.jetpack-instant-search__result-expanded__path,
.jetpack-instant-search__result-expanded__path-link {
	.jetpack-instant-search__overlay--light & {
		color: $studio-gray-70;
	}
	.jetpack-instant-search__overlay--dark & {
		color: $studio-gray-30;
	}
}

.jetpack-instant-search__result-expanded__copy-container {
	min-height: $min-height;
	width: 70%;

	.jetpack-instant-search__result-expanded--no-image & {
		width: initial;
	}
}

.jetpack-instant-search__result-expanded__content {
	font-size: 0.9em;
}

.jetpack-instant-search__result-expanded__image-container {
	margin-left: 1em;
	width: 30%;

	.jetpack-instant-search__result-expanded--no-image & {
		display: none;
	}
}
.jetpack-instant-search__result-expanded__image {
	min-height: $min-height;
	width: 100%;
	border-radius: 5px;
}
.jetpack-instant-search__result-expanded__image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.jetpack-instant-search__result-expanded__img {
	margin: 0.5em 0.5em 0.5em 0;
}
