@import '../lib/style-helpers';

.jetpack-instant-search__search-results {
	position: relative;
	display: flex;
	z-index: 10;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0.125em 0;
	text-align: left;

	mark {
		padding: 0;
		font-weight: inherit;
	}

	.jetpack-instant-search__overlay--light & {
		color: inherit;

		mark {
			background-color: #ffc;
		}

		.jetpack-instant-search__overlay-close svg {
			fill: #000;
		}

		.jetpack-instant-search__overlay-close:focus {
			outline-color: #000;
		}
	}

	.jetpack-instant-search__overlay--dark & {
		color: #fff;

		mark {
			background-color: #324e85;
		}

		.jetpack-instant-search__overlay-close svg {
			fill: #fff;
		}

		.jetpack-instant-search__overlay-close:focus {
			outline-color: #fff;
		}
	}

	@include break-small() {
		padding: 0.125em 2em;
	}
}

.jetpack-instant-search__search-results-primary {
	flex: 5;
	margin-bottom: 6em;

	@include break-medium() {
		margin-right: 4em;
		.jetpack-instant-search__overlay--no-sidebar & {
			margin-right: 0;
		}
	}
}

.jetpack-instant-search__search-results-secondary {
	display: none;

	@include break-medium() {
		position: static;
		display: block;
		flex: 2;
		width: auto;
		background: none;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		.jetpack-instant-search__overlay--no-sidebar & {
			display: none;
		}
	}
}

.jetpack-instant-search__search-results-title {
	font-size: 1em;
	font-weight: bold;
}

.jetpack-instant-search__search-results-title,
.jetpack-instant-search__search-results-unused-query {
	overflow: hidden;
	margin: 0 0 2em 0;
	padding: 0;
}

.jetpack-instant-search__result-comments {
	margin-left: 8px;
	margin-top: 16px;
	padding-left: 16px;
	font-size: 0.9em;
	border-left: 2px solid #eee;
	word-break: break-word;

	.gridicon {
		margin-right: 8px;
		vertical-align: middle;
	}
}

.jetpack-instant-search__search-results-list {
	list-style: none;
	margin: 0;
	padding: 0;

	// Accessibility improvement for VoiceOVer
	// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#Accessibility_concerns
	li:before {
		content: '\200B';
		position: absolute;
		height: 1px;
		width: 1px;
	}
}

.jetpack-instant-search__search-results-search-form {
	position: relative;
	margin-bottom: 1em;
	font-size: 0.8em;

	.jetpack-instant-search__sort-select {
		font-size: 0.9em;
	}
}

.jetpack-instant-search__overlay-close {
	appearance: none;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 1;
	cursor: pointer;
	text-decoration: none;

	@include break-medium() {
		position: absolute;
		top: -$overlay-vertical-padding;
		right: 8px;
		width: 64px;
		height: 64px;
		padding: 20px;
	}

	&:focus {
    	outline: 1px dotted;
    }
}
