.bar-wrapper {
	:global .record-meter-bar__items{
		height: 1.5rem;
	}
}

.wrapper {
	.title {
		font-weight: 600;
		text-transform: uppercase;
	}
	:global .record-meter-bar__legend {
		display: flex;
		gap: 1rem;
	}
}
