@import '../../scss/mixin_breakpoint';
@import '../recommended-features/variables';

.jp-setup-wizard-feature-toggle-group {
	margin-bottom: 75px;

	@include breakpoint( $less-than-vertical-break ) {
		margin-bottom: 50px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	h2 {
		text-align: left;
		margin: 1rem 0 0.25rem 0;

		@include breakpoint( $less-than-vertical-break ) {
			margin: 1rem 1rem 0.25rem 1rem;
		}
	}
}

.jp-setup-wizard-feature-toggle-group-details {
	text-align: left;
	margin: 0 0 1rem 0;

	@include breakpoint( $less-than-vertical-break ) {
		margin: 0 1rem 1rem 1rem;
	}
}

.jp-setup-wizard-feature-toggle-group-toggles-area-container {
	display: flex;
	flex-direction: column;
}

.jp-setup-wizard-feature-toggle-group-toggle-container {
	@include breakpoint( $greater-than-vertical-break ) {
		margin: 0.25rem 0;
	}

	@include breakpoint( $less-than-vertical-break ) {
		margin-top: -1px;
	}
}
