.bluesky-preview__post-header {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	gap: 0.5rem;
	max-width: max-content;

	margin-bottom: 0.625rem;

	font-size: 0.9375rem;
	line-height: 1.47;

	&-user {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		gap: 0.5rem;
	}

	&--displayname,
	&--username {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 2ch;
	}

	&--displayname {
		font-size: 16px;
		letter-spacing: 0.25px;
		font-weight: 700;
		line-height: 19px;
		color: rgb(11, 15, 20);
		min-width: 3ch;
	}

	&--username,
	&--separator,
	&--date {
		font-size: 15px;
		letter-spacing: 0.25px;
		font-weight: 400;
		color: rgb(66, 87, 108);
	}

}
