/* NOAUTORTL */
.for-codemirror, .CodeMirror {
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	line-height: 16px;
	margin: 16px 0;
	direction: ltr;
	text-align: left;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.CodeMirror {
	margin-left: -19px;
	margin-right: -19px;
}
.for-codemirror {
	width: 98%;
	height: 300px;
}
#customize-control-wpcom_custom_css_content_width_control > label {
	position: relative;
	width: 100px;
}
#customize-control-wpcom_custom_css_content_width_control .customize-control-title {
	padding-bottom: 6px;
}
#customize-controls #customize-control-wpcom_custom_css_content_width_control input[type="text"], /* stronger selector to override new-customizer.css */
#customize-control-wpcom_custom_css_content_width_control input[type="text"] {
	width: 64px;
	padding-right: 22px;
	text-align: right;
}
#customize-control-wpcom_custom_css_content_width_control input[type="text"] + span {
	position: absolute;
	left: 43px;
	padding-top: 3px;
	opacity: .8;
}
@-moz-document url-prefix() {
	#customize-control-wpcom_custom_css_content_width_control input[type="text"] + span {
		top: 47px;
	}
}
#customize-control-wpcom_custom_css_content_width_control input[type="text"]:focus + span {
	opacity: 1;
}

#customize-control-wpcom_custom_css_content_width_control .description {
	display: block;
	margin: 28px 0 0 0;
	color: #aaa;
}
#customize-control-wpcom_custom_css_content_width_control .description strong {
	font-style: normal;
}
#customize-control-jetpack_custom_css_control {
	position: relative;
}
.css-help {
	width: 100%;
	overflow: hidden;
	right: -11px;
	position: relative;
}
.css-help a {
	float: right;
	padding: 0 .5em;
}

#accordion-section-jetpack_custom_css .customize-control {
	margin-top: 10px;
}

#accordion-section-jetpack_custom_css .accordion-section-content {
	overflow: visible;
  overflow-y: scroll;
}

#accordion-section-jetpack_custom_css .accordion-section-content:before {
	content: "";
	display: table;
}

#accordion-section-jetpack_custom_css .accordion-section-content:after {
	content: "";
	display: table;
	clear: both;
}

body.editing-css .wp-full-overlay-sidebar {
	width: 500px;
}

body.editing-css .wp-full-overlay.expanded {
	margin-left: 500px;
}
