$break-small: 600px;
$grid-size-large: 16px;

@mixin break-small() {
	@media ( min-width: #{ ( $break-small ) } ) {
		@content;
	}
}

@import './components/gridicon/style.scss';
@import './components/notice.scss';
@import './components/search-results.scss';
@import './components/search-filters.scss';
@import './components/search-sort.scss';
@import './components/search-box.scss';
@import './components/search-form.scss';
@import './components/search-result-minimal.scss';
@import './components/search-result-product.scss';

.jetpack-instant-search__is-loading {
	opacity: 0.2;
}
