$break-small: 600px;
$break-medium: 768px;
$grid-size-large: 16px;

@mixin break-small() {
	@media ( min-width: #{ ( $break-small ) } ) {
		@content;
	}
}

@mixin break-medium() {
	@media ( min-width: #{ ( $break-medium ) } ) {
		@content;
	}
}

@import 'node_modules/@automattic/color-studio/dist/color-variables.scss';

@import './components/gridicon/style.scss';
@import './components/jetpack-colophon.scss';
@import './components/notice.scss';
@import './components/overlay.scss';
@import './components/search-results.scss';
@import './components/search-filters.scss';
@import './components/search-box.scss';
@import './components/search-form.scss';
@import './components/search-result-minimal.scss';
@import './components/search-result-expanded.scss';
@import './components/search-result-product.scss';
@import './components/search-sidebar.scss';

.jetpack-search-filters-widget__filter-list {
	list-style-type: none;
}
