@import './view.scss';

.wp-block-jetpack-membership-button {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
	Helvetica Neue, sans-serif;

	.membership-button__price-container {
		display: flex;
		flex-wrap: wrap;
	}
	.membership-button__field-price {
		margin-left: 10px;
	}
	.wp-block-jetpack-membership-button_notification {
		display: block;
	}

	.editor-rich-text__inline-toolbar {
		pointer-events: none;
		.components-toolbar {
			pointer-events: all;
		}
	}

	.membership-button__field-button {
		margin: 4px;
	}
}
