.wordpress-importer__div-actions {
	position: relative;
}

.wordpress-importer__url-input-action {
	.components-text-control__input {
		width: auto;
		min-width: 360px;
	    margin-bottom: 0;
	    border-bottom-style: dashed;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}
}

.components-button.wordpress-importer__file-select-button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	min-width: 360px;
	margin-left: 1px;
}
