.videopress-playlist-editor {

	&__player-wrapper {
		position: relative;
		aspect-ratio: 16 / 9;
		background: #000;
	}

	&__player {
		position: absolute;
		inset: 0;
		inline-size: 100%;
		block-size: 100%;
		border: 0;
	}

	&__items {
		list-style: none;
		margin: 8px 0 0;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 2px 0;

		&.is-current {
			background: rgba(0, 0, 0, 0.05);
		}
	}

	&__item-title {
		flex-grow: 1;
	}

	&__add-container {
		margin-block-start: 8px;

		.components-notice {
			margin: 8px 0 0;
		}
	}

	&__add {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 8px;

		.components-base-control {
			flex-grow: 1;
			min-inline-size: 200px;
		}
	}
}
