// Styles for a FoldableCard that looks like a link

.jp-inline-expand {

	&.dops-card {
		box-shadow: none;
		padding: 0;
	}

	.jp-inline-expand-action {
		font-size: rem( 14px );
		cursor: pointer;

		.gridicon {
			transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.5s ease-in;
			vertical-align: text-bottom;
			display: inline-block;
			margin: 0 5px;
		}
	}

	&.is-expanded {

		.jp-inline-expand-action .gridicon {
			transform: rotate(180deg);
		}

		.jp-inline-expand-content {
			padding: 16px 0 0;
		}
	}
}
