@import '@automattic/jetpack-base-styles/gutenberg-base-styles';

.wp-block-jetpack-video-chapters {
    .video-chapters_list {
        list-style: none;
        padding: 8px;

        .video-chapters__item {
            cursor: pointer;
            width: 100%;
            padding: 8px 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                color: #f6f7f7;
                background-color: #787c82;
            }

            &.selected {
                color: #f6f7f7;
                background-color: #101517;
            }
        }
    }
}
