@use "@automattic/jetpack-base-styles/style" as jpbs;

.backup-storage-space__meta {
	display: flex;
	justify-content: space-between;

	@include jpbs.for-phone-down {
		flex-direction: column;
		gap: 4px;
	}

	.backup-storage-space__usage-text {
		font-size: 16px;
	}

	.backup-storage-space__retention a {
		font-size: 14px;
	}
}
