.jp-recommendations-question__content {
	display: flex;
	flex-direction: column;
}

.jp-recommendations-question__progress-bar {
	.progress-bar {
		width: 70px;
	}
	margin: 32px 32px 0 32px;
}

.jp-recommendations-question__question {
	margin: 32px 32px 0 32px;
	font-size: 1.5rem;
}

.jp-recommendations-question__description {
	margin: 32px 0 24px 32px;
}

.jp-recommendations-question__answer {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.jp-recommendations-question__illustration-container {
	width: 100%;
	position: relative;

	img {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.jp-recommendations-question__illustration-background {
	width: 100%;
}

.jp-recommendations-question__illustration-foreground {
	width: 75%;
	margin: 10%;
}

.jp-recommendations-question__install-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	button {
		margin-top: auto;
		margin-bottom: 16px;
		min-width: 172px;
	}

	a {
		margin-bottom: 32px;

		&.dops-button {
			margin-bottom: 16px;
		}
	}
}
