.jp-masthead {
	background: $green-secondary url('../../images/jp-4/mast-bg.svg') no-repeat 100%;
	background-size: 648px 125px;
	padding: rem( 10px );
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	@include breakpoint( "<480px" ) { background-image: none; }
}

.jp-masthead__logo {
	padding: rem( 5px ) rem( 5px ) rem( 2px ) rem( 5px );
	svg {
		width: rem( 185px );
		height: rem( 32px ); // for IE
	}
	path {
		fill: $white;
	}
}

.jp-masthead__links {
	display: flex;
	flex-flow: row wrap;
	flex: 2 50%;
	justify-content: flex-end;
}

.jp-masthead__link {
	font-style: normal;
	color: $white;
	padding: rem( 10px );
	display: inline-block;
	&:visited,
	&:active {
		color: $white;
	}
	.dashicons {
		display: none;
	}
	@include breakpoint( "<480px" ) { 
		padding: rem( 10px ) rem( 15px );
		&:hover,
		&:active {
			text-decoration: none;
		}
		.dashicons {
			display: block;
			font-size: rem( 28px );
		}
		span + span {
			display: none;
		}
	} // < 480px
}