.jp-masthead {
	background: $green-secondary url('../../images/jp-4/mast-bg.svg') no-repeat 100%;
	background-size: 648px 125px;
	padding: rem( 10px );
	width: 100%;
	display: flex;
	flex-flow: row nowrap;

	.jp-logo {
		padding: rem( 5px );
	}

	svg {
		width: rem( 185px );
		height: rem( 32px ); // for IE
		path {
			fill: $white;
		}
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		flex: 2 50%;
		justify-content: flex-end;
	}

	a {
		font-style: normal;
		color: $white;
		padding: rem( 10px );
		display: inline-block;
	}

	.dashicons {
		display: none;
	}

	@include breakpoint( "<480px" ) {
		background-image: none;

		a {
			padding: rem( 10px ) rem( 15px );

			&:hover {
				text-decoration: none;
			}
		}

		.dashicons {
			display: block;
			font-size: rem( 28px );
		}

		span + span {
			display: none;
		}
	}
} // .jp-masthead
