.jp-masthead {
	background: $green-secondary url('../../images/jp-4/mast-bg.svg') no-repeat 100%;
	background-size: 648px 125px;
	padding: $gutter/2;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;

	.jp-logo {
		padding: $gutter*.25;
	}

	img {
		line-height: 0;
	}
  
	ul {
		display: flex;
		flex-flow: row wrap;
		flex: 2 50%;
		justify-content: flex-end;

		a { 
			font-style: normal;
		}
	}
  
	a {
		color: $white;
		padding: $gutter/2;
		display: inline-block;
	}

	@include breakpoint( "<660px" ) {
		flex-direction: column;
		align-content: stretch;
		text-align: center;

		img {
			margin: 0 auto;
		}

		ul {
			width: 100%;
		}
		li {
			width: 50%;	
		}
	}
} // .jp-masthead