.headline-medium {
	margin-bottom: calc( var(--spacing-base ) * 3 );
}

.headline-small {
	margin-bottom: var( --spacing-base );
}

.title-medium,
.title-small {
	margin-bottom: var( --spacing-base );
}
