@import '@automattic/jetpack-base-styles/root-variables';

.connections-list {
	list-style-type: none;
	display: inherit;
	margin: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.components-notice {
		margin: 5px 0 10px;
	}
}

.more-link {
	display: inline-block;
	margin-top: 6px;
}

.change-settings-button {
	padding: 0;
	height: auto;
	margin-inline-start: 15px;
}

.bar-wrapper {
	:global .record-meter-bar {
		.record-meter-bar__legend--items {
			flex-wrap: wrap;
		}
		.record-meter-bar__items {
			height: 0.5rem;
			margin-bottom: 0.8em;
		}
	
		.record-meter-bar__legend--item-circle {
			width: 0.5rem;
			height: 0.5rem;
		}
	}
}

.share-count-info {
	flex-grow: 1;
	margin-block-end: 1rem;
}

.enabled-connections-notice {
	color: var(--jp-gray-50);
}

p.auto-share-title {
	font-weight: 600;
	text-transform: uppercase;
}

.title-container {
	display: flex;
	gap: 0.4rem;
}

.no-connections-text {
	display: block;
	margin-bottom: 1rem;
}

.broken-connection-btn {
	&:global(.components-button.is-link) {
		font-size: inherit;
		font-weight: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}
