.connections-list {
	list-style-type: none;
	display: inherit;
	margin: 0;
	width: 100%;

	.components-notice {
		margin: 5px 0 10px;
	}
}

.upgrade-link {
	white-space: nowrap;
}

.more-link {
	display: inline-block;
	margin-top: 6px;
}
