/**
 * Editor styles for Social Previews
 */

@import '../../shared/styles/gutenberg-base-styles.scss';

.jetpack-gutenberg-social-icons {
	margin-bottom: 1em;

	.jetpack-gutenberg-social-icon.jetpack-social-previews__icon {
		margin-right: 5px;
		fill: currentColor;
	}
}

.jetpack-social-previews__modal-upgrade {

}

.jetpack-social-previews__upgrade-description {
	margin-bottom: 1em;
}

.jetpack-social-previews__upgrade-heading {
	font-size: 1.9em;
	line-height: 1.15;
}

.jetpack-social-previews__feature-list {
	list-style: circle;
}

.jetpack-social-previews__upgrade-illustration {
	width: 100%;
	max-width: 351px;
	height: auto;
}

@media ( min-width: $break-small ) {
	.jetpack-social-previews__modal-upgrade {
		width: 80vw;
		max-width: 800px;
		display: grid;
		grid-gap: 1em;
	}

	.jetpack-social-previews__upgrade-illustration {
		grid-column: 2;
		grid-row: 1;
	}

	.jetpack-social-previews__upgrade-description {
		grid-column: 1;
		grid-row: 1;
	}
}

@media ( min-width: $break-medium ) {
	.jetpack-social-previews__upgrade-description {
		padding: 2em;
	}
}
