/**
 * Editor styles for Social Previews
 */

.jetpack-gutenberg-social-icons {
	margin-bottom: 1em;

	.jetpack-gutenberg-social-icon.jetpack-social-previews__icon {
		margin-right: 5px;
		fill: currentColor;
	}
}
