.jp-forms__inbox-content {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 24px;
	padding: 32px 64px;
}

.jp-forms__inbox-content-column {
	box-sizing: border-box;
	flex: 2;
	width: 40%;

	&:first-child {
		flex: 3;
	}
}

.jp-forms__inbox-list,
.jp-forms__inbox-response {
	border: 1px solid #dcdcde;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	min-height: 300px;
	overflow: hidden;
}

.jp-forms__inbox-response::before {
	background: linear-gradient(to right, #eaeff5, #f2f3e3);
	border-bottom: 1px solid #dcdcde;
	box-sizing: border-box;
	content: "";
	display: flex;
	height: 32px;
}
