.jp-forms__inbox-file-preview-shell {
	max-height: 70vh;
	overflow: hidden;
}

.jp-forms__inbox-file-preview-container {
	margin-bottom: 16px;
	max-height: 70vh;
	aspect-ratio: 16 / 9;
}

.jp-forms__inbox-file-preview-container.is-loading {
	display: none;
}

.jp-forms__inbox-file-preview-image {
	height: 100%;
	width: 100%;
	max-height: 66vh;
	object-fit: contain;
}

// Ensure backdrop is below the file preview modal but above the response modal
.components-modal__screen-overlay:nth-of-type(2) {
	z-index: var(--jp-forms-z-modal-backdrop);
}

.jp-forms__inbox-file-loading {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 150px;
	flex-wrap: wrap;
}

.jp-forms__inbox-file-spinner.jp-forms__inbox-file-spinner {
	margin-top: 0;
}
