@import "@wordpress/base-styles/colors";
@import "@wordpress/base-styles/variables";

.jp-forms__integrations {
	padding: 32px 16.6%;

	@media ( max-width: 782px ) {
		padding: 32px 8px;
	}

	.jp-forms__integrations-header {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 24px;

		.jp-forms__integrations-header-heading {
			color: $gray-900;
			font-size: $font-size-2x-large;
			line-height: $font-line-height-2x-large;
			margin-block: 0;
		}

		.jp-forms__integrations-header-description {
			color: $gray-700;
			max-width: 75ch; /* stylelint-disable-line unit-allowed-list */
		}
	}

	.jp-forms__integrations-body {
		border: 1px solid $gray-200;
		border-radius: 8px;
		padding: 12px 24px;

		@media ( max-width: 782px ) {
			padding: 12px 8px;
		}
	}
}
