.jp-settings-card__configure-link {
	display: flex;
	margin-bottom: 0;
}

.jp-form-settings-card .dops-foldable-card {
	.dops-foldable-card__header {
		color: #444;
		padding-left: rem( 24px );
		padding-right: rem( 24px );
	}

	.form-toggle__switch {
		float: left;
		margin-top: 2px;
	}

	.dops-foldable-card__header-text {
		font-size: rem( 14px );
	}

	&.is-expanded .dops-foldable-card__content {
		padding-right: rem( 24px );
	}

	&.jp-foldable-settings-disable .dops-foldable-card__header {
		color: #dadada;
	}

	.dops-foldable-card__main {
		@include breakpoint( ">480px" ) {
			max-width: 85%;
		}
	}

	.jp-form-settings-group .dops-card {
		padding: 0;
		box-shadow: none;
	}

	.dops-foldable-card__action {
		right: rem( 10px );
	}

	.jp-module-settings__learn-more {
		right: 2px;
	}
}