.leaderboardChart {
	transition: opacity 0.3s ease-in-out;

	&.loading {
		opacity: 0.5;
	}
}

.progressContainerWithOverlayLabel {
	display: grid;
	grid-template: "overlap" 1fr / 1fr; /* contains a single cell callded 'overlap' */
	align-items: center;

	> * {
		grid-area: overlap;
	}

	.progressBar {
		height: 100%;
		background-color: var(--primary-color, #3858e9);

		border-radius: var(--bar-border, 9999px);
		z-index: -1; /* places it behind the label */

		transition: width 0.3s ease-in-out;
	}

	.progressBarLabel {
		padding-left: 8px;
	}
}

.progressContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;

	.progressBar {
		width: 100%;
		height: 6px;
		border-radius: 2px;
		background-color: transparent;
		overflow: hidden;
		transition: width 0.3s ease-in-out;

		> div {
			background-color: var(--progress-color, #3858e9);
			border-radius: var(--bar-border, 9999px);
		}
	}

	.primaryBar {
		--progress-color: var(--primary-color, #3858e9);
	}

	.secondaryBar {
		--progress-color: var(--secondary-color, #66bdff);
	}
}

.valueContainer {
	display: flex;
	gap: 4px;
	justify-content: flex-end;
}

.overlayLabel {
	align-items: center;
}

.emptyState {
	padding: 32px 16px;
	text-align: center;
	color: #666;
	font-size: 14px;
	font-style: italic;
}
