@import '@automattic/jetpack-base-styles/gutenberg-base-styles';

.tab-panel {

	:global(.components-tab-panel__tabs) {
		padding-inline-start: 2rem;
		margin-block-end: -1px;

		@media (max-width: $break-medium ) {
			padding-inline-start: 1rem;
		}
	}

	:global(.components-tab-panel__tab-content) {
		border-top: 1px solid var(--jp-gray);

	}
}

.tab-content-wrapper {
	padding-block-start: 2.5rem;
	padding-inline: 3rem;

	@media (max-width: $break-medium ) {
		padding-inline: 1rem;
	}
}
