#jetpack-connection-ui-container .jetpack-cui__refresh {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		width: 143px;
		justify-content: center;

		&.refreshed {
			background: #00A32A;
			border: 1px solid #00A32A;
			color: white;
		}
	}
}
