.plans-prompt__banner {
	padding: 32px 0;
	text-align: center;
}

.plans-prompt__heading {
	font-size: 22px;
	margin-bottom: 0;
}

.plans-prompt__intro {
	font-size: 14px;
	margin-top: 0.5em;
}

.plans-prompt__footer {
	margin: 2em 0;
	text-align: center;

	.dops-button .gridicon {
		padding-left: 4px;
		margin-right: -5px;
	}
}
