.wpcom-media-library-action-buttons {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 4px;

	> a {
		position: relative;
		top: -3px;
		vertical-align: baseline;

		&.page-title-action {
			margin-left: 0;
		}
	}
}
