@import "../../scss/variables/_colors";

// ==========================================================================
// Buttons
// ==========================================================================

.jp-jetpack-connect__button {
	background: $green-primary;
	border-color: $green-secondary;
	color: $white;

	&.dops-button {
		margin-top: 20px;
	}
	
	&:hover, &:focus {
		background: $green-secondary;
		border-color: $green-dark;
		color: $white;
	}
}
