// ==========================================================================
// TOS Blurb
// ==========================================================================

.jp-jetpack-connect__tos-blurb {
	font-size: .75rem;
	margin-bottom: 2em;
	text-align: left;

	@media (min-width: 491px) {
		text-align: center;
	}
}

// ==========================================================================
// iFrame
// ==========================================================================

.jp-jetpack-connect__iframe {
	height: 240px;
	width: 380px;
	max-width: 100%;
	margin: 1rem auto 0;

	@media (min-width: 491px) {
		height: 290px;
	}
}
