.hello-dolly {
  border: 2px solid #78dcfa;
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: italic;
  margin: 1em 0;
  padding: 2em;
  text-align: center; }

