:root {
	--jp-indeterminate-progress-bar__light-color: #F6F7F7;
	--jp-indeterminate-progress-bar__dark-color: #EDEDEE;
}

.indeterminate-progress-bar {
	width: 100%;
	height: 24px;
	background-color: transparent;
	border-radius: calc(var(--spacing-base) * 3);

	pointer-events: none;
	background-size: 68px 100%;
	background-image: linear-gradient(
		-45deg,
		var(--jp-indeterminate-progress-bar__light-color) 33%,
		var(--jp-indeterminate-progress-bar__dark-color) 33%,
		var(--jp-indeterminate-progress-bar__dark-color) 71%,
		var(--jp-indeterminate-progress-bar__light-color) 71%
	);
	display: inline-block;
}

@keyframes indeterminate_progress_bar__animation {
	0% {
		background-position: 136px 0;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.indeterminate-progress-bar {
		animation: indeterminate_progress_bar__animation 2000ms infinite linear;
	}
}
