/// Radio Control
///
/// Overrides the @wordpress/components RadioControl component.
/// @link https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/radio-control

.radio {
	:global {
		.components-radio-control {
			&__input[type="radio"] {
				&:checked {
					background: var( --jp-green-40 );
					border-color: var( --jp-green-40 );
				}

				&:focus {
					border-color: var( --jp-green-50 );
					box-shadow: 0 0 0 2px var( --jp-white ), 0 0 0 4px var( --jp-green-50 );
				}
			}
		}
	}
}