@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;
@use "../styles.module.scss" as parent;

.products {
	margin-bottom: 3rem;
}

.jetpack-manage-upsell {
	margin-bottom: 3rem;
}

.footer {
	background: var(--studio-white, #fff);

	/* Center the content within the full-width background */
	display: flex;
	justify-content: center;
}

.footer-inner {
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
	margin: 0 auto;
	width: 100%;
	padding-inline: 3rem;

	@include parent.full-width-container;

	a,
	a.components-external-link,
	.components-button.is-link {
		// TODO: use theme provider to set the color consistently
		color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));

		text-decoration: none;

		:hover:not(:disabled, [aria-disabled="true"]) {
			text-decoration: underline;
			text-decoration-thickness: 1.5px;
		}

		&:focus {
			box-shadow: none;
			outline-width: 0;
		}

		&:focus-visible {
			border-radius: 2px;
			box-shadow: none;
			outline: 1.5px solid currentColor;
			outline-offset: 3px;
		}
	}
}

.footer-container {
	padding: 0;
}
