.vers img {
    display: none;
}

.metabox-prefs .vers img {
    display: inline;
}

.fixed .column-comment_likes {
    width: 5.5em;
    padding: 8px 0;
    text-align: center;
}

.fixed .column-stats {
    width: 5em;
}

.fixed .column-comment_likes .comment-like-count {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    height: 2em;
    margin-top: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #72777C;
    color: #FFF;
    font-size: 11px;
    line-height: 21px;
}

.fixed .column-comment_likes .comment-like-count:after {
    border: none !important;
}

.fixed .column-comment_likes .comment-like-count:hover {
    background-color: #0073AA;
}

.fixed .column-comment_likes .vers:before {
    font: normal 20px/1 dashicons;
    content: '\f155';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 782px) {
    .fixed .column-comment_likes {
        display: none;
    }
}
