// There is a high specificity flex rule that we need to override.
.wp-block-jetpack-contact-form
.jetpack-contact-form
.jetpack-field-image-choices__wrapper
.jetpack-form-image-select-choice {
	flex-basis: unset;
}

.jetpack-field-image-choices__wrapper {
	--jetpack-field-image-choices-gap: 16px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--jetpack-field-image-choices-gap);

	.jetpack-form-image-select-choice {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: calc(( 1 / 4 ) * 100% - var(--jetpack-field-image-choices-gap) * ( 3 / 4 ));

		&.is-supersized {
			width: calc(( 1 / 2 ) * 100% - var(--jetpack-field-image-choices-gap) * ( 1 / 2 ));
		}

		.jetpack-field-image-choice__wrapper {
			width: 100%;
			overflow: hidden;

			figcaption {
				display: none;
			}
		}

		.jetpack-form-image-select-choice__label {
			padding-top: 8px;
			padding-left: 8px;
		}

		&.hide-labels {

			.jetpack-form-image-select-choice__label {
				display: none;
			}
		}
	}
}
