@use "../shared/styles/visually-hidden" as *;

// Themes target the image block directly to fit their needs,
// not expecting it to be inside an image select field.
.wp-block-jetpack-input-image-option
figure.wp-block-image {
	margin: 0 !important;
	padding: 0 !important;

	img {
		max-width: 100% !important;
	}
}

.jetpack-field-image-select fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.jetpack-fieldset-image-options__wrapper {
	--jetpack-field-image-options-gap: 16px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--jetpack-field-image-options-gap);

	// Frontend-only wrapper element for background color change on hover.
	.jetpack-input-image-option__outer {
		display: flex;
		width: calc(( 1 / 4 ) * 100% - var(--jetpack-field-image-options-gap) * ( 3 / 4 ));

		&.is-supersized {
			width: calc(( 1 / 2 ) * 100% - var(--jetpack-field-image-options-gap) * ( 1 / 2 ));
		}
	}

	.jetpack-input-image-option {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		&:not(.wp-block):hover {
			backdrop-filter: contrast(0.9) saturate(1.2);
			cursor: pointer;
		}

		.jetpack-input-image-option__wrapper {
			width: 100%;
			overflow: hidden;
			position: relative;

			.jetpack-input-image-option__input {
				position: absolute;
				top: 4px;
				right: 4px;
				margin: 0;

				&:not(:checked) {

					@extend %visually-hidden;
				}
			}

			figure {
				margin: 0;
			}

			figcaption {

				@extend %visually-hidden;
			}
		}

		.jetpack-input-image-option__label-wrapper {
			--jetpack-input-image-option-label-top-padding: 3px;
			display: flex;
			gap: 8px;
			align-items: center;
			padding-top: 8px;

			.jetpack-input-image-option__label {
				min-width: 1px;
				overflow-wrap: break-word;
			}

			.jetpack-input-image-option__label-code {
				display: flex;
				justify-content: center;
				align-self: baseline;
				padding: var(--jetpack-input-image-option-label-top-padding) calc(2 * var(--jetpack-input-image-option-label-top-padding));
				background-color: #fff;
				border-radius: 2px;
				border: 1px solid #ccc;
				line-height: 1;
				color: #333;
			}
		}
	}
}

div:where(.jetpack-input-image-option__outer) {
	border-radius: 5px;
	background-color: var(--jetpack--contact-form--background-color);
}

div:where(.jetpack-input-image-option) {
	border: 1px solid var(--jetpack--contact-form--primary-color);
	border-radius: 4px;
	padding: 8px;
	margin: 0;
}
