:root {
	--color-blogger: #ff5722;
	--color-eventbrite: #ff8000;
	--color-facebook: #0866ff;
	--color-godaddy: #5ea95a;
	--color-google-plus: #df4a32;
	--color-instagram: #d93174;
	--color-linkedin: #0976b4;
	--color-mastodon: #6364ff;
	--color-medium: #12100e;
	--color-nextdoor: #8ed500;
	--color-pinterest: #cc2127;
	--color-pocket: #ee4256;
	--color-print: #f8f8f8;
	--color-reddit: #5f99cf;
	--color-skype: #00aff0;
	--color-squarespace: #222;
	--color-stumbleupon: #eb4924;
	--color-substack: #ff6719;
	--color-telegram: #08c;
	--color-tumblr: #35465c;
	--color-twitter: #55acee;
	--color-threads: #000;
	--color-whatsapp: #43d854;
	--color-wix: #faad4d;
	--color-x: #000;
}
