$masterbar-background: #cf4944;
$menu-submenu-background: #be3631;
$text-color: #fff;
$highlight-color: #dd823b;
$base-color-rgb: rgb(207, 73, 68);
$nav-unification-sidebar-text-alternative: #f6f7f7;
$menu-highlight-text: #fff;

@import "../_core-overrides";
