.jp-footer {
	text-align: center;
	margin: rem( 16px ) rem( 16px ) rem( 40px ) rem( 16px );
}

.jp-footer__a8c-attr-container {
	margin-bottom: rem( 8px );
}

.jp-footer__a8c-attr {
	width: rem( 180px );
	// height: rem( 10px );  for IE

	path { fill: $gray-anchor; }
}

.jp-footer__links {
	border-top: 1px $gray-bdr solid;
	border-bottom: 1px $gray-bdr solid;
	margin-bottom: rem( 16px );
}

.jp-footer__link {
	padding: rem( 16px ) rem( 8px );
	color: $gray-anchor;
	display: inline-block;

	&:visited {
		color: $gray-anchor;
	}

	&:hover,
	&:active {
		color: darken($gray-anchor, 38%);
	}
	@include breakpoint( "<660px" ) {
		display: block;
		padding: rem( 8px ) 0;
		border-bottom: 1px $gray-bdr solid;
		&:last-of-type {
			border-bottom: none;
		}
	}
}