@import 'scss/mixin_breakpoint';
@import 'scss/variables/_colors.scss';
@import 'scss/calypso-colors.scss';

// Plan radio button
.plan-radio-button {
	display: flex;
	flex: 1;
    flex-direction: column;
	align-items: center;
	margin: 16px 0 8px;
	padding: 16px;
	border: 1px solid $gray-dark;
	border-radius: 4px;
	cursor: pointer;

  	&.is-selected {
	  background-color: $gray-lighten-30;
	  border-color: $gray-darken-30;
	}
}

.plan-radio-button + .plan-radio-button {
  margin-left: 8px;
}

.plan-radio-button__label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type='radio'].plan-radio-button__input {
	flex: 0 0 auto;
	margin-top: 2px;
  	margin-bottom: 12px;
}

.plan-radio-button__title {
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

.single-product__price-group {
  display: flex;

  .plan-price {
	margin-right: 0.333em;
  }
}
.single-product__upgrade-button-container {
  text-align: center;
}

.single-product__price-group-billing-timeframe {
  line-height: 20px;
}
