.column-post-list-column {
	display: none;
}

// Notice
.post-list__notice-placeholder {
	position: fixed;
	bottom: 100px;
	min-width: 400px;
}

// Feature Image
.post-featured-image__container {
	float: left;
	margin-right: 5px;
	width: 50px;
	height: 50px;
	display: block;

	img {
		width: 50px;
		height: 50px;
	}
}

.post-list__post-featured-image .components-popover__content {
	padding: 5px;
}
