.column-post-list-column {
	display: none;
}

// Notice
.post-list__notice-placeholder {
	position: fixed;
	bottom: 100px;
	min-width: 400px;
}

// Feature Image
.post-featured-image__container {
	float: left;
	margin-right: 5px;
	.post-list__post-featured-image {
		width: 48px;
		height: 48px;
		fill: #ccc;
		border-radius: 4px;
	}
}

.post-list__post-featured-image .components-popover__content {
	padding: 5px;
}
