@import './view.scss';

.wp-block-jetpack-instagram-gallery .components-placeholder {
	.components-radio-control {
		margin-bottom: $default-block-margin;
		label {
			font-weight: normal;
		}
	}

	.wp-block-jetpack-instagram-gallery__new-account-instructions {
		font-family: $default-font;
		font-size: $default-font-size;
	}
}

.wp-block-jetpack-instagram-gallery__count-notice {
	.components-notice {
		margin: 0 0 15px 0;
	}

	.components-notice__content {
		margin: 0;
		line-height: inherit;
		padding-right: 0;
	}
}

.wp-block-jetpack-instagram-gallery__disconnection-warning {
	font-style: italic;
	margin-bottom: 0;
}
