@import '../../shared/styles/gutenberg-base-styles.scss';

.wp-block-jetpack-instagram-gallery__grid {
	align-content: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;

	.wp-block-jetpack-instagram-gallery__grid-post {
		box-sizing: border-box;
		display: block;
		line-height: 0;
		position: relative;
	}
	img {
		height: auto;
		width: 100%;
	}
}

@for $i from 1 through 6 {
	.wp-block-jetpack-instagram-gallery__grid-columns-#{$i}
		.wp-block-jetpack-instagram-gallery__grid-post {
		width: calc( 100% / #{$i} );
	}
}
@media ( max-width: $break-small ) {
	.wp-block-jetpack-instagram-gallery__grid.is-stacked-on-mobile
		.wp-block-jetpack-instagram-gallery__grid-post {
		width: 100%;
	}
}

@supports ( display: grid ) {
	.wp-block-jetpack-instagram-gallery__grid {
		display: grid;
		grid-gap: 10px;
		grid-auto-columns: 1fr;

		@media ( max-width: $break-small ) {
			&.is-stacked-on-mobile {
				display: block;
			}
			&:not( .is-stacked-on-mobile ) {
				.wp-block-jetpack-instagram-gallery__grid-post {
					padding: 0 !important; // Overrides the block style
				}
			}
		}

		@media ( min-width: $break-small ) {
			.wp-block-jetpack-instagram-gallery__grid-post {
				padding: 0 !important; // Overrides the block style
			}
		}

		.wp-block-jetpack-instagram-gallery__grid-post {
			width: auto;
		}
	}

	@for $i from 1 through 6 {
		.wp-block-jetpack-instagram-gallery__grid-columns-#{$i} {
			grid-template-columns: repeat( $i, 1fr );
		}
	}
}

.wp-block-jetpack-instagram-gallery__placeholder {
	animation-name: fadeIn, pulse;
	animation-duration: 300ms, 1.6s;
	animation-delay: 0ms, 300ms; /* add this */
	animation-timing-function: ease-out, ease-out;
	animation-iteration-count: 1, infinite;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
