.jp-license-activation-screen {
	box-shadow: 0px 4px 24px 0px #00000026;
	display: flex;
	flex-direction: row;
	// this clips our children to our border radius
	border-radius: 4px;
	overflow: hidden;
	min-height: 540px;
}
