// make use of color studio variables for consistency across products
@import '@automattic/color-studio/dist/color-variables';

$highlight-color: #dd823b;

// Sidebar Nudges
$menu-nudge-background: $studio-white;
$menu-nudge-text-color: $studio-black;
$menu-nudge-cta-background: $highlight-color;
$menu-nudge-cta-color: $studio-white;
$menu-nudge-cta-background-hover: $studio-orange-60;
