.form-toggle {
	align-items: center;
	display: flex;
}

.form-toggle__input[type="checkbox"] {
	display: none;
}

.form-toggle__switch {
	background-color: transparent;
	border-radius: 100px;
	border: 2px solid var( --jp-black );
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 24px;
	outline: 1px solid transparent;
	position: relative;
	transition: all 0.3s cubic-bezier(0.76, 0.05, 0.24, 0.95), outline 0s;
	vertical-align: middle;
	width: 48px;

	&:focus {
		border-color: var( --jp-green-50 );
		outline: 1px solid var( --jp-green-50 );
	}

	&:active:after {
		width: 20px;
	}

	&:after {
		background-color: var( --jp-black );
		border-radius: 48px;
		content: "";
		display: block;
		height: 16px;
		left: 2px;
		position: absolute;
		top: 2px;
		transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
		width: 16px;
	}
}

.form-toggle__input:disabled + .form-toggle__switch {
	border-color: var( --jp-black );
	cursor: default;
	opacity: 0.25;
	outline: none;

	&:after {
		width: 18px;
	}
}

.form-toggle__input:checked + .form-toggle__switch {
	background-color: var( --jp-green );
	border-color: var( --jp-green );

	&:focus {
		border-color: var( --jp-white );
		outline: 2px solid var( --jp-green-50 );
	}

	&:active:after {
		margin-left: -4px;
	}

	&:after {
		background-color: var( --jp-white );
		left: 24px;
	}
}

.form-toggle__input:disabled:checked + .form-toggle__switch {
	border: 2px solid var( --jp-green );
	outline: none;

	&:active:after {
		margin-left: 0;
	}
}

.form-toggle__tooltip {
	left: -38px;
}

.form-toggle__content {
	margin-left: 16px;
}
