@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;

.wrapper {

	.item {
		padding: 0.5rem 0.625rem;

		&:not(:last-child) {
			border-radius: 0;
			border-bottom: 1px solid gb.$gray-100;
		}
	}

	.display-name {
		max-width: 8rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
