@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;

.sidebar {

	:global(.components-panel) {
		padding: 0;
		border: none;
	}

	:global(.components-panel__body) {
		padding-bottom: 0;
	}

	:global(.components-panel__row) {
		margin-inline: -16px; // Counter panel body padding
	}

	:global(.components-menu-group) {
		border-top: 1px solid gb.$gray-200;
	}

	:global(.components-menu-item__button.components-button) {
		padding: 0.75rem 1.5rem;
	}

	.selected-connection {
		background-color: gb.$gray-100;
	}
}

.content {
	background-color: gb.$gray-100;
	width: 100%;
	min-height: 100%;
	padding: 1.5rem;

	.preview {
		height: 100%;
		max-width: max-content;
		margin: 0 auto;
	}
}
