@use "@automattic/jetpack-base-styles/gutenberg-base-styles" as gb;

.sidebar {

	.grid {
		// To ensure that the outline/box-shadow of the buttons is always visible
		padding: 1.5px;
	}

	.toggle-wrap {
		padding-block: 0.75rem;
		padding-inline-start: 1rem;
		padding-inline-end: 0.5rem;
		height: 40px;
	}

	.selected-connection {
		background-color: rgba(56, 88, 233, 0.04);
	}

	.connection-button {
		gap: 1rem;
	}

	:global(.components-button) {
		width: 100%;
	}

	.display-name {
		max-width: 8rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.active-chevron {
		color: var(--jp-highlight);
	}
}

.content {
	background-color: gb.$gray-100;
	width: 100%;
	min-height: 100%;
	padding: 1.5rem;

	.preview {
		height: 100%;
		max-width: max-content;
		margin: 0 auto;
	}
}
