// @todo: rename colors more descriptively
$_fff:    #fff;

$_f3f6f8: #f3f6f8;
$_e9eff3: #e9eff3;
$_d9e3ea: #d9e3ea;
$_c8d7e1: #c8d7e1;
$_a8bece: #a8bece;
$_87a6bc: #87a6bc;
$_537994: #537994;
$_2e4453: #2e4453;

$_00aadc: #00aadc;
$_0099d8: #0099d8;
$_0096c3: #0096c3;
$_008ab3: #008ab3;
$_0087be: #0087be;
$_0073aa: #0073aa;
$_005082: #005082;
$_004967: #004967;

$_f0b849: #f0b849;
$_d94f4f: #d94f4f;
$_4ab866: #4ab866;

$rgba-grey: rgba(200,215,225,0.5);
