@import 'muriel-wpcom';
// Colors that aren't pulled from Calypso or Core:

$_0099d8: #0095d6; // Pacific Blue
$_0096c3: #0094c1; // Pacific Blue
$_008ab3: #0088b2; // Bondi Blue
$_004967: #004966; // Prussian Blue

// These colors are used several times in Calypso, but never actually stored in a variable.
$_d9e3ea: #d7e1e9; // Pattens Blue
$rgba-grey: rgba(200,215,225,0.5);

$color-primary: $muriel-blue-500;
$color-primary-light: $muriel-blue-300;
$color-primary-dark: $muriel-blue-700;

$color-accent: $muriel-hot-pink-500;
$color-accent-light: $muriel-hot-pink-300;
$color-accent-dark: $muriel-hot-pink-700;

$color-link: $muriel-blue-500;
$color-link-dark: $muriel-blue-700;

$color-error: $muriel-hot-red-500;
$color-error-light: $muriel-hot-red-300;
$color-error-dark: $muriel-hot-red-700;

// Jetpack Green
$green-jetpack:          #00be28;

// Grays
$gray: $muriel-gray-300;
$gray-light: $muriel-gray-0;
$gray-dark: $muriel-gray-700;

// $gray-text: ideal for standard, non placeholder text
// $gray-text-min: minimum contrast needed for WCAG 2.0 AA on white background
$gray-text: $muriel-gray-800;
$gray-text-min: $muriel-gray-500;

// Shades of gray
$gray-lighten-10: $muriel-gray-200;
$gray-lighten-20: $muriel-gray-100;
$gray-lighten-30: $muriel-gray-0;
$gray-darken-10: $muriel-gray-400;
$gray-darken-20: $muriel-gray-500;
$gray-darken-30: $muriel-gray-600;
//
// See wordpress.com/design-handbook/colors/ for more info.

// Alerts
$alert-yellow:           $muriel-hot-yellow-400;
$alert-orange:           $muriel-hot-orange-500;
$alert-red:              $muriel-hot-red-400;
$alert-green:            $muriel-hot-green-400;
$alert-purple:           $muriel-hot-purple-400;

// Essentials
$white: $muriel-white;
$transparent:            rgba(255,255,255,0);

// Uncommon
$border-ultra-light-gray: $muriel-gray-0;
// $green-text-min: minimum contrast needed for WCAG 2.0 AA on white background
$green-text-min:          darken( $alert-green, 14% ); // #358649

// Layout
$sidebar-bg-color:         $gray-lighten-30;
$sidebar-text-color:       $gray-dark;
$sidebar-selected-color:   $gray-text-min;


//Social media colors
$color-facebook: #39579a;
$color-twitter: #55ACEE;
$color-gplus: #df4a32;
$color-tumblr: #35465c;
$color-linkedin: #0976b4;
$color-path: #df3b2f;
$color-instagram: #d93174;
$color-eventbrite: #ff8000;
$color-stumbleupon: #eb4924;
$color-reddit: #5f99cf;
$color-pinterest: #cc2127;
$color-pocket: #ee4256;
$color-email: #f8f8f8;
$color-print: #f8f8f8;
$color-skype: #00AFF0;
$color-telegram: #0088cc;
$color-whatsapp: #43d854;





// swiped from https://github.com/WordPress/WordPress/blob/master/wp-admin/css/colors/_variables.scss

// assign default value to all undefined variables


// core variables

$text-color: #fff !default;
$base-color: $muriel-blue-800 !default;
$icon-color: hsl( hue( $base-color ), 7%, 95% ) !default;
$highlight-color: $muriel-blue-400 !default;
$notification-color: $muriel-hot-red-400 !default;


// global

$body-background: $muriel-gray-0 !default;

$link: $muriel-blue-500 !default;
$link-focus: $muriel-blue-300 !default;

$button-color: $highlight-color !default;
$form-checked: $highlight-color !default;


// admin menu & admin-bar

$menu-text: $text-color !default;
$menu-icon: $icon-color !default;
$menu-background: $base-color !default;

$menu-highlight-text: $text-color !default;
$menu-highlight-icon: $text-color !default;
$menu-highlight-background: $highlight-color !default;

$menu-current-text: $menu-highlight-text !default;
$menu-current-icon: $menu-highlight-icon !default;
$menu-current-background: $menu-highlight-background !default;

$menu-submenu-text: mix( $base-color, $text-color, 30% ) !default;
$menu-submenu-background: darken( $base-color, 7% ) !default;
$menu-submenu-background-alt: desaturate( lighten( $menu-background, 7% ), 7% ) !default;

$menu-submenu-focus-text: $highlight-color !default;
$menu-submenu-current-text: $text-color !default;

$menu-bubble-text: $text-color !default;
$menu-bubble-background: $notification-color !default;
$menu-bubble-current-text: $text-color !default;
$menu-bubble-current-background: $menu-submenu-background !default;

$menu-collapse-text: $menu-icon !default;
$menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $text-color !default;
$menu-collapse-focus-icon: $menu-highlight-icon !default;

$adminbar-avatar-frame: lighten( $menu-background, 7% ) !default;
$adminbar-input-background: lighten( $menu-background, 7% ) !default;

$menu-customizer-text: mix( $base-color, $text-color, 40% ) !default;
