@import 'colors';

body,
#wp-content-editor-tools {
	background: $gray-light;
}

#wpwrap {
	top: 14px;
}

#wp-admin-bar-notes #wpnt-notes-unread-count.wpn-unread {
	background-image: none !important;
	background-color: $color-accent-light !important;
	border: none !important;
}


#adminmenu #collapse-menu,
#adminmenu .wp-menu-separator,
#screen-meta-links,
.wp-submenu,
#toplevel_page_jetpack {
	display: none;
}

.wp-menu-open .wp-submenu {
	display: block;
}

#adminmenuwrap,
#adminmenuback,
#adminmenu {
	background: $studio-white;
}

#adminmenuback {
	border-right: 1px solid $studio-gray-0;
}

#adminmenu,
#adminmenuwrap,
#adminmenuback,
#adminmenu .wp-submenu {
	width: 272px;
}

#adminmenu {
	margin-top: 71px;

	.wp-submenu {
		padding: 0;
	}

	.wp-has-current-submenu .wp-submenu,
	.opensub .wp-submenu,
	.opensub .wp-submenu:after,
	a.wp-has-current-submenu:focus+.wp-submenu {
		background: transparent !important;
	}

	li.menu-top:hover,
	li.opensub>a.menu-top,
	li>a.menu-top:focus,
	li.wp-menu-open {
		background: transparent;
	}

	a:hover {
		background-color: $studio-gray-0 !important;
	}

	.wp-submenu-head,
	a.menu-top {
		padding: 5px 0 5px 5px;
	}

	.wp-has-current-submenu ul>li>a {
		padding: 7px 12px 7px 46px;
		font-size: 15px;
		font-weight: 400 !important;
	}

	a.wp-has-current-submenu:after,
	>li.current>a.current:after,
	li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
		border: none;
	}

	.dashicons,
	.dashicons-before:before {
		width: 24px;
		height: 24px;
		font-size: 24px;
	}

	a {
		color: $gray-text !important;
	}

	li.current > a {
		background: $studio-blue-0 !important;
	}

	div.wp-menu-image:before {
		color: $gray-darken-20 !important;
	}

	li a:hover div.wp-menu-image:before {
		color: $gray-text !important;
	}

	li.current a div.wp-menu-image:before {
		color: $color-primary !important;
	}

	li.wp-has-current-submenu a.wp-has-current-submenu {
		background: transparent;
	}

	div.wp-menu-image.svg {
		filter: brightness(0.4);
	}

	li a:hover div.wp-menu-image.svg,
	li.current div.wp-menu-image.svg {
		filter: brightness(0.25);
	}

	li.current div.wp-menu-image:before,
	li.current a,
	li.current .wp-menu-name {
		color: $color-primary !important;
	}

	div.wp-menu-name {
		color: $gray-text-min;
		font-size: 15px;
		padding: 9px 0 8px 41px;
		font-weight: 600;
	}

	li a:hover div.wp-menu-name {
		color: $gray-text;
	}

	li.menu-top {
		min-height: 46px;
	}

	.awaiting-mod,
	.update-plugins {
		background-color: $color-primary;
	}
}

.no-js li.wp-has-current-submenu:hover .wp-submenu {
	background: transparent !important;
}

#wpcontent,
#wpfooter {
	margin-left: 272px;
}

#toplevel_page_plugins div.wp-menu-image.svg,
#toplevel_page_plugin-install div.wp-menu-image.svg {
	background-size: 24px auto;
}

#toplevel_page_plugins div.wp-menu-image.svg {
	position: relative;
	left: -2px;
}

#calypso-sidebar-header {
	border-bottom: 1px solid $gray-darken-20;
	position: fixed;
	top: 47px;
	left: 0;
	width: 272px;
	height: 65px;
	background: $white;
	z-index: 10000;

	svg {
		float: left;
		position: relative;
		left: 10px;
		top: 23px;
	}

	ul {
		float: left;
		position: relative;
		left: 15px;

		li {
			margin: 0;

			&#calypso-sitename {
				font-size: 12px;
				color: $gray-text-min;
				overflow: hidden;
				white-space: nowrap;
				width: 225px;

				@media screen and (max-width:782px) {
					width: 150px;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					pointer-events: none;
					background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(90%, #fff));
					background: linear-gradient(to right, rgba(255,255,255,0), #fff 90%);
					top: 0px;
					bottom: 0px;
					right: 0px;
					left: auto;
					width: 20%;
					height: auto;
				}
			}

			&#calypso-plugins {
				font-weight: bold;
				color: $gray-text;
				font-size: 16px;
			}
		}
	}
}

/*
* .folded styles
*/

.folded {
	#adminmenu {
		.wp-has-current-submenu .wp-submenu,
		.opensub .wp-submenu,
		.opensub .wp-submenu:after,
		a.wp-has-current-submenu:focus+.wp-submenu {
			background: transparent !important;
		}

		li.menu-top .wp-submenu>li>a {
			padding: 7px 12px 7px 46px;
			font-size: 14px;
		}

		li.current.menu-top,
		li.wp-has-current-submenu,
		li.wp-has-current-submenu .wp-submenu .wp-submenu-head {
			background: $studio-blue-0;
		}

		.wp-submenu .wp-submenu-head {
			padding: 14px 4px 14px 11px;
		}

		a.menu-top {
			padding-left: 1px;
		}
	}

	#wpcontent {
		#calypso-sidebar-header {
			width: 36px;

			svg {
				left: 6px;
			}

			ul {
				display: none;
			}
		}
	}

	.no-js li.wp-has-current-submenu:hover .wp-submenu {
		background: $gray-lighten-30 !important;
	}

	#toplevel_page_plugins div.wp-menu-image.svg {
		position: relative;
		left: -2px;
	}
}

@media only screen and (max-width: 960px) {
	#calypso-sidebar-header {
		width: 36px;

		ul {
			display: none;
		}

		svg {
			left: 6px;
		}
	}

	#adminmenu a.menu-top {
		padding-left: 1px;
	}
}

@media screen and (max-width: 782px) {
	#calypso-sidebar-header {
		position: absolute;
		display: none;
		width: 190px;
		top: -14px;
	}

	.wp-responsive-open #calypso-sidebar-header {
		display: block;
	}

	#calypso-sidebar-header ul {
		display: block;
	}

	.auto-fold #adminmenu .wp-menu-name {
		margin-left: 0;
	}

	.auto-fold #adminmenu {
		top: -14px;
	}

	#adminmenu .wp-submenu,
	.auto-fold #adminmenu .selected .wp-submenu,
	.auto-fold #adminmenu .wp-menu-open .wp-submenu,
	#adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
		background: $studio-white !important;
	}

	.auto-fold #adminmenu li.selected div.wp-menu-image.svg {
		filter: brightness(100);
	}

	.auto-fold #adminmenu li.selected div.wp-menu-image:before,
	.auto-fold #adminmenu li.selected div.wp-menu-name {
		color: $color-primary !important;
	}

	#wpadminbar .quicklinks > ul > li > a,
	#wpadminbar .quicklinks > ul > li > .ab-empty-item {
		padding: 0 15px !important;
	}

	#wpadminbar li#wp-admin-bar-ab-new-post a {
		padding: 7px 15px !important;
	}
}

@media screen and (max-width: 600px) {
	#calypso-sidebar-header {
		top: 32px;
	}

	.auto-fold #adminmenu {
		top: 32px;
	}
}

@media screen and (max-width: 480px) {
	#wpadminbar #wp-admin-bar-blog.my-sites > a.ab-item:before {
		margin-top: 4px !important;
	}

	#wpadminbar #wp-admin-bar-newdash > a.ab-item:before {
		margin-top: 6px !important;
	}

	#wpadminbar ul li#wp-admin-bar-ab-new-post a:before {
		top: -5px !important;
		margin-left: -12px !important;
	}
}

/* Nav Bar */

.nav-tab-wrapper,
.wrap h2.nav-tab-wrapper {
	margin: 10px 0 25px;
	background: $white;
	border: 1px solid $rgba-grey;
}

.nav-tab {
	border: none;
	background: none;
	font-weight: 400;
	padding: 3px 13px 12px;
	color: $color-primary;
}

.nav-tab-active,
.nav-tab-active:focus,
.nav-tab-active:focus:active,
.nav-tab-active:hover {
	background: transparent;
	box-shadow: none;
}

.nav-tab:first-child {
	margin-left: 0;
}

.nav-tab-active,
.nav-tab-active:focus,
.nav-tab-active:focus:active {
	border-bottom: 2px solid $gray-dark;
	color: $gray-text;
}

/* Admin Bar */

#wpadminbar {
	background: $studio-wordpress-blue;
	-webkit-box-shadow: none;
	-mozilla-box-shadow: none;
	border-bottom: 1px solid $color-primary-dark;
	height: 46px;
	position: fixed;

	.ab-top-menu > li {
		> .ab-item {
			font-size: 14px;
		}

		&.hover > .ab-item {
			background: $studio-wordpress-blue-60 !important;
			color: $white;
		}
	}

	* {
		line-height: 46px;
	}

	.quicklinks a,
	.quicklinks .ab-empty-item,
	.shortlink-input {
		height: 46px;
	}

	.quicklinks {
		> ul > li > a {
			padding: 0 15px;
		}

		> ul > li.current > a {
			background: $_004966;
		}
	}

	&:not(.mobile) .ab-top-menu > li > .ab-item:focus,
	&.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	.ab-top-menu > li.ab-hover > .ab-item {
		background: transparent !important;
	}

	&:not(.mobile) .ab-top-menu > li:hover > .ab-item {
		background: $studio-wordpress-blue-60 !important;
		color: #fff;
	}

	.ab-top-menu > li.my-sites {
		> .ab-item,
		&.hover > .ab-item,
		&.ab-hover > .ab-item {
			background: $studio-wordpress-blue-80 !important;
		}
	}

	#wp-admin-bar-blog.my-sites > a.ab-item:before,
	#wp-admin-bar-newdash > a.ab-item:before {
		margin-top: 13px;
	}

	#wp-admin-bar-blog.my-sites > a.ab-item:before {
		top: -2px !important;
	}

	ul li#wp-admin-bar-ab-new-post {
		border-radius: 3px;

		a {
			padding: 6px 15px;
			color: $color-primary !important;

			span {
				color: $color-primary !important;
				font-size: 14px !important;
				margin-right: 4px;
				margin-left: 6px;
			}

			&:before,
			&:after {
				background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect x="0" fill="none" width="24" height="24"/><g><path fill="%230087be" d="M21 14v5c0 1.105-.895 2-2 2H5c-1.105 0-2-.895-2-2V5c0-1.105.895-2 2-2h5v2H5v14h14v-5h2z"/><path fill="%230087be" d="M21 7h-4V3h-2v4h-4v2h4v4h2V9h4"/></g></svg>') !important;
			}

			&:before {
				margin-left: -6px;
			}
		}

		&:hover,
		&:hover > .ab-item {
			background: $studio-gray-0 !important;
			opacity: 1;
			border-radius: 3px !important;
		}
	}

	li#wp-admin-bar-blog.menupop > .ab-sub-wrapper,
	li#wp-admin-bar-newdash.menupop > .ab-sub-wrapper,
	li#wp-admin-bar-my-account.menupop > .ab-sub-wrapper {
		display: none !important;
	}

	.quicklinks li#wp-admin-bar-my-account.with-avatar {
		margin-right: -1px;
		margin-left: 9px;
	}

	li#wp-admin-bar-notes {
		&.active,
		&.active > .ab-item {
			background: $studio-wordpress-blue-80 !important;
		}

		> #wpnt-notes-panel2 {
			top: 46px;
		}
	}

	.ab-top-menu > li.ab-active > .ab-item,
	> #wp-toolbar .wpnt-show span.noticon,
	#wp-admin-bar-notes.wpnt-show .noticon {
		color: $white !important;
	}

	.ab-active > a.ab-item:before,
	#wp-admin-bar-notes.active .noticon-bell:before {
		filter: brightness(100) !important;
	}

	.quicklinks > ul > li#wp-admin-bar-notes > a.ab-item span.noticon,
	> #wp-toolbar span.noticon,
	#wp-admin-bar-notes .noticon {
		top: 10px;
	}

	> #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
	.ab-icon,
	.ab-item:before {
		font-size: 24px;
		line-height: 1.45;
	}

	li#wp-admin-bar-recovery-mode {
		background-color: $alert-orange !important;
	}
}

body #wp-admin-bar-notes > .ab-item {
	padding: 0 15px !important;
}

#wpadminbar ul li#wp-admin-bar-ab-new-post {
	top: 5px !important;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
	display: none;
}

/* WP Admin UI Mods */

.wrap {
	margin: 20px 30px 25px 15px;
}

@media screen and (max-width: 782px) {
	.wrap {
		margin: 10px 18px 10px 7px;
	}
}

.subsubsub,
.wp-filter {
	margin: 10px 0 25px;
	background: $white;
	border: 1px solid $rgba-grey;
	width: 100%;
	box-shadow: none;
	padding: 0;
}

.subsubsub a,
.filter-links li>a {
	padding: 10px 15px;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	color: $color-link;
	border-bottom: 2px solid $studio-white;
	outline: none;

	&:focus {
		box-shadow: 0 0 0 1px $color-primary, 0 0 2px 1px $color-primary-light;
	}

	&:hover {
		color: $color-link-dark;
		background-color: $studio-blue-0;
	}

	&:hover:not(.current) {
		border-color: $studio-blue-0;
	}
}

.filter-links li>a {
	padding: 16px;
}

.subsubsub a.current,
.filter-links .current {
	border-bottom: 2px solid $studio-gray-70;
}

@media only screen and (max-width:480px) {
	.filter-links,
	.filter-links li,
	.filter-links li a {
		display: block;
	}

	.filter-links li > a {
		font-size: 16px;
	}
}


.count {
	display: inline-block;
	padding: 1px 6px;
	border: solid 1px $gray;
	border-radius: 12px;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: $gray-text-min;
	text-align: center;
	margin-left: 2px;
}

.plugins-php {
	.plugins a {
		color: $color-link;

		&:hover, &:focus {
			color: $color-link-dark;
		}

		&:focus {
			box-shadow: 0 0 0 1px $color-primary, 0 0 2px 1px $color-primary-light;
		}
	}

	.plugins a.delete {
		color: $color-error;

		&:hover, &:focus {
			color: $color-error-dark;
		}

		&:focus {
			box-shadow: 0 0 0 1px $color-error, 0 0 2px 1px $color-error-light;
		}
	}

	.tablenav {
		clear: none;
		float: left;
		margin-bottom: 15px;

		.one-page .displaying-num {
			display: none;
		}
	}

	.bulkactions {
		select:focus {
			border-color: $color-primary;
			box-shadow: 0 0 2px $color-primary-light;
		}
	}

	p.search-box {
		margin-top: 5px;

		.wp-filter-search:focus {
			border-color: $color-primary;
			box-shadow: 0 0 2px $color-primary-light;
		}
	}

	.plugin-update-tr.active td,
	.plugins .active th {
		border-left: 4px solid $color-primary;
	}

	.plugins .active th,
	.plugins .active td,
	.plugins .active th.check-column,
	.plugin-update-tr.active td {
		background-color: $studio-blue-0;
	}
}

.wrap {
	.wp-heading-inline + .page-title-action,
	.add-new-h2,
	.add-new-h2:active,
	.page-title-action,
	.page-title-action:active {
		background: $color-accent;
		border-color: $color-accent-dark;
		color: $white;
		border-style: solid;
		border-width: 1px 1px 2px;
		cursor: pointer;
		display: inline-block;
		margin: 0 5px 0 0;
		outline: 0;
		overflow: hidden;
		font-weight: 500;
		text-overflow: ellipsis;
		text-decoration: none;
		vertical-align: middle;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 13px;
		line-height: 21px;
		border-radius: 4px;
		padding: 2px 10px 2px;
		margin-bottom: 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:hover {
			background-color: $studio-pink-40;
		}

		&:focus {
			box-shadow: 0 0 0 2px $color-accent-light;
			background-color: $studio-pink-40;
		}
	}
}

.wp-core-ui {
	.button {
		background: $white;

		&:focus {
			border-color: $color-primary;
			box-shadow: 0 0 3px $color-primary-light;
		}
	}

	.button-primary {
		background: $color-primary;
		border-color: $color-primary-dark;
		color: $white;
		text-shadow: none;

		&:hover, &:focus {
			background-color: $studio-blue-40;
		}
	}
}

.ui-tabs-nav li,
.wp-switch-editor {
	background-color: $gray-lighten-30 !important;
}

.plugin-card a, .popular-tags a, .filter-links>li>a {
	color: $color-link;

	&:hover, &:focus {
		color: $color-link-dark;
	}

	&:focus {
		box-shadow: 0 0 0 1px $color-primary, 0 0 2px 1px $color-primary-light;
	}
}

.plugin-card-bottom,
.alternate,
.striped>tbody>:nth-child(odd),
ul.striped>:nth-child(odd),
.ui-tabs-panel,
.ui-tabs-nav li.ui-tabs-active,
.ui-tabs-nav li.ui-tabs-active:hover,
div.mce-toolbar-grp,
.html-active .switch-html,
.tmce-active .switch-tmce,
#post-status-info,
.quicktags-toolbar,
#major-publishing-actions {
	background-color: $studio-white;
	border-color: $_d7e1e9;
}

.wp-filter .search-form {
	margin-right: 10px;

	@media only screen and (max-width:1000px) {
		margin-left: 10px;
	}

	@media only screen and (max-width: 782px) {
		input[type="search"].wp-filter-search {
			padding: 5px;
		}
	}

	@media only screen and (max-width:480px) {
		&.search-plugins {
			align-items: center;
			display: flex;

			.wp-filter-search {
				flex: 0 1 auto;
				max-width: none;
				width: 100%;
			}
		}

		select {
			flex-shrink: 0;
		}

		& > label {
			flex: 1 1 auto;
		}

	}
}

// Shamelessly swiped from https://github.com/Automattic/wp-calypso/blob/59bdfeeb97eda4266ad39410cb0a074d2c88dbc8/client/components/forms/form-toggle

// ==========================================================================
// FormToggle
// ==========================================================================

.form-toggle[type="checkbox"] {
	display: none;
}

.form-toggle__switch {
	position: relative;
	display: inline-block;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 2px;
	width: 40px;
	height: 24px;
	vertical-align: middle;
	align-self: flex-start;
	outline: 0;
	cursor: pointer;
	transition: all .4s ease, box-shadow 0s;

	&:before,
	&:after {
		position: relative;
		display: block;
		content: "";
		width: 20px;
		height: 20px;
	}
	&:after {
		left: 0;
		border-radius: 50%;
		background: $white;
		transition: all .2s ease;
	}
	&:before {
		display: none;
	}
	.accessible-focus &:focus{
		box-shadow: 0 0 0 2px $color-primary;
	}
}

.form-toggle__label {
	cursor: pointer;

	.is-disabled & {
		cursor: default;
	}

	.form-toggle__label-content {
		flex: 0 1 100%;
		margin-left: 12px;
	}
}

.form-toggle {
	.accessible-focus &:focus {
		+ .form-toggle__label .form-toggle__switch {
			box-shadow: 0 0 0 2px $color-primary;
		}
		&:checked + .form-toggle__label .form-toggle__switch {
			box-shadow: 0 0 0 2px $color-primary-light;
		}
	}

	& + .form-toggle__label .form-toggle__switch {
		background: $gray-lighten-10;
	}

	&:not( :disabled ) {
		+ .form-toggle__label:hover .form-toggle__switch {
			background: $gray-lighten-20;
		}
	}

	&:checked{
		+ .form-toggle__label .form-toggle__switch {
			background: $color-primary;

			&:after {
				left: 16px;
			}
		}
	}

	&:checked:not( :disabled ) {
		+ .form-toggle__label:hover .form-toggle__switch {
			background: $color-primary-light;
		}
	}

	&:disabled {
		+ label.form-toggle__label span.form-toggle__switch {
			opacity: 0.25;
			cursor: default;
		}
	}
}

// Classes for toggle state before action is complete (updating plugin or something)
.form-toggle.is-toggling {
	+ .form-toggle__label .form-toggle__switch {
		background: $color-primary;
	}
	&:checked {
		+ .form-toggle__label .form-toggle__switch {
			background: $gray-lighten-20;
		}
	}
}

.form-toggle.is-compact {
	+ .form-toggle__label .form-toggle__switch {
		border-radius: 8px;
		width: 24px;
		height: 16px;

		&:before,
		&:after {
			width: 12px;
			height: 12px;
		}
	}
	&:checked {
		+ .form-toggle__label .form-toggle__switch {
			&:after{
				left: 8px;
			}
		}
	}
}
