@import 'colors';

/* Hides the Fullscreen option from the View modes */
.edit-post-more-menu__content .components-menu-group:first-child .components-menu-item__button:last-child {
  display: none;
}

/* Hides the Manage Reusable Blocks links */
.editor-inserter__manage-reusable-blocks,
a.components-menu-item__button[href*="post_type=wp_block"] {
  display: none;
}

/* REVISIONS */

.wp-toolbar .revision-php {
  margin-top: -32px;
}

.revision-php {
  background: $_f3f6f8;

  #wpadminbar,
  #adminmenumain,
  #wp-admin-bar-menu-toggle {
    display: none;
  }

  #wpcontent {
    margin-left: 0 !important;
  }

  #wpbody {
    padding-top: 0;
  }

  #screen-meta-links {
    display: none !important;
  }

  #wpfooter {
    display: none !important;
  }
}

.revision-tickmarks {
  margin-top: 8px;
}

.revisions-controls {
  height: 118px;

  .author-card {
    .avatar {
      border-radius: 50%;
      height: 38px;
      margin-top: 4px;
      width: 38px;
    }

    .author-info {
      line-height: 20px;
      margin-top: 4px;
    }
  }
}

.comparing-two-revisions .revisions-controls {
  height: 176px;
}

.revisions-meta {
  margin-top: 28px;
}

.diff-meta {
  min-height: 46px;
}

.revision-toggle-compare-mode label {
  vertical-align: top;
}

.revisions-tooltip {
  transform: translateY(-36px);
}
