# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
/build/**         production-include

# Files to exclude from the mirror repo
# (see also entries in the monorepo root .gitattributes)
/src/**                production-exclude
/tsconfig.rollup.json  production-exclude
