.jetpack-yoast-promo__container {
	border-left: #A3286A 3px solid;

	.is-bold {
		font-weight: 500;
	}

	.header {
		align-items: center;
	}

	.button-close {
		width: 1rem;
		height: 1rem;
		padding: 0;
	}

	.jetpack-yoast-promo__external-link svg {
		margin: 0 0 0 0.5em;
	}
}
