// ==========================================================================
// Jetpack Colors
// ==========================================================================

$green: #81a844;
$white: #fff;
$red: #d94f4f;

// Blues
$lightblue: #2ea2cc;
$wpcom: #0087be;
$blue-dark: #005082;

// Grays
$clouds: #f9f9f9;
$gray-med: #686f72;
