// ==========================================================================
// Jetpack Colors
// ==========================================================================

$green: #81a844;
$newgreen: #8cc258;
$clouds: #f9f9f9;
