.jetpack-premium-analytics-site-not-connected {
	max-width: 450px;
	text-align: center;
	margin: 80px auto;
}

.jetpack-premium-analytics-site-not-connected__title {
	font-size: var(--wpds-typography-font-size-xl);
	font-weight: var(--wpds-typography-font-weight-medium);
	line-height: var(--wpds-typography-line-height-lg);
}

.jetpack-premium-analytics-site-not-connected__description {
	color: var(--wpds-color-foreground-content-neutral-weak);
	font-size: var(--wpds-typography-font-size-md);
	line-height: var(--wpds-typography-line-height-sm);
}
