// Needs to be cleaned. Let's remove those important tags and unneeded classes that we can utilize from core. Properly nest elements as well. Once everything is tested, I'll remove all the comments below as well. - @jeffgolenski


// wrapping these common element names temporarily until I can audit - jeff
.jp-content {
	.hide {
		display: none;
	}
	.pointer {
		cursor: pointer;
	}
	.wrapper {
		padding-bottom: 0!important;
	}
	.landing {
		max-width: 992px !important;
		margin: 0 auto;
		min-height: 400px;
		padding-bottom: 6em;
		z-index: 2;
		position: relative;
	}
	h1 {
		font: 300 2.57143em/1em "proxima-nova","Open Sans",Helvetica,Arial,sans-serif;
		position: relative;
		//text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		z-index: 3;
	}
	.footer {
		padding-top: 2em !important;
		background-image: none !important;
		&:before {
			height: inherit !important;
		}
	}
	.more-info:before {
		content: none;
	}
} //.jp-content

.module-grid h2 {
	color: #000;
}

.download-jetpack {
	margin-top: 1em!important;
}

.jetpack-message {
	margin: 33px auto 0 10px!important;
	max-width: 94.5%!important;
}

// let's try and get rid of styling via IDs
#jump-start-area {
	
}

#jumpstart-cta {
	text-align: center;
	float: right!important;
}

#jumpstart-cta .button,
#jumpstart-cta .button-primary {
	margin: 1em;
	font-size: 18px;
	height: 45px!important;
	padding: 8px 15px 1px !important;
}

.miguel {
	display: none;
	position: fixed;
	bottom: -200px;
	left: 0;
	z-index: 1;
	-webkit-animation: miguel 3.4s 0s ease-in-out;
	animation: miguel 3.4s 0s ease-in-out;
}

.miguel:nth-child(2) {
	left: 49%;
	width: 120px;
	height: 131px;
	-webkit-animation-duration: 2.4s;
	animation-duration: 2.4s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.miguel:nth-child(3) {
	left: 23%;
	width: 60px;
	height: 66px;
	-webkit-animation-duration: 4.5s;
	animation-duration: 4.5s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

@-webkit-keyframes "miguel" {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		-webkit-transform: translate3d(900px, -900px, 0px);
		transform: translate3d(900px, -900px, 0px);
	}
}
@keyframes "miguel" {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		-webkit-transform: translate3d(900px, -900px, 0px);
		transform: translate3d(900px, -900px, 0px);
	}
}