/* Rating field block – front-end styles */
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap&text=♥★);

.jetpack-field-rating {
  position: relative;
  display: block;

  &:not(:hover) .jetpack-field-rating__label input[type="radio"].jetpack-field-rating__input:checked,
  .jetpack-field-rating__label:hover,
  .jetpack-field-rating__label:has( ~ .jetpack-field-rating__label:hover ),
  &:not(:hover) .jetpack-field-rating__label:has( ~ .jetpack-field-rating__label .jetpack-field-rating__input:checked ) {
    color: var( --jetpack--contact-form--rating-star-color, var( --jetpack--contact-form--primary-color, #333 ) );
  }

  /* Visual rules for label and input live in rating-input styles */
} 