.modal {
	background: linear-gradient(224.61deg, #FDFDFC 86.61%, #FFFFFF 97.58%);
	width: 900px;
}

.title.title {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 16px;
}

.description.description {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 16px;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 0px 20px 20px 20px;
}

.column {
	flex: 1;
	padding-right: 40px;
}

.second-column {
	display: flex;
	justify-content: center;
	flex: 1;
	border-left: 1px solid #dcdcde;
}

.sharing {
	display: flex;
	margin-top: 24px;
	margin-bottom: 24px;
	flex-direction: column;
	row-gap: 15px;
}

.background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.illustration {
	position: relative;
}
