#message.jp-connect {
	background: #81a844;
	border: none;
	color: #fff;
	overflow: hidden;
	margin-bottom: 26px;
	padding: 26px 20px;
	position: relative;

	&:after {
		bottom: 0;
		content: '';
		background: url('../images/the-footcloud.svg') right bottom no-repeat;
		height: 50px;
		pointer-events: none;
		position: absolute;
		right: -100px;
		width: 100%;
		z-index: 1;
	}

	a {
		color: #fff;
	}
	h4 {
		margin: 0;
		padding: 0;
	}

	.jetpack-install-container {
		float: left;
		overflow: hidden;

		.submit {
			margin: 0;
		}
		.download-jetpack {
			font-size: 1.5em;
			margin: 0 18px 0 0;
			padding: em(12px, 21px) em(18px, 21px) em(8px, 21px) em(12px, 21px);
			border-radius: 0;
			box-shadow:
				0 4px 0 #3e6c20,
				0 2px 3px rgba(0,0,0,.2)
			;

			&:hover,
			&:focus {
				box-shadow:
					0 4px 0 #3e6c20,
					0 2px 3px rgba(0,0,0,.2)
				;
			}
			&:active {
				outline: none;
				top: 2px;
				box-shadow:
					0 0px 0 #3e6c20,
					0 0 0 rgba(0,0,0,.2)
				;

				&:after {
					// fixes buggy clicks
					top: -2px;
				}
			}
			&:before {
				top: -2px;
				margin-right: 13px;
				width: 22px;
				height: 22px;
			}
		}
	}
	.jetpack-close-button-container {
		right: 18px;
		position: absolute;
		top: 18px;

		a {
			&:before {
				color: #a7c979;
				content: '\f158';
				font: normal 20px/1 'dashicons';
			}
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 1;
				outline: none;
			}
		}
	}
	.jetpack-text-container {
		color: #dfffcc;
		float: left;
		margin-top: -4px;

		p {
			margin: 0;
			padding: 0;

			strong {
				color: #fff;
				display: block;
				font-size: 170%;
				font-weight: normal;
			}
		}
	}
}
@media (max-width: 1130px) {
	#message.jp-connect {
		.jetpack-install-container {
			float: none;
		}
		.jetpack-text-container {
			float: none;
			margin-top: 18px;
			padding-right: 30px;

			p {
				float: left;
				font-size: 14px;
				margin-right: 4px;

				strong {
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	}
}

@media (max-width: 420px) {
	#message.jp-connect {
		.jetpack-install-container .download-jetpack {
			font-size: 16px;
			letter-spacing: -0.05em;
			padding: 9px 8px;
			text-align: center;
			width: 80%;

			&:before {
				display: none;
			}
		}
	}
}
