.updated { // utlizes some core styles, overrides some others
	&.jp-banner {
		position: relative;
		padding: 0;
	}

	.jp-banner__header {
		font-size: 18px;
		font-weight: 400;
		margin-top: 0;
	}

	.jp-banner__button-container {
		padding: 12px 0 0;
	}
}

.jp-banner .notice-dismiss {
	text-decoration: none;
}

.jp-banner__description {
	font-size: 14px;
}

.jp-banner__description-container {
	padding: 16px;
}

// Plugin List Connection Banners

.jp-wpcom-connect__container {
	display: block;
	position: relative;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
}

.jp-wpcom-connect__inner-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
}

.jp-wpcom-connect__vertical-nav,
.jp-wpcom-connect__content-container {

}

.jp-wpcom-connect__content-container {
	padding: 16px;
}

// Connection Banner Vertical Menu

	.vertical-menu {
		width: 240px;

		@include minbreakpoint(phablet) {
			flex-direction: column;
			justify-content: flex-start;
		};

		.vertical-menu__feature-item-label {
			display: none;
		}

		@include minbreakpoint(phablet) {

			.vertical-menu__feature-item {
				display: flex;
				flex-direction: row;
				border: none;
				padding: 8px;
				border-bottom: 1px solid #c8d7e1;
				border-right: 1px solid #c8d7e1;
				border-left: 3px solid #F3F6F8;
				background-color: #F3F6F8;

				&:last-of-type {
					border-bottom: none;
				}
			}

			.vertical-menu__feature-item-is-selected {
				border-left: 3px solid #0087be;
				border-right: 1px solid #fff;
				background-color: #fff;
			}

			.vertical-menu__feature-item-is-selected.jp-feature-intro {
				border-left: 3px solid #8CC258;
			}

			.vertical-menu__feature-item-icon {
				width: 20px;
				height: 20px;
			}

			.vertical-menu__feature-item-label {
				display: block;
				padding: 8px;
			}
		};
	}