.dops-search__input[type="search"] {
	width: 100%;
}

.jp-settings-container .jp-no-results {
	display: none;
	font-size: rem( 14px );
	line-height: 1.5;

	&:last-of-type {
		display: inherit;
	}
}

@include breakpoint( "<480px" ) {
	.dops-search.is-expanded-to-container {
		height: 46px;
	}
}

.dops-card.jp-settings-description {
	margin: 24px 0 8px;
	padding: 0;
	background: none;
	box-shadow: none;
	border: none;
}
