#jetpack_summary_widget {
	* {
		box-sizing: border-box;
	}

	.inside {
		margin: 0;
		padding: 0;
	}

	.stats,
	.widgets,
	.wpcom-connect {
		padding: .75em;
	}

	.wpcom-connect {
		background: #fafafa;
		text-align: center;

		.jp-emblem {
			padding: 5px 0 0 0;
		}

		svg {
			width: 40px;
			height: 40px;
			path {
				fill: $green-primary;
			}
		}

		.jp-emblem,
		h3,
		p {
			width: 100%;
		}

		h3 {
			font-size: 1.25em;
			font-weight: 400;
		}

		p {
			color: $wpui_dark_medium_gray;
			margin-top: 0;
			padding: 0 15px;
		}

		.actions {
			text-align: center;
			padding: 15px 0 10px 0;
			small {
				display: block;
				a {
					color: #999;
				}
			}
		}
	}

	.button-jetpack {
		background: $green-primary;
		border-color: darken( $green-primary, 10% );
		color: $white;
		box-shadow: inset 0 1px 0 lighten( $green-primary, 15% ), 0 1px 0 rgba(0,0,0,.15);

		&:hover,
		&:focus {
			background: darken( $green-primary, 5% );
			border-color: darken( $green-primary, 15% );
			color: $white;
			box-shadow: inset 0 1px 0 lighten( $green-primary, 10% );
		}

		&:focus {
			box-shadow: inset 0 1px 0 lighten( $green-primary, 10% ),
			0 0 0 1px #5b9dd9,
			0 0 2px 1px rgba( 30, 140, 190, .8 );
		}

		&:active {
			background: darken( $green-primary, 10% );
			border-color: darken( $green-primary, 15% );
			color: $white;
			box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 ),
			0 0 0 1px #5b9dd9,
			0 0 2px 1px rgba( 30, 140, 190, .8 );
		}

		&[disabled],
		&:disabled,
		&.button-primary-disabled,
		&.disabled {
			color: hsl( hue( $green-primary ), 10%, 80% ) !important;
			background: darken( $green-primary, 8% ) !important;
			border-color: darken( $green-primary, 15% ) !important;
			text-shadow: none !important;
		}
	}

	footer {
		background: #fafafa;
		padding: .75em;
		overflow: hidden;
		border-top: 1px solid #ccc;

		.protect,
		.akismet {
			width: 50%;
			float: left;
			text-align: left;
		}

		.protect {
			padding-right: 3%;
		}

		h3 {
			font-size: 1.5em;
			font-weight: normal;
			margin: 0;
			padding: 0;
		}

		p {
			margin: 0;
			padding: 0;
		}

		section {
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
}
