@use "../../styles/widget-container" as *;

.chart {
	height: 100%;

	.legend {
		flex: 0 0 auto;
		height: var(--wpds-typography-line-height-lg);
		min-height: var(--wpds-typography-line-height-lg);
		flex-wrap: nowrap;
	}

	.legendItem {
		min-width: 0;
		gap: var(--wpds-dimension-gap-sm);
		padding: var(--wpds-dimension-padding-xs) var(--wpds-dimension-padding-sm); // 4px 6px->8px
	}

	.legendLabel {
		// font-size and color come from chartTheme.legendLabelStyles
		min-width: 0;
		flex: 1 1 0 !important; // Override the 0 0 auto default value

		span {
			display: block;
		}
	}

	@include widget-query( xxs, max-width ) {

		.legend {
			width: 100%;
			height: auto;
			min-height: calc(var(--wpds-typography-line-height-lg, 28px) + var(--wpds-typography-line-height-lg, 28px) + var(--wpds-dimension-gap-lg, 16px));
			justify-content: flex-start;
		}

		.legendItem {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
