.content {
	display: flex;
	flex-direction: column;
	gap: var(--wpds-dimension-gap-sm);
	padding-block: var(--wpds-dimension-padding-xl);
}

.intro {
	color: var(--wpds-color-foreground-content-neutral-weak);
	margin-block-end: var(--wpds-dimension-gap-md);
}

.module-list {
	border: var(--wpds-border-width-sm) solid var(--wpds-color-stroke-surface-neutral-weak);
	border-radius: var(--wpds-border-radius-md);
	overflow: hidden;
}

.module-item {
	padding: var(--wpds-dimension-padding-lg);

	& + & {
		border-block-start-color: var(--wpds-color-stroke-surface-neutral-weak);
		border-block-start-style: solid;
		border-block-start-width: var(--wpds-border-width-sm);
	}
}

.module-item__details {
	flex: 1;
	min-inline-size: 0;
}

.list-header {
	min-block-size: 2.5rem;
	padding-block: var(--wpds-dimension-padding-sm);
	padding-inline: var(--wpds-dimension-padding-lg);
}

.bulk-actions {
	flex: 1;
	justify-content: space-between;
}

.group {
	display: flex;
	flex-direction: column;
	gap: var(--wpds-dimension-gap-sm);
	margin-block-start: var(--wpds-dimension-gap-xl);
}

.group__label {
	color: var(--wpds-color-foreground-content-neutral);
}
