#subscribe-email input {
	width: 95%;
}

.comment-subscription-form {
	margin-bottom: 1em;
}

.comment-subscription-form .subscribe-label {
	display: inline !important;
}

/*
Text meant only for screen readers.
Provides support for themes that do not bundle this CSS yet.
@see https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
***********************************/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute ! important;
	width: 1px;
	word-wrap: normal ! important;
}
