#subscribe-email input {
	width: 95%;
}

.comment-subscription-form .subscribe-label {
	display: inline !important;
}

.comment-subscription-form-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Meant only for screen readers */
.comment-subscription-form-title {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
