.wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;

	&.disabled {
		opacity: 0.4;
	}

	img,
	.avatar {
		background-color: var(--wpds-color-bg-surface-neutral-strong, #fff);
		border-radius: 50%;
	}

	.social-icon {
		background-color: var(--wpds-color-bg-surface-neutral-strong, #fff);
		border-radius: var(--wpds-border-radius-sm, 2px);
		inset-block-end: 0;
		inset-inline-end: 0;
		position: absolute;
	}

	&.small {
		block-size: 28px;
		inline-size: 28px;

		img,
		.avatar {
			block-size: 24px;
			border: 2px solid var(--wpds-color-bg-surface-neutral-strong, #fff);
			inline-size: 24px;
		}

		.social-icon {
			block-size: 14px;
			inline-size: 14px;
		}
	}

	&.medium {
		block-size: 32px;
		inline-size: 32px;

		img,
		.avatar {
			block-size: 32px;
			inline-size: 32px;
		}

		.social-icon {
			block-size: 16px;
			inline-size: 16px;
		}
	}
}
