.akismet-panel__status {
	display: flex;
	align-items: center;
	gap: 8px;
}

.akismet-panel__content {
	color: rgba(38, 46, 57, 0.7);
}

.akismet-panel__panel-content > *:not(:last-child) {
	margin-bottom: 16px;
}

.akismet-panel__spinner-icon {
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	100% {
		transform: rotate(360deg);
	}
} 