.jetpack-upgrade-nudge.block-editor-warning {
	margin-bottom: 0;
}

.jetpack-upgrade-nudge__icon {
	background: var( --color-plan-premium );
	border-radius: 50%;
	box-sizing: content-box;
	margin-right: 16px;
	color: var( --color-white );
	padding: 6px;
	align-self: center;
	flex: 0 0 auto;
	fill: var( --color-white );
}

.jetpack-upgrade-nudge__info {
	display: flex;
	flex-direction: row;
}

.jetpack-upgrade-nudge__title {
	font-size: 14px;
}

.jetpack-upgrade-nudge__message {
	color: var( --color-text-subtle );
	display: block;
}
