.jp-dash-section-header {
	display: flex;
	flex-wrap: wrap;
	margin: rem( 40px ) 0 rem( 8px );

	@include breakpoint( "<660px" ) {
		margin-bottom: rem( 24px );
	}
}

.jp-dash-section-header__label {
	flex: 1;
	white-space: nowrap;
}

.jp-dash-section-header__name {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	font-size: rem( 20px );
	font-weight: 400;
	white-space: nowrap;
}

.jp-dash-section-header__settings {
	display: inline-block;
	min-width: rem( 40px );
	text-align: center;
	color: darken( $gray, 10% );

	&:focus {
		outline: 0;
		box-shadow: none;

		.gridicon {
			color: $blue-wordpress;
		}
	}
	.gridicon {
		position: relative;
		top: 1px;
	}
}

.jp-dash-section-header__external-link {
	align-self: center;
	font-style: italic;

	@include breakpoint( "<660px" ) {
		margin-top: rem( 4px );
	}
}

.jp-dash-section-header__children {
	align-self: center;
}
