/*
 * Block settings sidebar.
 */
 .wp-block-jetpack-dialogue__timestamp-control {
	display: flex;
}

.wp-block-jetpack-dialogue__timestamp-control__hour,
.wp-block-jetpack-dialogue__timestamp-control__minute {
	margin-right: 5px;
} 

.wp-block-jetpack-dialogue__speakers-selector .components-button:focus {
	border: 0;
	outline: none;
	box-shadow: none;
}
