/*
 * Editor Canvas context.
 */

 .wp-block-jetpack-dialogue__speakers-selector .components-menu-item__button,
 .wp-block-jetpack-dialogue__text-button-container .components-text-control__input {
	font-size: 12px;
	text-transform: uppercase;
 }
 
/*
 * Block settings sidebar.
 */
 .wp-block-jetpack-dialogue__timestamp-control {
	display: flex;
}

.wp-block-jetpack-dialogue__timestamp-control__hour,
.wp-block-jetpack-dialogue__timestamp-control__minute {
	margin-right: 5px;
} 