/*
 * Editor Canvas context.
 */
 
/*
 * Block settings sidebar.
 */
 .wp-block-jetpack-dialogue__timestamp-control {
	display: flex;
}

.wp-block-jetpack-dialogue__timestamp-control__hour,
.wp-block-jetpack-dialogue__timestamp-control__minute {
	margin-right: 5px;
} 