/**
 * Response View Component Styles
 */

@use "@wordpress/base-styles/breakpoints";
@use "@wordpress/base-styles/variables";

$inspector-padding: 16px;

.jp-forms-response-actions {
	padding: 8px $inspector-padding;
	border-bottom: 1px solid var(--wpds-color-stroke-surface-neutral, #e0e0e0);
}

.jp-forms-response-navigation {
	padding: 8px 0;
	border-bottom: 1px solid var(--wpds-color-stroke-surface-neutral, #e0e0e0);
}

.jp-forms__inbox-response-data {
	font-size: var(--jp-forms-font-size-regular);
	line-height: 24px;
	padding: 0 $inspector-padding;

	// old field format renders without .jp-forms__field-preview
	&:not(.is-collection-format) {

		display: flex;
		flex-direction: column;
		row-gap: 24px;
		padding-top: 24px;
		padding-bottom: 24px;

		.jp-forms__inbox-response-data-label {
			font-weight: 600;
		}

		.jp-forms__inbox-response-data-value {
			white-space: pre-wrap;
		}
	}
}

.jp-forms__inbox__tip-container {
	border-top: 1px solid var(--wpds-color-stroke-surface-neutral, #e0e0e0);
	margin: auto 0 0 0;
	padding: $inspector-padding;
	text-wrap: pretty;

	// https://wordpress.github.io/gutenberg/?path=/docs/components-tip--docs
	.components-tip {
		align-items: anchor-center;
	}
}
