.container {
	--actions-size: 28px;
	--status-size: 8px;

	padding: calc( var( --spacing-base ) * 3 ); // 24px
	background: var( --jp-white );
	border-radius: var( --jp-border-radius );
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0 1px var( --jp-gray-10 ) inset;

	&.is-link {
		background: none;
		text-decoration: none;
		background-color: var( --jp-white-off );
		color: var( --jp-black-80 );

		&:hover {
			background-color: var( --jp-white );
		}

		&:focus {
			box-shadow: 0 0 0 1.5px var( --jp-black );
			background-color: var( --jp-white );
			outline: 3px solid transparent;
		}
	}

	&.has-error {
		box-shadow: 0 0 0 1.5px var( --jp-red-60 );
	}
}

.name {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--spacing-base); // 8px
}

.description {
	flex-grow: 1;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: calc( var(--spacing-base) * 2 ); // 16px
	min-height: var(--actions-size);
	flex-wrap: wrap;
}

.status {
	margin-left: var(--spacing-base); // 8px
	white-space: nowrap;
	height: var(--actions-size);
	display: flex;
	align-items: center;

	&:before {
		content: "";
		display: inline-block;
		width: var(--status-size);
		height: var(--status-size);
		margin-right: var(--spacing-base);
		border-radius: 50%;
	}

	// in plugin absent case, there's not status flag
	$statuses: (
		"active": "--jp-green-50",
		"inactive": "--jp-gray-50",
		"error": "--jp-red-60"
	);

	@each $status, $var in $statuses {
		$color: var(#{$var});

		&.#{$status} {
			color: $color;
			&:before {
				background: $color;
			}
		}
	}

	&.is-fetching {
		&:before {
			animation: blink-animation 0.5s linear infinite;
		}
	}
}

@keyframes blink-animation{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}
}
