:root {
	--font-title-large: 36px;
	--font-title-small: 24px;
	--font-body: 16px;
	--font-label: 12px;

	--jp-black:           #000000;
	--jp-black-80:        #2C3338;
	--jp-white:           #FFFFFF;
	--jp-white-off:       #F9F9F6;
	--jp-gray:            #DCDCDE;
	--jp-gray-off:        #E2E2DF;

	--jp-green-primary:   #069E08;
	--jp-green-secondary: #2FB41F;

  --jp-red-0:           #F7EBEC;

	--jp-border-radius:       4px;
	--jp-menu-border-height:  1px;
	--jp-underline-thickness: 2px;

  --is-active:          #008710;
  --is-inactive:        #646970;
  --is-error:           #B32D2E;
  --is-disabled:        #C3C4C7;
}

.jp-product {
  grid-column: span 4;
  padding: 24px;
  background: var( --jp-white );
  border-radius: var( --jp-border-radius );
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);

  &.is-disabled {
    background: none;
    box-shadow: none;
    box-shadow: 0 0 0 1px var( --is-disabled ) inset;
  }
}

.jp-product__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}

.jp-product__description {
  font-size: 14px;
}

.jp-product__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 600;
}

.jp-product__status {
  margin-left: 4px;
  color: var( --is-active );
  white-space: nowrap;

  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: var( --is-active );
  }

  $statuses: inactive, error;

  @each $status in $statuses {
    .is-#{$status} & {
      color: var( --is-#{$status} );

      &:before {
        background: var( --is-#{$status} );
      }
    }
  }
}
