:root {
	--font-title-large: 36px;
	--font-title-small: 24px;
	--font-body: 16px;
	--font-label: 12px;

	--jp-black:           #000000;
	--jp-black-80:        #2C3338;
	--jp-white:           #FFFFFF;
	--jp-white-off:       #F9F9F6;
	--jp-gray:            #DCDCDE;
	--jp-gray-off:        #E2E2DF;

	--jp-green-primary:   #069E08;
	--jp-green-secondary: #2FB41F;

  --jp-red-0:           #F7EBEC;

	--jp-border-radius:       4px;
	--jp-menu-border-height:  1px;
	--jp-underline-thickness: 2px;

  --is-active:          #008710;
  --is-inactive:        #646970;
  --is-error:           #B32D2E;
  --is-disabled:        #C3C4C7;
}

$product-card-font-size: 24px;

.container {
  --product-card-shadow: rgba(0, 0, 0, 0.08);
  --product-card-shadow-size: 40px;

  padding: 24px;
  background: var( --jp-white );
  border-radius: var( --jp-border-radius );
  box-shadow: 0 0 var(--product-card-shadow-size) var(--product-card-shadow);

  // &.disabled {
    // background: none;
    // box-shadow: none;
    // box-shadow: 0 0 0 1px var( --is-disabled ) inset;
  // }
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: $product-card-font-size;
  font-weight: 700;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  margin:0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 600;
}

.status {
  margin-left: 4px;
  color: var( --is-active );
  white-space: nowrap;

  &:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background: var( --is-active );
  }

  $statuses: inactive, error;

  @each $status in $statuses {
    .is-#{$status} & {
      color: var( --is-#{$status} );

      &:before {
        background: var( --is-#{$status} );
      }
    }
  }
}
