@use "./variables" as vars;

.bluesky-preview__section {
	width: 100%;
	max-width: vars.$bluesky-preview-width;
	min-width: 200px;
	margin-inline: auto;
}

.bluesky-preview__post {
	display: flex;
	flex-direction: row;
	gap: 10px;
	max-width: vars.$bluesky-preview-width;

	width: 100%;
	overflow-y: hidden;
	box-sizing: border-box;
	padding: 1rem;

	background-color: vars.$bluesky-preview-background-color;
	border: 1px solid #c0cdd9;
	border-radius: vars.$bluesky-preview-border-radius;
	color: vars.$bluesky-preview-text-color;

	font-family: vars.$bluesky-preview-font-family;
	font-size: 0.9375rem;
	line-height: 20px;

	:any-link {
		color: vars.$bluesky-preview-accent-color;

		text-decoration: none;
	}
}

.bluesky-preview__media {
	margin-top: 8px;
	min-height: 64px;
	border-radius: 8px;
	// 516px matches Bluesky's max image height in the feed.
	max-height: 516px;
	width: fit-content;
	max-width: 100%;
	overflow: hidden;

	&.as-grid {
		display: grid;
		gap: 2px;
		grid-template-columns: 50% 50%;
		width: 100%;
		overflow: hidden;
	}

	&-item {
		display: flex;
		border: 0;
		border-radius: 8px;
		overflow: hidden;

		img,
		video {
			max-width: 100%;
			max-height: 516px;
			width: auto;
			height: auto;
			display: block;
		}
	}
}
