.jp-landing__plans.dops-card {
	padding: 0;
}

.jp-landing__plans {

	.dops-button {
		margin-right: 10px;
	}
}

.jp-landing__plan-card-current {
	// Force a break by including full-width psuedo-element at correct position.
	&::before {
		content: '';
		order: 20;
		width: 100%;
	}

	h3 {
		font-size: 1.5em;
		width: 100%; // Make sure placeholder appears
		order: 10;
	}

	.jp-landing__plan-features-text {
		font-size: rem( 14px );
		order: 30;
	}

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: wrap;

		.jp-landing__plan-features-text {
			margin-right: 3em;
		}
	}

}

.jp-landing__plan-features-header-checklist-cta-container {
	order: 30;
	align-self: center;

	.dops-button {
		margin-right: 0;
	}
}

.jp-landing__plan-features-card {
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	box-sizing: border-box;
	max-width: 49.5%;
	background-color: $white;
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );

	.is-loading & {
		width: 49.5%;
	}

	@include breakpoint( ">660px" ) {
		margin-bottom: 1%;
	}

	@include breakpoint( "<660px" ) {
		max-width: 100%;
		margin-bottom: rem( 8px );
	}

	@include breakpoint( ">480px" ) {
		padding: rem( 32px );
	}

	@include breakpoint( "<480px" ) {
		padding: rem( 16px );
	}
}

.jp-landing__plan-features-img {
	width: 90px;
	margin-right: 8px;
	line-height: 1;

	@include breakpoint( ">960px" ) {
		width: 120px;
		margin-right: 18px;
	}
}

.jp-landing__plan-features-icon {
	display: block;
	margin-left: -8px;

	@include breakpoint( ">480px" ) {
		margin-left: -16px;
	}
}

.jp-landing__plan-features-text {
	flex: 1;
}

.jp-landing__plan-features-title {
	margin: 0;
}

.jp-landing__plan-features {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: rem( 32px );

	@include breakpoint( "<660px" ) {
		display: block;
	}
}

.jp-landing__plan-card {
	padding: rem( 32px );

	@include breakpoint( "<480px" ) {
		text-align: center;
	}

	@include breakpoint( ">480px" ) {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}

	.jp-landing__plan-features-title,
	.jp-landing__plan-features-text {
		padding: 0;
	}

	.jp-landing__plan-features-title {
		margin-bottom: rem( 16px );
	}

	.jp-landing__plan-features-text:last-child {
		margin-bottom: 0;
	}
}

.jp-landing__plan-card-img {
	float: left;
	margin-right: rem( 42px );

	@include breakpoint( "<960px" ) {
		margin-right: rem( 16px );
	}

	@include breakpoint( "<480px" ) {
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
}

.jp-landing__plan-icon {
	width: 82px;
	position: relative;
	left: -3px;

	@include breakpoint( ">960px" ) {
		width: 96px;
		left: 2px;
	}
}

.jp-landing__plan-card-img.is-placeholder {
	width: rem( 120px );
	height: rem( 85px );

	& + .jp-landing__plan-card-current {
		width: 80%;
	}
}

.jp-landing__plan-features-title.is-placeholder {
	height: rem( 24px );
	max-width: 50%;
}

.jp-landing__plan-features-text.is-placeholder {
	height: rem( 44px );
	max-width: 75%;
}

.jp-landing__plan-features-link {
	width: 100%;

	@include breakpoint( ">660px" ) {
		text-align: center;
	}
}

@import './my-plan-header/checklist-progress-card/style.scss';
