.date-filters-panel {

	&__primary,
	&__comparison {
		flex: 0 1 auto;
		width: auto;
		margin-bottom: 0;
	}

	&__comparison {
		border-inline-start: 1px solid var(--wpds-color-stroke-interactive-neutral);
		padding-inline-start: var(--wpds-dimension-gap-sm);
	}
}
