@import 'modules/calypsoify/_studio-wpcom.scss';

$banner-height: 48px;
$icon-size: 10px;
$icon-background-color: #fff;

.jetpack-upgrade-plan-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	height: $banner-height;
	line-height: 14px;
	background: black;
	color: white;
	padding: 0 20px;
	border-radius: 2px 2px 0 0;
	margin-bottom: 10px;

	.jetpack-upgrade-plan-banner__title,
	.jetpack-upgrade-plan-banner__description {
		margin-right: 10px;
	}

	.components-button {
		flex-shrink: 0;
		margin-left: auto;
		height: 28px;

		&.is-primary {
			background: $studio-pink-40;

			&:hover {
				background: $studio-pink-30;
			}
		}
	}
}

.block-editor-block-list__block.is-upgradable {
	margin-top: 0;
}

// Adjust banner in the InspectorControl
.block-editor-block-inspector {
	.jetpack-upgrade-plan-banner {
		border-radius: 0;
		margin: 0 20px 20px;
	}

	// Temp Hack to change order and make the premium banner preceed the Styles Panel for specific blocks
	&.is-core-cover-premium-block {
		display: flex;
		flex-direction: column;

		div:nth-child( 1 ) {
			order: 1;
		}

		div:nth-child( 3 ) {
			order: 2;
		}

		div:nth-child( 2 ) {
			order: 3;
		}

		div:nth-child( 4 ) {
			order: 4;
		}
	}
}

// Adjust blocks
.is-core-video-premium-block {
	margin-bottom: -$banner-height;
}

.wp-block-video.is-upgradable {
	padding-top: $banner-height + 10px;
}

// Premium Icons.
.jetpack-premium-icon {
	position: relative;

	&::before {
		content: ' ';
		position: absolute;
		top: -3px;
		right: -3px;
		z-index: 1;

		width: $icon-size;
		height: $icon-size;

		background-color: $studio-pink-40;
		border-radius: 50%;
		border: 2px solid $icon-background-color;
		box-sizing: border-box;
	}
}
