// make use of color studio variables for consistency across products
@import 'node_modules/@automattic/color-studio/dist/color-variables.scss';
@import 'node_modules/@automattic/color-studio/dist/color-variables-rgb.scss';

// core variables (core _variables.scss)
$base-color: $studio-celadon-70; // Calypso --color-masterbar-background
$icon-color: $studio-pink-70; // Calypso --color-sidebar-gridicon-fill
$highlight-color: $studio-blue-50; // Calypso --color-accent
$notification-color: $studio-pink-20; // Calypso Classic Bright (!) --color-masterbar-unread-dot-background

// global (core _variables.scss)
$body-background: $studio-gray-0; // Calypso --color-surface-backdrop

// admin menu & admin-bar (core _variables.scss)
$menu-text: $studio-pink-80; // Calypso --color-sidebar-text
$menu-background: $studio-pink-5; // Calypso --color-sidebar-background
$menu-highlight-text: $studio-pink-90; // Calypso --color-sidebar-menu-hover-text
$menu-highlight-icon: $menu-highlight-text;
$menu-highlight-background: $studio-pink-10; // Calypso --color-sidebar-menu-hover-background
$menu-current-text: $studio-white; // Calypso --color-sidebar-menu-selected-text
$menu-current-icon: $menu-current-text;
$menu-current-background: $studio-blue-50; // Calypso --color-sidebar-menu-selected-background
$menu-submenu-text: $studio-pink-0; // Calypso --color-sidebar-submenu-text
$menu-submenu-background: $studio-pink-90; // Calypso --color-sidebar-submenu-background
$menu-submenu-background-alt: $studio-pink-70; // Calypso --color-sidebar-submenu-background-alt
$menu-submenu-focus-text: $studio-blue-20; // Calypso --color-sidebar-submenu-hover-text
$menu-submenu-current-text: $studio-pink-0; // Calypso --color-sidebar-submenu-selected-text

// masterbar overrides
$masterbar-background: $studio-celadon-70; // Calypso --color-masterbar-background
$masterbar-highlight-background: $studio-celadon-80; // Calypso --color-masterbar-item-hover-background
$masterbar-active-background: $studio-celadon-90; // Calypso --color-masterbar-item-active-background

// nav unification overrides
$nav-unification-sidebar-border: $studio-pink-10; // Calypso --color-sidebar-border
$nav-unification-sidebar-text-alternative: $studio-pink-60; // Calypso --color-sidebar-text-alternative

// Calypso color variables used in e.g. inline help
$color-primary: $studio-celadon-50; // Calypso --color-primary
$color-primary-dark: $studio-celadon-70; // Calypso --color-primary-dark
$color-primary-light: $studio-celadon-30; // Calypso --color-primary-light
$color-surface: $studio-white; // Calypso --color-surface
$color-neutral-100-rgb: $studio-gray-100-rgb; // Calypso --color-neutral-100-rgb

// Sidebar Nudges
$menu-nudge-background: $studio-white;
$menu-nudge-text-color: $studio-black;
$menu-nudge-cta-background: $highlight-color;
$menu-nudge-cta-color: $studio-white;
$menu-nudge-cta-background-hover: $studio-blue-60;
