/**
Slyling up the REST API Tester
 */

.jetpack-debug-mocker {
	margin-top: 20px;
	float: left;
	clear: both;
}

.jetpack-debug-mocker .mocker-block {
	margin-bottom: 20px;
}

.jetpack-debug-mocker .mocker-field {
	position: relative;
}

.jetpack-debug-mocker .mocker-block label {
	display: inline-block;
	font-weight: bold;
	width: 120px;
	vertical-align: top;
	margin-top: 5px;
}

.jetpack-debug-mocker .mocker-block .mocker-field {
	display: inline-block;
}

.jetpack-debug-mocker .mocker-block select {
	margin-top: -3px;
}

.jetpack-debug-mocker .mocker-block .input-number {
	width: 100px;
	height: 35px;
	font-size: 15px;
}

.jetpack-debug-mocker .mocker-block.align-left {
	text-align: left;
}

.jetpack-debug-mocker .mocker-block button {
	height: 35px;
	width: 80px;
	cursor: pointer;
}

.jetpack-debug-mocker .mocker-block textarea {
	width: 400px;
	height: 200px;
}

.jetpack-debug-mocker .block-hide {
	display: none;
}

.jetpack-debug-mocker #mocker-response {
	margin-top: 30px;
	border: 4px dashed grey;
	padding: 10px;
}
