h3.jetpack-publicize-twitter-options__heading {
	margin-top: 1em;
}

.jetpack-publicize-twitter-options__preview {
	width: 100%;
	justify-content: center;
}

.jetpack-publicize-twitter__tweet-divider {
	position: absolute;
	width: 100%;
	margin-top: -28px;

	.jetpack-publicize-twitter__tweet-divider-icon {
		margin: 0 auto;
		display: block;
		background: #0009;
		border-radius: 12px;
		width: 24px;
		height: 24px;

		&::before,
		&::after {
			content: "";
			width: 80px;
			height: 1px;
			background: #0009;
			display: block;
			position: absolute;
			margin-top: 12px;
		}

		&::before {
			margin-left: -80px;
		}

		&::after {
			margin-left: 24px;
		}

		> svg {
			fill: #fff;
			position: absolute;
			width: 16px;
			height: 16px;
			margin: 4px;
		}
	}

}

.jetpack-publicize-twitter__tweet-divider-popover {
	border-radius: 4px;
	box-shadow: 0px 2px 10px #0009;

	.components-popover__content {
		color: #0009;
		padding: 8px;
	}
}

.annotation-text-jetpack-tweetstorm {
	background: #0009;
	width: 3px;
	display: inline-block;
	margin: 1px;
}

.is-dark-theme {
	.jetpack-publicize-twitter__tweet-divider {
		.jetpack-publicize-twitter__tweet-divider-icon {
			background: #fff9;

			&::before,
			&::after {
				background: #fff9;
			}
		}
	}

	.annotation-text-jetpack-tweetstorm {
		background: #fff9;
	}
}
