@import '../rna-styles';

.jp-license-activation-screen-illustration {
	align-items: center;
	background: var( --jp-white-off );
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 32px;
}
