@use "@automattic/jetpack-base-styles/style";


.jp-license-activation-screen-illustration {
	padding: 0 var(--wp-ui-card-padding);

	min-width: 320px;
	width: 50%;

	.jp-license-activation-screen-illustration--img {
		max-width: 100%;
		height: auto;

		@media screen and ( max-width: 780px ) {
			display: none;
		}
	}
}
