.container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-end;
}

.price-container {
	flex-grow: 2;
	flex-basis: 0;
}

.price {
	display: inline-flex;
	align-items: flex-start;
	position: relative;

	&:first-child {
		margin-right: calc( var( --spacing-base ) * 2 );
	}

	&.is-not-off-price {
		color: var( --jp-gray-20);

		&:after {
			content: " ";
			display: block;
			width: 100%;
			height: 3px;
			background: var( --jp-red);
			border-radius: var( --jp-border-radius );
			position: absolute;
			top: 50%;
			margin-top: -2px;
			pointer-events: none;
		}
	}
}

.legend {
	color: var( --jp-gray-40 );
	margin-bottom: calc( var( --spacing-base ) * 3 );
	font-size: var(--font-body-small);
	line-height: 20px;

	&::after {
		content: "\200B"; // Pseudo element to keep height
	}
}

.promo-label {
	display: inline-flex;
	background-color:  var( --jp-yellow-10);
	border-radius: 4px;
	padding-left: var( --spacing-base );
	padding-right: var( --spacing-base );
	font-weight: 600;
	font-size: 13px;
}

.symbol {
	font-weight: 400;
}