$content-max-width: 1280px;
$page-spacing-horizontal: 76px;

.jp-forms__landing {
	color: var(--jp-forms-black);

	.jp-forms__logo-wrapper {
		margin: 0 auto;
		width: $content-max-width + ($page-spacing-horizontal * 2);
		max-width: 100%;
	}

	.jp-forms__logo {
		margin: 40px $page-spacing-horizontal;
	}

	h1 {
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		margin: 0;
	}

	h4 {
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin: 0;
	}

	button.button-primary {
		background-color: var(--jp-forms-black);
		border: none;
		color: var(--jp-forms-white);
		line-height: 24px;
		padding: 8px 32px;

		&:hover {
			background-color: var(--jp-forms-black);
			color: var(--jp-forms-white);
		}
	}

	.align-center {
		text-align: center;
	}

	.bg-white {
		background-color: var(--jp-forms-white);
	}

	.bg-white-off {
		background-color: var(--jp-forms-white-off);
	}

	.mb-2 {
		margin-bottom: 8px;
	}

	.mb-4 {
		margin-bottom: 16px;
	}

	.mb-6 {
		margin-bottom: 24px;
	}

	.mb-8 {
		margin-bottom: 32px;
	}

	.mb-12 {
		margin-bottom: 48px;
	}
}

.jp-forms__landing-section {
	padding: 84px $page-spacing-horizontal;
}

.jp-forms__landing-content {
	margin: 0 auto;
	max-width: $content-max-width;
}

.jp-forms__teaser-video {
	display: flex;
	margin: 0 auto -84px;
}

.jp-forms__patterns-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 350px));
	justify-content: space-between;
	margin: 0 auto;
	gap: 28px 40px;

	@media (max-width: 1280px) {
		grid-template-columns: repeat(2, minmax(300px, 400px));
	}

	@media (max-width: 820px) {
		grid-template-columns: minmax(300px, 400px);
		justify-content: center;
	}
}

.jp-forms__pattern-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	img {
		aspect-ratio: 3/2;
		display: flex;
		align-items: center;
		justify-content: center;
		background: lightgrey;
		width: 100%;
	}

	span {
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
	}
}

.jp-forms__features {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(12, 1fr);
}

.jp-forms__feature {
	background-color: var(--jp-forms-white);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100px;
	overflow: hidden;
	padding: 24px 32px;
	position: relative;

	&.feature-connect {
		grid-column: span 5 / span 5;
	}

	&.feature-data,
	&.feature-notifications {
		grid-column: span 4 / span 4;
	}

	&.feature-akismet,
	&.feature-export,
	&.feature-dependencies {
		grid-column: span 3 / span 3;
	}

	&.feature-validation {
		grid-column: span 2 / span 2;
	}

	&.feature-connect {
		.jp-forms__feature-image-wrapper {
			display: flex;
			align-items: center;
			gap: 24px;
			margin-bottom: 8px;
		}
	}

	&.feature-data {
		h4 {
			max-width: 220px;
		}

		svg {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

	&.feature-export {
		svg {
			margin-left: -32px;
		}
	}

	&.feature-dependencies {
		padding: 24px 16px;
		text-align: center;

		h1 {
			overflow: hidden;
			align-self: center;
		}

		span {
			opacity: 0.3;
		}
	}

	&.feature-validation {
		.jp-forms__feature-image-wrapper {
			white-space: nowrap;
		}
	}

	h4 {
		font-weight: 700;
	}
}
