.value-section {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--spacing-base) / 2);

    > div {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-size: var(--font-body-extra-small);
        color: var(--jp-gray-100);
        font-weight: 500;
        margin-bottom: calc(var(--spacing-base) + 2px);
        line-height: var(--font-title-small);
        text-align: center;
    }

    &__last-scan {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: var(--spacing-base);
        column-gap: 1px;
        position: absolute;
        right: calc(var(--spacing-base) * 3);
        width: calc(57% - (var(--spacing-base) * 3));
        div {
            font-size: var(--font-body-extra-small);
            line-height: var(--font-body);
            color: var(--jp-gray-50);
            text-align: right;  
        }
    }

    @media ( max-width: 480px ) {
        &__last-scan {
            width: calc(53% - (var(--spacing-base) * 3));
        }
    }

    &__tooltip-heading {
        font-size: var(--font-title-small);
        line-height: calc(var(--font-title-small) + 6px);;
        color: var(--jp-black);
        margin: 0 0 calc(var(--spacing-base) * 2);
        font-weight: 500;
    }

    &__tooltip-content {
        font-size: var(--font-body);
        line-height: var(--font-title-small);
        color: var(--jp-gray-70);
        a {
            color: var(--jp-black);
            text-decoration: underline;
        }
        a:hover, a:focus {
            text-decoration: none;
        }
    }

    &__data {
        display: flex;
        align-items: center;
        font-size: var(--font-body-extra-small);
        line-height: var(--font-title-small);
        color: var(--jp-gray-50);
        font-weight: 500;
        flex: 1;
        justify-content: center;
    }

    &__status-icon {
        display: block;
        margin-right: calc(var(--spacing-base) - 2px);
    }

    &__status-text {
        margin-right: 1px;
        // Reduce the letter spacing slightly.
        // The specific letter spacing is per the design mockup.
        letter-spacing: -0.24px; // https://wp.me/p1HpG7-rFA
    }
}

.scan-threats {
    &__threat-count {
        font-size: calc(var(--font-title-large) - 4px);
        line-height: var(--font-title-large);
        font-weight: 400;
        color: var(--jp-black);
    }

    &__critical-threats {
        display: flex;
        align-items: center;
    }

    &__critical-threat-container {
        margin-left: 1px;
        > button > svg {
            fill: var(--jp-red-50);
        }
    }

    &__critical-threat-count {
        color: var(--jp-red-50);
        margin-left: calc(var(--spacing-base) / 4);
    }
}

.logins_blocked {
    &__count {
        font-size: calc(var(--font-title-large) - 4px);
        line-height: var(--font-title-large);
        font-weight: 400;
        color: var(--jp-black);
    }
}
