.title {
    margin-bottom: 0.75rem;
}

.dropdown-menu {
    width: 200px;
}

.evaluation-footer-link {
	font-size: var( --font-body );
}

ul.recommendations-list {
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
	  display: none;
	}

	li {
		min-width: 300px;
		scroll-snap-align: start;
		grid-column: unset;
		grid-column-end: unset;
	}

	@media screen and (max-width: 1024px) {
		li {
			min-width: 450px;
		}
	}
}