.title {
    margin-bottom: 0.75rem;
}

.dropdown-menu {
    width: 200px;
}

.evaluation-footer-link {
	font-size: var( --font-body );
}

ul.recommendations-list {
	grid-template-columns: repeat( 5, 100% );
	grid-auto-flow: column;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
	  display: none;
	}

	li {
		width: 100%;
		max-width: 100%;
		scroll-snap-align: start;
		grid-column: unset;
		grid-column-end: unset;
	}

	@media screen and (min-width: 601px) {
		grid-template-columns: repeat( 5, 1fr );

		li {
			width: 420px;
		}
	}

	@media screen and (min-width: 1025px) {

		li {
			width: 320px;
		}
	}
}

.slider-button {
	transition: all 0.3s ease;
}

.prev-button:not(:disabled):hover {
	transform: translateX(-4px);
}

.next-button:not(:disabled):hover {
	transform: translateX(4px);
}