@import '../../scss/_variables.scss';

$color-modal-background: $studio-white;
$search-box-size: 60px;

.jp-mocked-legacy-search {
	border-radius: 3px;
	margin: 0 auto;
	width: 100%;

	user-select: none;
}
.jp-mocked-legacy-search__search-controls {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	background: $color-modal-background;
	box-shadow: rgba( 0, 0, 0, 0.35 ) 0px 5px 25px;
}
.jp-mocked-legacy-search__search-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $search-box-size;
	height: $search-box-size;
}
.jp-mocked-legacy-search__search-input {
	width: 100%;
	display: flex;
	align-items: center;
}
