
// This file cotains overrides to _admin.scss necessary to match Calypso color schemes

// Make wpadminbar colors differ from submenu colors

.admin-color-aquatic,
.admin-color-classic-blue,
.admin-color-classic-bright,
.admin-color-classic-dark,
.admin-color-contrast,
.admin-color-nightfall,
.admin-color-powder-snow,
.admin-color-sakura,
.admin-color-sunset {

	#wpadminbar{
		background: $masterbar-background !important;
	}

	#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
	#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
		background: $masterbar-highlight-background;
	}

}

// Make current submenu icon color stay the same on hover
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu .wp-has-current-submenu div.wp-menu-image:before,
#adminmenu .current div.wp-menu-image:before,
#adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before {
	color: $menu-current-text;
}

// Make current submenu item color stay the same on hover/focus
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {

	&:hover, &:focus {
		color: $menu-submenu-current-text;
	}
}