// make use of color studio variables for consistency across products
@import 'node_modules/@automattic/color-studio/dist/color-variables';

// Sidebar Nudges
$menu-nudge-background: $studio-white;
$menu-nudge-text-color: $studio-black;
$menu-nudge-cta-background: #2271b1;
$menu-nudge-cta-color: $studio-white;
$menu-nudge-cta-background-hover: #135e96;
