.ai-image-modal__footer-disclaimer {
	display: flex;
	align-items: center;
	gap: 4px;
	color: var( --jp-gray-50 );
	fill: var( --jp-gray-50 );

	.components-button.is-link {
		color: var( --jp-gray-50 );
	}
}

.ai-image-modal__feedback-button.components-button.is-link {
	text-decoration: none;
}
