@import '@automattic/jetpack-base-styles/style';

.jetpack-ai-status-indicator__icon-wrapper {
	transition: opacity 0.3s ease-in-out, width 0.5s;
	width: 0;
	opacity: 0;

	&.is-requesting, &.is-suggesting {
		opacity: 1;
		width: 38px;
	}
}
