.wp-domain-nag-sticky-message {
    position: sticky;
    bottom: 10px;
    width: 50%;
    margin: auto;
    background-color: #d9534f;
    border-radius: 2px;
    color: #fff;
    padding: 10px;
}

.wp-domain-nag-inner {
    display: inline-block;
}

.wp-domain-nag-text {
    display: inline;
}

.wp-domain-nag-sticky-message .button {
    background: #fff;
	border-radius: 2px;
	border: 1px solid #fff;
	box-sizing: border-box;
	display: inline-block;
	line-height: 21px;
	padding: 8px;
	text-align: center;
	text-overflow: ellipsis;
	text-decoration: none;
	transition: opacity .15s ease-out;
	white-space: nowrap;
    width: 120px;
    margin-left: 16px;
}
