.container {

	a, a:active, a:hover {
		color: var( --jp-black );
	}

	h3 {
		font-size: 1rem;
		line-height: 20px;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.logo {
		margin-bottom: 1.25rem;
	}
}

.plans-wrapper {
	margin-bottom: 1rem;
	display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plan-container {

	h4 {
		margin-top: 0;
		margin-bottom: 0.25rem;
		font-size: 1.25rem;
		line-height: 24px;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
}

.expire-date {
	display: flex;
	font-size: 0.8125rem; // 13px
	line-height: 20px;
	font-weight: 400;
	color: var(--jp-gray-40);

	&--with-icon {
		margin-right: 8px;
	}
}

.is-expired {
	color: var(--jp-red-60);
}

.is-expiring-soon {
	color: var(--jp-yellow-40);
}

.actions-list-item {

	&, a, * {
		font-size: 0.8125rem; // 13px
		line-height: 20px;
		font-weight: 400;
	}
}
