.button {
	justify-content: center;
	font-weight: 600;

	// Icon Button
	&.is-icon-button {
		padding: var(--spacing-base);
		width: calc(var(--spacing-base) * 5);
		height: calc(var(--spacing-base) * 5);

		> svg:first-child {
			margin: 0;
			padding: 0;
		}

		&.small {
			padding: calc(var(--spacing-base) / 2);
			width: calc(var(--spacing-base) * 4);
			min-width: calc(var(--spacing-base) * 4);
			height: calc(var(--spacing-base) * 4);
		}
	}

	// Normal Size & Font
	&.normal:not(.is-icon-button) {
		height: auto;
		font-size: var(--font-body);
		line-height: 24px;
		padding: var(--spacing-base) calc(var(--spacing-base) * 3); // 8px - 24px

		// With icon
		&.icon {
			padding: var(--spacing-base) calc(var(--spacing-base) * 2); // 8px - 16px
		}
	}

	// Small Size & Font
	&.small:not(.is-icon-button) {
		height: auto;
		font-size: var(--font-body-extra-small);
		line-height: 20px;
		padding: calc(var(--spacing-base) / 2) var(--spacing-base); // 4px - 8px

		&.icon > svg:first-child {
			margin-right: calc(var(--spacing-base) / 2); // 4px
		}

		// With Spinner
		> :global(.components-spinner) {
			height: 20px;
		}
	}

	&.regular {
		font-weight: 400;
	}

	// Full Width
	&.full-width {
		min-width: 100%;
	}

	// SPECIFICS
	// LINK & EXTERNAL LINK

	&:global(.is-link) {
		// Normal & Small Spacing
		&.normal,
		&.small {
			padding: 0;
		}
	}

	// LOADING

	&.loading {
		position: relative;

		&:global(.has-icon) {
			justify-content: center;
		}

		> *:not(:global(.components-spinner)) {
			visibility: hidden;
		}

		// Spinner
		> :global(.components-spinner) {
			margin: 0;
			position: absolute;
		}
	}
}

.external-icon {
	margin-left: calc(var(--spacing-base) / 2); // 4px
}
