.wp-block-gutenpack-test {
	background: #00a8db;
	color: #fff;
}

.wp-block-gutenpack-vr {
	position: relative;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

iframe.wp-block-gutenpack-vr {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
}

.giphy__gallery {
	background-image:
		linear-gradient(
			0deg,
			#000 10px,
			transparent 10px
		),
		linear-gradient(
			90deg,
			#ED706B,
			#ED706B 20%,
			#FFFEA5 20%,
			#FFFEA5 40%,
			#00CCFF 40%,
			#00CCFF 60%,
			#00FF99 60%,
			#00FF99 80%,
			#9933FF 80%,
			#9933FF
		);
	column-count: 3;
	column-gap: 0;
}

.giphy__oh-heck-yeah + .giphy__gallery:empty {
	min-height: 200px;
}

.giphy__a-gif-has-no-name {
	display: block;
	width: 100%;
	height: auto;
}

.giphy__chosen-one {
	display: block;
	width: 100%;
	height: auto;
	background-image:
		linear-gradient(
			0deg,
			#000 5%,
			transparent 5%
		),
		linear-gradient(
			90deg,
			#ED706B,
			#ED706B 20%,
			#FFFEA5 20%,
			#FFFEA5 40%,
			#00CCFF 40%,
			#00CCFF 60%,
			#00FF99 60%,
			#00FF99 80%,
			#9933FF 80%,
			#9933FF
		);
}

.giphy__oh-heck-yeah {
	animation: frig .5s steps(5, end) infinite;
	background-image:
		linear-gradient(
			0deg,
			#000 5%,
			transparent 5%
		),
		linear-gradient(
			90deg,
			#ED706B,
			#ED706B 20px,
			#FFFEA5 20px,
			#FFFEA5 40px,
			#00CCFF 40px,
			#00CCFF 60px,
			#00FF99 60px,
			#00FF99 80px,
			#9933FF 80px,
			#9933FF
		);
	background-size: 100px 100%;
}

@keyframes frig {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 100px;
	}
}

.giphy__oh-heck-yeah .components-placeholder__instructions,
.giphy__oh-heck-yeah .components-placeholder__label,
.giphy__oh-heck-yeah .components-placeholder__fieldset {
	background: #000;
	box-shadow: 0 0 0 8px #000;
	padding: 0 8px;
	color: #fff;
}

.giphy__oh-heck-yeah .components-placeholder__fieldset .components-button {
	color: inherit;
}
