.support-link {
	color: inherit;

	&:focus,
	&:hover {
		color: inherit;
		box-shadow: none;
	}
}

.tooltip {
	margin-top: var( --spacing-base )	;
	max-width: 240px;
	border-radius: 4px;
	text-align: left;
}
