# Directories
# https://stackoverflow.com/questions/5524731/git-ignoring-gitattributes-pattern
/.wordpress-org/**/* export-ignore
/.github/**/* export-ignore
/.wordpress-org export-ignore
/.github export-ignore
/tests export-ignore
.wordpress-org/**/* export-ignore
.github/**/* export-ignore
.wordpress-org export-ignore
.github export-ignore
/node_modules/**/* export-ignore
/node_modules/* export-ignore
node_modules export-ignore
/tests/**/* export-ignore
/tests/* export-ignore
tests export-ignore


# Files
/.gitattributes export-ignore
/.gitignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.wp-env.json export-ignore
README.md export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
gulpfile.esm.js export-ignore
.env export-ignore
.env.testing export-ignore
codeception.yml export-ignore
codeception.dist.yml export-ignore