.DS_STORE
.idea/
.phpcs.xml
*.DS_Store
**/.DS_Store
/.DS_STORE
/build/
/node_modules/
/vendor/
codeception.yml
**/css/*.min.rtl.*
**/css/**/*.min.rtl.*
**/css/*.rtl.css
**/css/**/*.rtl.css
**/css/*.min.css
**/css/welcome-to-zbs/*.min.css
**/css/integrations/*
**/css/font-awesome.css
**/js/*.min.js.map
**/js/**/*.min.js.map
**/js/*.min.js
**/js/welcome-to-zbs/*.min.js
**/js/*.min.js.LICENSE.txt
.cache/
phpcs.xml
phpcs.security.xml
templates/.htaccess
templates/emails/.htaccess
templates/emails/index.html
templates/index.html
templates/invoices/.htaccess
templates/invoices/index.html
templates/quotes/.htaccess
templates/quotes/index.html
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/unit.suite.yml
packages/
.wp-env.override.json
