/vendor/
/node_modules/
/build/
/.cache/
**/css/*.css 
**/css/**/*.css
**/css/integrations/
**/js/*.min.js.map
**/js/**/*.min.js.map
**/js/*.min.js
**/js/welcome-to-zbs/*.min.js
**/js/*.min.js.LICENSE.txt
/templates/.htaccess
/templates/emails/.htaccess
/templates/emails/index.html
/templates/index.html
/templates/invoices/.htaccess
/templates/invoices/index.html
/templates/quotes/.htaccess
/templates/quotes/index.html
/templates/acceptance.suite.yml
phpcs.security.xml