<?xml version="1.0"?>
<ruleset name="JPCRM Coding Standards">
	<description>Verifies JPCRM code is up to snuff</description>

	<config name="installed_paths" value="vendor/wp-coding-standards/wpcs"/>

	<!-- Args to PHPCS: show (p)rogress, show (s)niff codes -->
	<arg value="ps"/>
	<arg name="parallel" value="10"/>
	<arg name="extensions" value="php"/>

	<file>.</file>

	<exclude-pattern>./vendor/*</exclude-pattern>
	<exclude-pattern>./node_modules/*</exclude-pattern>
	<exclude-pattern>./tests/*</exclude-pattern>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.PHP.YodaConditions.NotYoda" />
	</rule>

	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress.WP.I18n"/>

	<rule ref="WordPress.CodeAnalysis.EmptyStatement"/>

	<rule ref="PEAR.Functions.ValidDefaultValue.NotAtEnd" />

</ruleset>
