<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/php/bootstrap.php" backupGlobals="false" colors="true" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <file>ZeroBSCRM.php</file>
      <directory suffix=".php">api</directory>
      <directory suffix=".php">includes</directory>
      <directory suffix=".php">modules</directory>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="rest-api">
      <directory suffix="test.php">tests/php/rest-api</directory>
    </testsuite>
    <testsuite name="automation">
      <directory suffix="test.php">tests/php/automation</directory>
    </testsuite>
    <testsuite name="event-manager">
      <directory suffix="test.php">tests/php/event-manager</directory>
    </testsuite>
    <testsuite name="entities">
      <directory suffix="test.php">tests/php/entities</directory>
    </testsuite>
  </testsuites>
</phpunit>
