.connection-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 450px;
}

.title {
	font-size: 32px;
	font-weight: 500;
}

.description {
	font-size: 16px;
	font-weight: 400;
	color: var(--jp-gray-100, #101517);
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	margin-bottom: 0;
	padding: 14px 16px;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: var( --jp-button-radius );
	background: transparent;

	&:hover {
		cursor: pointer;
	}
}

.social-button-text {
	margin-left: -20px;
	width: 100%;
	color: var(--jp-gray-80, #2c3338);
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: center;
}

.separator {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 20px 0;
	text-transform: uppercase;

	span {
		color: var(--jp-gray-60, #50575E);
		margin: 0 16px;
		white-space: nowrap;
	}

	.line {
		flex: 1;
		height: 1px;
		background: rgba(0, 0, 0, 0.1);
	}
}
