.connection-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 450px;
}

.title {
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
}

.description {
	margin-bottom: 29px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--jp-gray-100, #101517);
}


.jetpack-logo {
	align-self: flex-start;
	margin-bottom: 1rem;
}

.submit-button:global(.components-button) {
	width: 100%;
	padding: 12px 16px;
	min-height: 48px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid var(--jp-green-60, #007117);
	border-radius: var(--jp-button-radius);
	box-sizing: border-box;
	color: var(--jp-white, #fff);
	background: var(--jp-green-60, #007117);
	justify-content: center;

	&:hover,
	&:focus {
		background: var(--jp-green-70, #00801a);
		color: var(--jp-white, #fff);
	}

	&:focus {
		border-color: var(--jp-white, #FFF);
		outline: 2px solid var(--jp-green-60, #007117);
	}

	&:disabled {
		background: var(--jp-gray, #dcdcde);
		border-color: var(--jp-gray, #dcdcde);
		color: var(--jp-gray-50, #646970);
	}
}

.tos {
	margin-top: 8px;
	font-size: 13px;
	line-height: 20px;
	color: var(--jp-gray-50, #646970);

	:global(.terms-of-service__link) {
		color: var(--jp-gray-50, #646970);
	}
}

svg.spinner {
	margin: 0;
}
