@import '@wordpress/dataviews/build-style/style.css';

:global {
	.dataviews-view-table tbody .dataviews-view-table__cell-content-wrapper {
		min-height: 0;
	}

	.dataviews-view-table td, .dataviews-view-table th {
		white-space: initial;

		svg {
			margin: 0;
		}
	}

	.dataviews-view-table td .components-flex {
		gap: 4px;
	}

	.dataviews-view-list .dataviews-views-list__fields {
		align-items: center;
	}
}

.media {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	background-color: #EDFFEE;
	border-color: #EDFFEE;

	svg {
		fill: currentColor;
	}
}

.media--critical {
	background-color: var( --jp-red-5 );
	color: var( --jp-red-80 );
}

.media--high {
	background-color:  var( --jp-yellow-5 );
	color: var( --jp-yellow-60 );
}

.icon-check {
	fill: var( --jp-green-40 );
}

.icon-info {
	fill: var( --jp-red );
}

.support-link {
	color: inherit;

	&:focus,
	&:hover {
		color: inherit;
		box-shadow: none;
	}
}

.fixer-status-badge {
	display: flex;
	align-items: center;
	
	svg {
		margin: 0;
	}
}

.threat__primary {
	display: flex;
	align-items: center;
	gap: 8px;
}

.threat__subtitle {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 12px;
	color: var( --jp-gray-80 );
	margin-bottom: 4px;

	> svg {
		color: currentColor;
	}
}

.threat__title {
	color: var( --jp-gray-80 );
	font-weight: 510;
}

.threat__description {
	color: var( --jp-gray-80 );
	font-size: 12px;
}

.threat__severityHigh {
	color: var( --jp-yellow-60 );
}

.threat__severityCritical {
	color: var( --jp-red-60 );
}

.icon-popover {
	line-height: 0;
}

.info-spacer {
	margin-left: 4px;
}

.spinner-spacer {
	margin-left: 6px;
}