.threat-details {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 3 ); // 24px
}

.section {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 2 ); // 16px

	&__title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__closed {
		max-height: 0;
		overflow: hidden;
	}

	&__open {
		max-height: fit-content;
		overflow: hidden;
	}
}

.title {
	display: flex;
	align-items: center;
	gap: calc( var( --spacing-base ) * 1.5 ); // 12px
}

.filename {
	background-color: var( --jp-gray-0 );
	padding: calc( var( --spacing-base ) * 3 ); // 24px
	overflow-x: auto;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: calc( var( --spacing-base ) * 2 ); // 16px;
	padding-top: calc( var( --spacing-base ) * 3 ); // 24px
	border-top: 1px solid var( --jp-gray-0 );
}

.notice__title {
	display: flex;

	svg {
		margin-right: calc( var( --spacing-base ) / 2 ); // 4px
	}

	p {
		font-weight: bold;
	}
}

.notice__actions {
	display: flex;
	gap: calc( var( --spacing-base ) * 2 ); // 16px;
}