# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
# /src/js/example.min.js  production-include
vendor/autoload.php                  production-include
vendor/composer/**                   production-include
vendor/automattic/**                 production-include
vendor/league/uri/**                 production-include
vendor/league/uri-interfaces/**      production-include
vendor/psr/http-factory/**           production-include
vendor/psr/http-message/**           production-include
vendor/scssphp/scssphp/**            production-include
vendor/scssphp/source-span/**        production-include
vendor/symfony/filesystem/**         production-include
vendor/symfony/polyfill-ctype/**     production-include
vendor/symfony/polyfill-mbstring/**  production-include
/jetpack_vendor/**                   production-include

# Files to exclude from the mirror repo, but included in the monorepo.
# (see also entries in the monorepo root .gitattributes)
# Remember to end all directories with `/**` to properly tag every file.
