.selector {
	max-width: 500px;

	.actions {
		display: flex;
		justify-content: flex-end;
		margin-top: calc( var( --spacing-base ) * 2 ); // 16px
		gap: calc( var( --spacing-base ) * 2 ); // 16px
	}
}
