/* Retina core icons */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	/* TinyMCE buttons */
	.wp_themeSkin .mceToolbar span.mce_undo,
	.wp_themeSkin .mceToolbar span.mce_redo,
	.wp_themeSkin .mceToolbar span.mce_bullist,
	.wp_themeSkin .mceToolbar span.mce_numlist,
	.wp_themeSkin .mceToolbar span.mce_blockquote,
	.wp_themeSkin .mceToolbar span.mce_charmap,
	.wp_themeSkin .mceToolbar span.mce_bold,
	.wp_themeSkin .mceToolbar span.mce_italic,
	.wp_themeSkin .mceToolbar span.mce_underline,
	.wp_themeSkin .mceToolbar span.mce_justifyleft,
	.wp_themeSkin .mceToolbar span.mce_justifyright,
	.wp_themeSkin .mceToolbar span.mce_justifycenter,
	.wp_themeSkin .mceToolbar span.mce_justifyfull,
	.wp_themeSkin .mceToolbar span.mce_indent,
	.wp_themeSkin .mceToolbar span.mce_outdent,
	.wp_themeSkin .mceToolbar span.mce_link,
	.wp_themeSkin .mceToolbar span.mce_unlink,
	.wp_themeSkin .mceToolbar span.mce_help,
	.wp_themeSkin .mceToolbar span.mce_removeformat,
	.wp_themeSkin .mceToolbar span.mce_fullscreen,
	.wp_themeSkin .mceToolbar span.mce_wp_fullscreen,
	.wp_themeSkin .mceToolbar span.mce_media,
	.wp_themeSkin .mceToolbar span.mce_pastetext,
	.wp_themeSkin .mceToolbar span.mce_pasteword,
	.wp_themeSkin .mceToolbar span.mce_wp_help,
	.wp_themeSkin .mceToolbar span.mce_wp_adv,
	.wp_themeSkin .mceToolbar span.mce_wp_more,
	.wp_themeSkin .mceToolbar span.mce_strikethrough,
	.wp_themeSkin .mceToolbar span.mce_spellchecker,
	.wp_themeSkin .mceToolbar span.mce_forecolor,
	.wp_themeSkin .mceToolbar .mce_forecolorpicker,
	.wp_themeSkin .mceToolbar .mceSplitButton .mce_spellchecker span.mce_spellchecker,
	.wp_themeSkin .mceToolbar .mceSplitButton .mce_forecolor span.mce_forecolor,
	.wp_themeSkin .mceToolbar .mceSplitButton span.mce_numlist,
	.wp_themeSkin .mceToolbar .mceSplitButton span.mce_bullist {
		background-image: url('images/wpicons-2x.png');
		background-size: 560px 40px;
	}

	.view-switch #view-switch-list,
	.view-switch .current #view-switch-list,
	.view-switch #view-switch-excerpt,
	.view-switch .current #view-switch-excerpt {
		background-image: url('images/list-2x.png');
		background-size: 80px 20px;
	}

	.imgedit-crop,
	.imgedit-rleft,
	.imgedit-rright,
	.imgedit-flipv,
	.imgedit-fliph,
	.imgedit-undo,
	.imgedit-redo {
		background-image: url('images/imgedit-icons-2x.png');
		background-size: 260px 64px;
	}
}

