body.toplevel_page_jetpack #screen-meta { display: none }

#jp-header {
	background: /*#8CAA46*/ url( images/header-bg.png ) top center repeat-x;
	min-width: 795px;
	z-index: 0;
	margin: 0 0 -30px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
	#jp-header.small {
		margin-bottom: 50px;
	}
	
	#jp-header #jp-clouds {
		position: relative;
		background: transparent url( images/header-clouds.png ) -400px 100% repeat-x;
		padding-top: 110px;
	}
		#jp-header.small #jp-clouds {
			background: transparent url( images/header-clouds-sm.png ) -220px 100% repeat-x;
			padding: 50px 0 0 0;
			height: 70px;
		}

		#jp-header #jp-clouds #jp-disconnect {
			font-size: 12px;
			color: #fff;
			float: right;
			margin: -35px 25px 0 0;
		}

		#jp-header #jp-clouds #jp-disconnect a {
			background: #8caa46 url( images/status-light.png ) 4px 90% no-repeat;
			display: inline-block;
			padding: 4px 10px 3px 30px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			border: 1px solid #7a943d;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow: inset 0 0 2px rgba( 255, 255, 255, 0.4 );
			-webkit-box-shadow: inset 0 0 2px rgba( 255, 255, 255, 0.4 );
			box-shadow: inset 0 0 2px rgba( 255, 255, 255, 0.4 );
			text-shadow: 0px -1px 0px rgba( 0,0,0,0.3 );
		}
			#jp-header #jp-clouds #jp-disconnect a:hover {
				background: #8caa46 url( images/status-light.png ) 4px 3% no-repeat;
				background-color: #839f40;
				border-color: #6a8037;
			}
			
			#jp-header #jp-clouds #jp-disconnect span { display: none; }

	#jp-header h3 {
		position: relative;
		background: transparent url( images/logo.png ) top left no-repeat;
		width: 252px;
		height: 200px;
		overflow: hidden;
		text-indent: -999em;
		top: -95px;
		left: 25px;
		margin: 0;
		padding: 0;
	}
		#jp-header.small h3 {
			background: transparent url( images/logo-small.png ) top left no-repeat;
			width: 149px;
			height: 120px;
			top: -35px;
		}

	#jp-header p {
		position: absolute;
		left: 390px;
		text-align: left;
		top: 30px;
		width: 48%;
		color: #fff;
		font-size: 25px;
		line-height: 130%;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	#jp-info {
		position: relative;
		overflow: visible;
		z-index: 50;
		margin: 0 12px 0 28px;
		min-width: 780px;
	}

		#jp-info p {
			font-size: 17px;
			line-height: 150%;
			text-shadow: 0px 1px 0px #fff;
			font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
			color: #666;
			margin: 0 0 40px;
			float:left;
			width: 58%;
		}
			#jp-info p.small {
				font-size: 14px;
			}

		#jp-info a.jp-button {
			font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
			float: right;
			margin: 8px 0 0 20px;
			display: inline-block;
			background: #69acce;
			-moz-box-shadow: inset 0 0 2px #fff, 0 1px 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: inset 0 0 2px #fff, 0 1px 5px rgba(0,0,0,0.3);
			box-shadow: inset 0 0 2px #fff, 0 1px 5px rgba(0,0,0,0.3);		
			padding: 12px 20px;
			border: 1px solid #2a8cba;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			line-height: 100%;
			color: #fff;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			text-shadow: 0px 1px 2px rgba( 0,0,0,0.5);
			-webkit-transition-duration: .3s;
			-moz-transition-duration: .3s;
			cursor: pointer;
		}
			#jp-info a.jp-button:hover, #jp-info a.jp-button:active {
				background-color: #f0a000;
				border-color: #c87800;
				-webkit-transition-duration: .3s;
				outline: none;
				-moz-box-shadow: inset 0 0 2px #fff, 0 1px 7px rgba(240,160,0,0.5);
				-webkit-box-shadow: inset 0 0 2px #fff, 0 1px 7px rgba(240,160,0,0.5);
				box-shadow: inset 0 0 2px #fff, 0 1px 7spx rgba(240,160,0,0.5);
			}

.jetpack-message {
	position: relative;
	z-index: 100;
	border: 1px solid #2a8cba !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url( images/cloudybox-back.png ) 100% 100% no-repeat;
	background-color: #6aafcf !important;
	-webkit-box-shadow: inset 0 0 15px rgba( 0,0,0,0.04 );
	-moz-box-shadow: inset 0 0 15px rgba( 0,0,0,0.04 );
	box-shadow: inset 0 0 15px rgba( 0,0,0,0.04 );
	padding: 18px 90px 8px 15px !important;
	overflow: hidden;
	line-height: 180%;
}
	.jp-connect { padding: 10px 0 5px !important; }
	
	#jetpack-settings > .jetpack-message { margin: 10px 13px 10px 15px }

	.jetpack-message .squeezer {
		max-width: 940px;
		margin: 0 auto 2px;
		padding: 0 10px;
		text-align: left;
		overflow: hidden;
	}
	.jetpack-message h4 {
		margin: 0 10px 10px 0;
		font-size: 18px;
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		font-weight: normal;
		color: #fff;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		display: inline-block;
	}

	.jetpack-message h5 {
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		margin: 0;
	}
	
	.jetpack-message code, .jetpack-err p {
		background: rgba( 0,0,0,0.2 );
		font-size: 14px;
		padding: 3px 5px !important;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
		color: #fff;
	}
	
	.jetpack-message p {
		margin: -1px 0 0 0 !important;
		padding: 0;
		display: inline-block;
	}
		.jetpack-err p {
			overflow: hidden;
			margin-bottom: 10px !important;
		}

		.jetpack-message p a.button-primary {
			font-size: 16px !important;
			display: inline-block;
			padding: 8px 15px;
			color: #fff;
			text-align: center;
			font-size: 20px;
			text-decoration: none;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			border: 1px solid #8caa46;
			background: #b4d278;
			-moz-box-shadow: inset 0 0 2px rgba( 255,255,255,1), 0 1px 1px rgba( 0,0,0,0.1 );
			-webkit-box-shadow: inset 0 0 2px rgba( 255,255,255,1), 0 1px 1px rgba( 0,0,0,0.1 );
			box-shadow: inset 0 0 2px rgba( 255,255,255,1), 0 1px 1px rgba( 0,0,0,0.1 );
			text-shadow: 0px -1px 0px rgba( 0,0,0,0.3);
			-webkit-transition-duration: .3s;
			-moz-transition-duration: .3s;
			cursor: pointer;
			font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		}
			.jetpack-message p a.button-primary:hover, .jetpack-message p a.button-primary:active {
				background-color: #f0a000;
				border-color: #c87800;
				-webkit-transition-duration: .3s;
				outline: none;
			}

		.inline-message p strong { display: block; }

	.more-info {
		position: relative;
		top: -5px;
		margin: 0 12px 5px 15px;
		height: 230px; /* Have to set height otherwise slideDown() doesn't work. */
		padding-right: 15px !important;
		padding-bottom: 15px;
		clear: both;
		overflow: visible !important;
		color: #666 !important;
		background: transparent url( images/header-clouds-sm.png ) bottom left repeat-x;
		background-color: #f0f0f0 !important;
		border-color: #dcdcdc !important;
		text-shadow: 0px 1px 0px #fff;
		-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
		-moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
		box-shadow: inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
	}
		.more-info h4 {
			padding: 0;
			background: none;
			font-weight: normal;
			color: #000;
			font-size: 19px;
			text-shadow: 0px 1px 0px #fff;
		}

		.more-info h5 {
			margin-left: 0;
			font-size: 12px !important;
		}
		.more-info .arrow {
			position: absolute;
			width: 29px;
			height: 18px;
			top: -16px;
			left: 0;
			background: url( images/arrow.gif ) top left no-repeat;
		}

		.more-info p {
			margin: 0 0 10px 0 !important;
			font-size: 14px;
			font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
			line-height: 150%;
			display: block;
		}
		
		.more-info code {
			background: rgba( 0,0,0,0.05 );
			font-size: 12px;
			padding: 1px;
		}

		.more-info .jp-close {
			position: absolute;
			top: 18px;
			right: 0;
			background: #888;
			background: rgba(0,0,0,0.4);
			color: #fff;
			font-size: 14px !important;
			height: 22px;
			line-height: 20px;
			padding: 0 4px 0 6px;
			font-weight: bold !important;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-moz-border-radius-topright: 0;
			-moz-border-radius:bottomright: 0;
			-webkit-border-top-right-radius: 0;
			-webkit-border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			cursor: pointer;
			text-shadow: 0 1px 0 rgba(0,0,0,0.2);
		}
			.more-info .jp-close:hover {
				background: #69acce;
			}

		.more-info div.jp-info-img {
			float: right;
			width: 320px;
			margin: 0 30px 0 20px;
		}
		
		.more-info img.jp-info-img {
			padding: 3px;
			background: rgba( 255, 255, 255, 0.65 );
			border: 5px solid #ddd;
		} 

.jetpack-activated {
	background: #fffff5 url( images/jp-enabled-bg.jpg ) top left repeat-x !important;
	height: 154px;
	padding: 60px 0 0 200px !important;
	position: relative;
	min-width: 650px;
	top: 15px;
	z-index: 5;
	position: relative;
}
	.jetpack-activated h3 {
		position: relative;
		z-index: 5;
		color: #444;
		font-size: 42px;
		font-weight: bold;
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		margin: 0
		padding: 0;
		background: none;
		display: block;
		text-transform: uppercase;
	}
	.jetpack-activated p {
		position: relative;
		z-index: 3;
		top: 3px;
		left: 10px;
		font-size: 16px;
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		font-weight: normal;
		color: #666;
		background: rgba( 255, 255, 255, 0.75 );
		padding: 7px 10px 6px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		display: inline-block;
	}
	.jetpack-activated .jetpack {
		position: absolute;
		top: 0;
		left: 0;
		width: 238px;
		height: 214px;
		background: url( images/jp-enabled-jetpack.jpg ) top left no-repeat;
		z-index: 2;
	}
	.jetpack-activated .clouds {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 566px;
		height: 214px;
		background: url( images/jp-enabled-clouds.png ) bottom left no-repeat;
		z-index: 0;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		border-bottom-right-radius: 5px;
		-webkit-box-shadow: inset -7px -7px 10px rgba( 0,0,0,0.05 );
		-moz-box-shadow: inset -7px -7px 10px rgba( 0,0,0,0.05 );
		box-shadow: inset -7px -7px 10px rgba( 0,0,0,0.05 );
	}

p.jp-help {
	padding: 10px 0 15px;
}

.module-container {
	overflow: hidden;
	min-width: 740px;
	margin: 25px 0;
	width: 100%;
}

.jetpack-module {
	position: relative;
	float: left;
	width: 210px;
	min-height: 160px;
	max-height: 220px;
	margin: 0 0 15px 15px;
	border: 1px solid #dedede;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	padding: 15px 0 35px 15px;
	-webkit-box-shadow: inset 0 1px 0 #fff, inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
	-moz-box-shadow: inset 0 1px 0 #fff, inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
	box-shadow: inset 0 1px 0 #fff, inset 0 0 20px rgba(0,0,0,0.05), 0 1px 2px rgba( 0,0,0,0.1 );
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s
}
/*
	.jetpack-module:hover {
		border-color: #bbb;
		-webkit-box-shadow: 0 1px 2px rgba( 0,0,0,0.2 );
		-moz-box-shadow: 0 1px 2px rgba( 0,0,0,0.2 );
		box-shadow: 0 1px 2px rgba( 0,0,0,0.2 );
		-webkit-transition-duration: .4s;
		-moz-transition-duration: .4s
	}
*/
	.jetpack-module div.module-image {
		float: right;
		margin: 0 0 5px 10px;
		background: #cbe0a1;
		width: 84px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-left-radius: 5px;
	}
		.jetpack-module div.module-image img {
			padding: 6px;
		}
		
		.jetpack-module div.module-image p {
			background: #b4d278;
			color: #fff;
			text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
			text-align: center;
			margin: 0;
			padding: 0;
			clear: both;
			font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-left-radius: 5px;
		}

	.jetpack-toggle {
		float: right;
		padding: 2px 4px 4px;
	}
		.jetpack-toggle a {
			text-decoration: none;
			font-weight: bold;
			font-size: 180%;
			color: #bbb;
		}

		.jetpack-active .jetpack-toggle-button:hover { color: #b90000;  }

	.jetpack-module h3 {
		line-height: 1.1;
		margin: 0;
		padding: 0;
		font-size: 17px;
		font-weight: normal;
		font-style: normal;
		color: #000;
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
	}
	
	.jetpack-module h3 img {
		margin: -6px -4px 0 0;
	}

	.jetpack-module-description p {
		line-height: 150%;
		font-size: 12px;
		font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
		margin-bottom: 20px;
		color: #666;
	}

	.jetpack-module .jetpack-module-actions {
		position: absolute;
		bottom: 20px;
		left: 15px;
		background: #fff;
		display: block;
	}

		.jetpack-module .jetpack-module-actions a {
			position: relative;
			font-weight: bold;
			color: #888;
			font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		}

	.jetpack-inactive {
		border-color: #eee;
		cursor: pointer;
	}
		.jetpack-inactive *, jetpack-inactive:hover * { -webkit-transition-duration: .4s; -moz-transition-duration: .4s }

		.jetpack-inactive h3, .jetpack-inactive p, .jetpack-inactive span {
			color: #ccc;
		}

		.jetpack-inactive .jetpack-configure-button { display: none; }
		.jetpack-inactive div.module-image {
			opacity: 0.6;
		}

		.jetpack-inactive .jetpack-module-description p a {
			color: #92b8d0;
		}
			.jetpack-inactive:hover .jetpack-module-description p a {
				color: #5590b7;
			}


		.jetpack-inactive:hover {
			border-color: #ddd;
		}

		.jetpack-inactive:hover h3, .jetpack-inactive:hover p, .jetpack-inactive:hover span {
			color: #aaa;
		}

		.jetpack-inactive:hover div.module-image {
			opacity: 0.75;
		}

	.placeholder {
		border-color: #eee !important;
		cursor: default !important;
	}

		.placeholder h3 {
			color: #dadada;
			margin-top: 55px;
			text-align: center;
			background: transparent url(images/comingsoon.png) top center no-repeat;
			padding: 40px 0 0 0;
			margin-right: 15px;
			box-shadow: none;
		}
		
#jp-settings-screen {
	margin: 0 25px;
}
	#jp-settings-screen h3 {
		font-size: 18px;
		font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
		color: #555;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
	}

p#news-sub {
	text-align: center;
}

#jp-footer {
	background: url( images/footer-clouds.png ) top center no-repeat;
	margin: 30px 0;
	padding-top: 60px;
	text-align: center;
}

	#jp-footer .automattic {
		color: #999;
		font-size: 10px;
		line-height: 15px;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding-left: 3px;
	}

		#jp-footer .automattic span {
			text-indent: -999em;
			overflow: hidden;
			background: url( images/automattic.png ) center top no-repeat;
			display: inline-block;
			width: 165px;
			vertical-align: top;
			margin: 0 5px 0 1px;
			line-height: 14px;
			height: 14px;
			filter: alpha(opacity=40);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
			opacity: 0.5;
		}

	#jp-footer p.small {
		font-size: 11px;
		color: #ccc;
	}
	
		#jp-footer .small a {
			text-decoration: none;
		}

		#jp-footer .small a:hover {
			text-decoration: underline;
		}

.clear {
	clear: both;
}

.error, .updated { position: relative; z-index: 100; }

.toplevel_page_jetpack .wrap {
	max-width: 980px;
	min-width: 800px;
	margin-top: 15px;
}

#jetpack-settings .button, #jetpack-settings .button-primary {
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 5px 10px !important;
	-moz-box-shadow: inset 0 0 2px #fff, 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 2px #fff, 0 0 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 2px #fff, 0 0 3px rgba(0,0,0,0.1);
}

#jetpack-settings .button-primary {
	color: #bceaff !important;
}

#jetpack-settings .button-primary:hover {
	color: #fff !important;
}

#jetpack-settings .button:hover {
	color: #298cba !important;
	border-color: #69acce !important;
	-moz-box-shadow: 0 0 2px rgba(105,172,206,1);
	-webkit-box-shadow: 0 0 2px rgba(105,172,206,1);
	box-shadow: 0 0 2px rgba(105,172,206,1);
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
}