// Imported styles
@import "scss/_variables"; // Global variables including colors and font sets
@import "scss/_mixins"; // Contains all the variables, mixins and MORE!

// Begin partials
@import "scss/icons/_jetpack"; // Jetpack logo and icons

// ==========================================================================
// Admin nav iconx
// ==========================================================================

#toplevel_page_jetpack .wp-menu-image:before {
	font-family: 'Jetpack' !important;
	content: '\f102';
}
#menu-posts-feedback .wp-menu-image:before {
	font-family: dashicons !important;
	content: '\f175';
}
#adminmenu #menu-posts-feedback div.wp-menu-image {
	background: none !important;
	background-repeat: no-repeat;
}
