.module-filters {
	float: right;
	max-width: 45%;
}

.tablenav,
.widefat {
	clear: none;
}

table.jetpack-modules {
	max-width: 50%;
}

.jetpack-modules #cb {
	width: 30px;
}

.jetpack-modules .jetpack-module {
	position: static;
	float: none;
	width: auto;
	min-height: inherit;
	max-height: inherit;
	margin: 0;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
	box-shadow: none;
	-webkit-transition-duration: 0;
	transition-duration:         0;
}

.jetpack-modules .jetpack-module.unavailable td {
	opacity: 0.3;
}

.jetpack-modules .jetpack-module.alternate {
	background: #f9f9f9;
}

.jetpack-modules .jetpack-module .row-actions {
	float: right;
}

.jetpack-modules .jetpack-module .row-actions a {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.jetpack-modules .jetpack-module .row-actions a:before {
	font-family: 'genericons';
	font-size: 16px;
}

.jetpack-modules .jetpack-module .row-actions .info a:before {
	content: '\f455';
}

.jetpack-modules .jetpack-module .row-actions .activate a:before {
	content: '\f418';
}

.jetpack-modules .jetpack-module .row-actions .delete a:before {
	content: '\f405';
}

.jetpack-modules .jetpack-module .row-actions .configure a:before {
	content: '\f445';
}

/**
 * Lightbox Hijinks Ensue
 * jQuery( document.body ).addClass('jetpack-lb').append('<div class="jetpack-light-box-wrap"><div class="jetpack-light-box">Foo</div></div>');
 */

.jetpack-lb #wpwrap {
	-webkit-filter: grayscale( 100% );
	   -moz-filter: grayscale( 100% );
		-ms-filter: grayscale( 100% );
		 -o-filter: grayscale( 100% );
			filter: grayscale( 100% );
	-webkit-transition: -webkit-filter 0.5s;
	   -moz-transition:    -moz-filter 0.5s;
		-ms-transition:     -ms-filter 0.5s;
		 -o-transition:      -o-filter 0.5s;
			transition:         filter 0.5s;
}

.jetpack-light-box-wrap {
	display: none;
}
.jetpack-lb .jetpack-light-box-wrap {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9001;
	padding-top: 10%;
	background: rgba( 255, 255, 255, 0.5 );
}

.jetpack-light-box {
	width: 70%;
	max-width: 500px;
	max-height: 70%;
	margin: 0 auto;
	border: 3em solid #fff;
	background: #fff;
	box-shadow: 0 7px 20px rgba( 0, 0, 0, 0.3 );
}

.jetpack-light-box div.jp-info-img {
	float: right;
	border: 10px solid #eee;
	margin: 0 0 1em 1em;
}
