@import '../styles/gutenberg-colors.scss';
@import '../styles/gutenberg-variables.scss';

// The block gets a border from Gutenberg if it is selected,
// so we only add ours if it isn't.
.jetpack-paid-block__wrapper:not( .is-selected ) {
	border: $border-width solid $light-gray-500; // To reflect the `Warning` component from `@wordpress/editor`
	margin-left: -#{$block-padding};
	margin-right: -#{$block-padding};
	padding-left: calc( #{$block-padding} - #{$border-width} );
	padding-right: calc( #{$block-padding} - #{$border-width} );
}
