// ==========================================================================
// Typography
// ==========================================================================

@import
	"variables",
	"functions";

body,
button,
input,
select,
textarea {
	color: map-get($root-font, color);
	font-family: $sans;
	font-size: map-get($root-font, font-size);
	line-height: map-get($root-font, line-height);
	-webkit-font-smoothing: antialiased;
}


// ==========================================================================
// Headings
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	clear: both;
}


// ==========================================================================
// Links
// ==========================================================================

a {
	color: #0d72b2;
	transition: color .2s;
	text-decoration: none;

	&:visited {
		color: #0d72b2;
	}
	&:hover {
		color: #0f92e5;
	}
	&:focus {
		outline: thin dotted;
	}
}


// ==========================================================================
// Basic block-level elements
// ==========================================================================

address {
	margin: 0 0 1.5em;
}

// ==========================================================================
// Text-level markup
// ==========================================================================

abbr[title],
acronym {
	cursor: help;
}

ins {
	background: #eee;
	text-decoration: none;
}

// ==========================================================================
// Lists
// ==========================================================================

dt {
	font-weight: $bold;
}

// ==========================================================================
// Forms
// ==========================================================================

// Remove default fieldset styles.
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
	resize: vertical;
}

// A better looking default horizontal rule
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
