// ==========================================================================
// Typography variables
// ==========================================================================

$normal: normal; // Change these values when using custom fonts
$bold: bold; // For example, bold could change to 400;

$root-font:(
	color: #222,
	font-size: 14px,
	line-height: 1.4
);

$pre__background: #eee;
$mark__background: #fff9c0;

// ==========================================================================
// Typefaces
// ==========================================================================

$monospace: 'courier new', monospace;
$serif: Georgia, "Times New Roman", Times, serif;
$sans: Helvetica, Arial, sans-serif; // 400i,400,600,700,800
$calluna: 'calluna', $sans; // 400
$gill: "Gill Sans", "Gill Sans MT", $sans;

// ==========================================================================
// Icons
// ==========================================================================

$genericons: 'genericons';
