.tooltip {
	display: flex;
	flex-direction: column;
	gap: var(--wpds-dimension-gap-sm);
	white-space: nowrap;
}

.inline {
	font-size: var(--wpds-typography-font-size-sm);
	white-space: nowrap;
}

.count {
	display: flex;
	align-items: center;
	gap: var(--wpds-dimension-gap-sm);
}

.icon {
	flex: 0 0 auto;
	fill: currentColor;
}
