/**
 * Editor styles for Phone Number
 */

.wp-block-jetpack-phone-number { 
    display: flex;

    &-label-input.block-editor-plain-text {
        margin-right: 8px;
        text-align: right;
        padding-right: 8px;
        width: 120px;
    }
    a {
        margin-left: 8px;
    }
    &-number-input.block-editor-plain-text {
        padding-left: 8px;
    }
}
