@import '../../scss/calypso-colors';
@import '../../scss/functions/rem';

.dops-count {
	display: inline-block;
	padding: rem( 1px ) rem( 6px );
	border: solid 1px $gray;
	border-radius: rem( 12px );
	font-size: rem( 11px );
	font-weight: 600;
	line-height: rem( 14px );
	color: $gray;
	text-align: center;
}
