.accented-card {
	max-width: 518px;
	min-height: 313px;
	background-color: #fff;
	border: solid 1px #e6e6e6;
}

.accented-card__header {
	padding: 15px;

	// TODO: this should be in a more generic place somehow
	&.is-backup-daily-plan {
		border-bottom: solid 2px $blue-medium;
	}
}

.accented-card__body {
	padding: 15px;
}
