@import 'scss/mixin_breakpoint';
@import 'scss/variables/_colors.scss';
@import 'scss/calypso-colors.scss';
@import 'scss/functions/rem';
@import 'scss/typography';

// Plans section
.plans-section__header {
	margin: 32px auto 8px;
	text-align: center;
	font-weight: normal;
	font-size: $font-title-medium;
}

.plans-section__subheader {
	margin: 8px auto 18px;
	color: $gray-text-min;
	text-align: center;
	font-weight: normal;
	font-size: $font-body-small;
}

.product-selector {
	display: flex;
	flex-flow: row wrap;
	margin: 24px auto 40px;
}
