@import 'scss/mixin_breakpoint';
@import 'scss/variables/_colors.scss';
@import 'scss/calypso-colors.scss';

// Single product backup
.single-product-backup__header-title {
	margin: 5px 20px 5px 0;
	font-size: 17px;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}

.single-product-backup__price-group {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

.single-product-backup__options-header {
	padding-bottom: 8px;
	font-size: 14px;
	font-weight: 400;
	color: $gray-text-min;
	text-align: center;
	margin-top: 30px;
}

// Plans section
.plans-section__header {
	margin: 32px auto 8px;
	text-align: center;
	font-weight: normal;
	font-size: 22px;
}

.plans-section__subheader {
	margin: 8px auto 32px;
	color: $gray-text-min;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
}

.plans-section__single-product {
	display: flex;
	justify-content: center;
	margin: 24px auto 40px;
}

.plans-section__single-product-skeleton {
	width: 100%;
	max-width: 518px;
	height: 328px;
}

// Single product backup containers
.single-product-backup__radio-buttons-container {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 21px;

	@include breakpoint( '>660px' ) {
		flex-flow: row wrap;
		justify-content: space-around; // IE11 fallback.
		justify-content: space-evenly;
		position: relative;

		&::before {
			display: block;
			border-left: 1px solid $light-gray-700;
			position: absolute;
			content: '';
			height: 100%;
			width: 0;
			order: 2;
		}
	}
}

.single-product-backup__upgrade-button-container {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 8px;

	.plan-price,
	.plan-price__currency-symbol {
		color: $white;
	}
}

// Accented card
.single-product-backup__accented-card {
	max-width: 518px;
	width: 100%;
	font-size: 14px;
}

.single-product-backup__accented-card-header {
	padding: 8px 16px;
	margin: -16px -16px 16px;
	border-bottom: solid 2px $alert-green;

	@include breakpoint( '>480px' ) {
		padding: 8px 24px;
		margin: -24px -24px 24px;
	}
}

.single-product-backup__accented-card-body p {
	margin-top: 14px;
	font-size: 14px;
	color: $gray-text-min;
	text-align: center;
}

.single-product-backup__savings {
	font-style: italic;
}

.single-product-backup__annual-savings {
	&,
	.plan-price__integer {
		color: $gray-text-min;
	}
}
