@import 'scss/mixin_breakpoint';
@import 'scss/variables/_colors.scss';
@import 'scss/calypso-colors.scss';

// Plans section
.plans-section__header {
  margin: 32px auto 8px;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
}

.plans-section__subheader {
  margin: 8px auto 18px;
  color: $gray-text-min;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

.product-selector {
  display: flex;
  flex-flow: row wrap;
  margin: 24px auto 40px;
}
