.single-product-backup__options-header {
	font-size: 14px;
	color: #747474;
	border-bottom: solid 2px #e6e6e6;
}

.plans-price__container {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.plans-price__price-range {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.discounted-price__container {
	position: relative;
	display: inline-block;
	line-height: 50px;
	margin-right: 14px;
}

.discounted-price__slash {
	position: relative;
	width: 100%;
	height: 0;
	border-top: 2px solid $blue-medium;
	transform: rotate( -16deg );
	top: 27px;
}

.discounted-price__price {
	color: #a7aaad;
}

.single-product-backup__header-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.plan-radio-button__label {
	display: flex;
}

input[type='radio'].plan-radio-button__input {
	margin-top: 0px;
	white-space: pre-wrap;
}

.single-product-backup__accented-card {
	max-width: 518px;
	min-height: 313px;
	background-color: #fff;
	border: solid 1px #e6e6e6;
}

.single-product-backup__accented-card-header {
	padding: 15px;
	border-bottom: solid 2px $blue-medium;
}

.single-product-backup__header-title {
	font-size: 17px;
}

.single-product-backup__accented-card-body {
	padding: 15px;
}
