.jp-jetpack-landing__plan-features-card {
	padding: rem( 32px );
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );
	border-radius: 3px;
	margin-bottom: rem( 32px );

	&:last-of-type {
		margin-bottom: 0;
	}
}

.jp-jetpack-landing__plan-features-title {
	margin: 0;
}

.jp-jetpack-landing__plan-features {
	padding: rem( 16px );
}

.jp-jetpack-landing__plan-card {
	padding: rem( 32px );

	.jp-jetpack-landing__plan-features-title,
	.jp-jetpack-landing__plan-features-text {
		padding-left: rem( 160px );
	}

	.jp-jetpack-landing__plan-features-title {
		margin-bottom: rem( 16px );
	}
}

.jp-jetpack-landing__plan-icon {
	float: left;
	width: rem( 120px ); // replace this png with svg
}