
.jp-jetpack-landing__plans {
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
			0 1px 2px lighten( $gray, 30% );
}

.jp-jetpack-landing__plan-features-card {
	padding: rem( 16px );
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );
	border-radius: 3px;
	margin-bottom: rem( 16px );

	&:last-of-type {
		margin-bottom: 0;
	}
}

.jp-jetpack-landing__plan-features-title {
	margin: 0;
}

.jp-jetpack-landing__plan-features {
	padding: rem( 32px );
	background-color: #fff;
}

.jp-jetpack-landing__plan-card {
	padding: 5% 4% 1%;
	background-color: #fff;

	img {
		float: left;
		width: 15%;
		margin-right: 20px;
	}

	img + h3 {
		margin-top: 0;
	}
}