.jp-landing__plans.dops-card {
	padding: 0;
}

.jp-landing__plans {

	.dops-button {
		margin-right: 10px;
	}
}

.plans-mobile-notice {
	@include breakpoint( ">660px" ) {
		display: none;
	}
	.dops-button:first-of-type {
		margin-right: 6px;
		margin-bottom: 6px;
	}
}

.plans-mobile-notice.dops-card h2 {
	margin-top: 0;
}

.jp-landing-plans__header {
	background: $gray-dark;

	@include breakpoint( ">660px" ) {
		padding: rem( 32px ) 0 0;
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 32px );
	}
}

.jp-landing-plans__header-img-container {
	margin: rem( 32px ) 0 0;
	overflow: hidden;

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
	}

	@include breakpoint( "<660px" ) {
		margin-bottom: 0;
	}
}

.jp-landing-plans__header-img {
	max-width: 100%;
}

.jp-landing-plans__header-col-left {
	flex-basis: 45%;

	@include breakpoint( ">660px" ) {
		padding-left: rem( 32px );
	}
}

.jp-landing-plans__header-col-right {
	flex-basis: 55%;

	@include breakpoint( ">660px" ) {
		padding: 0 rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		text-align: center;
		padding-top: rem( 32px );
	}
}

// clouds are a little hacky, but works for IE11 -jg
.jp-landing-plans__clouds {
	position: relative;
	overflow: hidden;
	padding-top: rem( 80px );

	img {
		position: absolute;
		bottom: -2px;
		left: -5%;
		right: -5%;
		height: auto;
		width: 110%;
	}

	@include breakpoint( "<660px" ) {
		display: none;
	}
}
// end IE11 cloud hack

.jp-landing-plans__header-img {
	max-width: 100%;
}

.jp-landing-plans__header-col-left {
	flex-basis: 45%;

	@include breakpoint( ">660px" ) {
		padding-left: rem( 32px );
	}
}

.jp-landing-plans__header-col-right {
	flex-basis: 55%;

	@include breakpoint( ">660px" ) {
		padding: 0 rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		text-align: center;
	}
}

.jp-landing-plans__header-title,
.jp-landing-plans__header-description {
	line-height: 1.5;

	@include breakpoint( ">660px" ) {
		text-align: center;
	}
}

.jp-landing-plans__header-title,
.jp-landing-plans__header-subtitle {
	color: $white;
	font-weight: 400;
	margin: 0;
}

.jp-landing-plans__header-title {
	font-size: rem( 20px );
}

.jp-landing-plans__header-description {
	font-size: rem( 14px );
	margin: 0;
	padding-bottom: rem( 16px );
}

.jp-landing-plans__header-subtitle {
	font-size: rem( 16px );
	line-height: 1.25;
}

.jp-landing-plans__header-description,
.jp-landing-plans__header-text {
	color: lighten($gray, 10%);
}

.jp-landing-plans__header-text {
	font-size: rem( 14px );
	padding: rem( 24px ) 0;
	margin: 0;
}

.jp-landing-plans__header-btn-container {
	margin: 0;
}

.jp-landing__plan-features-card {
	box-shadow: 0 0 0 1px transparentize( lighten( $gray, 20% ), .5 ),
		0 1px 2px lighten( $gray, 30% );
	border-radius: 3px;

	@include breakpoint( ">660px" ) {
		margin-bottom: rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		margin-bottom: rem( 16px );
	}

	@include breakpoint( ">480px" ) {
		padding: rem( 32px );
	}

	@include breakpoint( "<480px" ) {
		padding: rem( 16px );
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.jp-landing__plan-features-title {
	margin: 0;
}

.jp-landing__plan-features {

	@include breakpoint( ">660px" ) {
		padding: 0 rem( 32px ) rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 16px );
	}
}

.jp-landing__plan-card {

	@include breakpoint( ">660px" ) {
		display: flex;
		flex-wrap: nowrap;
	}

	@include breakpoint( ">660px" ) {
		padding: rem( 32px );
	}

	@include breakpoint( "<660px" ) {
		padding: rem( 32px ) rem( 32px ) rem( 16px );
	}

	.jp-landing__plan-features-title,
	.jp-landing__plan-features-text {
		padding: 0;

		@include breakpoint( ">660px" ) {
			margin-left: rem( 32px );
		}
	}

	.jp-landing__plan-features-title {
		margin-bottom: rem( 16px );
	}
}

.jp-landing__plan-card-img {

	@include breakpoint( "<660px" ) {
		margin: 0 0 rem( 32px ) 0;
	}

	@include breakpoint( "<480px" ) {
		width: 100%;
		max-width: 100%;
		text-align: center;
	}
}

.jp-landing__plan-icon {
	width: rem( 200px );
}

.jp-landing__plan-card-img.is-placeholder {
	width: rem( 120px );
	height: rem( 85px );

	& + .jp-landing__plan-card-current {
		width: 80%;
	}
}

.jp-landing__plan-features-title.is-placeholder {
	height: rem( 24px );
	max-width: 50%;
}

.jp-landing__plan-features-text.is-placeholder {
	height: rem( 44px );
	max-width: 75%;
}

// Plans Tables

$plan-features-header-banner-height: 20px;
$plan-features-sidebar-width: 272px;

/* Breakpoints 1150px, */

.plan-features__content {
	margin: 0 -16px 16px;
	padding-top: $plan-features-header-banner-height;
}

.is-section-plans .plan-features__mobile {
	display: block;
	@media ( min-width: $plan-features-sidebar-width + 480px ) {
		display: none;
	}
}

.plan-features__notice {
	margin-bottom: 16px;

	@include breakpoint( ">1040px" ) {
		margin-bottom: 32px;
		margin-top: -19px;
	}
}

.is-section-plans .plan-features__table {
	display: table;
}

.plan-features__table {
	font-size: 14px;
	color: $gray-text-min;
	border-spacing: 16px 0;
	margin-top: -16px;
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;

	@include breakpoint( ">660px" ) {
		display: table;
	}

	@include breakpoint( "<660px" ) {
		display: none;
	}

	@include breakpoint( "<1040px" ) {
		border-spacing: 0;
		margin: 0 15px;
		width: calc( 100% - 30px );
	}
}

.plan-features__row {
	background: $white;
}

.plan-features__table-item {
	border-right: solid 1px lighten( $gray, 27% );
	border-left: solid 1px lighten( $gray, 27% );
	background-color: $white;
	position: relative;

	&.is-header {
		vertical-align: top;
	}

	&.is-personal-plan {
		border-bottom: solid 2px $alert-yellow;
	}

	&.is-premium-plan {
		border-bottom: solid 2px $alert-green;
	}

	&.is-business-plan {
		border-bottom: solid 2px $alert-purple;
	}

	&.is-highlighted {
		border: 1px solid $blue-wordpress;
		background-color: rgba( $blue-wordpress, 0.1 );
		position: relative;
		top: -1px;

		&.has-partial-border::after {
			display: none;
		}
	}

	&.is-selected {
		display: table-cell;
	}
}

.plan-features__table-item.has-partial-border {
	&::after {
		content: '';
		display: block;
		height: 1px;
		width: calc( 100% - 24px );
		border-bottom: 1px solid lighten( $gray, 27% );
		position: absolute;
		bottom: 0;
		margin: 0 12px;
	}
}

.plan-features__table-item.has-border-bottom {
	border-bottom: solid 1px lighten( $gray, 27% );
}

.plan-features__table-item.has-border-top {
	border-top: solid 1px lighten( $gray, 27% );
}

.plan-features__table-item.is-placeholder {
	.spinner-line {
		margin: 0;
		position: absolute;
		top: -3px;
		width: 100%;
	}
}

.plan-features__table-item.is-bottom-buttons {
	padding-top: 33px;
	padding-bottom: 15px;
}

.plan-features__table-item.is-top-buttons {
	padding-top: 8px;
	padding-bottom: 16px;
}

.plan-features__header {
	position: relative;
	padding: 15px 15px 0 15px;
	background-color: $white;

	@include breakpoint( "<960px" ) {
		padding: 12px 12px 0 12px;
	}
}

.plan-features__header-title {
	font-size: 22px;
	line-height: 0.7;
	font-weight: normal;
	margin: 0;

	@include breakpoint( "<960px" ) {
		font-size: 20px;
	}
}

.info-popover.plan-features__header-tip-info {
	position: relative;
	top: 4px;
	left: 3px;
	margin-top: -10px;
	margin-bottom: -10px;
	display: inline-block;
}

.plan-features__description {
	margin: 0;
	padding: 12px 0;
}

.plan-features__item {
	margin: 0 12px;
	padding: 12px 0;
	font-size: 13px;
	color: $gray-dark;
	text-align: center;

	@include breakpoint( "<960px" ) {
		font-size: 12px;
	}

	@include breakpoint( "<1040px" ) {
		margin: 0 12px;
	}
}

.plan-features__item-description {
	display: inline-block;
	margin-left: 10px;
	color: $gray;
 }

.plan-price {
	padding-top: 15px;
	padding-bottom: 15px;
}
.plan-price__yearly {
	color: $gray-dark;
}