@import '../scss/calypso-colors';
// Plans Tables

$plan-features-header-banner-height: 20px;
$plan-features-sidebar-width: 272px;

/* Breakpoints 1150px, */

.plan-features__content {
	margin: 0 -16px 16px;
	padding-top: $plan-features-header-banner-height;
}

.is-section-plans .plan-features__mobile {
	display: block;
	@media ( min-width: $plan-features-sidebar-width + 480px ) {
		display: none;
	}
}

.plan-features__notice {
	margin-bottom: 16px;

	@include breakpoint( '>1040px' ) {
		margin-bottom: 32px;
		margin-top: -19px;
	}
}

.is-section-plans .plan-features__table {
	display: table;
}

.plan-features__table {
	font-size: 14px;
	color: $gray-text-min;
	border-spacing: 16px 0;
	margin-top: -16px;
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;

	@include breakpoint( '>660px' ) {
		display: table;
	}

	@include breakpoint( '<660px' ) {
		display: none;
	}

	@include breakpoint( '<1040px' ) {
		border-spacing: 0;
		margin-left: 15px;
		margin-right: 15px;
		width: calc( 100% - 30px );
	}
}

.plan-features__row {
	background: $white;
}

.plan-features__table-item {
	border-right: solid 1px $light-gray-700;
	border-left: solid 1px $light-gray-700;
	background-color: $white;
	position: relative;

	&.is-header {
		vertical-align: top;
	}

	&.is-personal-plan {
		border-bottom: solid 2px $alert-yellow;
	}

	&.is-premium-plan {
		border-bottom: solid 2px $alert-green;
	}

	&.is-business-plan {
		border-bottom: solid 2px $alert-purple;
	}

	&.is-highlighted {
		border: 1px solid $blue-wordpress;
		background-color: rgba( $blue-wordpress, 0.1 );
		position: relative;
		top: -1px;

		&.has-partial-border::after {
			display: none;
		}
	}

	&.is-selected {
		display: table-cell;
	}
}

.plan-features__table-item.has-partial-border {
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: calc( 100% - 24px );
		border-bottom: 1px solid $light-gray-700;
		position: absolute;
		bottom: 0;
		margin: 0 12px;
	}
}

.plan-features__table-item.has-border-bottom {
	border-bottom: solid 1px $light-gray-700;
}

.plan-features__table-item.has-border-top {
	border-top: solid 1px $light-gray-700;
}

.plan-features__table-item.is-placeholder {
	.spinner-line {
		margin: 0;
		position: absolute;
		top: -3px;
		width: 100%;
	}
}

.plan-features__table-item.is-bottom-buttons {
	padding-top: 33px;
	padding-bottom: 15px;
}

.plan-features__table-item.is-top-buttons {
	padding-top: 8px;
	padding-bottom: 16px;
}

.plan-features__header {
	position: relative;
	padding: 15px 15px 0 15px;
	background-color: $white;

	@include breakpoint( '<960px' ) {
		padding: 12px 12px 0 12px;
	}
}

.plan-features__header-title {
	font-size: 22px;
	line-height: 0.7;
	font-weight: normal;
	margin: 0;

	@include breakpoint( '<960px' ) {
		font-size: 20px;
	}
}

.info-popover.plan-features__header-tip-info {
	position: relative;
	top: 4px;
	left: 3px;
	margin-top: -10px;
	margin-bottom: -10px;
	display: inline-block;
}

.plan-features__description {
	margin: 0;
	padding: 12px 0;
}

.plan-features__item {
	margin: 0 12px;
	padding: 12px 0;
	font-size: 13px;
	color: $gray-dark;
	text-align: center;

	@include breakpoint( '<960px' ) {
		font-size: 12px;
	}

	@include breakpoint( '<1040px' ) {
		margin: 0 12px;
	}
}

.plan-features__item-description {
	display: inline-block;
	margin-left: 10px;
	color: $gray;
}

.plan-features {
	.plan-price {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.plan-price__yearly {
		color: $gray-dark;

		abbr {
			text-underline-position: under;
		}
	}
}

.plans-mobile-notice,
.plans-mobile-notice.dops-card {
	@include breakpoint( '>660px' ) {
		display: none;
	}
	.dops-button:first-of-type {
		margin-right: 6px;
		margin-bottom: 6px;
	}
}

.plan-grid-period {
	margin-bottom: 12px;
	text-align: center;

	@include breakpoint( '<660px' ) {
		display: none;
	}
}

.product-selector {
	@include breakpoint( '<660px' ) {
		display: none;
	}
}

.plans-mobile-notice.dops-card h2 {
	margin-top: 0;
}
.plan-grid-skeletons {
	display: flex;
	margin: 60px -10px 0;

	@include breakpoint( '<1040px' ) {
		margin-left: -1px;
		margin-right: -1px;
	}

	@include breakpoint( '<660px' ) {
		display: none;
	}
}

.plan-grid-skeletons__plan {
	flex: 1;
	height: 545px;
	margin: 0 10px;

	@include breakpoint( '<1040px' ) {
		margin: 0 1px;
	}
}
