.templates {
	display: grid;
	grid-template-columns: repeat( 2, 1fr );
	grid-gap: 30px;
	padding: 30px 0;
}

.template {
	all: unset;
	width: 300px;
	cursor: pointer;
	border-radius: calc( var( --jp-border-radius ) / 2 );

	img {
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: calc( var( --jp-border-radius ) / 2 );
		pointer-events: none;
	}

	&:focus:not( :disabled ) {
		box-shadow: 0 0 0 var( --wp-admin-border-width-focus )
			var( --wp-components-color-accent, var( --wp-admin-theme-color, #007cba ) );
		outline: 3px solid transparent;
	}
}

.template--active {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: -12px;
		right: -12px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: var( --jp-white );
		background-image: url( 'data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%20fill%3D%22none%22%3E%3Cpath%20stroke%3D%22%2309B585%22%20stroke-width%3D%221.5%22%20d%3D%22m11.327.53-6.75%209.08L.662%206.7%22/%3E%3C/svg%3E' );
		background-repeat: no-repeat;
		background-position: center;
	}
}

.footer {
	display: flex;
	justify-content: flex-end;

	> * + * {
		margin-left: var(--spacing-base);
	}
}
