.jp-forms__export-modal-header-subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #000000;
	padding: 0;
	margin-bottom: 0;
}

.jp-forms__export-modal-card {
	border-radius: var(--jp-border-radius, 4px);
	box-shadow: 0 0 0 1px var(--jp-gray-10, #c3c4c7) inset;
	display: flex;
	flex-direction: column;
	padding: 24px;
	isolation: isolate;
}

.jp-forms__export-modal-card-body, .jp-forms__export-modal-card-header {
	display: flex;
}

.jp-forms__export-modal-card-header {
	align-items: center;
	margin-bottom: 16px;
	gap: 16px;
}

.jp-forms__export-modal-card-header-title {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
}

.jp-forms__export-modal-card-body {
	gap: 32px;
	align-items: center;
	justify-content: space-between;
}

.jp-forms__export-modal-card-body-description {
	flex-grow: 1;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #000000;
	max-width: 60%;
}

.jp-forms__export-modal-card-body-description a {
	color: inherit;
}

.jp-forms__export-modal-card-body-description-footer {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #757575;
	margin-bottom: 0px;
}

.jp-forms__export-modal-card-body-cta {
	align-self: flex-end;
}

.jp-forms__export-modal-card-beta-badge {
	background: #2FB41F;
	border-radius: 2px;
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 150%;
	/* identical to box height, or 16px */

	text-align: right;
	text-transform: uppercase;
	padding: 4px 8px;
	color: #FFFFFF;
}
