/changelog/**    production-exclude
/.eslintrc.cjs   production-exclude
/.gitattributes  production-exclude
/.gitignore      production-exclude
/jest.config.js  production-exclude
/tests/**        production-exclude
