$masterbar-background: #523f6d;
$menu-submenu-background: #413256;
$text-color: #fff;
$highlight-color: #a3b745;
$base-color-rgb: rgb(82, 63, 109);
$nav-unification-sidebar-text-alternative: #ffffff;
$menu-highlight-text: #fff;

@import "../_core-overrides";
