@use "@automattic/jetpack-base-styles/root-variables";

// Keep the slug in sync with `UPGRADE_MENU_SLUG` at class-admin-menu.php
$upgrade-menu-slug: jetpack-wpadmin-sidebar-free-plan-upsell-menu-item;

#adminmenu li.#{$upgrade-menu-slug} > a,
#adminmenu li.#{$upgrade-menu-slug} > a:hover {
	background: var(--jp-green-40) !important;
	border-radius: var(--jp-border-radius) !important;
	box-shadow: none !important;
	color: var(--jp-white) !important;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
}

#adminmenu li.#{$upgrade-menu-slug} > a:hover {
	background: var(--jp-green-30) !important;
}
