.options-general-php {

	.wpcom-site-logo-preview {
		margin-bottom: 0.4em;

		.wpcom-site-logo-preview-image {
			height: auto;
			max-width: 96px;
		}
	}

	.button.wpcom-fiverr-cta-button {
		margin-top: 0.4em;

		svg {
			vertical-align: middle;
		}
	}

	.button.wpcom-add-custom-address-button {
		margin: 0 1px;
	}

	#home {
		margin-bottom: 0.4em;
		margin-right: 2px;
	}
}
