// core variables (core _variables.scss)
$base-color: #691c1c; // Calypso --color-masterbar-background
$icon-color: #facfd2; // Calypso --color-sidebar-gridicon-fill
$highlight-color: #b26200; // Calypso --color-accent
$notification-color: #c9356e; // Calypso --color-masterbar-unread-dot-background

// global (core _variables.scss)
$body-background: #f6f7f7; // Calypso --color-surface-backdrop

// admin menu & admin-bar (core _variables.scss)
$menu-text: #ffffff; // Calypso --color-sidebar-text
$menu-background: #8a2424; // Calypso --color-sidebar-background
$menu-highlight-text: #ffffff; // Calypso --color-sidebar-menu-hover-text
$menu-highlight-icon: $menu-highlight-text;
$menu-highlight-background: #691c1c; // Calypso --color-sidebar-menu-hover-background
$menu-current-text: #4f3500; // Calypso --color-sidebar-menu-selected-text
$menu-current-icon: $menu-current-text;
$menu-current-background: #f0c930; // Calypso --color-sidebar-menu-selected-background
$menu-submenu-text: #ffffff; // Calypso --color-sidebar-submenu-text
$menu-submenu-background: #b32d2e; // Calypso --color-sidebar-submenu-background
$menu-submenu-focus-text: #f0c930; // Calypso --color-sidebar-submenu-hover-text
$menu-submenu-current-text: #ffffff; // Calypso --color-sidebar-submenu-selected-text

// masterbar overrides
$masterbar-background: #691c1c; // Calypso --color-masterbar-background
$masterbar-highlight-background: #451313; // Calypso --color-masterbar-item-hover-background

@import "../admin";