@import '../../../scss/calypso-colors';

.jp-recommendations-question__site-type-checkboxes {
	display: grid;
	gap: 16px;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;

	margin-bottom: 16px;

	text-align: left;
}

.jp-recommendations-question__site-type-answer-container {
	text-align: center;

	margin: 0 0px 32px 32px;
}

.jp-recommendations-site-type-question__continue-description {
	color: #646970;
	margin: 24px auto 32px auto;
	max-width: 300px;
}

.jp-recommendations-site-type__illustration {
	height: 200px;
	padding: 65px;
}
