@import '~@automattic/jetpack-base-styles/style';

// This should go to base styles?
#wpcontent {
	padding-left: 0
}
#wpwrap {
	background-color: white;
}

.jp-admin-page-section {
	padding: 40px 0px;
	background-color: white;
}
