# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
# /src/js/example.min.js  production-include

app/assets/dist/**                              production-include
app/modules/image-guide/dist/**                 production-include
app/modules/optimizations/image-cdn/dist/**     production-include
jetpack_vendor/**                               production-include
vendor/autoload.php                             production-include
vendor/autoload_functions.php                   production-include
vendor/autoload_packages.php                    production-include
vendor/automattic/**                            production-include
vendor/composer/**                              production-include
vendor/jetpack-autoloader/**                    production-include
vendor/tedivm/**                                production-include
vendor/tubalmartin/**                           production-include
vendor/matthiasmullie/**                 production-include

# Files to exclude from the mirror repo, but included in the monorepo.
# Remember to end all directories with `/**` to properly tag every file.
/app/assets/src/**                              production-exclude
/app/assets/dist/**/*.js.map                    production-exclude
/changelog/**                                   production-exclude
/docs/**                                        production-exclude
/node_modules/**                                production-exclude
/tests/**                                       production-exclude
/vendor/automattic/jetpack-autoloader/**        production-exclude
/vendor/automattic/jetpack-changelogger/**      production-exclude
/vendor/automattic/jetpack-composer-plugin/**   production-exclude
/vendor/automattic/wordbless/**                 production-exclude
/wordpress/**                                   production-exclude
/.editorconfig                                  production-exclude
/.eslintrc.js                                   production-exclude
/.gitattributes                                 production-exclude
/.gitignore                                     production-exclude
/.phpcs.dir.xml                                 production-exclude
/.phpunit.result.cache                          production-exclude
/.prettierrc.js                                 production-exclude
/babel.config.js                                production-exclude
/composer.lock                                  production-exclude
/package.json                                   production-exclude
/phpunit.xml.dist                               production-exclude
/README.md                                      production-exclude
/rollup.config.js                               production-exclude
/rollup-tsconfig.json                           production-exclude
/tsconfig.json                                  production-exclude
