# Files to include in the mirror repo, but excluded via gitignore
# Remember to end all directories with `/**` to properly tag every file.
# /src/js/example.min.js  production-include

app/assets/dist/**            production-include
vendor/autoload.php           production-include
vendor/autoload_functions.php production-include
vendor/autoload_packages.php  production-include
vendor/automattic/**          production-include
vendor/composer/**            production-include
vendor/jetpack-autoloader/**  production-include
vendor/tedivm/** 			  production-include

# Files to exclude from the mirror repo, but included in the monorepo.
# Remember to end all directories with `/**` to properly tag every file.
.gitignore                                production-exclude
changelog/**                              production-exclude
docker/**                                 production-exclude
phpunit.xml.dist                          production-exclude
tests/**                                  production-exclude
vendor/automattic/jetpack-autoloader/**   production-exclude
vendor/automattic/jetpack-changelogger/** production-exclude
vendor/automattic/wordbless/**            production-exclude
