<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheDirectory=".phpunit.cache"
	colors="true"
	executionOrder="depends"
	beStrictAboutOutputDuringTests="true"
	displayDetailsOnPhpunitDeprecations="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	failOnDeprecation="true"
	failOnEmptyTestSuite="true"
	failOnPhpunitDeprecation="true"
	failOnNotice="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/php</directory>
			<exclude>tests/php/lib/critical-css/Display_Critical_CSS_Test.php</exclude>
		</testsuite>
		<testsuite name="critical-css">
			<file>tests/php/lib/critical-css/Display_Critical_CSS_Test.php</file>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<!-- Better to only include "src" than to add "." and then exclude "tests", "vendor", and so on, as PHPUnit still scans the excluded directories. -->
			<!-- Add additional lines for any files or directories outside of src/ that need coverage. -->
			<file>index.php</file>
			<file>jetpack-boost.php</file>
			<file>serve-minified-content.php</file>
			<file>wp-js-data-sync.php</file>
			<directory suffix=".php">app</directory>
			<directory suffix=".php">compatibility</directory>
		</include>
	</source>
	<coverage ignoreDeprecatedCodeUnits="true">
	</coverage>
</phpunit>
