<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheResultFile=".phpunit.cache/test-results"
	colors="true"
	executionOrder="depends"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/php</directory>
			<exclude>tests/php/lib/critical-css</exclude>
			<exclude>tests/php/lib/utils/SVG_Sanitizer_Test.php</exclude>
		</testsuite>
		<testsuite name="with-wordpress">
			<directory>tests/php/lib/critical-css</directory>
			<file>tests/php/lib/utils/SVG_Sanitizer_Test.php</file>
		</testsuite>
	</testsuites>
</phpunit>
