$myjetpack-connection-avatar-width: 28px;
$myjetpack-connection-avatar-overlap: 8px;

.connection-status-card {

	h3 {
		font-size: 1rem;
		line-height: 20px;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.status {
		display: flex;
		align-items: center;
		gap: var( --spacing-base );
		margin-bottom: 1rem;

		.avatar-wrapper {
			position: relative;
			width: 2 * $myjetpack-connection-avatar-width - $myjetpack-connection-avatar-overlap; // width an icon and an avatar
		}

		.cloud {
			width: 28px;
		}

		.jetpack {
			width: $myjetpack-connection-avatar-width;
		}

		.avatar {
			width: $myjetpack-connection-avatar-width;
			position: absolute;
			margin-inline-start: -( $myjetpack-connection-avatar-overlap );
			border-radius: 50%;
		}

		.line {
			width: 1.875rem; // 30px
			height: 2px;
			background-color: var(--jp-black);
			border-radius: 1px;
		}

		.error {
			background-color: var( --jp-red );
		}

		.warning {
			background-color: var( --jp-yellow-50 );
		}
	}

	.info {
		transform: rotate( 180deg );
	}

	.list-item {
		display: flex;
		align-items: center;
		gap: var(--spacing-base);
		margin-bottom: var(--spacing-base);

		&-text {
			display: flex;
			gap: var(--spacing-base);

			&.error {
				color: var( --jp-red );
				fill: var( --jp-red );
			}

			&.warning {
				color: var( --jp-yellow-50 );
				fill: var( --jp-yellow-50 );
			}

			&.success {

				svg {
					fill: var( --jp-green-50 );
				}
			}
		}
	}
}

.connection-state {

	h4 {
		margin-top: 0;
		margin-bottom: 0.25rem;

		:global(button.components-button) {
			height: auto;
			padding: 0;
			font-size: 1.25rem;
			line-height: 24px;
			font-weight: 500;
			display: flex;
			align-items: center;
			gap: 0.25rem;

			&:hover:not(:disabled) {
				text-decoration: underline;
				background: transparent;
			}

			&:focus, &:active {
				outline: none;
				box-shadow: none;
			}
		}
	}

	.description {
		display: flex;
		font-size: 0.8125rem; // 13px
		line-height: 20px;
		font-weight: 400;
		color: var(--jp-gray-40);
		margin-bottom: 0.5rem;
	}
}


:global(.account-error-tooltip) {
	color: var(--jp-yellow-50) !important;
	
	svg {
		fill: var(--jp-yellow-50) !important;
	}
}
