@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/mixins';

.jp-connection__connect-screen-layout__left {
	@include break-xlarge {
		width: 70%;
	}
}

.jp-connection__connect-screen-required-plan {
	@include break-xlarge {
		position: relative;
		background: linear-gradient(to right, white 70%, #F9F9F6 30%);
	}

	&__loading {
		display: none;
	}

	&__pricing-card {

		@include break-xlarge {
			position: absolute;
			top: 14%;
			left: 62%;
		}

		.components-button  {
			width: 100%;
			height: auto;
			font-size: 18px;
			font-weight: 500;
			background: var( --jp-black ) !important;
			color: var( --jp-white ) !important;
			border-radius: var( --jp-border-radius );
			padding: 14px 24px;
			margin: 24px 0px 32px;
			justify-content: center;
			align-items: center;
		}
	}

	&__with-subscription {
		margin-top: 38px;

		.jp-action-button {
			display: inline;
		}

		.jp-action-button--button {
			display: inline;
			font-size: var( --font-title-small );
			line-height: 20px;
			color: var( --jp-black ) !important;
			background: inherit !important;
			text-decoration: underline;

			width: auto;
			height: auto;
			font: inherit;
			padding: 0;

			&:hover {
			background: inherit;
				text-decoration-thickness: var( --jp-underline-thickness );
			}

			&:focus {
				background: inherit;
				box-shadow: none !important;
			}
		}

		.jp-components-spinner__inner, .jp-components-spinner__outer {
			border-top-color: var( --jp-black ); 
			border-right-color: var( --jp-black ); 
		}
	}
}
