.jp-support-card {
	margin-top: rem( 16px );
}

.jp-support-card__happiness {
	margin-bottom: 0;
}

.jp-support-card__social {
	background-color: $wpui-bg;
	padding: rem( 12px ) rem( 16px);
}

.jp-support-card__desc,
.jp-support-card__header {
	font-size: rem( 14px);
}

.jp-support-card__desc {
	margin: 0;
	color: $wpui-p;
	a {
		font-style: italic;
	}
}

.jp-support-card__header {
	margin: 0 0 rem( 16px ) 0;
}