.jp-support-card {
	margin-top: rem( 16px );

	@include breakpoint( "<480px" ) { 
		margin-bottom: rem( 32px );
	}
}

.jp-support-card__happiness,
.jp-support-card__social {
	@include breakpoint( "<480px" ) { 
		padding-bottom: 0;
	}
}

.jp-support-card__happiness {
	margin-bottom: 0;
}

.jp-support-card__social {
	background-color: $wpui-bg;
	padding: rem( 12px ) rem( 16px);
}

.jp-support-card__desc,
.jp-support-card__header {
	font-size: rem( 14px);
}

.jp-support-card__desc {
	margin: 0 0 rem(10px) 0;
	line-height: 1.65;
	color: $wpui-p;

	&:last-of-type {
		margin-bottom: 0;
	}

	a {
		font-style: italic;
	}

	@include breakpoint( "<480px" ) { 

		span {
			display: none;
		}

		a {
			display: block;
			width: 100%;
			text-align: center;
			padding: rem( 10px ) 0;
			border-top: 1px $gray-bdr solid;
			&::first-letter {
				text-transform: capitalize;
			}
		}
	} // < 480px
} // jp-support-card__desc 

.jp-support-card__social {
	@include breakpoint( "<480px" ) { 
		padding: 0 rem( 16px );

		a:first-of-type {
			border-top: none;
		}
	}
}

.jp-support-card__header {
	margin: 0 0 rem( 16px ) 0;
}