@import '../../styles/gutenberg-colors.scss';

.jetpack-stripe-nudge__icon {
	align-self: center;
	background: var( --color-primary );
	border-radius: 50%;
	box-sizing: content-box;
	color: $white;
	fill: $white;
	flex-shrink: 0;
	margin-right: 16px;
	padding: 6px;
}
