.threat__title {
	display: flex;
	align-items: center;
	gap: calc( var( --spacing-base) * 2 ); // 16px
	font-size: 20px;
}

.threat__details {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 3 ); // 24px
}

.individual {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 3 ); // 24px
}

.bulk {
	border-bottom: 1px solid #f0f0f0;
	padding: calc( var( --spacing-base ) * 2 ); // 16px;
	gap: calc( var( --spacing-base ) * 3 ); // 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
	cursor: pointer;

	&:first-of-type {
		border-top: 1px solid #f0f0f0;
	}

	&:hover {
		background-color: #f8f8f8
	}

	&__heading {
		flex: 1;
		display: flex;
		gap: calc( var( --spacing-base ) * 2 ); // 16px
		align-items: center;
	}

	&__title {
		max-width: 512px;
	};

	&__toggle {
		margin-bottom: 0;
	}

	&__media {
		width: 52px;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #EDFFEE;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
	
		svg {
			fill: var( --jp-black );
		}
	}
}

.view-bulk {
	margin-right: auto;
}

.section {
	display: flex;
	flex-direction: column;
	gap: calc( var( --spacing-base ) * 2 ); // 16px

	.section__toggle {
		text-decoration: none;
	
		&:hover {
			text-decoration: underline;
		}
	
		&__content {
			display: flex;
			gap: calc( var( --spacing-base ) / 2 ); // 4px
			align-items: center;
		}
	}
}

.filename {
	background-color: var( --jp-gray-0 );
	padding: calc( var( --spacing-base ) * 3 ); // 24px
	overflow-x: auto;
}

.modal-footer {
	padding-top: calc( var( --spacing-base ) * 3 ); // 24px
	border-top: 1px solid #f0f0f0;
}

.threat-actions {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: calc( var( --spacing-base ) * 2 ); // 16px;
}

.fixer-notice {
	padding-bottom: calc( var( --spacing-base ) * 3 ); // 24px
}

.notice {
	&__title {
		display: flex;
		gap: calc( var( --spacing-base ) / 2 ); // 4px
	}

	&__actions {
		display: flex;
		gap: calc( var( --spacing-base ) * 2 ); // 16px;
		flex-wrap: wrap;
	}
}

svg.spinner {
	color: var( --jp-black );
	height: 20px;
	width: 20px;
	margin-left: calc( var( --spacing-base ) / 2 ); // 4px;
	margin-right: 6px;
}
