.jp-setup-wizard-main h1 {
	font-size: 2rem;
	margin: 0.67rem 1rem 0 1rem;
	color: #000000;
}

.jp-setup-wizard-subtitle {
	font-weight: 600;
	font-size: 1.33rem;
	margin: 0 1rem 1rem 1rem;
	color: #000000;
}

.jp-setup-wizard-income-answer-container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-gap: 1rem;
	margin: 0 10%;
}

.jp-setup-wizard-advance-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}
