.wp-block-jetpack-testimonial {
    display: flex;
    flex-direction: column;
}

.wp-block-jetpack-testimonial__content {
    .is-aligned-left & {
        text-align: left;
    }
    .is-aligned-center & {
        text-align: center;
    }
    .is-aligned-right & {
        text-align: right;
    }
}

.wp-block-jetpack-testimonial__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .is-aligned-right & {
        justify-content: flex-start;
    }
    
    .is-aligned-center & {
        justify-content: center;
    }
    
    .is-aligned-right & {
        justify-content: flex-start;
        flex-direction: row-reverse;
        text-align: right;
    }
}

.wp-block-jetpack-testimonial__meta {
    display: flex;
    flex-direction: column;
}

.wp-block-jetpack-testimonial__name {
    
}

.wp-block-jetpack-testimonial__title {
    
}

.wp-block-jetpack-testimonial__media {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

// styles

.is-style-small {
    .wp-block-jetpack-testimonial__content {
        font-size: 70%;
    }
}

.is-style-normal {
    .wp-block-jetpack-testimonial__content {
        font-size: 100%;
    }
}

.is-style-large {
    .wp-block-jetpack-testimonial__content {
        font-size: 125%;
        font-style: italic;
    }
}

.is-style-spotlight {
    position: relative;
    padding-top: 70px;
    text-align: center;
    
    .wp-block-jetpack-testimonial__media {
        position: absolute;
        top: 0;
        left: calc(50% - 25px);
    }
}

.is-style-quote {
    border-left: 2px solid;
    padding-left: 8px;
}