name: Composer

on: pull_request

env:
  COMPOSER_ROOT_VERSION: "dev-monorepo"

jobs:
  lock:
    name: "composer.lock is up to date"
    runs-on: ubuntu-latest
    timeout-minutes: 2  # 2021-01-18: Successful runs seem to take ~15 seconds
    steps:
      - uses: actions/checkout@v2

      - name: Read PHP and Node versions
        id: versions
        run: |
          echo "::set-output name=php-version::$(<.github/php-version)"
          echo "::set-output name=node-version::$(<.nvmrc)"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ steps.versions.outputs.php-version }}
          tools: composer
          extensions: mysql, imagick
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Use composer cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          which php
          php --version
          which composer
          composer --version
          which jq
          jq --version

      - run: .github/files/check-composer-locks.sh

  json:
    name: Monorepo package version refs
    runs-on: ubuntu-latest
    timeout-minutes: 1  # 2021-01-18: Successful runs take just a few seconds
    steps:
      - uses: actions/checkout@v2
      - name: Tool versions
        run: |
          which jq
          jq --version
      - run: .github/files/check-monorepo-package-versions.sh
      - run: .github/files/check-monorepo-package-repos.sh
