name: E2E Tests

on:
  pull_request:
    paths-ignore:
    - '**.md'
  push:
    branches: [master]
    paths-ignore:
    - '**.md'
  schedule:
    - cron:  '0 */12 * * *'
concurrency:
  group: e2e-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create-matrix:
    name: "Determine tests matrix"
    runs-on: ubuntu-latest
    timeout-minutes: 1  # 2021-02-03: Should only take a second.
    outputs:
      matrix: ${{ steps.create-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - id: create-matrix
        run: |
          MATRIX='[{"group":"pre-connection"},{"group":"connection"},{"group":"post-connection"}]'
          if [ ${{ github.event_name }} == schedule ]; then
            MATRIX=$(echo $MATRIX | jq '. + [{"group": "gutenberg"}]' | jq -c .)
          fi
          echo $MATRIX
          echo "::set-output name=matrix::$MATRIX"


  e2e-tests:
    name: "E2E ${{ matrix.group }} tests"
    runs-on: ubuntu-latest
    needs: create-matrix
    timeout-minutes: 25  # 2021-04-16: Successful runs seem to take 11-17 minutes
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson( needs.create-matrix.outputs.matrix ) }}
    env:
      GUTENBERG: bundle # default value. Can be overridden later based on matrix.group value
    if: github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name

    steps:
    - uses: actions/checkout@v2

    - name: Read tool versions
      id: versions
      uses: ./.github/actions/read-versions

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ steps.versions.outputs.php-version }}
        tools: composer:${{ steps.versions.outputs.composer-version }}
        extensions: mysql, imagick
        coverage: none

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ steps.versions.outputs.node-version }}

    - name: Get Composer cache directory
      id: composer-cache
      run: |
        echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Use composer cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-

    - name: Use pnpm cache
      uses: actions/cache@v2
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-pnpm-${{ steps.versions.outputs.node-version }}-${{ hashFiles('**/package.json') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-${{ steps.versions.outputs.node-version }}-

    - name: Setup pnpm
      uses: pnpm/action-setup@v2.0.1
      with:
        version: ${{ steps.versions.outputs.pnpm-version }}

    - name: Tool versions
      run: |
        which php
        php --version
        which composer
        composer --version
        which node
        node --version
        which pnpm
        pnpm --version
        which jq
        jq --version

    - name: Build Production Jetpack
      run: |
        pnpm install
        pnpx jetpack build plugins/jetpack -v --production

    - name: Environment set-up
      working-directory: projects/plugins/jetpack/tests/e2e
      env:
        CONFIG_KEY: ${{ secrets.E2E_CONFIG_KEY }}
      run: |
        pnpm install
        pnpm run test-decrypt-config
        pnpm run env-start
        pnpm run tunnel-on

    - name: Set up Gutenberg
      if: matrix.group == 'gutenberg'
      working-directory: projects/plugins/jetpack/tests/e2e
      run: ./bin/env.sh gb-setup

    - name: Run ${{ matrix.group }} tests
      working-directory: projects/plugins/jetpack/tests/e2e
      run: pnpm run test-e2e -- --group=${{ matrix.group }}

    - name: Environment tear-down
      if: ${{ always() }}
      working-directory: projects/plugins/jetpack/tests/e2e
      continue-on-error: true
      run: |
        pnpm run tunnel-off
        pnpm run tunnel-write-logs

    - name: Upload test artifacts
      if: ${{ always() }}
      continue-on-error: true
      uses: actions/upload-artifact@v2
      with:
        name: test-output-${{ matrix.group }}
        path: projects/plugins/jetpack/tests/e2e/output

    - name: Send Slack notification
      if: ${{ failure() }}
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      working-directory: projects/plugins/jetpack/tests/e2e
      run: NODE_ENV=test node ./bin/slack.js run ${{ matrix.group }}

    - uses: testspace-com/setup-testspace@v1
      with:
        domain: ${{github.repository_owner}}
      if: always()
    - name: Publish to Testspace
      working-directory: projects/plugins/jetpack/tests/e2e
      run: |
        testspace "[${{ matrix.group }}]output/reports/junit-*.xml"
      if: always()

  slack-notification:
    name: "Slack notification"
    runs-on: ubuntu-latest
    needs: e2e-tests
    env:
      CONFIG_KEY: ${{ secrets.E2E_CONFIG_KEY }}
      GITHUB_CONTEXT: ${{ toJson(github) }}

    steps:
      - uses: actions/checkout@v2

      - name: Read tool versions
        id: versions
        uses: ./.github/actions/read-versions

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.versions.outputs.node-version }}

      - name: Use pnpm cache
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ steps.versions.outputs.node-version }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-${{ steps.versions.outputs.node-version }}-

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: ${{ steps.versions.outputs.pnpm-version }}

      - name: Tool versions
        run: |
          which node
          node --version
          which pnpm
          pnpm --version

      - name: Send Slack notification
        working-directory: projects/plugins/jetpack/tests/e2e
        run: |
          pnpm install
          pnpm run test-decrypt-config
          NODE_ENV=test node ./bin/slack.js job ${{needs.e2e-tests.result}}

  test-reports:
    name: "Trigger test report workflow"
    runs-on: ubuntu-latest
    if: ${{ ! cancelled() }}
    needs: e2e-tests

    steps:
      - name: Trigger test report workflow
        run: |
          if [ "$GITHUB_EVENT_NAME" == pull_request ]; then
          	BRANCH=$GITHUB_HEAD_REF
            EVENT_NAME="${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}"
          else
          	BRANCH=${GITHUB_REF:11}
            EVENT_NAME="Run $GITHUB_RUN_ID"
          fi

          curl -X POST https://api.github.com/repos/automattic/jetpack-e2e-reports/dispatches \
          -H "Accept: application/vnd.github.v3+json" \
          -u user:${{ secrets.E2E_TEST_REPORTS_TOKEN }} \
          --data "{\"event_type\": \"$EVENT_NAME\",
          \"client_payload\": {
          \"repository\": \"$GITHUB_REPOSITORY\",
          \"run_id\": \"$GITHUB_RUN_ID\",
          \"run_number\": \"$GITHUB_RUN_NUMBER\",
          \"branch\": \"$BRANCH\",
          \"pr_title\": \"${{ github.event.pull_request.title }}\",
          \"pr_number\": \"${{ github.event.pull_request.number }}\"
          }}"
