# Add issues to Organization Project Board(s) based on their labels.

#
# Requires a Personal Access Token with the following permissions in a secret PUSH_ISSUES_TO_PROJECTS:
# - repo
# - write:org
# - read:org
#

name: Add issues to Organization Project Boards

on:
  issues:
    types: [ opened, edited, reopened, labeled ]

jobs:
  insert:
    runs-on: ubuntu-latest

    steps:
      # Jetpack Boost: Push to Boost Maintenance Board if labelled "[Plugin] Boost"
      - uses: thingalon/project-beta-automations@v1.0.3
        if: contains(github.event.issue.labels.*.name, '[Plugin] Boost')
        with:
          gh_token: ${{ secrets.PUSH_ISSUES_TO_PROJECT_TOKEN }}
          organization: 'automattic'
          project_id: 322
          resource_node_id: ${{ github.event.issue.node_id }}
