# This workflow holds jobs for linting, currently PHP and JavaScript.
#
# The jobs are all set up to only run if appropriate files have changed; the
# `changed_files` job is used to determine whether files have changed in
# various categories so the rest of the jobs can know whether to run or not.

name: Linting

on: pull_request

jobs:

  ### Job to categorize changed files. Other jobs depend on this to know when they should run.
  changed_files:
    name: detect changed files
    runs-on: ubuntu-latest
    outputs:
      # Whether any PHP files have changed.
      php: ${{ steps.filter.outputs.php == 'true' }}

      # Whether any JavaScript files have changed.
      js: ${{ steps.filter.outputs.js == 'true' }}

      # Whether any miscellaneous files related to PHP linting have changed.
      misc_php: ${{ steps.filter.outputs.misc == 'true' || steps.filter.outputs.misc_php == 'true' }}

      # Whether any miscellaneous files related to JS linting have changed.
      misc_js: ${{ steps.filter.outputs.misc == 'true' || steps.filter.outputs.misc_js == 'true' }}

      # JSON string holding an array of files in phpcs-excludelist.json that have changed.
      php_excluded_files: ${{ steps.filterPHP.outputs.php_excluded_files }}

      # JSON string holding an array of files in eslint-excludelist.json that have changed.
      js_excluded_files: ${{ steps.filterJS.outputs.js_excluded_files }}

      # Whether any excluded files were modified or deleted.
      excludelist: ${{ steps.filterExcludeList.outputs.excluded_files != '[]' || steps.filter.outputs.misc == 'true' || steps.filter.outputs.misc_php == 'true' || steps.filter.outputs.misc_js == 'true' || steps.filter.outputs.misc_excludelist == 'true' }}

    steps:
      - uses: actions/checkout@v2

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          list-files: json
          filters: |
            php:
              # If any PHP file changed, they need checking.
              - added|modified:
                - '**.php'
            js:
              # If any JS file changed, they need checking.
              - added|modified:
                - '**.js'
                - '**.jsx'
            excludelist:
              # If any PHP or JS file changed or was deleted, we need to check the excludelist.
              - modified|deleted:
                - '**.php'
                - '**.js'
                - '**.jsx'
            misc_php:
              # If composer or phpcs config changed, there may be a new standard.
              - 'composer.json'
              - 'composer.lock'
              - '.phpcs.config.xml'
              - '.phpcs.xml.dist'
              # If the excludelist changed, run to ensure newly non-excluded files pass.
              - 'bin/phpcs-excludelist.json'
              # If other files used by this workflow changed, run it to test those changes.
              - 'bin/parallel-lint.sh'
              - '.github/files/php-linting-phpcs.xml'
              - '.github/matchers/phpcs-problem-matcher.json'
              - '.github/matchers/php-lint-problem-matcher.json'
            misc_js:
              # If package or eslint config changed, there may be new checks
              - 'package.json'
              - 'yarn.lock'
              - '.eslintignore'
              - '.eslintrc'
              - '**/.eslintrc'
              # If the excludelist changed, run to ensure newly non-excluded files pass.
              - 'bin/eslint-excludelist.json'
            misc_excludelist:
              - 'tools/cleanup-excludelists.sh'
              - '.github/files/check-excludelist-diff.js'
            misc:
              # If the workflow itself changed, everything should re-run.
              - '.github/workflows/linting.yml'

      - id: filterPHP
        shell: bash
        env:
          PHP_FILES: ${{ steps.filter.outputs.php_files }}
        run: |
          EXCLUDED_FILES=$(jq --argjson files "$PHP_FILES" --slurpfile excludes bin/phpcs-excludelist.json -nc '$files - ($files - $excludes[0])')
          echo "::set-output name=php_excluded_files::$EXCLUDED_FILES"

      - id: filterJS
        shell: bash
        env:
          JS_FILES: ${{ steps.filter.outputs.js_files }}
        run: |
          EXCLUDED_FILES=$(jq --argjson files "$JS_FILES" --slurpfile excludes bin/eslint-excludelist.json -nc '$files - ($files - $excludes[0])')
          echo "::set-output name=js_excluded_files::$EXCLUDED_FILES"

      - id: filterExcludeList
        shell: bash
        env:
          FILES: ${{ steps.filter.outputs.excludelist_files }}
        run: |
          EXCLUDED_FILES=$(jq --argjson files "$FILES" --slurpfile phpexcludes bin/phpcs-excludelist.json --slurpfile jsexcludes bin/phpcs-excludelist.json -nc '$files - ($files - $phpexcludes[0] - $jsexcludes[0])')
          echo "::set-output name=excluded_files::$EXCLUDED_FILES"

      # When the `php_lint` job is skipped, it gets skipped incorrectly. So manually supply the statuses for the required jobs.
      - name: Hack around Github bug when skipping required matrixed jobs
        if: steps.filter.outputs.php != 'true' && steps.filter.outputs.misc != 'true' && steps.filter.outputs.misc_php != 'true'
        shell: bash
        run: |
          for v in '5.6' '7.0' '7.4' '8.0'; do
            curl -v \
              --url "${GITHUB_API_URL}/repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }}" \
              --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
              --header 'content-type: application/json' \
              --data '{
                "state": "success",
                "target_url": "https://github.com/${{ github.repository }}/pull/${{ github.event.pull_request.number }}/checks?check_run_id=${{ github.run_id }}",
                "description": "Test skipped, no changed files",
                "context": '"\"PHP lint ($v)\""'
              }'
          done


  ### Runs `php -l` over all PHP files, in all relevant PHP versions
  # Local equivalent: `composer php:lint`
  php_lint:
    name: PHP lint (${{ matrix.php-versions }})
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.php || needs.changed_files.outputs.misc_php
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        # Note, if you add versions here then add them to the hack above too.
        php-versions: [ '5.6', '7.0', '7.4', '8.0' ]
        experimental: [ false ]

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          php --version
          composer --version

      - name: Install dependencies
        run: |
          # Install stuff ignoring platform reqs.
          composer install --ignore-platform-reqs
          # Remove stuff we don't need here that fails some platform reqs.
          # This will complain if we missed any.
          composer remove --dev sirbrillig/phpcs-changed automattic/jetpack-codesniffer

      - name: Run linter
        run: |
          echo "::add-matcher::.github/matchers/php-lint-problem-matcher.json"
          composer php:lint -- --checkstyle
          echo "::remove-matcher owner=php-lint"

  ### Runs phpcs on all PHP files not listed in phpcs-excludelist.json.
  # Local equivalent: `composer phpcs:lint:required`
  phpcs:
    name: PHP Code Sniffer (non-excluded files only)
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.php || needs.changed_files.outputs.misc_php

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          php --version
          composer --version

      - name: Install dependencies
        run: composer install

      - name: Run phpcs
        run: |
          echo "::add-matcher::.github/matchers/phpcs-problem-matcher.json"
          composer phpcs:lint:required -- --report=emacs --standard=.github/files/php-linting-phpcs.xml
          echo "::remove-matcher owner=phpcs"

  ### Runs PHPCompatibility over all PHP files.
  # Local equivalent: `composer phpcs:compatibility`
  phpcompatibility:
    name: PHP Compatibility
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.php || needs.changed_files.outputs.misc_php

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          php --version
          composer --version

      - name: Install dependencies
        run: composer install

      - name: Run phpcs for PHPCompatibility
        run: |
          echo "::add-matcher::.github/matchers/phpcs-problem-matcher.json"
          composer phpcs:compatibility -- --report=emacs .
          echo "::remove-matcher owner=phpcs"

  ### Runs phpcs-changed on PHP files listed in phpcs-excludelist.json.
  # Local equivalent: `composer phpcs:changed -- --git-branch=<base> <files...>`
  # `<base>` is the branch this PR is to be merged into, probably `origin/master`.
  #
  # Pre-commit, you might also `git add` the relevant files and run `composer phpcs:changed`
  phpcs_changed:
    name: PHP Code Sniffer (changes to excluded files only)
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.php_excluded_files != '[]'
    continue-on-error: true

    steps:
      # We don't need full git history, but phpcs-changed does need everything up to the merge-base.
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 10
      - uses: ./.github/actions/deepen-to-merge-base

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          php --version
          composer --version
          jq --version

      - name: Install dependencies
        run: composer install

      - name: Run phpcs-changed
        shell: bash
        env:
          FILES: ${{ needs.changed_files.outputs.php_excluded_files }}
        run: |
          echo "::add-matcher::.github/matchers/phpcs-problem-matcher.json"
          composer phpcs:changed -- --report=json --standard=.github/files/php-linting-phpcs.xml --git-branch=${{ github.event.pull_request.base.sha }} $(jq -rn --argjson files "$FILES" '$files[]') |
            jq -r '.files | to_entries | .[] | .key as $key | .value.messages[] | [ $key, ":", .line, ":", .column, ": ", .type, " - ", .message, " (", .source, ")" ] | map(tostring) | join("")'
          echo "::remove-matcher owner=phpcs"

  ### Runs eslint on JS files not listed in eslint-excludelist.json
  # Local equivalent: `yarn lint-required`
  eslint:
    name: ESLint (non-excluded files only)
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.js || needs.changed_files.outputs.misc_js

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Use yarn cache
        uses: actions/cache@v2
        with:
          path: /home/runner/.cache/yarn/v6
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install
      - run: yarn lint-required

  ### Runs eslint-changed on JS files listed in eslint-excludelist.json.
  # Local equivalent: `yarn lint-changed --git-branch=<base>`
  # `<base>` is the branch this PR is to be merged into, probably `origin/master`.
  #
  # Pre-commit, you might also `git add` the relevant files and run `yarn lint-changed`
  eslint_changed:
    name: ESLint (changes to excluded files only)
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.js_excluded_files != '[]'
    continue-on-error: true

    steps:
      # We don't need full git history, but eslint-changed does need everything up to the merge-base.
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 10
      - uses: ./.github/actions/deepen-to-merge-base

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Use yarn cache
        uses: actions/cache@v2
        with:
          path: /home/runner/.cache/yarn/v6
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install
      - name: Run eslint-changed
        env:
          FILES: ${{ needs.changed_files.outputs.js_excluded_files }}
        run: yarn lint-changed --git-branch=${{ github.event.pull_request.base.sha }} $(jq -rn --argjson files "$FILES" '$files[]')

  ### Runs tools/cleanup-excludelists.sh and checks for any changes
  # Local equivalent: `tools/cleanup-excludelists.sh`
  check_excludelists:
    name: Check linter exclude lists
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.excludelist

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer
          coverage: none
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Use yarn cache
        uses: actions/cache@v2
        with:
          path: /home/runner/.cache/yarn/v6
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: composer install
      - run: yarn install

      - name: Cleanup excludelists
        run: tools/cleanup-excludelists.sh
      - name: Check for changes to exclude lists
        run: .github/files/check-excludelist-diff.js
