# This Github Action is temporary, to run the development version of PHPCompatibility to test for PHP 8 issues.
#
# Once we're getting that by default (likely due to an upgrade of automattic/jetpack-codesniffer to pull a version of phpcompatibility/phpcompatibility-wp that pulls phpcompatibility/php-compatibility 10.0+),
# this action and .github/files/phpcompatibility-dev-phpcs.xml should be deleted.

name: PHP Compatibility

on: pull_request

jobs:
  changed_files:
    name: detect changed files
    runs-on: ubuntu-latest
    outputs:
      php: ${{ steps.filter.outputs.php }}
      misc: ${{ steps.filter.outputs.misc }}

    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            php:
              # If any PHP file changed, they need checking.
              - '**.php'
            misc:
              # If composer or phpcs config changed, there may be a new standard.
              - 'composer.json'
              - 'composer.lock'
              - '.phpcs.xml.dist'
              # If other files used by this workflow changed, run it to test those changes.
              - '.github/files/phpcompatibility-dev-phpcs.xml'
              - '.github/matchers/phpcs-problem-matcher.json'
              - '.github/workflows/phpcompatibility-dev.yml'

  phpcompatibility:
    name: dev branch for PHP 8.0
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.php == 'true' || needs.changed_files.outputs.misc == 'true'

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          php --version
          composer --version

      - name: Install dependencies
        run: composer install

      - name: Upgrade PHPCompatibility
        run: |
          if [[ -e vendor/phpcompatibility/php-compatibility/PHPCompatibility/Sniffs/ControlStructures/NewNonCapturingCatchSniff.php ]]; then
            echo "::error file=.github/workflows/phpcompatibility-dev.yml,line=4,col=1::It looks like PHPCompatibility is already at version 10.0, making this Github Action obsolete. Please remove it."
            exit 1
          fi
          composer remove --dev automattic/jetpack-codesniffer
          composer require --dev phpcompatibility/php-compatibility=dev-develop

      - name: Run phpcs for PHPCompatibility
        run: |
          echo "::add-matcher::.github/matchers/phpcs-problem-matcher.json"
          vendor/bin/phpcs -p -s --report=emacs --standard=.github/files/phpcompatibility-dev-phpcs.xml
          echo "::remove-matcher owner=phpcs"
