# This Github Action is temporary, to run the development version of PHPCompatibility to test for PHP 8 issues.
#
# Once we're getting that by default (likely due to an upgrade of automattic/jetpack-codesniffer to pull a version of phpcompatibility/phpcompatibility-wp that pulls phpcompatibility/php-compatibility 10.0+),
# this action and .github/files/phpcompatibility-dev-phpcs.xml should be deleted.

name: PHP Compatibility

on: pull_request
concurrency:
  group: phpcompatibility-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed_files:
    name: detect changed files
    runs-on: ubuntu-latest
    timeout-minutes: 1  # 2021-01-18: Successful runs seem to take a few seconds.
    outputs:
      php: ${{ steps.filter.outputs.php }}
      misc: ${{ steps.filter.outputs.misc }}

    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            php:
              # If any PHP file changed, they need checking.
              - '**.php'
            misc:
              # If composer or phpcs config changed, there may be a new standard.
              - 'composer.json'
              - 'composer.lock'
              - '.phpcs.xml.dist'
              # If other files used by this workflow changed, run it to test those changes.
              - '.github/files/phpcompatibility-dev-phpcs.xml'
              - '.github/matchers/phpcs-problem-matcher.json'
              - '.github/workflows/phpcompatibility-dev.yml'

  phpcompatibility:
    name: dev branch for PHP 8.0
    runs-on: ubuntu-latest
    needs: changed_files
    if: needs.changed_files.outputs.php == 'true' || needs.changed_files.outputs.misc == 'true'
    timeout-minutes: 5  # 2021-01-18: Successful runs seem to take ~1 minute.

    steps:
      - uses: actions/checkout@v2

      - name: Read PHP and Node versions
        id: versions
        run: |
          echo "::set-output name=php-version::$(<.github/php-version)"
          echo "::set-output name=node-version::$(<.nvmrc)"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ steps.versions.outputs.php-version }}
          tools: composer
          extensions: mysql, imagick
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Use composer cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Tool versions
        run: |
          which php
          php --version
          which composer
          composer --version
          which jq
          jq --version

      - name: Install dependencies
        run: composer install

      - name: Upgrade PHPCompatibility
        run: |
          if [[ -e vendor/phpcompatibility/php-compatibility/PHPCompatibility/Sniffs/ControlStructures/NewNonCapturingCatchSniff.php ]]; then
            echo "::error file=.github/workflows/phpcompatibility-dev.yml,line=4,col=1::It looks like PHPCompatibility is already at version 10.0, making this Github Action obsolete. Please remove it."
            exit 1
          fi
          composer remove --dev automattic/jetpack-codesniffer
          composer require --dev phpcompatibility/php-compatibility=dev-develop

      - name: Run phpcs for PHPCompatibility
        run: |
          echo "::add-matcher::.github/matchers/phpcs-problem-matcher.json"
          vendor/bin/phpcs -p -s --report=emacs --standard=.github/files/phpcompatibility-dev-phpcs.xml
          echo "::remove-matcher owner=phpcs"
