name: Renovate
on:
  schedule:
    - cron: '0 0 * * *'

env:
  COMPOSER_ROOT_VERSION: "dev-trunk"

jobs:
  cleanup:
    name: Close old PRs
    runs-on: ubuntu-latest
    timeout-minutes: 15  # 2021-03-25: Wild guess.

    steps:
      - uses: actions/checkout@v3
      - run: .github/files/renovate-close-old-PRs.sh
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
