name: Tests

on:
  pull_request:
  push:
    branches: [ 'master', '*/branch-*' ]

env:
  COMPOSER_ROOT_VERSION: "dev-master"

jobs:
  create-matrix:
    name: "Determine tests matrix"
    runs-on: ubuntu-latest
    timeout-minutes: 1  # 2021-02-03: Should only take a second.
    outputs:
      matrix: ${{ steps.create-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - id: create-matrix
        run: |
          MATRIX="$(.github/files/generate-ci-matrix.php)"
          echo "::set-output name=matrix::$MATRIX"

  run-tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: create-matrix
    services:
      database:
        image: mysql:5.6
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    continue-on-error: ${{ matrix.experimental }}
    timeout-minutes: ${{ matrix.timeout }}
    env:
      TEST_SCRIPT: ${{ matrix.script }}
      WP_BRANCH: ${{ matrix.wp }}
      PHP_VERSION: ${{ matrix.php }}
      NODE_VERSION: ${{ matrix.node }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson( needs.create-matrix.outputs.matrix ) }}

    steps:
      - uses: actions/checkout@v2
        with:
          # codecov.io requires a fetch depth > 1.
          fetch-depth: 2

      # For pull requests, list-changed-projects.php needs the merge base.
      # But it doesn't have to be checked out, and codecov.io requires it not be.
      - name: Deepen to merge base
        if: github.event_name == 'pull_request'
        uses: ./.github/actions/deepen-to-merge-base
        with:
          checkout: false

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer
          extensions: mysql, imagick
          coverage: none

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Get Composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Use composer cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Use yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Init CodeClimate for code coverage
        if: matrix.script == 'test-coverage'
        env:
          CC_TEST_REPORTER_ID: 683bd559e5214ca3b721092af177893f05765ba90d2589fcf35d7e85c6ea01e8
          GH_PR_HEAD_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          if [[ "$GITHUB_EVENT_NAME" == "push" ]]; then
            GIT_BRANCH="${GITHUB_REF#refs/heads/}"
            GIT_COMMIT_SHA="$GITHUB_SHA"
          else
            GIT_BRANCH="$GITHUB_HEAD_REF"
            GIT_COMMIT_SHA="$GH_PR_HEAD_SHA"
          fi
          echo "GIT_BRANCH=$GIT_BRANCH" >> $GITHUB_ENV
          echo "GIT_COMMIT_SHA=$GIT_COMMIT_SHA" >> $GITHUB_ENV
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build

      - name: Detect changed projects
        id: changed
        run: |
          CHANGED="$(.github/files/list-changed-projects.php --debug)"
          ANY_PLUGINS="$(jq --argjson changed "$CHANGED" -n '$changed | with_entries( select( .key | startswith( "plugins/" ) ) ) | any')"
          echo "::set-output name=projects::${CHANGED}"
          echo "::set-output name=any-plugins::${ANY_PLUGINS}"

      - name: Setup WordPress environment for plugin tests
        if: steps.changed.outputs.any-plugins == 'true' && matrix.wp != 'none'
        run: .github/files/setup-wordpress-env.sh

      - name: Tool versions
        run: |
          which php
          php --version
          which phpdbg
          phpdbg --version
          which composer
          composer --version
          which node
          node --version
          which yarn
          yarn --version
          which jq
          jq --version

      - name: Run project tests
        env:
          CHANGED: ${{ steps.changed.outputs.projects }}
          GITHUB_TOKEN: secrets.API_TOKEN_GITHUB
        run: |
          EXIT=0
          mkdir artifacts
          [[ "$TEST_SCRIPT" == "test-coverage" ]] && mkdir coverage
          for P in composer.json projects/*/*/composer.json; do
            if [[ "$P" == "composer.json" ]]; then
              DIR="."
              SLUG="monorepo"
            else
              DIR="${P%/composer.json}"
              SLUG="${DIR#projects/}"
            fi

            if [[ "${SLUG%%/*}" == "plugins" ]]; then
              # Plugins run from the WordPress checkout, not the monorepo checkout.
              if [[ "$WP_BRANCH" != 'none' ]]; then
                DIR="/tmp/wordpress-$WP_BRANCH/src/wp-content/$SLUG"
              fi
            elif [[ "$WP_BRANCH" != 'latest' && "$WP_BRANCH" != 'none' ]]; then
              echo "Skipping $SLUG, only plugins run for WP_BRANCH = $WP_BRANCH"
              continue
            fi

            if ! jq --argjson changed "$CHANGED" --arg p "$SLUG" -ne '$changed[$p] // false' > /dev/null; then
              echo "Skipping $SLUG, no changes in it or its dependencies"
            elif ! jq --arg script "$TEST_SCRIPT" -e '.scripts[$script] // false' "$P" > /dev/null; then
              echo "Skipping $SLUG, no test script is defined in composer.json"
            else
              echo "::group::Running tests for $SLUG"
              mkdir -p "artifacts/$SLUG"
              export ARTIFACTS_DIR="$GITHUB_WORKSPACE/artifacts/$SLUG"
              if [[ "$TEST_SCRIPT" == "test-coverage" ]]; then
                mkdir -p "coverage/$SLUG"
                export COVERAGE_DIR="$GITHUB_WORKSPACE/coverage/$SLUG"
              fi
              FAIL=false
              if ! composer run --timeout=0 --working-dir="$DIR" "$TEST_SCRIPT"; then
                FAIL=true
                EXIT=1
              fi
              echo "::endgroup::"
              $FAIL && echo "::error::Tests for $SLUG failed!"
            fi
          done
          exit $EXIT

      - name: Process coverage results
        if: matrix.script == 'test-coverage'
        env:
          CC_TEST_REPORTER_ID: 683bd559e5214ca3b721092af177893f05765ba90d2589fcf35d7e85c6ea01e8
        run: .github/files/process-coverage.sh

      - name: Check for artifacts
        id: check-artifacts
        # Default for `if` is `success()`, we want this to run always.
        if: always()
        run: |
          [[ -d artifacts ]] && find artifacts -type d -empty -delete
          if [[ -d artifacts ]]; then
            echo "::set-output name=any::true"
          else
            echo "::set-output name=any::false"
          fi
      - name: Upload artifacts
        if: always() && steps.check-artifacts.outputs.any == 'true'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.artifact }}
          path: artifacts
          retention-days: 7
