@import '../../scss/calypso-colors';

.dops-info-popover-button {
	background: transparent;
	border: none;
	color: darken( $gray, 10% );
	padding: 0;

	&:hover {
		color: $gray-dark;
	}

	&:focus {
		box-shadow: none;
	}

	.dops-accessible-focus &:focus {
		outline: thin dotted;
	}
}

.dops-info-popover .gridicon {
	cursor: pointer;
	color: lighten( $gray, 15% );

	&:hover {
		color: $gray-dark;
	}
}

.dops-info-popover.is_active .gridicon {
	color: $gray-dark;
}

.dops-popover.dops-info-popover__tooltip {
	.dops-popover__inner {
		color: darken( $gray, 20% );
		font-size: 13px;
		max-width: 220px;
		padding: 16px;
		text-align: left;
	}
}
