.trigger {
	display: inline-flex;
	align-items: center;
	border: none;
	padding: 0;
	background: none;
	color: var(--wpds-color-foreground-content-neutral-weak);
	cursor: pointer;
}

.popup {
	max-inline-size: 24rem;
}
