.react-tagsinput {
	border: 1px solid #e9eff3;
	padding: rem( 2.5px );
}

.react-tagsinput--focused {
	border-color: $blue-medium;
}

.react-tagsinput-tag {
	background-color: #00aadc;
	border-radius: 2px;
	border: 1px solid #0087be;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	padding: rem( 2px ) rem( 6px ) rem( 3px ) rem( 8px );
	margin: rem( 2.5px );
	transition: background-color .2s ease-out;

	&:hover {
		background-color: #26b7e2;
	}
}

.react-tagsinput-remove {
	cursor: pointer;
	font-weight: bold;
	transition: color .2s ease-out;

	&:hover {
		color: #caf3ff;
	}
}

.react-tagsinput-tag a::before {
	content: " \00d7";
}

input[type=text].react-tagsinput-input {
	width: rem( 150px );
	height: rem( 30px );
	margin: 0;
	padding: rem( 5px );
	font-size: 13px;
	vertical-align: middle;
	border: none;
	box-shadow: none;
}

input[type=text].react-tagsinput-input::-ms-clear {
	display: none;
}
